:root{
	
	--font-color: #342f2f;
	--light-font-color: #666;
	--link-hover: #3ea6dc;
	--light-gray: #f0f0f0;
	--midle-gray: #a5a5a5;
	--white-color: #cccccc;

	--background-blue: #0fd6cf;
	--border-color: #dddddd;
}