 
* {
	margin: 0px ;
}

#JSmain-slider .slick-prev, #JSmain-slider .slick-next,
.JSproduct .not-available,  
button.company-registration {
	background-color: #60A7FF; 
}
footer {
	background-color: #242b35;
	padding: 30px 0;
}
footer h4 {
	font-weight: normal;
    margin: 0 0 15px 0;
	padding: 3px 0;
	font-size: 1.2em;
    color: white;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next {
     opacity: 0.8;
}
p a {
	color: #f1b64f;
}
.JSproduct .product-price {
	font-size: 16px;
    color: #00A6E5;
}
.submit, .JSproduct-slider .slick-prev,
.JSproduct-slider .slick-next, .add-to-cart-area .JSadd-to-cart,
input.submit, .pagination li a, button.person-registration, .JScart-more-icon,
.submit-order-button, /*a.JSreset-filters-button*/ {
	background-color: #6d7478;
}
/* KONFIGURATOR */
.konfigurator tr {
	margin: 0;
	padding: 0 0px;
}
.konfigurator td {
	margin: 0;
	padding: 0 2px;
}
.konfigurator select {
	width: 470px;
}
.konfigurator .JSKolicina {
	margin-bottom: 0px;
}
.dodaj-konf {
	padding: 15px;
	float: right;
	margin-right: 15px;
}
.ukupno-konf {
	width: 250px;
	float: right;
	margin-left: 15px;
}

#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	font-size: 23px;
	font-weight: bold;
	color: orange;
}
.ukupno-konf p {
	margin-bottom: 0;
}
.ukupno-konf-div {
	background-color: #fff;
	padding: 10px;
}
.JSGrupaAdd, .JSArtDetails {
	cursor: pointer;
	color: #f4a137;
}
.JSGrupaAdd:hover, .JSArtDetails:hover {
	color: #888;
}
.JSGrupaRemove {
	cursor: pointer;
	color: red;
}
.JSKolicina {
	width: 40px !important;
}
.select-wrapper {
	display: inline;
}
.slick-slider {
	margin: 0px;
}
.slick-track {
	width: 869px;
}
input:autofill, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
    color: #000 !important;
}
.sub_cats_products {	
    margin-bottom: 20px;
    text-align: center;
}

.sub_cats_item {
	background: rgb(239, 239, 239);
	height: 105px;
    padding: 0;
    margin: 0px;
    border: 4px solid white;
    transition: 0.2s ease-in;
}
.sub_cats_item:hover {
	background: rgba(255, 165, 0, 0.61);
	transition: 0.2s ease-in;
}
.sub_cats_item p {
	font-size: 12px;
	color: black;	
}
.sub_cats_item img {
    height: 62%;
    padding-top: 10px;
    margin-bottom: -2px;
}