/* STYLE.CSS v.1.0.0 */

/*---------- GENERAL STYLES ----------*/

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal; 
	margin: 0;
	padding: 0;
    background-color: #ECF3FC;
	-webkit-font-smoothing: antialiased;
} 
.span_filter_title {
    display:block;
}
.span_filter_title:after {
    content:"\a";
    white-space:pre;
}
a {
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
a:link, a:visited, a:active {
	text-decoration: none;
	color: #6d7478;
	outline: none;
} 
a:hover{
    color: #2160AE;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, hlog5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #6d7878;
}
h1 {
	font-size: 1.8em;
}
h2 {
    margin: 15px 10px 0;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: normal;
    border-bottom: 2px solid #2160AE;
}
/*==================*/
.capcha > div{
    border: 1px solid #ddd;
    background: #eaf2fc;
    padding: 10px;
    box-shadow: 1px 1px 4px #ddd;
    margin: 25px 0;
}
.capcha > div input[type="text"]{
	width: auto;
	display: inline-block;
	margin: 0 5px;
}
.capcha > div img{
	margin: 5px;
}
/*==================*/
.article-heading {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    color: #2160AE;
}
.h2-margin {
	margin-top: 20px;
}
h3 {
	padding: 2px 10px;
	font-size: 1.3em;
	background: #f0f0f0;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/*--- FOUNDATION OVERRIDES ---*/
.medium--0-5,
.small--0-5,
.large--0-5 {
	width: 4.166665;
}

.row {
	max-width: 100%;
}
.row .row {
	margin: 0;
}
 
button {
	color: #fff;
	background-color: #2160AE;
	outline: none;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
button:hover {
	background-color: #60A7FF;
}
button:focus {
	background-color: #2160AE;
}
label {
    color: #2160AE;
    font-size: 13px;
}
input, textarea {
	box-shadow: none !important;
}
input[type="text"] {
	margin-bottom: 0;
}
.JSsearch .search-field{
	margin: 20px 0;
}
button.submit {
    float: right;
    padding: 8px 18px;
    color: #fff;
    font-size: 1em;
    border: none;
    background: #6d7878;
}
@media only screen and (-webkit-min-device-pixel-ratio:1) {
	::i-block-chrome, input {
		line-height: 1 !important;
	}
}
textarea {
	resize: none;
	font-size: .9em;
}
select, select:hover, select:focus {
	font-size: .9em;
	outline: none;
	background-color: #fff;
}
.select-wrapper span {
	display: none;
}
@-moz-document url-prefix() {
	.select-wrapper {
	 display: block;
	 position: relative;
	}
	.select-wrapper span {
		position: absolute;
		width: 24px;
		height: 94%;
		top: 1px;
		right: 1px;
		background-color: #fff;
		background-image: url('../../../images/mini-icons.png');
		background-position: 0 -269px;
		background-repeat: no-repeat;
		pointer-events: none;
		z-index: 999;
	}
}

/*---------- FEATURES ----------*/

/*--- POPUP ---*/

.popup {
	position: fixed;
	display: block;
	width: 100%;
	height: 0;
	left: 0;
	top: -2000px;
	overflow: hidden;
	background: rgba(0, 0, 0, .85);
	z-index: 9999999999999;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.popup-opened {
	top: 0;
	height: 100%;
}
.popup-wrapper {
	left: 50%;
	top: 35%;
	position: relative;
}
.JSpopup-inner {
	left: -50%;
	top: -50%;
	position: relative;
	background: #fff;
}
.popup-close {
    position: absolute;
    right: 8px;
    top: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 25px;
    color: #5A5A5A;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: none;
}
.popup-close:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.popup h3 {
	padding: 3px 10px;
	font-size: 1.2em;
	background: #f0f0f0;
}
.popup .submit, .popup input.submit[type="submit"] {
	font-size: .9em;
}
.popup label {
	font-size: .9em;
	font-style: italic;
}
.popup input, .popup select {
	margin-bottom: 10px;
}
.popup input.submit[type="submit"] {
	padding: 2px 4px;
}

/*--- FANCYBOX ---*/
.fancybox-overlay {
	z-index: 9;
}
.fancybox-overlay-fixed {
	background: rgba(0, 0, 0, .7);
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../../../images/fancybox/fancybox_sprite.png');
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

/*--- PRODUCT SLIDER ---*/
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
	height: 20px;
	width: 20px;
	top: -47px;
	background: #f4a137;
	background-position: center center;
	background-repeat: no-repeat;
}
.JSproduct-slider .slick-prev:hover, .JSproduct-slider .slick-next:hover {
	background: #f4a137;
	background-repeat: no-repeat;
	opacity: .8;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
	right: 35px;
	left: auto;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -327px;
}
.JSproduct-slider  .slick-next, .JSproduct-slider .slick-next:hover {
	right: 10px;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -352px;
}
.JSproduct-slider .slick-prev:before, .JSproduct-slider .slick-next:before {
	content: '  ';
}
.single-slide .product {
	width: 25%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* BANNER */
.banners a {
	display: block;
	margin: 10px 0;
}
.banners a:first-child {
	margin-top: 0px;
}

/*--- FILTERS ---*/
.filters {
	margin: 0;
	padding: 10px;
}
.filters .filter-field {
    padding: 5px 0;
}
.filters .filter-box {
	padding: 0;
}
.filter-info {
	color: #000;
	font-weight: bold;
	font-size: .9em;
}
.filter-info p {
	font-size: .8em;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.selected-filters-wrapper {
	background-color: #fff;
	color: #222;
    font-weight: bold;
    text-align: center;
}
.selected-filters li {
	display: inline-block;
    height: 22px;
    font-size: 10px;
    font-weight: 500;
    line-height: 22px;
    padding: 0 13px;
    background-color: #E3E7E9;
    margin: 5px;
}
.selected-filters li i.fa {
	cursor: pointer;
    float: right;
    font-size: 12px;
    line-height: 24px;
    padding-left: 8px;
    color: rgba(0, 0, 0, 0.6);
}
.label-field {
	font-size: .7em;
	display: block;
	font-weight: bold;
	line-height: 25px;
	color: #8F8F8F;
	background: #F1F1F1;
}
.filters .label-field {
	font-size: 14px;
    color: #222;
    font-weight: normal;
    padding: 5px 7px;
    width: 100%;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-transition: background, color, 0.15s ease-in-out;
    transition: background, color, 0.15s ease-in-out;
    background-color: #fff;
    text-transform: capitalize;
    border-bottom: 1px solid #ddd;
}
.filters .label-field:hover {
	background: #FAFAFA;
}
.label-field__arrow {
	font-size: 20px;
	line-height: 25px;
	transition: color, 0.2s ease-in-out, -webkit-transform;
	-webkit-transition: color, 0.2s ease-in-out, -webkit-transform;
	transition: color, transform, 0.2s ease-in-out;
	transition: color, transform, 0.2s ease-in-out, -webkit-transform;
}
.filters li .JSselect-field {
	text-indent: 10px;
	float: right;
	display: block;
	padding: 0;
	height: 24px;
	width: 200px;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	color: #999;
	background-color: #fff;
	border: solid 1px rgb(169, 169, 169);
	cursor: pointer;
	background-image: url('../../../images/select-arrow.png');
	background-position: 180px center;
	background-repeat: no-repeat;
}
.active-filters {
	font-size: .8em;
	font-style: italic;
}
.filters li .JSmultiselect {
	text-indent: 0;   
	background: #fff;
	top: 24px;
	left: 0;
	box-sizing: border-box;
	-webkit-transition: max-height 0.2s ease-in-out;
	transition: max-height 0.2s ease-in-out;
	border-top: 1px solid #2160AE;
}
.filters li .JSmultiselect label a {
	cursor: default;
}
.filters .filter-box:before {
	display: none;
}
.JSmultiselect {
	width: 100%;
	background: white;   
	padding: 0 5px;    
}
.m-hidden {
	z-index: -9999;
	display: none;
	top: 50px;
}
.m-shown {
	display: block;
	z-index: 9999;
	top: 25px;
}
.JSmultiselect label {
    padding: 6px 0 0;
	font-size: 1em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	display: -moz-flex;
	-moz-justify-content: center;
	-moz-align-items: center;
}
.filter-text {
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
    flex: 1;
	margin: 0px;
}
.JSmultiselect label input {
	vertical-align: text-bottom;
    margin: 0 5px;
}
.JSmultiselect label input:checked {
	background: #808080;
}
.JSmultiselect label:hover {
	background: #fff;
}
.filter-price {
	position: relative;
	padding: 10px 0;
	color: #fff;
}
.filters .btn-container {
 	text-align: center;
}
a.JSreset-filters-button {
	font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 15px;
    margin: 5px 0 10px;
    background-color: #2160AE;
}
a.JSreset-filters-button:hover {
	color: #9CC5F8;
}
.filter-box.open .label-field {
	color: #2160AE;
}
.filter-box.open .label-field__arrow {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	color: #2160AE;
}
.filter-box p {
	font-size: 12px;
	text-transform: uppercase;
}
/*---------- SECTIONS ----------*/

/*--- MAIN WRAPPER ---*/
.main-wrapper {
    max-width: 1175px;
    margin: 0px auto;
}
/*--- PREHEADER ---*/
#JSpreheader {
	position: relative;
	z-index: 1;
    background-color: #0B366C;
}
/*- MAIN MENU -*/
.JSmain-nav {
    padding: 0;
}
.menu-background {
    background-color: #2160AE;
    position: relative;
}
#main-menu {
    background: #2160AE;
}
#main-menu li {
	float: left;
	display: inline-block;
	line-height: 45px;
    -webkit-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}
#main-menu li:after {
	display: inline-block;
	padding: 0 7px;
}
#main-menu li:last-child:after {
	display: none;
}
#main-menu li:hover {
    background: #578ED1;
}
#main-menu li a {
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 0px 7px;
}
.choosed_filter {
    font-size: 11px !important;
    margin: 0 10px;
    text-transform: uppercase;
    color: #2160AE;
    font-weight: 500;
}
.gray-div {  
	display: flex;
	align-items: center;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: center;
}
/*- LOGIN & REGISTRATION ICONS -*/
.background-color-blue {
    border-bottom: 1px solid #2160AE;
}
#registration-icon {
	border-right: 1px solid #2160AE;
    padding-right: 10px;
}
#login-icon span, #registration-icon span {
    margin-left: 5px;
    font-weight: 600;
}
#login-icon:before {
	background-position: ;
}
#registration-icon:before {
	background-position: ;
}
.logout-wrapper {
 	display: flex;
    justify-content: flex-end;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    -moz-display: flex;
    -moz-justify-content: flex-end;
    -moz-align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#logout-button {
   	color: #000;
    display: inline-block;
    font-size: 13px;
}
#logout-button:hover {
    color: #60A7FF;
}
.logged-user {
	font-size: 13px;
	display: inline-block;
}
 #logged-user {
	font-size: 13px;
	display: inline-block;
	color: #000;
	margin-left: 6px;
    text-transform: capitalize;
    font-weight: 600;
}
.position a {
	display: block;
	color: #2160AE;
}
 .for-seo{
 	margin: 0;
    font-size: inherit;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
 }
 img{
    color: #bbb;
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mailto{
 	color: inherit !important;
}
/*--- HEADER ---*/
header {
	background: #fff;
    position: relative;
}
/*- LOGO -*/
.logo {
	display: inline-block;
	position: relative;
    margin: 25px 0;
}
.logo img {
    max-width: 100%;
    max-height: 100px;
    height: auto;
}

/*- SEARCH -*/
.JSsearch {
	position: relative;
 }
.JSsearch-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding: 0px 15px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.JSsearch-button i {
	font-size: 20px;
	line-height: 36px;
}
/* search sugestions */
ul.JSsearch_list {
	padding: 15px;
	position: absolute;
	left: 0;
    top: 3.6em;
	z-index: 999;
	width: 100%;
	background: #fff;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: border-box;
	max-height: 400px;
	overflow: auto;
}
li.search_list__item {
	font-size: 12px;
}
li.search_list__item:last-child a {
	border-bottom: none;
}
.search_list__item__link {
	display: block;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	border-bottom: 1px solid #f1f1f1;
}
.search_list__item__link__text {
	-ms-flex: 3;
	-webkit-box-flex: 3;
	flex: 3;
}
.search_list__item__link__cat {
	font-size: 12px;
	color: #808080;
    width: 105px;
    line-height: 1;
    margin: 4px 0;
}
/*- CALL CENTAR -*/
.call_centar {
    color: #2160AE;
    font-size: 15px;
    font-weight: 700; 
}

/*- LOGIN DIV-*/
.login-flex-center {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: flex-end;
	-webkit-align-items: center;
	-webkit-justify-content: flex-end;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
/*- HEADER CART -*/

.header-cart-icon {
	display: inline-block;
	position: relative;
}
.header-cart {
	line-height: 0;
}
.header-cart:hover .JSheader-cart-content {
	visibility: visible;
	opacity: 1;
}
.header-cart-icon:before {
	content: ' ';
    display: block;
    width: 35px;
    height: 44px;
    background-image: url('../../../images/themes/modern/light/cart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header-cart-icon:hover {
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.JSheader-cart-content {
	position: absolute;
    background-color: white;
    width: 450px;
    right: 0px;
    top: 41px;
    z-index: 999;
    padding: 0px 10px;
    box-shadow: 0 0 10px 0 #999;
   	visibility: hidden;
   	opacity: 0;
   	-webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.JSheader-cart-content li {
	padding: 10px 0;
	border-bottom: solid 1px #f0f0f0;
	display: flex;
    align-items: center;
    justify-content: space-between;
	display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
     font-size: .9em;
     color: #747474;
}
.JSheader-cart-content li:last-child {
	border-bottom: none;
}
.header-cart-image-wrapper {
	display: inline-block;
	width: 52px;
	height: 52px;
	line-height: 48px;
	text-align: center;
	border: solid 1px #ccc;
	background: #fff;
	overflow: hidden;
}
.JSheader-cart-content li img {
	display: inline;
	max-width: 95%;
	height: auto;
	max-height: 95%;
}
.JSheader-cart-content li a {
	width: 47%;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-cart-amount {
	display: inline-block;
	width: 25px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	border: solid 1px #f0f0f0;
}
.header-cart-summary {
	display: block;
	text-align: right;
	padding: 5px 7px;
	margin: 8px 0;
	background: #f0f0f0;
}
.header-cart-summary span {
	margin-left: 10px;
}
.header-cart-summary span span {
	margin: 0;
}
.JSheader-cart-content .close {
	display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 16px;
    height: 17px;
    color: #fff;
    background: #6d7478;
    font-weight: 600;
}

/*--- POLICY ---*/
.all_policy {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: flex-end;
	-webkit-justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-shadow: 1px 1px 4px  #bbb;
    padding: 10px 2px 10px 8px;
    background: linear-gradient(white, #DCE9FA);
}
.block_policy {
	display: -webkit-flex;
	-webkit-align-items: center;
	display: flex;
	align-items: center;
	width: 140px;
}
.money {   
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../../../images/icon-calendar.png);
  background-size: contain;
}
.delivery { 
	position: relative;
	background-position:center center;
	background-image: url(../../../images/icon-shiping.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.prices { 
	position: relative;
	background-position:center center;
	background-image: url(../../../images/icon-money.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.text_policy{
	color: #0B366C;
    font-size: 11px;
    display: inline-block;
    margin: 0px;
    line-height: 15px;
    font-weight: 600;
}
.image_policy {
	width: 60px;
    height: 30px;
    margin-right: 5px;   
}
.policy {
    background-color: #eee;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}
.policy a {
    position: relative;
}
.policy-money, .policy-shipping, .policy-price {
    width: 33%;
    float: left;
    padding: 0 30px;
    line-height: 19px;
    text-align: center;
} 
/*--- MIDDLE AREA---*/
#sidebar-left {
	padding: 0;
	z-index: 9;
}
#middle-area #sidebar-left {
    z-index: 0;
}
#middle-area #sidebar-left ul.JSlevel-1 {
    overflow: overlay;
    display: block;
    position: relative;
}
#middle-area #sidebar-left .JStoggler{
	display: none;
}
/* category acccent button */
 

/*- CATEGORIES -*/
 
i.fa.fa-list-ul, i.fa.fa-plus-square-o{
    margin-right: 5px;
}

#JScategories h3 {
    margin: 0 !important;
    font-size: 15px;
    color: #fff;
    background: #2160AE;
    height: 45px;
    line-height: 40px;
    padding-left: 20px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

#JScategories .JStoggler {
    position: absolute;
    right: 10px;
    top: 4px;
    z-index: 999;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    display: none;
}
#JScategories .fa-bars {
    padding: 10px;
}
#JScategories .JSlevel-1 {
	list-style-type: none;
    display: none;
    font-weight: 600;
	position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 8px 0px rgba(4, 6, 9, 0.1);
    background: #BDD9FD; 
    background: -webkit-linear-gradient(#BDD9FD, #F7FAFF); 
    background: linear-gradient(#BDD9FD, #F7FAFF);
}
 
#JScategories .JSlevel-1 li {
	padding: 0 10px;
    position: relative;
}
#JScategories .JSlevel-1 > li:hover {
	z-index: 710;
    box-shadow: 1px 1px 5px #4d4d4d;
}
#JScategories .JSlevel-1 > li.parent:hover:after {
	position: absolute;
	content: ' ';
	display: inline-block;
	right: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background: #4E99FF;
	z-index: 800;
}

.categories-title:hover 
.category__link-group {
	-ms-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.category__link-group__link {
	display: block;
	width: 100%;
	-ms-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	 align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	display: -ms-flexbox !important;
	display: -webkit-box !important;
	display: flex !important;
}
.category__item__link__span {
	font-weight: normal;
	font-size: 85%;
}

.category__item__link__expend {
	padding: 2.5px;
	cursor: pointer;
	color: #999;
}

#JScategories .JSlevel-1 li a {
	position: relative;
	display: block;
	padding: 6px 5px;
	color: #222;
	font-size: 13px;
	border-bottom: solid 1px #fff;
}

#JScategories .JSlevel-2 {
	position: absolute;
	width: 633px;
	display: none;
	top: 0px;
	left: 100%;
	background: #fff;
	overflow: hidden;
	z-index: 700;
	margin: 0;
	background: linear-gradient(#BDD9FD, #F7FAFF);
	background: -webkit-linear-gradient(#BDD9FD, #F7FAFF);
}

#JScategories .JSlevel-2 li a {
	border-bottom: solid 1px #E3E3E3;
}
.JSsubcategory-toggler {
	display: none;
    position: absolute;
    top: 4px;
    right: 45px;
}
.JSsubcategory-toggler span {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 26px;
    height: 26px;
    color: #fff;
    cursor: pointer;
    background-color: #2160AE;
    font-size: 26px;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler {
	right: 6px;
	width: 40px;
    height: 28px;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler span {
	color: #999;
	background: #f0f0f0;
	display: none;
}
#JScategories .JSlevel-2 li {
	width: 50%;
	padding: 0 2.5%;
	float: left;
    border-right: 1px solid #ddd;
}
#JScategories .JSlevel-2 li:hover{
	box-shadow: 1px 1px 3px #ccc;
}
#JScategories .level-3 {
	display: none;
}
#JScategories .level-3-open .level-3 {
	display: block;
	padding-top: 10px;
}
#JScategories .level-3 li {
	width: 100%;
	margin: 0;
	padding: 1px 0px;
}
#JScategories .level-3 li a {
	padding: 3px 0;
    border: none;
}
#JScategories .level-3 li a:hover {
	background: none;
	color: #2160AE;
}

/*----------- CATEGORI HORIZONTAL  -----------*/
 #JScat_hor{
 	position: relative;
 }
#JScat_hor .JSlevel-1{
	position: relative;
	display: block;
}
#JScat_hor .JScategories-titile {
	display: none;
}
#JScat_hor .JSlevel-1 li {
	display: inline-block;
	padding: 0;
    position: static;
}
#JScat_hor .JSlevel-1 > li.parent:hover:after {
	left: 0px;
	right: 0px;
	top: 90%;
	height: 2px;
	width: 100%;
	display: block;
}
#JScat_hor .JSlevel-1 li a {
	border-bottom: none;
}
#JScat_hor .JSlevel-2 {
	left: 0px;
	top: 100%;
	width: 100%;
}
#JScat_hor .JSlevel-2 li {
	display: block;
}
#JScat_hor .JSlevel-1  li:hover .JSlevel-2 {
	top: 100%;
}
#JScat_hor .parent.dropdown-left .JSlevel-2 {
	left: auto;
	right: 0px;
}
#JScat_hor .level-3 {
	display: block;
}
/*- MAIN CONTENT -*/
#main-content { 
	padding: 0 0 30px;
	overflow: hidden;
	min-height: 700px;
}

/*- MAIN SLIDER -*/
#JSmain-slider {
	max-height: 500px;
	overflow: hidden;
}

#JSmain-slider .slick-slide a {
	display: block;
	width: 100%;
}

#JSmain-slider .slick-slide a img {
	width: 100%;
	max-width: 881px;
	height: 100%;
	max-height: 470px;
}

#JSmain-slider .slick-prev:before, #JSmain-slider .slick-next:before {
	content: '  ';
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next {
	height: 50px;
	width: 30px;
	margin-top: -25px;
	background-repeat: no-repeat;
	background-color: #60A7FF;
    border-radius: 7px;
}
#JSmain-slider .slick-prev:hover, #JSmain-slider .slick-next:hover {
	background-repeat: no-repeat;
    opacity: 1;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-prev:hover {
	left: 10px;
	background-image: url('../../../images/large-icons.png');
	background-position: -60px center;
}
#JSmain-slider .slick-next, #JSmain-slider .slick-next:hover {
	right: 10px;
	background-image: url('../../../images/large-icons.png');
	background-position: -110px center;
}

/*BANNERS RIGHT OF THE MAIN SLIDER*/

.banners-right {
    padding: 0px;
    margin:12px 0;
}
.banners-right a {
	display: block;
}
.baners-div {
	padding: 0px;
	margin: 2px 0;
}
.baners-div a img {
	width: 100%;
    max-height: 170px;
}
.banners-right a:first-child {
    margin: 0 2% 0 0;
}
 
/* About us page */
.about-us-page {
	padding: 0 15px;
	box-sizing: border-box;
}

/*- PRODUCT */
.product-content {
	position: relative;
	background: #fff;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	box-shadow: 0px 0px 3px 1px rgba(4, 6, 9, 0.1);
    text-align: center;
    margin: 7px 10px; 
}
.product-on-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.product-content:hover {
	box-shadow: 0px 0px 3px 1px rgba(4, 6, 9, 0.3);
}
.product-content:hover img.product-image {
	transform: scale(1.03);
}
.btn-container .product_cart {
	font-size: 20px;
	color:  #fff;
}
.cart_not_available {
	background-image: url('../../../images/cart_not_allowed.png');
    width: 40px;
    height: 40px;
    background-size: 100%;
    display: block;
}
.product-content:before {
	content: ' ';
	width: 0;
	height: 0;
	top: 0;
	display: block;
	position: absolute; 
	border-width: 0 0 25px 25px;
	border-color: transparent transparent #ddd transparent;
	background: #fff;
	z-index: 999;
}
.product-content .btn-container{
    height: 63px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.JSproduct .product-image-wrapper {
	max-width: 90%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    margin: 20px auto;
    background: #fff;
}
.JSproduct .product-image {
	display: inline;
	max-width: 90%;
	height: auto;
	max-height: 90%;
	padding: 10px 0 0;
	font-size: 0;
	overflow: hidden;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}
.JSproduct .product-title {
    height: 40px;
    padding: 0 10px;
    overflow: hidden;
    font-size: 13px;
    display: block;
    color: #2160AE;
    font-weight: bold;
 }
.JSproduct .action-holder {
	position: relative;
	margin: 10px 0 0;
}
.JSproduct .product-price span {
	font-size: .8em;
}
.slick-slider .slick-dots li button{
	display: none;
}
.JSproduct .JSadd-to-cart, .JSproduct .not-available {
	position: relative;
	font-size: .9em;
	display: inline-block;	  
}
.JSproduct .not-available {
    opacity: 0.6;
	cursor: not-allowed;
}
.price-holder {
    display: block;
    height: 30px;
}
.JSproduct button {
    background-color: transparent !important;
    color: #747474;
    padding: 4px 3px;
}
/*Uporedi btn */
.JSproduct .JScompare {
	color: #6d7478;
    font-size: 20px;
    margin: 0 0 0 .5em;
}
.fa-clone {
	font-weight: 700;
}
.JSproduct .JScompare.active, .JSproduct .JScompare:hover {
       color: #2160AE;
}
.JSproduct .JSadd-to-cart {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 1px 43px !important;
    border-radius: 5px;       
    background: -webkit-linear-gradient(#4E9AFB, #2160AE, #2160AE); 
    background: -moz-linear-gradient(#4E9AFB, #2160AE, #2160AE); 
    background: linear-gradient(#4E9AFB, #2160AE, #2160AE);
}
.JSproduct .JSadd-to-cart:hover {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;    
    background: #BDD9FD; 
    background: -webkit-linear-gradient(#2160AE, #2160AE, #2A6DC3); 
    background: -o-linear-gradient(#2160AE, #2160AE, #2A6DC3); 
    background: -moz-linear-gradient(#2160AE, #2160AE, #2A6DC3); 
    background: linear-gradient(#2160AE, #2160AE, #2A6DC3);
}
.JSproduct .JSadd-to-cart:hover .product_cart {
	color: #DCEBFF;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
 
/*--- FOOTER ---*/

/*- FOOTER LINKS -*/
.footer-links li a {
  	font-size: 14px;
    color: white;
    font-weight: normal;
}
.footer-links li:hover a {
	color: #60A7FF;
}
i.fa.fa-angle-double-right {
    margin-right: 5px;
}
.work-time-width{
	color: #fff;
	font-size: 13px;
}
.work-time-width span{
	display: inline-block;
	margin: 5px 0;
}

/*- technical support -*/
.technical_support {
	color: white;
	text-align: center;
}
.icons_technical_support {
	font-size: 30px;
	padding: 0px;
	margin-right: 15px;
}
/*- NEWSLETTER -*/
.newsletter-checkin {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
}
.newsletter {
	margin: 15px 0;
	position: relative;
}
.newsletter.row {
	margin: 15px 0;
	position: relative;
}
.newsletter input {
	height: 35px;
	line-height: 35px;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 4px;
}
.newsletter button {
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 30px;
	font-size: .9em;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.newsletter button:hover {
	transition: all 0.2s ease-in-out;
	background-color: #0E4F9F;
	opacity: 1 !important;
}

/*- SOCIAL ICONS -*/
 
footer .social-icons a {
    margin-right: 18px;
    box-shadow: 0px 0px 1px 1px #000 inset;
}
footer .social-icons a:last-child {
    margin-right: 0;
}
#JSpreheader .social-icons a {
    border-radius: 0px;
}
#JSpreheader .social-icons .facebook {
	background-position: 0 0;
}
#JSpreheader .social-icons .twitter {
	background-position: -35px 0;
}
#JSpreheader .social-icons .google-plus {
	background-position: -70px 0;
}
#JSpreheader .social-icons .skype {
	background-position: -105px 0;
}
#JSpreheader .social-icons .instagram {
	background-position: -140px 0;
}
#JSpreheader .social-icons {
	display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.social-icons a {
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    z-index: 7;
    box-shadow: 5px 5px 8px 0px rgba(4, 6, 9, 0.4);
    border-radius: 4px;
    width: 35px;
	height: 35px;
	background-image: url('../../../images/social-icons2.png');
    background-size: cover;
    display: inline-block;
}
.social-icons a:hover{
	box-shadow: 1px 1px 5px #fff;
}
footer .social-icons .facebook {
	background-position: 0 0;
}
footer .social-icons .twitter {
	background-position: -34px 0;
}
footer .social-icons .google-plus {
	background-position: -69px 0;
}
footer .social-icons .skype {
	background-position: -105px 0;
}
footer .social-icons .instagram {
	background-position: -141px 0;
}
/*--- CARDS ---*/
.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
}
.card {
	border-radius: 5px;
	background-color: #fff;
	margin: 10px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.card img {
    max-height: 55px;
    max-width: 100%;
}
/*--- FOOTNOTE ---*/
.footnote {
	text-align: center;
	font-size: .9em;
	color: white;
	margin-top: 15px;
}
.footnote a {
	margin-top: 20px;
}
/*--- INFO & CONFIRM POPUP ---*/
.info-confirm-popup {
	display: none;
}
.JSinfo-popup, .confirm-popup {
	top: 0;
	height: 100%;
	background: rgba(44, 44, 44, 0.8);
}
.JSinfo-popup .popup-wrapper, .JSinfo-popup .JSpopup-inner {
	width: 315px;
}
.confirm-popup .popup-wrapper, .confirm-popup .JSpopup-inner {
	width: 300px;
}
.JSinfo-popup .JSpopup-inner, .confirm-popup .JSpopup-inner {
	background: rgba(153, 153, 153, 0);
}
.confirm-popup .JSpopup-inner {
	text-align: center;
}
.JSinfo-popup .p-info, .confirm-popup p {
	margin: 0;
    color: #474747;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
}
.yes, .no {
	display: inline-block;
	padding: 0 10px;
	margin: 10px 3px;
	font-size: .9em;
}
.yes, .yes:hover {
	background: #f0f0f0;
	color: #999;
}

/*--- SCROLL TO TOP ---*/
a.JSscroll-top {
	position: fixed;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #2160AE;
	right: -70px;
	bottom: 20px;
	background: white;
	z-index: 999;
	padding: 9px;
	border-radius: 2px;
    border: 1px solid #2160AE;
	box-shadow: 0 1px 3px 0 #2160AE;
}
a.JSscroll-top.show {
	right: 25px;
}
a.JSscroll-top:hover {
    background: #60A7FF;
    color: #FFF;
}
/*--- PRODUCT LIST ---*/

/*- BREADCRUMBS -*/
.breadcrumbs {
	font-size: 13px;
    border-width: 0;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    overflow: hidden;
    background-color: transparent;
    text-decoration: none;
    color: #2160AE;
    padding: 8px;
}
.breadcrumbs li {
	display: inline-block;
    font-size: 80%;
    color: #2160AE;
    font-weight: 600;
}
.breadcrumbs li a {
    color: #2160AE;
}
.breadcrumbs>*:before {
	content: none;
}
.breadcrumbs li:after {
	display: inline-block;
	content: '\f105';
	padding: 0 5px;
	color: #222;
	font-size: 14px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}
.breadcrumbs li:last-child:after {
	display: none;
}
.breadcrumbs h1 {
	font-size: 1.1em;
	margin: 0;
}
.breadcrumbs li a:hover {
	color: #60A7FF;
    text-decoration: none;
}
/*============================
=            NEWS            =
============================*/

/* this is single post */
.news {
    padding: 10px;
    margin: 30px 15px;
    box-sizing: border-box;
    background: #fff;
	box-shadow: 1px 1px 7px #ddd;
}
.news img{
    max-width: 100%;
    max-height: 150px;
    padding: 10px;
    display: block;
    margin: auto;
}
/* button */
a.news__more {
    padding: 4px 12px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background: #2160AE;
    border-radius: 5px;
}
a.news__more:hover{
    background-color: #60A7FF;
} 
 
/*- PRODUCT LIST OPTIONS -*/

.buttons_and_else {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-justify-content: flex-end;
	-webkit-align-items: center;
	font-size: 12px;
}
.numbers_of_pages {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	font-size: 12px;
	-webkit-align-items: center;
	align-items: center;
}
.pagination_section {
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	display: -moz-flex;
	-moz-justify-content: center;
	-moz-align-items: center;
}
.JSproduct-list-options {
	padding: 8px 0px;    
	box-shadow: 1px 0px 4px 1px #bbb;
    margin-bottom: 6px;
} 
.pagination {
	float: left;
}
.pagination.down {	
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    line-height: 25px;
    padding: 5px 0px;
}
.pagination li a, .pagination li button {
	padding: 0;
	text-align: center;
	color: #6d7478;
}
.pagination li.active a {
    background-color: #60A7FF;
    color: #fff;
}
.pagination li:hover a {
	transition: all 0.2s ease-in-out;
    color: white !important;
    background-color: #2160AE !important;
}
.down-pagination {
	box-shadow: 1px 0px 4px 1px #bbb;
    margin-top: 15px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px 0px #bbb;
}
.per-page.JSselect-field { 
     z-index: 3;				
 }
.view-buttons {
	margin: 0 0 0 10px;
}
.view-buttons span {
	display: inline-block;
    cursor: pointer;
    background-color: #60A7FF;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    padding: 1px 6px;
}
.view-buttons span.active {
    color: #fff;
    background: #2160AE;
}
.view-buttons span:hover {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
    background-color: #2160AE;
}
.JSselect-field {	
    cursor: pointer;
    z-index: 2;
    border: 1px solid #bbb;
    padding: 2px 6px;
    margin-left: 10px;
    position: relative;
    border-radius: 3px;
    display: inline-block;
}
.JSselect-field ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	background-color: #fff;
    outline: 1px solid #bbb;
}
.JSselect-field li {
	border-bottom: solid 1px #bbb;
    padding-left: 6px;
}
.JSselect-field li:last-child {
	border-bottom: none;
}
.JSselect-field li:hover {
	background-color: #2160AE;
}
.JSselect-field li a {
	color: #6d7478;
    width: 100%;
    display: inline-block;
}
.JSselect-field li:hover a {
    color: #fff;
}
.currencyANDsort {
     margin: 5px 0 5px 10px;
}
.currency {
	margin: 0px;
}
.per-page ul, .currency ul, .sort-products ul {
    font-size: 12px;
    line-height: 20px;
}
/*- PRODUCT LIST PRODUCTS -*/
 .slide-me{
	display: none;
}
.JSproduct-list .JSproduct {
	float: left;
	width: 24%;
}
.JSproduct-list.list-view .JSproduct {
	width: 100%;
}
.JSproduct-list.list-view .JSproduct .product-title{
	height: auto;
}
.JSproduct-list.list-view .product-content {
	width: 98%;
}
.JSproduct-list.list-view .JSproduct .product-price {
	float: none;
	display: block;
	left: auto;
	text-align: center;
	font-size: 1.4em;
	line-height: 1;
}
.JSproduct-list.list-view .JSproduct .product-details li {
	float: left;
	width: 48%;
	font-size: .85em;
}
.JSproduct-list.list-view .JSproduct .product-details li span {
	font-weight: bold;
}
/* Compere */
section.compare-section {
	text-align: center;
}
.show-compered {
	display: inline-block;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 3px 11px;
    background-color: #60A7FF;
    margin: 5px 0;
}
.show-compered:hover {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #2160AE;
    color: white;
}
#JScompareTable .JSclearCompare {
	display: inline-block;
    background: #2160AE;
    color: #fff;
    border-radius: 2px;
    line-height: 1;
    cursor: pointer;
    line-height: 26px;
    height: 26px;
    padding: 0 7px;
}
.reveal-modal .close-reveal-modal {
	font-size: 20px;
}
#JScompareTable tr td:first-child {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}
#JScompareTable table img{
	max-width: 100%;
	max-height: 70px;
}

/*--- PRODUCT PREVIEW ---*/
#product-preview {
	overflow: hidden;
	padding: 10px;   
}

/*- PRODUCT PREVIEW IMAGE -*/
.JSproduct-preview-image {
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
}
.zoomWrapper {
	width: 100% !important;
	height: 350px !important;
	line-height: 350px;
	text-align: center;
	background: #fff;
	overflow: hidden !important;
}
.zoomWrapper span {
	width: 100% !important;
	margin-top: 1px;
}
.zoomWrapper img {
	position: relative !important;
	height: auto !important;
	max-height: 100% !important;
    padding: 10px;
    max-width: 100%;
}
.zoomWindow {
	width: 100% !important;
	height: 352px !important;
	margin-top: -1px;
	border: solid 1px #f0f0f0 !important;
}
.zoomContainer {
	height: auto !important;
}
.zoomContainer:nth-child(even) {
	display: none !important;
}
.zoomLens {
	max-width: 100%;
	max-height: 350px;
	border: 1px solid rgb(153, 153, 153) !important;
}
.background-center {
	background-position: center center !important;
}
a.elevatezoom-gallery {
	position: relative;
	display: inline-block;
	width: 22%;
	height: auto;
	max-height: 71px;
	line-height: 68px;
	margin-right: 0.66%;
	text-align: center;
	margin: 10px 5px 0 0;
	background: #fff;
	z-index: 1;
}
a.elevatezoom-gallery:last-child {
	margin-right: 0;
}
a.elevatezoom-gallery img {
	display: inline;
	height: auto;
	max-height: 60px;
	max-width: 90%;
	width: auto;
}
/*- PRODUCT PREVIEW INFO -*/
.product-preview-info h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.4em;
}
.heading-background{
    text-transform: uppercase;
    background-color: #2160AE;
    padding: 3px 2em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.product-preview-info ul {
    font-size: 13px;
    display: inline-block;
}
.product-preview-info ul li a {
	font-style: italic;
    font-weight: bold;
    display: inline-block;
    margin: 0 5px;
}
.product-preview-info ul li a:hover {
	color: #6D7478;
}
.add-to-cart-area {
     display: inline-block;
}
.add-to-cart-area .not-available {
	padding: 2px 10px;
    cursor: not-allowed;
        background: transparent;
}

/* OSOBINE */
.osobina_naziv, .karakteristike_osobine, .osobina_karakteristika {
    display: inline-block;
    position: relative;
    padding: 0;
}
.osobina {
    margin: 10px 0;
}
.osobina_naziv {
    min-width: 60px;
    border-bottom: 1px solid #ddd;
}
.osobina_karakteristika span {
	display: inline-block;
	border: 1px solid #bbb;
    min-width: 40px;
    padding: 1px 5px;
    color: #fff;
    text-align: center;
	cursor: pointer;
	text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px;
    font-weight: bold;
}
.osobina_karakteristika input {
	position: absolute;
	top: -20px;
	visibility: hidden;
}
.osobina_karakteristika input:checked + span {
	box-shadow: 0 0 0 2px #F79022;
}
.add-to-cart-area .JScart-amount {
    height: 25px;
}
.input_kolicina {
	display: inline-block;
    padding: 0 10px 0 0;
}
 
/* OSOBINE KRAJ */


a.add-amount-less, a.add-amount-more, a.JScart-less, a.JScart-more {
    height: 20px;
    width: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background: #6d7478;
    display: inline-block;
}
input.add-amount, input.JScart-amount {
	width: 31px;
	height: 21px;
	line-height: 31px;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}
.product-preview-price {
	position: relative;
}
.product-preview-price-old {
	display: block;
	font-size: 1.4em;
	line-height: 2em;
	text-decoration: line-through;
	margin-top: 6px;
	margin-right: 30px;
}
.product-preview-price-new {
    display: inline-block;
    padding: 0 10px;
    font-size: 25px;
    font-weight: 600;
    border-left: 6px solid #2160AE;
    background: #F5F8FA;
    color: #2160AE;
    margin-top: 10px;
}
.facebook-btn-share {
	margin: 20px 0px 15px 0px;
}
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs {
	margin-top: 20px;
	padding: 0;
}
.JStab-titles li {
    float: left;
    width: 210px;
    padding: 5px 0;
    text-align: center;
    border-right: solid 2px #ddd;
 	background: #F5F8FA;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 1px solid #2160AE;
    font-size: .9em;
}
.JStab-titles li:last-child {
	border-right: none;
}
.JStab-titles li.active {
	color: #2160AE;
    border-left: 1px solid #2160AE;
    border-top: 1px solid #2160AE;
    border-right: 1px solid #2160AE;
    border-bottom: none;
}
.tab-content {
	display: none;
    border: 1px solid #9AB2D1; 
    background: #E6EFFC;
    padding: 10px;
}
.tab-content p{
	font-size: 14px;
}
.JSdescription-content{
	border-top: 1px solid #9AB2D1;    
	background: #DCE9FA; 
    background: -webkit-linear-gradient(to right,#DCE9FA, #F7FAFF); 
    background: -o-linear-gradient(to right,#DCE9FA, #F7FAFF); 
    background: -moz-linear-gradient(to right,#DCE9FA, #F7FAFF); 
    background: linear-gradient(to right,#DCE9FA, #F7FAFF);
}
.tab-content.active {
	display: block;
}
.features-content ul {
	margin: 20px 0;
}
.features-content ul:before, .features-content ul:after {
	content: ' ';
	display: table;
}
.features-content li {
	padding: 2px 0;
}
.features-list-items li {
	border-bottom: solid 1px #ddd;
}
.features-list-items li ul li:nth-last-child(-n+2){
	border-bottom: none;
}
.features-list-title {
	color: black;
    font-weight: 600;
    font-size: 14px;
}
.features-content li:nth-child(odd) {
	font-weight: bold;
}
.JScomments-content {
	padding: 20px 0;
}
.JScomments-content h3 {
	margin-top: 0;
	margin-bottom: 15px;
}
/*- COMMENTS -*/
.JScomments-content label {
	padding: 5px 0;
	font-size: .85em;
}
.JScomments-content textarea {
	height: 130px;
}
.JScomments-content .submit {
	margin-top: 15px;
	padding: 2px 15px;
	background-color: #2160AE;
	border-radius: 4px;
}
.JScomments-content .submit:hover {
	background: #60A7FF;
}
.comment-content {
	display: block;
    margin-bottom: 5px;
    padding: 6px 10px;
    font-size: 13px;
    background: #F5F8FA;
}
.comment-name {
	display: block;
	margin-bottom: 0;
	font-weight: bold;
}
.comment-text {
	margin: 0;
	font-size: 13px;
}
.comment-date {
	float: right;
    font-size: 11px;
    position: relative;
    top: -21px;
}
.replies {
	margin: 0px 0 0 50px;
}
.replies .comment-content {
    color: #fff;
    background: #B9C2C8;
}

/*- PRODUCT PREVIEW TAGS -*/
.tags {
	padding: 10px 0;
}
.tags li {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 4px 12px;
	font-size: .8em;
	font-style: italic;
	background: #f0f0f0;
}

/*--- CART ---*/
.JScart-more-icon {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	top: -20px;
	left: -100%;
	margin-left: -20px;
	border-radius: 100%;
	background-color: #f4a137;
	background-image: url('../../../images/mini-icons.png');
	background-position: center -44px;
	background-repeat: no-repeat;
	z-index: 999;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.JScart-image img{
    max-width: 100%;
    max-height: 60px;
}
.cart-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.different_h2 {
	border-radius: 0;
	padding: 0px 20px;
}
.JScart-more-icon-opened {
	left: 50%;
}
.without-btn {
	display: block;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
 	background-color: #6d7478;
    color: #fff;
	padding: 0 20px;
	max-width: 200px;
	margin: 10px auto;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
	transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
}
.without-btn.active {
	background-color: #2160AE;
	color: #fff;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.without-btn:hover {
    background: #fff;
    color: #2160AE;
    border: 1px solid #2160AE;
}
.without-btn .fa {
	margin-left: 8px;
	font-size: 20px;
	line-height: 40px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.without-btn.active .fa {
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*- CART ITEMS -*/
.cart-labels {
    margin-top: 20px;
    border: 1px solid #e9e9e9;
    font-size: 14px;
}
.cart-labels li {
	padding: 7px 8px;
	color: #524B4B;
	font-weight: 600;
	text-align: center;
	border-right: solid 1px #e9e9e9;
}
.cart-labels li:last-child {
	border-right: none;
}
.JScart-item {
	border-bottom: solid 1px #e9e9e9;
    border-left: solid 1px #e9e9e9;
    border-right: solid 1px #e9e9e9;
}
.JScart-item li {
	padding: 6px 5px;
	text-align: center;
	overflow: hidden;
    border-right: solid 1px #e9e9e9;
    min-height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.JScart-item div:last-child li:last-child {
	border-right: none;
}
.cart div.medium-6 {
	padding: 0;
}
.cart-image img {
	max-width: 80%;
	height: auto;
	max-height: 50px;
}
li.cart-image:first-child {
    border-right: none;
}
.cart-name, .cart-price, .cart-total-price {
	font-size: .9em;
}
 
.cart-page .cart-name a {
	display: block;
	color: #060606;
    font-weight: 500;
    line-height: 1.2;
}
.cart-page .cart-name a:hover {
	color: #2160AE;
}
.cart-add-amount {
	display: flex;
	justify-content: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
input.JScart-amount {
    display: inline-block;
}
.cart-remove .close {
	display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 18px;
    height: 18px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background: #6d7478;
}
.news-title-list{
    text-transform: uppercase;
    background-color: #2160AE;
    padding: 3px 2em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
}
.cart-remove .close:hover {
	background: #2160AE;
}
.cart-remove {
	display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.manufacturer-categories ul li a{
    display: block;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    font-size: .9em;
    margin: 5px 0;
}
.manufacturer-categories h3{
	font-size: 1em;
    border-radius: 10px;
}
/*-- RELATED-PRODUCTS --*/

.JSrelated-products .JSproduct {
	float: left;
	width: 25%;
}

/*- BELOW CART -*/
.cart-summary-wrapper {
	padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.no-articles{
 	padding: 10px;
    display: inline-block;
}
.cart-summary {
	padding: 7px 0;
	background: linear-gradient(to left, #DCE9FA, #fff);
}
.summary-amount {
    color: #2160AE;
    font-size: 1.2em;
    padding: 0px;
    text-align: right;
}
.ukupno-label {
	font-weight: 700 !important;
}

.cart-remove-all {
	border-radius: 4px;
	padding: 3px 15px;
    margin: 10px 0;
}
 
/*- CART ACTION BUTTONS -*/
.cart-action-buttons {
	display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: flex-end;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
    margin: 15px 0 0px;
}
.cart-action-buttons li {
	display: inline-block;
	margin-left: 10px;
	padding: 3px 8px;
	font-size: 14px;
    border-radius: 4px;
}
.cart-action-buttons li a{
    display: inline-block;
    padding: 3px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    background-color: #2160AE;
}
.JScart-without-button {
	background: #2160AE;
	padding: 3px 10px;
    border-radius: 4px;
}
.JScart-without-button:focus {
    background-color: #2160AE;
}
.cart-login-button {
	background: #6d7478;
}
.cart-login-button:hover {
    background-color: #60A7FF;
}
.cart-registration-button:hover {
	background: #60A7FF;
}
/*- SUBMIT ORDER AREA -*/
.JSsubmit-order-area {
	display: none;
}
/* BUY WITHOUT REGISTRATION - FORM */
.row.without-reg-form {
	position: relative;
	margin-top: 70px;
	border-top: solid 1px #f0f0f0;
}
.without-reg-form label {
	padding: 5px 0;
}
.JSwithout-reg-none-personal, .JSwithout-reg-personal {
	display: none;
}
.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active {
	display: block;
}
.without-reg-form .expand_div {
	padding: 0;
}
.without-reg-form .forward {
	margin: 15px 0;
    padding: 8px 15px;
    border-radius: 4px;
}
.without-reg-form .forward:focus {
	background-color: #2160AE !important;
}
/* PAYMENT METHOD */
.row.payment-method {
	position: relative;
	margin-top: 70px;
	margin-bottom: 30px;
	padding-top: 50px;
	border-top: solid 1px #f0f0f0;
}
.payment-method label {
	padding: 5px 0;
	font-size: .85em;
}
.payment-method textarea {
	height: 130px;
}

/* SUBMIT ORDER BUTTON */
.submit-order-button {
	float: right;
	margin-right: 0.9375em;
	padding: 5px 8px 5px 50px;
	background-image: url('../../../images/mini-icons.png');
	background-position: 13px -248px;
	background-repeat: no-repeat;
}

/* SHOPPING INFORMATION */
.shopping-information table {
	width: 98%;
	margin: 0 auto;
	font-size: .9em;
}
.shopping-information table th {
	padding: 20px 10px 10px;
	text-align: left;
}
.shopping-information table td {
	border: solid 1px #ddd;
	padding: 3px 10px;
}
.shopping-information table .summary {
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
}
.table-scroll table { 
	width: 100%;
}
/*--- USER PAGE ---*/
.user-info-form {
	margin: 30px 0;
}
.user-info-form input {
	margin-bottom: 10px;
	color: #000;
}
.user-info-form label {
	font-size: .9em;
	font-style: italic;
	color: #999;
}
.user-info-form .submit {
	float: left;
	margin-left: 0.9375em;
	margin-top: 20px;
	padding: 1px 8px;
	font-size: 1em;
}
.user-orders-table {
	width: 100%;
}
/*--- CONTACT PAGE ---*/
#map_canvas {
	height: 330px;
	margin-bottom: 15px;
}
.contact-form label {
	padding: 5px 0;
}
.contact-form textarea {
	height: 130px;
}
.contact-form .submit {
	margin: 15px 0px;
	padding: 2px 20px;
	background-color: #2160AE;
    border-radius: 4px;
}
.contact-form .submit:hover {
	background-color: #60A7FF;
}
/*--- ODMOR ---*/
.odmor {
	margin-bottom: 30px;
	color: #000;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

/*--------- AlL  CATEGORY PAGE -------------*/
.all_categories_plus {
	color: #2160AE;
	padding: 0 5px 0 0;
}
.all-category-link:hover .all_categories_plus {
	color: #60A7FF;
}
.arrow_category:focus {
	color: #82e3e4;
}
.category-listing .columns+.columns:last-child {
    float: left !important;
}
.category-heading {
	color: #fff;
    padding: 5px 10px 2px;
    border-radius: 0;
    background-color: #2160AE;
    font-weight: 600;
    margin: 5px 0;
}
.category-name-link {
	font-weight: 700;
	font-size: 16px;
	margin: 5px 0 1px;
	display: block;
}
.category__list {
	display: block;
}
.category__list__item__link {
	display: block;
	color: #222 !important;
	font-size: .9em;
}
.category__link-group__link__text {
	display: block;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
}
.category-name-link, .category-heading {
    font-size: 1em;
}
.JSmenu-icon {
	display: none;
}
/*--------- ALL  CATEGORY SIDEBAR -------------*/
.JScategory-sidebar__list {
    background: #FDFDFD;
    box-shadow: 0 1px 3px 0 rgba(51,51,51,.3);
    padding: 10px;
    z-index: 601;
}
.category-sidebar__list--fix {
	position: fixed;
	top: 0px;
}
.category-sidebar__list__item {
	margin-bottom: 8px;
}
.category-sidebar__list__item:last-child  {
	margin-bottom: 0px;
}
.category-sidebar__list__item__link {
	display: block;
	color: #2160AE !important;
	font-weight: 700;
	font-size: 13px;
	margin-bottom: 5px;
	line-height: 1.2;
}
#main-menu li a:hover {
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	color: #fff;
}
.info {
	font-size: 12px;
    width: 70%;
    margin: 0 auto;
}
/* Dodato Tamara */
.fancybox span.JSzoom_03 {
	display: block;
}
.logo-shopmania {
	border: 0;
}
.page-not-avalible {
	padding: 10px;
}
#content {
	width: 100%;
}
.contact-info h1 {
	font-size: 14px;
	display: inline;
}
.file-upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.file-upload input.file-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*================================================
=            artikal vezani proizvodi            =
================================================*/

.vezani_artikli .JSproduct .product-image-wrapper{
	margin: 0 !important;
	height: 130px;
}
.vezani_artikli .action-holder,
.vezani_artikli .JSproduct input[type="number"] {
	margin: 0;
}
.vezani_artikli .JSproduct .product-price{
	display: inline-block;
	margin: 15px 0 0;
}
.vezani_artikli .JSproduct .product-title {
	margin-top: 10px;
	text-align: left;
}
.vezani_artikli .vezani_input{
	height: 27px;
    width: 50px;
    text-align: center;
    display: inline-block;
}
.vezani_artikli .btn-container .product_cart{
	font-size: 30px;
    color: #2160AE; 
}
 
.vezani_artikli .JSproduct-content {
	margin-bottom: 16px;	
}
.vezani_artikli .input-and-button {
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.vezani_artikli .input-and-button .JSadd-to-cart {
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
	margin: 0;
	margin-left: 8px;
}

/*=====  End of artikal vezani proizvodi  ======*/
.JSbroj_cart {
    position: absolute;
    color: #2160AE;
    font-weight: bold;
    font-size: 22px;
    bottom: 15px;
    right: -10px;
}
.add-to-cart-artikal {
    color: #2160AE;
   	background: transparent;
    padding: 0 10px;
    font-size: 3em;
}
.add-to-cart-artikal:hover {
   	background: transparent;
}
#JSAddCartSubmit:hover i {
   color: #60A7FF;
}
.new-content {
	padding: 30px;
}
.new-content h2 {
	background-color: #fff;
	color: #2160AE;
	padding: 0px;
}
.new-content p, .new-content ul li {
	font-size: 1em;
}
.new-content img{
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
    display: block;
}
.contact-info ul li {
	font-size: 14px;
}
.cart p {
	padding: 15px;
}
/* Login/Registration Forms */

.login-form-padding {
	padding: 50px 0px 20px;
}
.login-form-wrapper {   
	box-shadow: 2px 2px 6px 0px gray;
    text-align: center;
    padding: 15px 20px 15px;
}
.login-form-wrapper form {
	margin-top: 18px;
}
.registration-form-wrapper {
	box-shadow: 2px 2px 6px 0px gray;
    text-align: center;
    padding: 15px 20px 15px;
}
.login_title {
	width: 100%;
	margin: 0 auto;
	line-height: 22px;
  	padding: 0px;
  	background: transparent;
   	padding-bottom: 5px;
   	border-bottom: 1px dotted;
   	color: #2160AE;
   	font-weight: 600;
}
.registration-form {
	padding: 15px 0;
}

.label_buyer {
	color: #2160AE;
    font-weight: 600;
}
.buyer_info {
	font-weight: 400;
	text-align: left;
} 
.person-registration, .company-registration {
	padding: 8px 17px;
}
.registration-form button {
    margin: 20px 0 0;
    border-radius: 3px;
    padding: 2px 12px;
}
.login-form-button .admin-login {
	margin: 6px 0 0;
}
.login-form-wrapper .login-form-button, .login-form-wrapper .btn-forgot-pass {
	border-radius: 4px;
    padding: 2px 12px;
}
.btn-forgot-pass {
	margin-bottom: 10px;
}
.login-form__input {
    margin-bottom: 15px !important;
}
.registration-form .error, .error-login {
    color: #e36284;
    font-size: 12px;
    position: relative;
    font-weight: 600;
    height: auto;
    line-height: 2;
}
.red-dot-error{
	color: red;
	font-size: 12px;
}
.login-form-error {
	top: 0px;
}
/* Login/Registration Forms END */
 
.fa-sign-in {
    font-size: 18px;
}
#b2b-login-icon {
	font-size: 13px;
    color: #d5e4f5; 
    padding: 3px 0px;
    display: inline-block;
}
#b2b-login-icon:hover {
    color: #60A7FF;
}
.old-price {	
    text-decoration: line-through;
    font-size: 12px;
    color: #949FA5;
}
.btn-slider {
    padding: 4px 10px;
    color: #2160AE;
    background-color: #fff;
    outline: none;
    border: 1px solid #2160AE;
    top: -34px;
}
.previous, .slider-prev {
	position: absolute;
    right: 55px;
}
.next, .slider-next {
    position: absolute;
    right: 20px;
}
.JSproduct-list .slider {
	position: relative !important;
}
.menu-close {
	display: none;
}
.tip-list, .sale-list {
	position: relative;
}
.vest-slika {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}
.single-news {
    padding: 37px 25px;
}
.files-list-item {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    margin-right: 10px;
}
.files-name {
    font-weight: normal;
    margin: 6px;
}
.features-list li {
	font-size: 12px;
	border-bottom: 1px solid #9AB2D1;
}
ul.generated-features-list, ul.generated-features-list ul {
	font-size: 13px;
}
.generated-features-list {
	border-top: 1px solid #9AB2D1;    
	background: #DCE9FA; 
    background: -webkit-linear-gradient(to right,#DCE9FA, #F7FAFF); 
    background: -o-linear-gradient(to right,#DCE9FA, #F7FAFF); 
    background: -moz-linear-gradient(to right,#DCE9FA, #F7FAFF); 
    background: linear-gradient(to right,#DCE9FA, #F7FAFF);
}
.files-link img {
	width: 60px;
}
.konfigurator {
    margin-top: 30px;
}
.konfigurator-grupa {
	max-width: 83px;
    overflow: hidden;
}
.brend-item {
	background: #fff;
    overflow: hidden;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: bold;
    color: #222;
    width: 100%;
    height: 80px;
    margin: 15px 0;
    border-radius: 2px;
    text-align: center;
    letter-spacing: .025em;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-transition: background,color,box-shadow,.4s ease-in-out;
    transition: background,color,box-shadow,.4s ease-in-out;
	box-shadow: 1px 1px 6px #bbb;
}
.brend-item img{
    max-width: 100%;
    max-height: 70px;
    padding: 5px 0;
}
.article-edit-btn {
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    padding: 0 5px;
    background: #fff;
    top: 0;
    right: 0;
    border: 1px solid #bbb;
} 
.JSproduct-list > .article-edit-btn-grid {
	top: -333px !important;
}
#admin-menu {	
	background-color: lightgray;
	font-size: 12px;
}
.admin_login {
	display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: flex-end;
}
.fl {
	float: left;
}
.ms {
	margin: 0 5px;
}
.admin-links a:hover {
	color: #82E3E4;
}
.user-info-form .error {
	color: red;
    font-size: 12px;
    position: relative;
    top: -11px;
}
.success {
    color: #1fa31f;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -52px;
    left: 142px;
}
.submit-btn-edit {
    border: none;
    background-color: #2160AE;
    margin: 15px;
    padding: 7px 20px;
    color: #fff !important;
    border-radius: 4px !important;
}
/*Pop-up banner*/
.popup-banner-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(43, 43, 43, 0.8);
	z-index: 16000003;
}
.popup-banner-wrapper {
   left: 50%;
   position: fixed;
   z-index: 99999;
   top: -1000px;
   width: 650px;
   height: 650px;
   -webkit-transition: all 2s ease;
   transition: all 2s ease;
}
.banner-center {
   top: 50%;
}
.popup-banner {
   position: relative;
   top: -50%;
   box-shadow: 0 0 10px 0 #000;
   left: -50%;
   width: 613px;
}
.popup-banner #banner-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #000;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
}
.conf-dd {
	position: relative;
}
.conf-drop-down {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.conf:hover .conf-drop-down {
	display: block !important;
	background-color: #ddd;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #578ED1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin-left: -60px;
}
.dropdown-content li a {
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #0B366C;
    width: 85%;
    margin: 0 auto !important;
}
.dropdown-content li:last-child a {
	border: none !important;
}
.dropdown-content li a:hover {
    color: #fff;
}
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 999;
}
.dropdown-content li {
	display: block !important;
	float: none !important;
}
.izmeni-kupca {
    padding: 5px 15px;
    font-size: 12px;
}
.cat-img-1 {
	max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
}
.cat-img-2 {
	display: block;
	max-width: 75px;
	max-height: 75px;
	margin: 0 auto;
}
/* OCENE */
.review-star {
	cursor: pointer;
}
#review-number {
	display: none;
}
.fa-star, .fa-star-o {
	color: #2160AE;
}
.comment-rating {
	font-size: 12px;
}
.bw {
	background: #fff;
}
.karak-row {
	height: 21px;
    border-bottom: 1px solid #CDDFF7;
}
.karak-row:last-child {
	border: none !important;
}
.features-list-items {
	padding: 0;
	color: #222222;
    font-weight: 500;
}
.top-menu-links {
	font-size: 13px;
}
.top-menu-links a {
	margin-right: 15px;
	color: #d5e4f5; 
	padding: 3px 0px;
    display: inline-block;
}
.top-menu-links a:hover {
	color: #60A7FF;
}
  /*--- FLEX ---*/
.flex-items-center {
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
.flex-items-right {
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: flex-end;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.flex-items-left {
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
 	font-size: 13px;
}
.flex-horizontal-center {
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-weight: 600;
}
.flex-vertical-center {
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.display-popup {
	margin: 0px 0 0 15px;
}
 .summary-label {
 	width: 133px;
 }
 .sumary-label-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: flex-end;
} 
.hide-at-1024 {
    display: block;
    position: absolute;
    margin-top: 20px;
}
.right-banners-product-group {
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.right-banners-product-group img{
	max-width: 275px;
    width: 100%;
}
  
/*---------- MEDIAQUERIES ----------*/
/*--- MIN WIDTH 641px & MAX WIDTH 860px ---*/
@media screen and (min-width:641px)  and  (max-width:860px) {
    #JScategories .JSlevel-2 {
		width: 468px;
	}
	.footer-links li a {	
		padding: 0;
	}
	.footer-links li a:before {
		display: none;
	}
	footer h4 {
		font-size: 1.1em;
	}
	.JSproduct-preview-image, .product-preview-info, .JScomments-content .comments, .JScomments-content form, input.JScart-amount {
		padding: 0;
	}
	.product-preview-info {
	    padding-right: 0;
	    padding-left: 60px;
	}
	.cart-price, .cart-total-price, select, select:hover, select:focus {
		font-size: .8em;
	}
	.contact-info, .contact-form {
		width: 100%;
	}
}
 
/*--- MIN WIDTH 641px ---*/
@media screen and (min-width:641px) {
	#JScategories .JSlevel-2 {
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
	}
	.generated-features-list:last-child {
		margin-bottom: 0px !important;
		border-bottom: none;
	}
	ul.generated-features-list, ul.generated-features-list ul {
		font-size: 13px;
	}
	.row.below-cart {
		margin-top: 20px;
	}
 
}

/*--- MAX WIDTH 1300px ---*/
@media screen and (max-width:1300px) {
	 #JScategories .JSlevel-2 div > li {
	    padding: 0 1%;
		font-size: 1em;
	}
	.subcategory-image {
		display: none;
	}
}
 
/*--- MAX WIDTH 1120px ---*/
@media screen and (max-width:1120px) {
	.single-slide .JSproduct {
		width: 33.3%;
	}
	.JSproduct-list .JSproduct {
		width: 31.3%;
	}
	#login-icon span {
		margin-right: 10px;
	}
}

/*--- MAX WIDTH 1080 ---*/
@media screen and (max-width:1080px) {
	.technical_support {
	    padding: 0;
	}
	.different_h2 {
		font-size: 13px;
	}
	.cart-labels li {
	    font-size: 14px;
	}
}

/*--- MAX WIDTH 1024px ---*/
 
@media screen and (min-width:1024px) {
   #JScategories:hover .JSlevel-1 {
		display: block;
	}
	#start-page #JScategories .JSlevel-1 {
	  	display: block;
	}
	#JScategories .JSlevel-1  li:hover .JSlevel-2 {
	   display: block;
	}
  /* #JScategories .JSlevel-2{
		height: auto;
	}*/

}

@media screen and (max-width:1024px) {
	#JSpreheader .social-icons, .JSheader-cart-content{
		display: none;
	}
	#JSmain-slider .slick-slide a img{
		max-width: 100%;
	}
	 .all_policy {
    	display: none;
    }
	 .JSsubcategory-toggler {
		display: inline-block;
	}
	#JScategories .JSlevel-2 {
		display: none;
		position: relative;
		left: 0;
		width: 100%;
		opacity: 1;
	}
	#JScat_hor .JSlevel-1 > li.parent:hover:after{
		display: none;
	}
	#JScat_hor .JScategories-titile {
		display: block;
	}
	#JScat_hor .JStoggler{
		display: block;
		left: 120px;
	}
	#JScat_hor .JSlevel-2 li a {
		padding: 3px 15px;
	}
	#JScat_hor .JSlevel-1 li{
		display: block;
		position: relative;
	    padding: 0 15px;
	}
	.menu-background {
		padding: 0px;
	}
 	.cart_div {
 		padding: 0;
 	}
	#JSpreheader, .JSmain-nav {
		display: none;
    	background: #fff;
		width: 100%;
    	z-index: 99999;
    	position: fixed;
	}
	#JScategories h3 {
		border: none;
	}
	#JSpreheader {
    	height: 100%;
		top: 0;
		padding: 0px;
	}
	.JSmenu-icon {
		display: block;
	    position: absolute;
		top: 25%;
		right: 20px;
	    color: #2160AE;
	    border: 2px solid;
	    cursor: pointer;
	    padding: 6px 10px 4px 10px;
	    font-size: 16px;
	    z-index: 100;
	}	
	.menu-close {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		display: -webkit-flex;
		-webkit-align-items: center;
		-webkit-justify-content: flex-end;
	}
	.menu-close i {
	    font-size: 34px;
	    color: #82e3e4;
	    top: 3px;
	    right: 30px;
	    cursor: pointer;
	    z-index: 99999;
    }
	.preheader-icons {
    	background-color: #0B366C;
	}
	#main-menu {
		text-align: center;
	}
	#main-menu > li {
		float: none;
		display: block;
	}
	#main-menu li a {
		margin-left: 0;
		line-height: 30px;
		text-align: center;
	} 
	.JSmain-nav {
		top: 40%;
		left: 0;
		bottom: 0;
		max-height: 100%;
		overflow: auto;
	}
	.dropdown-content {
		position: relative;
		margin-left: 0px;
	}
	.hide-at-1024 {
		display: none;
	}
}
 
/*--- MAX WIDTH 860px ---*/
@media screen and (max-width:860px) {
	.single-slide .JSproduct {
		width: 50%;
	}
	.zoomLens, .zoomWindowContainer {
		display: none !important;
	}
	.add-to-cart-area {
		position: relative;
		margin-top: 10px;
	}
	.JScomments-content .comments, .JScomments-content form {
		padding: 0;
	} 
	.policy-shipping {
		text-align: right; 
	}
	.policy-shipping a {
		margin-left: 40px;
	} 
}

/*--- MAX WIDTH 800px ---*/
@media screen and (max-width:861px){
	.JSsearch-button i {
    	font-size: 18px;
	}
	.newsletter button {
		padding: 0px 10px;
	} 
	.list-view-button {
    	margin-left: 3px;
	}
}
 

/*--- MAX WIDTH  720px ---*/
@media screen and (max-width:720px){
 	.icons_technical_support {
        display: none;
	}
}

/*--- MAX WIDTH 640px ---*/
@media screen and (max-width:641px) {
 	.technical_support {
    	flex-direction: column;
    	text-align: center;
	}
	.info {
		width: 100%;
	}	
 
	#JScategories .JStoggler{
		display: block;
	}
	#login-icon span, #registration-icon span {
		display: none;
	}
    .numbers_of_pages {
		margin-bottom: 10px;
	}
	.JSproduct-list-options {
	   box-shadow: none;
	}
	.selected-filters {
	    margin: 2px 0;
	}
	.JSproduct-list.list-view .action-holder {
    	margin: 5px 0;
	}
	.ukupno-konf {
    	width: 186px !important;
	}
	.konfigurator-grupa {
		max-width: 68px;
    	overflow: hidden;
	}
	.konfigurator select {
		width: 100% !important;
	}
	.btn-slider{
		padding: 2px 10px;
   	    top: -28px;
	}
	.baners-div a img{
	   max-height: 100%;
	}
	#JScategories .JSlevel-1, #JScategories .level-3, .header-cart:hover .JSheader-cart-content, .cart-labels {
		display: none;
	}
	#JScategories .JSlevel-2 li {
		width: 100%;
		margin-bottom: 0;
	}
	.JScategories-titile .fa-list-ul, .JScart-item .cart-price{
		display: none;
	}
 	
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
		top: -46px;
	}
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
		right: 38px;
	}
	.JSproduct-list .JSproduct, .JSproduct-list.list-view .JSproduct {
		width: 96%;
		margin: 15px auto;
        float: none;
	}
	.JSproduct-list.list-view .product-content {
		box-shadow: 0px 0px 20px 1px #ddd;
		margin: 15px auto;
	}
	.slick-list {
		margin: 0;
	}
	#JSmain-slider .slick-prev {
		left: 10px;
	}
	.zoomWrapper {
		height: 180px !important;
		line-height: 180px;
	}
	.product-preview-info {
		padding: 0;
	}
	.product-preview-info h2, .product-preview-price-old {
		font-size: 1.2em;
	}
	.product-preview-price-new, .article-heading {
		font-size: 1.4em;
	}
	.JStab-title-description {
		box-shadow: inset 0 -1px 0 0 #ddd;
	}
	.generated-features-list.row {
		margin: 30px 0;
    	text-align: center;
	}
	.generated-features-list{
		border: none;
	}
    .generated-features-list li:nth-child(2) li:nth-child(even) {
        font-weight: bold;
    }
    .generated-features-list li:nth-child(2) li:last-child {
        float: left;
    }
	.product-preview-tabs .generated-features-list .features-list-title {
		height: 32px !important;
		line-height: 32px !important;
		border: 1px solid #9AB2D1;
		color: #000;
	}
	.JStab-titles li.active {
		border: 1px solid #2160AE;		
	}
	.JStab-titles li {
		border: none;
	}
	.tags li {
		margin-bottom: 5px;
	}
	.JScart-item {
		border: solid 1px #ddd;
		margin: 10px 0.9375em;
	}
	.JScart-item div:first-child {
		border-bottom: solid 1px #ddd;
	}
	.JScart-item div:first-child li:last-child {
		border-right: none;
	}
	.below-cart {
		padding: 0 0.9375em;
	} 
	.without-btn .fa {
		font-size: 15px;
	}
	.features-content li {
		width: 100%;
	}
	#map_canvas {
		margin-left: 0.9375em;
		margin-right: 0.9375em;
	}
	.registration-popup-high {
		overflow-y: scroll;
	}
	.registration-popup-high .popup-wrapper, .registration-popup-high .JSpopup-inner {
		top: 0;
		margin: 10px 0;
	}
    .JStab-title-description, .tab-title-tehnicaldoc, .JStab-title-comments {
        width: 100% !important;
    }

	/*----- all categori sidebar  -------*/
	.JScategory-sidebar__list {
		position: fixed;
		top: 50%;
		right: 0px;
		margin-right: -70%;
		width: 70%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: margin 0.2s ease-in-out;
		transition: margin 0.2s ease-in-out;
		padding: 10px;
		margin-bottom: 0px;
	}
	.category-sidebar__list--open {
		margin-right: 0%;
	}
	.category-sidebar__list--open .JScategory-sidebar__list__toggler:before {
		content: "\2192";
	}
	.JScategory-sidebar__list__toggler {
		line-height: 30px;
	    text-align: center;
	    font-size: 18px;
	    width: 35px;
	    height: 35px;
	    position: absolute;
	    top: 50%;
	    left: -35px;
	    background: #FFFFFF;
	    border-radius: 3px 0px 0px 3px;
	    color: #6d7478;
	    font-weight: 700;
	    border: 1px solid #6d7478;
	    cursor: pointer;
	}
	.JScategory-sidebar__list__toggler:before {
		content: "\2190";
	}
	.category-sidebar__list--fix {
		min-width: auto;
	}
	.news-title {
	    font-size: 20px;
	    margin: 16px 0;
	    padding: 0 20px;
	    background: rgba(232, 232, 232, 0.47);
	    top: 0;
	    position: relative;
	}
	.banners-right {
		margin: 20px 0;
	}
	.registration-form-wrapper {
		margin-top: 20px;
	}
	.technical_support h4{
		margin-bottom: 3px;
	} 
	#start-page #JScategories .JSlevel-1 {
    	display: none; 
	}
	.padding {
		padding-right: 0px;
	}
	.cart-summary {
		border-bottom: 1px solid #2160AE;
	}
	.cart-summary:last-child {
		border: none;
	}
	.display-popup:hover .login_popup {
    	visibility: hidden;
    	opacity: 0;
	}
	.summary-amount {
		text-align: right;
	}
	.cart-summary:last-child {
		margin: 0px;
	}
	.baners-div:last-child {
		margin-top: 10px;
	}
	.banners-right a:first-child {
		margin: 5px;
	}
	#JScategories .JSlevel-1 > li.parent:hover:after {
		display: none;
	}
	footer{
		text-align: center;
	}
}

/*--- MAX WIDTH 640px END ---*/
 
/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) {
	.single-slide .JSproduct {
		width: 100%;
	}
  .scrollable {
	    overflow-y: scroll;
	    height: 400px;
	}
	#main-content{
		min-height: 300px;
	}
	.login-form-wrapper, .registration-form-wrapper{
	 	box-shadow: none;
 	}
	 .JSproduct-slider .product-content {
		max-width: 90%;
		margin: 0 auto; 
	}
	.buttons_and_else{
		justify-content: center;
	} 
	.JSproduct-list.list-view .JSproduct .product-details li {
		width: 100%;
	}
	.summary-amount {
		font-size: 1.1em;
	}
	.cart-action-buttons li, .JScart-without-button {
		margin-left: 0px;
	    margin-top: 14px;
	    width: 100%;
	    text-align: center;			
	}
	.cart-action-buttons li a {
		width: 100%;
	}
}

/*-- MEDIAQUERIES END --*/
 
/* ----- ribbon  ----- */

.ribbon {
    position: absolute;
    left: -14px;
    top: 3px;
    z-index: 1;
    overflow: hidden;
    width: 110px;
    height: 94px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}
.ribbon span {
    font-weight: bold;
    color: #FFF;
    line-height: 22px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 114px;
    display: block;
    background: #800000;
    background: linear-gradient(#990000 30%, #b30000 100%);
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 1);
    position: absolute;
    top: 23px;
    right: -24px;
    font-family: arial;
}
.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #660000;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #660000;
}
.ribbon span::after {
  	content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #660000;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #660000;
}

/*------ End of ribbon ------*/
 .preheader-color {
	background-color: #E3E7E9;
}
.header-gradient {
    background: #DCE9FA; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#DCE9FA, #fff); 
    background: -o-linear-gradient(#DCE9FA, #fff); 
    background: -moz-linear-gradient(#DCE9FA, #fff); 
    background: linear-gradient(#DCE9FA, #fff);
}
.JSsearchContent-field {
	background-color: transparent !important;
    border: 1px solid #2160AE !important;
    border-radius: 4px !important;
    color: #2160AE !important;
}
input[type="text"].JSsearchContent-field::-webkit-input-placeholder {
  color: #2160AE;
}
.line-height-login:hover .login_popup {
	visibility: visible;
	opacity: 1;
}
.input-type-radio {
	margin: 0px !important;
	vertical-align: middle;
}
#JSKonfAdd {
	padding: 5px 10px;
    border-radius: 4px;
}
.category__link-group {
	-ms-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
.category__link-group:last-child a {
	border: none;
}
.JScomment_name{
    border-color: #9AB2D1 !important;
}
.comment-message {
	border-color: #9AB2D1;
}
