

/* Header */
#fixed_header {
    padding: 22px 0px;
    width: 100%;
    z-index: 8;
    left: 0px;
    top: 0px;
    background-color: #fff;
    box-shadow: 0px -3px 17px 0px #bbb;
    color: var(--font-color);
}
.animate-header {
    box-shadow: 0px -3px 17px 0px #bbb !important;
}
header .site-navigation {
	display: inline-block;
}
header .site-navigation li {
	display: inline-block;
}
header .dropdown-nav {
	display: inline-block;
}
header .site-navigation li a, header .dropdown-nav a {
	display: block;
    margin: 0px 25px;
    letter-spacing: 1px;
    -webkit-transition: all .1s;
    transition: all .1s;
    line-height: 2.42857; 
    font-size: 1.1em;
    font-weight: 600;
}

#start-page #fixed_header .dropdown-nav > a,
header#fixed_header.animate-header .site-navigation li a,
header#fixed_header.animate-header .dropdown-nav > a,
#start-page #fixed_header.animate-header .site-navigation li a,
header .site-navigation li a {
    color: var(--font-color)
}

#fixed_header .dropdown-nav li a, {
    color: initial !important;
}

#fixed_header .site-navigation li a {
    position: relative;
}
#fixed_header .site-navigation li a:after,
header#fixed_header.animate-header .site-navigation li a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #342f2f;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}


header .dropdown-nav > a {
	padding-right: 0px;
}
header .dropdown-nav > a:after {
    content: '';
    position: absolute;
    width: 130%;
    height: 24px;
    top: 80%;
    left: 0px;
    z-index: 10;
}
header .dropdown-nav > a i {
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 4px;
}
header .site-navigation li:last-child a {
	padding-right: 0px;
}
header .logo {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
}
#start-page header .logo {
    color: #fff;
}
#start-page .animate-header .logo {
    color: var(--font-color);
}
header .logo img {
	max-height: 55px;
}
header .row {
	display: flex;
	align-items: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	display: -moz-flex;
	-moz-align-items: center;
}
header .dropdown-nav li {
	display: block;
}
header .dropdown-nav {
	position: relative;
}
header .dropdown-ul {
    position: absolute;
    top: 100%;
    right: -30%;
    z-index: 1;
    width: 200px;
    box-shadow: 0 8px 25px rgba(0,0,0,.3);
    background-color: #fff;
    display: none;
    padding: 10px 0px;
}

header .dropdown-ul li a {
	padding: 0px 20px 0px 0px !important;
    color: var(--font-color) !important;
}
header .site-navigation .exit {
    display: none;
}
#admin-menu {
    padding: 8px 0px;
    background-color: #cfcecf;
    z-index: 7;
    position: relative;
}
.admin-menu-active {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9; 
}
#admin-menu span {
    padding: 0px 12px;
    font-weight: 600;
}
#admin-menu span:last-child {
    padding-right: 0px;
}


#navigationToggle {
	display: none;
}

/*- Mail slider -*/
.main-slider {
    position: relative;
}
#JSmain-slider {
    margin: 0px;
    box-shadow: 0px 4px 10px 0px #bbb;
}
.slider-link {
    display: inline-block;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    padding: 14px 35px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    font-weight: 600;
    background-color: #ffffff;
    font-size: 1.2em;
}

.JSmain-slider {
    min-height: 70vh !important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    background-color: #65656561;
}
#JSmain-slider .slick-prev:before, #JSmain-slider .slick-next:before {
    content: '';
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next {
    height: 80%;
    width: 30px;
    background-repeat: no-repeat;
    border-radius: 5px;
    top: 53%;
    transform: translateY(-50%);
    z-index: 2;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-prev:hover {
    left: 15px;
    background-image: url('../../../images/large-icons.png');
    background-position: -62px center;
}
#JSmain-slider .slick-next, #JSmain-slider .slick-next:hover {
    right: 15px;
    background-image: url('../../../images/large-icons.png');
    background-position: -110px center;
}

.slider-desc-div {
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    display: -webkit-inline-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.slider-desc-div .main-desc {
    font-size: 4em;
    margin-bottom: 20px;
    background-color: #f9f7fac2;
    padding: 10px 60px;
}
.slider-desc-div .short-desc {
    font-size: 1.2em;
    padding: 10px 40px;
    background-color: #f9f7fac2;
    margin-bottom: 34px;
}
.main-slider .scroll-down-div {
    position: absolute;
    bottom: 8%;
    z-index: 6;
    width: 100%;
}
.main-slider .scroll-down {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-justify-content: center;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
.JSScrolDown {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    display: -webkit-inline-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    height: 70px;
    width: 50px;
}
/* End of slider */

/* Action section */
.action-heading {
    font-size: 2.5em;
    line-height: 1;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: black;
    position: relative;
}
.action-heading:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background-color: var(--link-hover);
    display: block;
    left: 50%;
    bottom: 7px;
    transform: translate(-50%, -50%);
}

/* End of Action section */


.pagination>.disabled>a:hover {
    background-color: #eee;
}
/*- NEWSLETTER -*/
.newsletter {
    padding: 50px 0px;
    background-color: var(--light-gray);
}
.newsletter h5 {
	font-size: 28px;
    line-height: 32px;
    margin-bottom: 12px;
}
.newsletter p {
	font-size: 1.1em;
    line-height: 32px;
}
.newsletter-form {
    max-width: 600px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
   	border: 1px solid #e3e3e3;
   	border-radius: 3px;
}
.newsletter-form input:focus    {
	border: 1px solid var(--link-hover)
}
.newsletter-form input {
    height: 56px;
    padding-left: 26px;
	padding-right: 150px;
	border: none;
	box-shadow: none;
	font-size: 16px;
	border: 1px solid transparent;
}
.newsletter-form input:focus {
    box-shadow: none;
}
.newsletter-form button {
    position: absolute;
    right: 0px;
    color: #fff;
    text-transform: uppercase;
    top: 0;
    height: 100%;
    letter-spacing: 1.5px;
    border: 0px;
    background-color: var(--link-hover);
    display: inline-block;
    padding: 0px 24px;
}

.newsletter-form button:hover {
    background-color: #5cbef3;
}
/*--- Footer ---*/
footer{
	background-color: var(--footer_bg);
   
}
footer .logo {
    display: block;
    padding-bottom: 24px;
    padding-top: 5px;
}
footer .logo img {
    max-height: 60px;
    height: 100%;
}
@media (min-width: 998px) {
    .footer-desc-div {
        padding-bottom: 20px;
    }
}
.footer-title {
    font-size: 20px;
    padding-bottom: 24px;
    padding-top: 5px;
    font-weight: 600;
    color: #333;
}
.footer-title:after {
    content: '';
    display: block;
    width: 35px;
    height: 1px;
    background: var(--categories_title_bg);
    margin-top: 12px;
}
footer li, footer p, .footer-content a {
	transition: all 0.1s;
}

footer .footer-desc-div p{
    line-height: 28px;
    width: 82%;
    font-size: 0.9em;
}
footer .footer-content {
	padding: 75px 0px;
	background-color: var(--light-gray);

}
footer .below-footer {
	padding: 30px 0px;
	background-color: #272a33;
}
footer .below-footer, footer .below-footer a,  footer .below-footer p {
    color: #bbb;
    font-weight: normal;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
footer .below-footer a:hover {
	color: #a7a7a7;
}
footer .contact-div span {
	display: block;
	margin-bottom: 12px;
}
footer .contact-div span:last-child {
	margin-bottom: 0px;
}
footer a.mailto:hover {
    color: var(--link-hover);
}
footer .contact-div span i {
	margin-right: 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    color: #3d3d3d;
}
.footer-links li a {
	display: inline-block;
	margin-bottom: 12px;
}
.footer-links li:last-child  a {
	margin-bottom: 0px;
}
footer .social-icons .footer-title {
	padding-bottom: 0px;
}
footer .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    padding: 0px;
    width: 37px;
    height: 37px;
    border: 1px solid gray;
}
footer .social-icons i {
	font-size: 18px;
    color: #3d3d3d;
}
footer .social-icons a:hover {
	background: var(--categories_title_bg);
	border-color: var(--link-hover);
}
footer .social-icons a:hover i {
	color: var(--link-hover);
}



/* Not found page */
.not-found-page {
    padding: 30px 0px 60px;
    min-height: 580px;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: -moz-flex;
    -moz-align-items: center;

}
.not-found-page .title {
    padding-top: 0px;
}
.not-found-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* Contact-page */
.contact-page {
    padding: 30px 0px 80px;
}
.contact-form label {
    display: block;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 6px;
}
.contact-form input {
    width: 95%;
    line-height: 30px;
}
.contact-form textarea {
    width: 97%;
    min-height: 200px;
}

.contact-form .textarea-div {
    padding-top: 24px;
    margin: 0px;
}
.contact-form .orange-btn {
    margin-top: 20px;
    padding: 10px 2em;
    font-size: 1em;
}
.contact-info .more-info-div {
    padding: 8px 0px;
    color: var(--light-font-color);
}
.contact-info .more-info-div:first-of-type{
    padding-top: 0px;
}
.contact-info .more-info-div span {
    line-height: 22px;
    padding: 0px;
}
.contact-info .call-center span {
    font-size: 16px;
}
.contact-info .more-info-div span:last-child {
    font-weight: 500;
}
.contact-info {
    padding-bottom: 30px;
}
.contact-info:last-child {
    padding-bottom: 0px;
}
.contact-heading {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    color: var(--font-color);
    margin: 15px 0 10px;
}
.contact-page .mailto {
    color: var(--light-font-color);
}
.contact-page .mailto:hover {
    color: var(--link-hover);
}
/* News page */
.news-page {
    padding: 30px 0px 80px;
    min-height: 580px;
}
.news-page .blog-flex {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}
.single-news-on-page {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    display: -webkit-flex;
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-start;
    width: 47%;
    margin-right: 3%;
    margin-top: 60px;
    background-color: #f7f7f7;
    overflow: hidden;
    box-shadow: 0px 1px 7px -1px #bbb;
}
.single-news-on-page:nth-of-type(2n+0) {
    margin-right: 0px;
}

.single-news-on-page .image-div {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    width: 50%;
}
.single-news-on-page .single-news-content {
    width: 50%;
    padding: 15px 10px 46px 15px;
    height: 100%;
    position: relative;
}
.single-news-on-page .image-div img  {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    width: 100%;
}
.single-news-on-page .image-div:hover img {
    transform: scale(1.05);

}
.single-news-on-page .title-new {
    font-size: 1.4em;
    display: block;
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    margin: 0px 0px 3px;
    overflow: hidden;
    font-weight: 800;
    line-height: 1.2;
}
.single-news-on-page .title:hover {
    color: var(--background-blue);
}
.single-news-on-page .short-description {
    line-height: 24px;
    color: #4a4a4d;
    min-height: 120px;
}
.more-news-div {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}
.single-news-on-page .more-news-div a {
    color: var(--link-hover);
    font-weight: 600;
    line-height: 22px;
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    text-transform: uppercase;
    padding: 12px 20px;
    display: inline-block;
}
/* End of News page */

/* Single news page */
.single-news-section {
    padding: 0px 0px 80px;
}
.single-news-section .title {
    text-align: left;
}
.single-news-section .page-heading {
    margin-bottom: 40px;
}

.single-news-section .single-news {
    max-width: 1025px;
    margin: 0px auto;
}
.single-news-section .single-news p {
    margin-bottom: 24px;
    line-height: 24px;
    font-size: 1.1em;
}
.single-news-section .blog-bg {
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.single-news-section .single-news .create-news-date {
    margin-bottom: 0px;
    text-align: right;
    padding-top: 30px;
    font-size: 1em;
}
.single-news-section .single-news .create-news-date .txt {
    margin-right: 5px;
    display: inline-block;
}
.single-news .create-news-date .all-news {
    float: left;
    color: #8f8f93;
}
.single-news .create-news-date .all-news i {
    margin-right: 10px;
    font-size: 12px;
}
.single-news .create-news-date .all-news:hover {
    color: var(--link-hover)
}
.share-news-div {
    padding-top: 20px;
}

.share-news-div h3 {
    display: block;
    font-size: 1.4em;
    line-height: 26px;
    margin-bottom: 12px;
}
.share-news-div a {
    line-height: 22px;
    margin-right: 3px;
    color: #8f8f93;
}
.next-prev-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px 30px;
    font-size: 1.1em;
    line-height: 24px;
    font-weight: 500;
    flex-wrap: wrap;
}

.next-prev-news i {
    color: #8f8f93;
}

.next-prev-news .prev-div a {
    padding-left: 15px;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
}
.next-prev-news .prev-div:hover > * {
    color: var(--link-hover);
}
.next-prev-news .next-div:hover > *{
    color: var(--link-hover)
}

.next-prev-news .next-div a {
    padding-right: 15px;
}

/* More post */
.more-post-div {
    float: initial;
    margin: 0px auto;
    max-width: 1060px;
    padding: 0px 10px;
}
.more-post-div .more-post-heading {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 35px;
}
.more-post-div .more-post-title {
    line-height: 24px;
    display: inline-block;
    margin-top: 5px;
}
.more-post-div .more-post-content .more-post-link {
    overflow: hidden;
    display: block;
    transition: -webkit-all 0.2s;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.more-post-content {
    position: relative;
}

.more-post-div .more-post-heading {
    padding: 0px 15px;
}

/* End of single news on home page */
.section-news {
    padding: 60px 0px 45px;
}

.section-news .single-news {
    margin: 0px 18px;
}
.section-news .multiple-items-news {
    padding-top: 12px;
}
.section-news .image-div {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.section-news .image-div:hover {
    transform: scale(1.02);
}
.section-news .image-div img {
    display: block;
    width: 100%;
    max-height: 250px;
}
.section-news .image-div:hover img {
    transform: scale(1.04);
    transition: all 0.2s;
}
.section-news .news-title {
    font-size: 1.1em;
    color: #29292a;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.create-news-date {
    color: #8f8f93;
    line-height: 20px;
    font-size: 0.9em;
    margin-bottom: 5px;
    display: block;
}
.create-news-date > span {
    margin-right: 5px;
    display: inline-block;
}
.section-news .slick-next, .section-news .slick-prev, .single-news-slider .slick-next, .single-news-slider .slick-prev {
    display: inline-block;
    position: absolute;
    top: 42%;
    z-index: 4;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.07);
    background-color: #fff !important;
    padding: 0px;
    border-radius: 50%;
}
.section-news .slick-next:hover, .section-news .slick-prev:hover,  .single-news-slider .slick-next:hover, .single-news-slider .slick-prev:hover {
    background-color: #f9f9f9 !important;
}
.section-news .slick-next, .single-news-slider .slick-next {
    right: -10px;
}
.section-news .slick-prev, .single-news-slider .slick-prev  {
    left: -10px;
}
.section-news .slick-prev:before, .single-news-slider .slick-prev:before {
    content: '';
    border: solid var(--link-hover);
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    top: 18px;
    left: 20px;
    position: absolute;
}
.section-news .slick-next:before, .single-news-slider .slick-next:before {
    content: '';
    border: solid var(--link-hover);
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    top: 18px;
    left: 17px;
    position: absolute;
}

/* Title */
.title {
    font-size: 3em;
    font-weight: 800;
    padding: 30px 0px 30px;
    text-align: center;
}

/*--- Contact page ---*/
#bounce_map_canvas {
    height: 400px;
    margin: 60px 0 25px;
}


/* Baners */
.banner-desc {
    margin: 0px auto;
    text-align: center;
}

.banners .banners-bg {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: saturation;
    background-color: #65656561;
}
.baners-desc-div {
    height: 100%;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.banners .main-desc {
    font-size: 3em;
    margin-bottom: 30px;
    background-color: #f9f7fa99;
    padding: 10px 60px;
}
.banners .short-desc {
    font-size: 1.2em;
    padding: 10px 40px;
    background-color: #f9f7fa99;
    margin-bottom: 30px;
    display: inline-block;
}
.banners .baner-link {
    display: inline-block;
    border: 2px solid #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff !important;
    letter-spacing: 1px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    font-weight: 700;
}
.banners .baner-link:hover {
    border-color: var(--link-hover);
    color: var(--link-hover) !important;
}

/* New content */
.new-content {
    padding: 40px 0px 80px;
    min-height: 580px;
    max-width: 1025px;
    margin: 0px auto;
}
.new-content p, .new-content ul li {
	font-size: 1em;
}
.new-content img {
	max-width: 100%;
    max-height: 300px;
    display: block;
}

/* About us page */
.about-us-page {
    padding-top: 30px;
}
.about-us-page .member-div .img-frame {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 5px 0px #bbb;
}

.about-us-page .team-name {
    display: block;
    font-size: 1.4em;
    font-weight: 800;
    padding: 8px 0px 6px;
}
.about-us-page .team-desc {
    display: block;
    color: var(--light-font-color);
    line-height: 24px;
    font-size: 1.1em;
}
.about-us-page .about-short-desc {
    max-width: 960px;
    margin: 0px auto;
    text-align: center;
    color: var(--light-font-color);
    line-height: 30px;
    font-size: 1.2em;
    padding: 20px 0px 50px;
}
.about-us-page .about-text-div {
    padding: 60px 0px;
}
.about-us-page .about-text {
    color: var(--light-font-color);
    line-height: 30px;
    font-size: 1.1em;
}
.about-us-page .about-list-div {
    padding: 40px 0px;
    background-color: var(--light-gray);
    margin-top: 60px;
}
.about-us-page .about-page-list {
    color: var(--light-font-color);
    padding-left: 20px;
    font-weight: 600;
}
.about-us-page .about-page-list li {
    padding: 10px 0px;
}
/* .about-us-page .about-page-list li {
    list-style: disc;
} */
.about-us-page .about-page-list li::before {
    content: "•";
    color: var(--link-hover);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 1.5em;
    vertical-align: middle;
}
.about-us-page .img-div {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.about-us-page .img-div img {
    max-height: 100%;
}

/* Kzm section */
.kzm-section {
    text-align: center;
    padding: 60px 0px;
}
.kzm-section .main-desc {
    max-width: 960px;
    margin: 0px auto;
    text-align: center;
    color: var(--light-font-color);
    line-height: 30px;
    font-size: 1.2em;
    padding-top: 40px;
}
.kzm-section .heading {
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 1;
}
.kzm-section .short-desc {
    color: var(--light-font-color);
    font-size: 1.2em;
}

/* features-section */
.features-section {
    padding: 50px 0px 70px;
}
.features-section .short-desc {
    max-width: 960px;
    margin: 0px auto;
    text-align: center;
    color: var(--light-font-color);
    line-height: 30px;
    font-size: 1.1em;
}
.features-section .features-content {
    margin: 0px auto;
    text-align: center;
    padding-top: 50px;
}
.features-section .features-content .heading {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 10px;
}
.features-section .features-content .desc {
    padding-top: 10px;
    line-height: 26px;
    color: var(--light-font-color);
    padding: 10px 10px 0px 10px;
}
.features-section .features-content .icon {
    font-size: 33px;
    color: var(--link-hover);
}

/* About-us section */
.about-us-section {
    padding: 60px 0px;
}
.about-us-section .desc-div .heading {
    font-size: 2em;
    margin-bottom: 24px;
    display: block; 
}
.about-us-section .desc-div .desc {
    color: var(--light-font-color);
    line-height: 26px;
    margin-bottom: 30px;
}
.about-us-section .desc-div .listing {
    color: var(--light-font-color);
    line-height: 38px;
    margin-bottom: 30px;
}
.about-us-section .desc-div .listing li {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.about-us-section .desc-div .listing .icon {
    font-size: 7px;
    color: var(--link-hover);
    margin-right: 10px;
}
.about-us-section .img-div {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.about-us-section .img-div img {
    max-height: 100%;
}

/* team section */
.team-section {
    padding: 60px 0px 60px;
    background-color: var(--light-gray);
}
.team-section .short-desc {
    max-width: 960px;
    margin: 0px auto;
    text-align: center;
    color: var(--light-font-color);
    line-height: 30px;
    font-size: 1.1em;
}
.team-section .team-content {
    margin: 0px auto;
    text-align: center;
    padding-top: 50px;
}
.team-section .team-content .team-img-div {
    border-radius: 50%;
    overflow: hidden;
    width: 230px;
    height: 230px;
    margin: auto;
}
.team-section .team-content .team-img-div img {
    max-height: 230px;
    margin: auto;
}
.team-section .team-content .heading {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 10px;
}
.team-section .team-content .desc {
    padding-top: 10px;
    line-height: 26px;
    color: var(--light-font-color);
    padding: 10px 10px 0px 10px;
}
.team-section .team-content .icon {
    font-size: 33px;
    color: var(--link-hover);
}

/* About us 2 section */
.about-us2-section {
    padding: 60px 0px;
}
.about-us2-section .desc-div .heading {
    font-size: 2em;
    margin-bottom: 24px;
    display: block; 
}
.about-us2-section .desc-div .desc {
    color: var(--light-font-color);
    line-height: 26px;
    margin-bottom: 30px;
}
.about-us2-section .desc-div .listing {
    color: var(--light-font-color);
    line-height: 38px;
    margin-bottom: 30px;
}
.about-us2-section .desc-div .listing li {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.about-us2-section .desc-div .listing .icon {
    font-size: 7px;
    color: var(--link-hover);
    margin-right: 10px;
}
.about-us2-section .img-div {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.about-us2-section .img-div img {
    max-height: 100%;
}


/* About us 3 section */
.about-us3-section {
    padding: 60px 0px 70px;
}
.about-us3-section .short-desc {
    max-width: 960px;
    margin: 0px auto;
    text-align: center;
    color: var(--light-font-color);
    line-height: 30px;
    font-size: 1.1em;
}
.about-us3-section .about-us3-content .heading {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    margin-bottom: 12px;
}
.about-us3-section .about-us3-content .heading i {
    font-size: 24px;
    color: var(--link-hover);
    margin-right: 12px;
}
.about-us3-section .about-us3-content .heading h3 {
    display: inline-block;
    font-size: 1.8em;
}
.about-us3-section .about-us3-content .desc {
    color: var(--light-font-color);
    line-height: 30px;
    font-size: 1.1em;
}
.about-us3-section .about-us3-content .row {
    margin-top: 50px;
}

/* separe div */
.separe-div {
    background-color: var(--link-hover);
    color: #fff;
    padding: 45px 0px;
    text-align: center;
}   
.separe-div .heading {
    font-size: 1.9em;
    font-weight: 600;
    margin-bottom: 20px;
}
.separe-div .desc {
    font-size: 1.1em;
}



@media (min-width: 1200px) {
	.container {
	    padding-left: 20px;
	    padding-right: 20px;
	    max-width: 100%;
	}
}

@media (max-width: 1200px) {
    footer .social-icons a {
        margin-top: 8px;
    }

    .section-news .single-news {
        margin: 0px 18px;
    }
    .section-news .slick-next, .section-news .slick-prev, .single-news-slider .slick-next, .single-news-slider .slick-prev {
        width: 40px;
        height: 40px;
    }
    .section-news .slick-next:before, .single-news-slider .slick-next:before {
        top: 15px;
        left: 12px;
    }
    .section-news .slick-prev:before, .single-news-slider .slick-prev:before {
        padding: 4px;
        top: 15px;
        left: 16px;
    }
    .section-news .slick-next, .single-news-slider .slick-next {
        right: -5px;
    }
    .section-news .slick-prev, .single-news-slider .slick-prev {
        left: -3px;
    }
}

@media (min-width: 1024px) {
    body.modal-open {
        overflow-y: auto;
        margin-right: -17px;
        overflow-x: hidden;
    }
    #fixed_header .site-navigation li a:hover:after,
    header#fixed_header.animate-header .site-navigation li a:hover:after {
        width: 100%;
    }
    .single-news-on-page .image-div:hover {
        transform: scale(1.02);
    }
    .single-news-on-page .more-news-div a:hover {
        color: #fff;
        background-color: #585858;
    }
    #JSmain-slider .slick-prev:hover, #JSmain-slider .slick-next:hover {
        background-repeat: no-repeat;
        opacity: 1;
        background-color: #b3b3b373;
    }
    .more-post-div .more-post-content .more-post-link:hover {
        transform: scale(1.02);
    }
}

/*---------- MEDIAQUERIES ----------*/

@media screen and (max-width:1024px) {
    .contact-form input, .contact-form textarea {
        width: 100%;
    }
    .contact-form .textarea-div {
        padding-top: 0px;
    }
    .contact-form .frm-control {
        margin-top: 32px;
    }
     .title {
        font-size: 3em;
    }
    .JSproduct:hover {
        box-shadow: none;
    }
    .contact-form {
        padding-bottom: 40px;
    }

    .newsletter-form {
        margin: 30px 0px 0px;
    }
    .newsletter-form button {
        padding: 0px 20px;
        font-size: 12px;
    }
    .newsletter-form input {
        padding-left: 15px;
        padding-right: 115px;
    }
    .action-heading {
        font-size: 2.8em;
    }
	.body-overlay {
	    position: fixed;
	    background-color: #7d7d7d8c;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    z-index: 50;
	    display: none;
        left: 0;
	}

	/* Side navigation */
	body {
		position: relative;
		transition: all 0.4s;
		right: 0px;
	}
	#navigationToggle {
		display: inline-block;
		margin-left: 30px;
		cursor: pointer;
        font-size: 2em;
	}
    .header-cart .cart-icon {
        font-size: 2em;
    }
	header .site-navigation li {
	    display: block;
	    text-align: left;
	}
	header .site-navigation {
		position: fixed;
	    z-index: 100;
	    height: 100%;
	    right: -300px;
	    top: 0;
	    background-color: #fff;
	    transition: all 0.4s;
	    padding: 30px;
        overflow-y: overlay;
	}
	header .site-navigation .exit {
        position: absolute;
        right: 14px;
        top: 8px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
	}
    #start-page #fixed_header .site-navigation li a {
        color: var(--body-color);
    }

    header .site-navigation li a:hover, 
    header .dropdown-nav > a:hover,
    header .dropdown-ul li a:hover, 
    .header-cart > a:hover .desc {
        color: initial;
    }
    header .site-navigation li a:active, 
    header .dropdown-nav > a:active,
    header .dropdown-ul li a:active, 
    .header-cart > a:active .desc,
    header#fixed_header.animate-header .site-navigation li a:active {
        color: var(--link-hover);
    }
    header#fixed_header.animate-header .site-navigation li a {
        color: var(--font-color);
    }
}  

@media only screen and (min-width: 991px) {
    .contact-info:last-child {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 991px) {
    .single-news-on-page {
        width: 100%;
        margin-right: 0px;
    }
    .about-us-page .img-div {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 768px){
    .slider-desc-div .main-desc {
        font-size: 3em;
    }
    .slider-desc-div .short-desc {
        font-size: 1.2em;
    }
    .slider-link {
        font-size: 1.1em;
    }
    .banners .main-desc {
        font-size: 2.2em;
    }
    .banners .short-desc {
        font-size: 1.2em;
    }
    .banners .center-block:last-child a {
        margin: 0px;
    }
    .contact-info {
        margin: 0px;
    }
    .contact-info .contact-info-div {
        margin-bottom: 30px;
    } 
    .contact-info .contact-info-div:last-child {
        margin-bottom: 0px;
    } 
    #bounce_map_canvas {
        margin-top: 50px;
    }
    .banners a {
        margin-bottom: 33px;
    }

	.footer-content [class*="col-"] {
		margin-bottom: 35px;
	}
	footer .footer-content {
	    padding: 35px 0px 14px;
	}
	.footer-title {
		padding-bottom: 8px;
	}
    .about-us-page .about-page-list {
        line-height: 1;
    }
    .about-us-page .about-page-list li {
        margin-bottom: 5px;
    }
}
@media only screen and (max-width:680px) {
	.single-news-on-page {
		margin-right: 0px !important;
		width: 100%;
	}
    .action-heading {
        font-size: 2.5em;
    }
}

/*--- MAX WIDTH 640px ---*/
@media only screen and (max-width:640px) {
    header .logo img {
        max-width: 135px;
    }
    .slider-desc-div .main-desc {
        font-size: 2.5em;
        padding: 10px 30px;
        width: 90%;
    }
    .slider-desc-div .short-desc {
        padding: 10px 20px;
        width: 90%;
    }
    .JSmain-slider {
        min-height: 100vh !important;
    }
    .slider-desc-div {
        bottom: 28%;
    }
    .article-heading {
        font-size: 26px;
    }
    .about-us-page .member-div {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }
    .about-us-page .member-div:last-child {
        margin-bottom: 0px;
    }
}  
/*-- End of max-width 640 --*/

@media screen and (max-width: 520px) {
    .single-news-on-page {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .single-news-on-page .image-div {
        height: 230px;
        width: 100%;
    }
    .single-news-on-page .single-news-content {
        height: initial;
        width: 100%;
        padding-right: 15px;
    }
}

/*--- Max width 480px ---*/
@media screen and (max-width: 479px) {
	h2 {
		font-size: 1.4em;
    }
    .action-heading {
        font-size: 2em;
        margin-bottom: 0px;
    }
    .slider-desc-div .main-desc {
        font-size: 2em;
    }
    .slider-desc-div .short-desc {
        font-size: 1em;
    }
    .banners .main-desc {
        font-size: 1.6em;
    }
    .banners .short-desc {
        font-size: 1em;
    }
    .about-us-page .img-div {
        height: 300px;
    }
    .about-us-page .img-div {
        margin-top: 2px;
    }
}


