body {
	background-color: #efefef;
}

#JSmain-slider .slick-prev, #JSmain-slider .slick-next, footer,
button.company-registration {
	background-color: #5480bf;
}
 
#JScategories .JSlevel-2 > li > a, .breadcrumbs li a,
.product-preview-info li a, .cart-name a, .summary-amount,
.login-form .forget-password, .JSheader-cart-content li a,
#logged-user {
	color: #5480bf;
}

p a {
	color: #f1b64f;
}
 
.submit, .JSsearch-button, .JSproduct-slider .slick-prev,
.JSproduct-slider .slick-next, .add-to-cart-area .JSadd-to-cart,
input.submit, .pagination li a, button.person-registration, .JScart-more-icon,
.submit-order-button, a.JSreset-filters-button {
	background-color: #5480bf;
}

/* KONFIGURATOR */

.konfigurator tr {
	margin: 0;
	padding: 0 0px;
}
.konfigurator td {
	margin: 0;
	padding: 0 2px;
}
.konfigurator select {
    width: 300px;
    margin: 10px 0;
}

.konfigurator .JSKolicina {
	margin-bottom: 0px;
    text-align: center;
}

.dodaj-konf {
	padding: 5px 10px;
	float: right;
}

.ukupno-konf {
	float: right;
	margin-left: 15px;
}

#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	font-size: 23px;
	font-weight: bold;
	color: #5480bf;
	line-height: 1;
}
.ukupno-konf p {
	margin-bottom: 0;
}
.ukupno-konf-div {
	background-color: #fff;
	padding: 10px;
}
.JSGrupaAdd, .JSArtDetails {
	cursor: pointer;
	color: #20A1FF;
}
.JSGrupaRemove {
	cursor: pointer;
	color: red;
}
.JSKolicina {
	width: 40px !important;
}
.select-wrapper {
	display: inline;
}
.slick-slider {
	margin-bottom: 10px;
}

.slick-track {
	margin-bottom: 10px;
}


