/* STYLE.CSS v.1.0.0 */

/*---------- GENERAL STYLES ----------*/

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #222;
	background: #efefef;
	-webkit-font-smoothing: antialiased;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #5680BF;
	outline: none;
}
ul {
	list-style-type: none;
	margin: 0; 
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', Arial, sans-serif;
}
h1 {
	font-size: 1.8em;
}
h2 {
	padding: 8px 24px;
    margin: 0;
    font-size: 18px;
    color: #fff;
    background: #5480bf;
}
/*==================*/
.capcha > div{
    border: 1px solid #ddd;
    background: #f0f0f0;
    padding: 10px;
    box-shadow: 1px 1px 4px #ddd;
    margin: 25px 0;
}
.capcha > div input[type="text"]{
	width: auto;
	display: inline-block;
	margin: 0 5px;
}
.capcha > div img{
	margin: 5px;
}
/*==================*/
.article-heading {
    padding: 10px 0;
    margin: 0 0 5px;
    font-size: 20px;
    color: #5480bf;
    background: #fff;
}
.h2-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}
h3 {
	padding: 2px 10px;
	font-size: 1.3em;
	background: #f0f0f0;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/*--- FOUNDATION OVERRIDES ---*/
.medium--0-5,
.small--0-5,
.large--0-5 {
	width: 4.166665;
}

.row {
	max-width: 100%;
}
.row .row {
	margin: 0;
}
 
button {
	padding: 2px 4px;
	color: #fff;
	border-color: #bbb;
	background-color: #5480bf;
	outline: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
button:hover {
	background-color: #5480bf;
	opacity: .8;
}
button:focus {
	background-color: #ccc;
	opacity: 1;
}
label {
	color: #999;
	padding: 5px 0;
}
input, textarea {
	box-shadow: none !important;
}
input[type="text"] {
	margin-bottom: 0;
	color: #999;
	font-size: .9em;
}
button.submit {
	float: right;
    padding: 8px 18px;
	color: #fff;
	font-size: .9em;
	border: none;
}
@media only screen and (-webkit-min-device-pixel-ratio:1) {
	::i-block-chrome, input {
		line-height: 1 !important;
	}
}
textarea {
	resize: none;
	font-size: .9em;
}
select, select:hover, select:focus {
	font-size: .9em;
	outline: none;
	background-color: #fff;
}
.select-wrapper span {
	display: none;
}
@-moz-document url-prefix() {
	.select-wrapper {
		display: block;
		position: relative;
	}
	.select-wrapper span {
		position: absolute;
		width: 24px;
		height: 94%;
		top: 1px;
		right: 1px;
		background-color: #fff;
		background-image: url('../../../images/mini-icons.png');
		background-position: 0 -269px;
		background-repeat: no-repeat;
		pointer-events: none;
		z-index: 999;
	}
}

/*---------- FEATURES ----------*/

/*--- POPUP ---*/

.popup {
	position: fixed;
	display: block;
	width: 100%;
	height: 0;
	left: 0;
	top: -2000px;
	overflow: hidden;
	background: rgba(0, 0, 0, .85);
	z-index: 9999999999999;
}
.popup-opened {
	top: 0;
	height: 100%;
}
.popup-wrapper {
	left: 50%;
	top: 50%;
	position: relative;
}
.JSpopup-inner {
	left: -50%;
	top: -50%;
/* 	padding: 20px; */
	position: relative;
	background: #fff;
}
.popup-close {
    position: absolute;
    right: 8px;
    top: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 25px;
    color: #5A5A5A;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: none;
}
.popup-close:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.popup h3 {
	padding: 3px 10px;
	font-size: 1.2em;
	background: #f0f0f0;
}
.popup .submit, .popup input.submit[type="submit"] {
	font-size: .9em;
}
.popup label {
	font-size: .9em;
	font-style: italic;
}
.popup input, .popup select {
	margin-bottom: 10px;
}
.popup input.submit[type="submit"] {
	padding: 2px 4px;
}

/*--- FANCYBOX ---*/
.fancybox-overlay {
	z-index: 999999999;
}
.fancybox-overlay-fixed {
	background: rgba(0, 0, 0, .7);
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../../../images/fancybox/fancybox_sprite.png');
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}
.bw{
	background-color: #fff;
}
/*--- PRODUCT SLIDER ---*/
.JSproduct-slider {
	margin-top: 10px;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
	height: 20px;
	width: 20px;
	top: -47px;
	background: #5480bf;
	background-position: center center;
	background-repeat: no-repeat;
}
.JSproduct-slider .slick-prev:hover, .JSproduct-slider .slick-next:hover {
	background: #5480bf;
	background-repeat: no-repeat;
	opacity: .8;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
	right: 35px;
	left: auto;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -327px;
}
.JSproduct-slider  .slick-next, .JSproduct-slider .slick-next:hover {
	right: 10px;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -352px;
}
.JSproduct-slider .slick-prev:before, .JSproduct-slider .slick-next:before {
	content: '  ';
}
.JSproduct-slider .product-content {
	margin: 6px 10px;
 
}
.single-slide .JSproduct {
	width: 25%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.slick-slider img {
    margin: 0 auto;
}

/* BANNER */
.banners a {
	display: block;
	margin: 10px 0;
	padding: 5px;
}
.banners{
	display: none;
}
#start-page .banners{
	display: block;
}
.banners img{
	max-width: 100%;
}
.banners a:first-child {
	margin-top: 0px;
}

/*--- FILTERS ---*/
.filters {
	margin: 0;
	padding: 10px;
}
 
.filters .filter-box {
	padding: 0;
    border-bottom: 1px solid #bbb;
}
.filter-info {
	color: #000;
	font-weight: bold;
	font-size: .9em;
}
.filter-info p {
	font-size: .8em;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #C01112;
}
.selected-filters-title {
	font-weight: normal;
}
.selected-filters-wrapper {
    border-radius: 3px;
    background: #fff;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
}
.no-articles{
	padding: 20px;
    color: #000;
}
.selected-filters li {
	display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 25px;
    padding: 0 9px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin: 5px 0;
}
.selected-filters li i.fa {
	cursor: pointer;
	float: right;
	font-size: 16px;
	line-height: 25px;
	padding-left: 8px;
	color: rgba(0, 0, 0, 0.6);
}
 
.label-field {
	font-size: .7em;
	display: block;
	font-weight: bold;
	line-height: 25px;
	color: #8F8F8F;
	background: #F1F1F1;
}
 
.filters .label-field {
    font-size: 14px;
    color: #222;
    font-weight: normal;
    padding: 5px 15px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: flex;
    -webkit-transition: background, color, 0.15s ease-in-out;
    transition: background, color, 0.15s ease-in-out;
}
.filters .label-field:hover {
	background: #FAFAFA;
}
.label-field__arrow {
	font-size: 20px;
	line-height: 25px;
	transition: color, 0.2s ease-in-out, -webkit-transform;
	-webkit-transition: color, 0.2s ease-in-out, -webkit-transform;
	transition: color, transform, 0.2s ease-in-out;
	transition: color, transform, 0.2s ease-in-out, -webkit-transform;
}
.filters li .JSselect-field {
	text-indent: 10px;
	float: right;
	display: block;
	padding: 0;
	height: 24px;
	width: 200px;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	color: #999;
	background-color: #fff;
	border: solid 1px rgb(169, 169, 169);
	cursor: pointer;
	background-image: url('../../../images/select-arrow.png');
	background-position: 180px center;
	background-repeat: no-repeat;
}
.active-filters {
	font-size: .8em;
	font-style: italic;
}
.filters li .JSmultiselect {
 
	-webkit-transition: max-height 0.2s ease-in-out;
	transition: max-height 0.2s ease-in-out;
}
.filters li .JSmultiselect label a {
	cursor: default;
}
.filters .filter-box:before {
	display: none;
}
.JSmultiselect {
	width: 100%;
	background: white;   
	padding: 0 5px;   
}
.m-hidden {
	z-index: -9999;
	display: none;
	top: 50px;
}
.m-shown {
	display: block;
	z-index: 9999;
	top: 25px;
}
.JSmultiselect label {
	padding: 3px 5px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.filter-text {
	-webkit-box-flex: 1;
    flex: 1;
	margin: 0px;
	font-size: 13px;
}
.JSmultiselect label input {
	margin-right: 6px;
}
.JSmultiselect label input:checked {
	background: #808080;
}
.JSmultiselect label:hover {
	background: #fff;
}
.filter-price {
	position: relative;
	padding: 10px 0;
	color: #fff;
}
.filters .btn-container {
	text-align: center;
}
a.JSreset-filters-button {
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 15px;
	margin: 15px 0;
	border-radius: 2px;
}
.filter-box.open .label-field {
	color: #2980b9;
}
.filter-box.open .label-field__arrow {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	color: #2980b9;
}

/*---------- SECTIONS ----------*/

/*--- MAIN WRAPPER ---*/

#main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background: #efefef;
}

/*--- PREHEADER ---*/
#JSpreheader {
	padding: 3px 0;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	display: -webkit-flex;
    -webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

/*- MAIN MENU -*/
#main-menu li {
	display: inline-block;
}
#main-menu li:after {
	display: inline-block;
	padding: 0 7px;
}
#main-menu li:last-child:after {
	display: none;
}
#main-menu li a {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
}

.choosed_filter {
	color: red;
}

/*- LOGIN & REGISTRATION ICONS -*/
#login-icon, #registration-icon {
    color: #222;
    position: relative;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}
#login-icon span, #registration-icon span {
	margin-right: 15px;
	margin-left: 5px;
	font-size: .8em;
}
#login-icon:hover, #registration-icon:hover {
	color: #ffa500;
}
 
#logout-button {
	padding: 2px 5px;
	color: #000;
	display: inline-block;
	font-size: .8em;
	background: #fff;
	box-shadow: 1px 1px 5px #bbb;
}
.logged-user, #logged-user {
	font-size: .8em;
	padding-right: 5px;
	display: inline-block;
}

/*--- HEADER ---*/
header {
	background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
    position: relative;
}
 
/*- LOGO -*/
 
.logo {
	display: inline-block;
}
.logo img {
    max-width: 100%;
    max-height: 65px;
    margin: 15px 0;
    display: inline-block;
}

/*- SEARCH -*/
 
.JSsearch-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
}
.JSsearch-button i {
	font-size: 20px;
}
.JSsearch-button:hover {
	background-color: #5480bf;
	opacity: .8;
}
.JSsearch .search-field{
	margin: 10px 0;
}
.JSsearch {
	position: relative;
}

/* search sugestions */
ul.JSsearch_list {
	padding: 15px;
	position: absolute;
	left: 0px;
	top: 50px;
	z-index: 999;
	width: 100%;
	background: #fff;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: border-box;
	max-height: 400px;
	overflow: auto;
}
li.search_list__item {
	font-size: 12px;
}
li.search_list__item:last-child a {
	border-bottom: none;
}
.search_list__item__link {
	display: block;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	border-bottom: 1px solid #f1f1f1;
}
.search_list__item__link__text {
	-ms-flex: 1;
	-webkit-box-flex: 1;
	        flex: 1;
}
.search_list__item__link__cat {
	font-size: 12px;
	color: #808080;
    width: 120px;
    line-height: 1.2;
    margin: 6px 0;
    display: inline-block;
}
a.search_list__item__link:hover {
    background-color: rgba(84, 128, 191, 0.2);
}

/*- HEADER CART -*/
.header-cart {
	position: relative;
	padding-bottom: 8px;
}
.header-cart-icon {
	position: relative;
	display: block;
	text-align: center;
	width: 90px;
	margin: 0 auto;
    color: #595959;
    font-size: 13px;
    font-weight: 600;
}
.JSbroj_cart{
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 50px;
    padding: 0 5px;
    position: absolute;
    top: 20px;
    right: 10px;
}
.header-cart-icon:before {
	content: ' ';
    display: block;
    width: 50px;
    height: 40px;
    margin: 0 auto;
    background-image: url(../../../images/themes/simple/light_blue/large-icons.png);
    background-position: 0;
    background-repeat: no-repeat;
}
 
.JSheader-cart-content {
	background: #fff;
	position: absolute;
	width: 450px;
    right: 0;
	padding: 0 10px;
	box-shadow: 0 0 1px 0 #999;
	border-radius: 2px;
	visibility: hidden;
	opacity: 0;
	z-index: 9999999;
}
.header-cart:hover .JSheader-cart-content {
	visibility: visible;
	opacity: 1;
	transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
}
.JSheader-cart-content li {
	padding: 10px 0;
	border-bottom: solid 1px #f0f0f0;
	font-size: .9em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}
.JSheader-cart-content li:last-child {
	border-bottom: none;
}
.header-cart-image-wrapper {
	display: inline-block;
	width: 52px;
	height: 52px;
	line-height: 48px;
	text-align: center;
	border: solid 1px #ccc;
	background: #fff;
	overflow: hidden;
}
.JSheader-cart-content li img {
	display: inline;
	max-width: 95%;
	height: auto;
	max-height: 95%;
}
.JSheader-cart-content li a {
    display: inline-block;
    width: 47%;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-cart-amount {
	display: inline-block;
	width: 25px;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	text-align: center;
	border: solid 1px #f0f0f0;
}
.header-cart-price {
	color: #999;
}
.header-cart-summary {
	display: block;
	text-align: right;
	padding: 5px 7px;
	margin: 8px 0;
	background: #f0f0f0;
}
.header-cart-summary span {
	margin-left: 10px;
}
.header-cart-summary span span {
	margin: 0;
}
.JSheader-cart-content .close {
	display: inline-block;	 
	width: 15px;
	height: 15px;
	line-height: 14px;
	padding: 0;
	font-size: 13px;
	color: #fff;
	text-align: center;
	background: #999;
}
.JSheader-cart-content .close:hover {
	background: #F02626;
}
 .for-seo{
 	margin: 0;
    font-size: inherit;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
 }
 img{
    color: #bbb;
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*--- MIDDLE AREA---*/
#sidebar-left {
	padding: 0;
}
 
/* category acccent button */
#JScategories .category-item-accent {
	background: #999;
}
#JScategories .JSlevel-1 > li.category-item-accent a {
	color: #fff;
	border-bottom: none;
}

/*- CATEGORIES -*/
#JScategories {
	position: relative;
	z-index: 800;
	background: #fff;
}
#JScategories h3 {
    padding: 8px 20px;
    margin: 0;
    font-size: 18px;
	color: #fff;
    background: #5480bf;
}
#JScategories .JStoggler {
	width: 33px;
    height: 41px;
    position: absolute;
    right: 24px;
    top: 6px;
    z-index: 999;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    display: none;
}
 
#JScategories .JSlevel-1 li {
	padding: 0 15px;
	position: relative;
}
#JScategories .JSlevel-1 > li:hover {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
	z-index: 710;
}
#JScategories .JSlevel-1 > li.parent:hover:after {
	position: absolute;
	content: ' ';
	display: inline-block;
	right: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background: #fff;
	z-index: 800;
}
.category__link-group {
	-ms-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	        align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.category__link-group__link {
	display: block;
	width: 100%;
	-ms-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	        align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	display: -ms-flexbox !important;
	display: -webkit-box !important;
	display: flex !important;
}
.category__item__link__span {
	font-weight: normal;
	font-size: 85%;
}
.category__item__link__expend {
	padding: 0px 5px;
	cursor: pointer;
	color: #999;
}
#JScategories .JSlevel-1 li a {
	position: relative;
	display: block;
	padding: 6px 5px;
	color: #222;
	font-weight: bold;
	font-size: 13px;
	border-bottom: solid 1px #ddd;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
#JScategories .JSlevel-2 {
	position: absolute;
	width: 633px;
	height: 0;
	top: 0px;
	left: 100%;
	background: #fff;
	overflow: hidden;
	z-index: 700;
	opacity: 0;
	margin: 0;
}
.manufacturer-categories ul li a{
	display: block;
    padding: 0 10px;
    font-size: .9em;
    border-bottom: 1px solid #ddd;
}
 .manufacturer-categories h3{
    background: #ddd;
    font-size: 1.1em;
    border-radius: 10px;
 }
.JSsubcategory-toggler {
	display: none;
	position: absolute;
	width: 40px;
	height: 47px;
	right: 5px;
	top: 0;
	text-align: center;
}
.JSsubcategory-toggler span {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 25px;
    line-height: 19px;
    top: 4px;
    left: -41px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: rgba(167, 167, 167, 0.63);
    font-size: 41px;
    padding-top: 2px;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler {
	right: 6px;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler span {
	color: #999;
	background: #f0f0f0;
	display: none;
}
#JScategories .JSlevel-2 li {
	width: 50%;
	padding: 0 2.5%;
	float: left;
	position: relative;
}
.subcategory-image {
	position: absolute;
	right: 3%;
	bottom: 20px;
}
#JScategories .level-3 {
	display: none;
	padding-top: 10px;
}
#JScategories .level-3-open .level-3 {
	display: block;
	padding-top: 10px;
}
#JScategories .level-3 li {
	width: 100%;
	margin: 0;
}
#JScategories .level-3 li a {
    padding: 2px 0;
    border: none;
    font-weight: normal;
}
 
/*----------- CATEGORI HORIZONTAL  -----------*/
#JScat_hor #JScategories {
	border-bottom: 1px solid #ddd;
}
#JScat_hor{
	text-align: center;
}
#JScat_hor .JSlevel-1{
	background-color: #efefef;
}
 
#JScat_hor .JScategories-titile {
	display: none;
}
#JScat_hor .JSlevel-1 li {
	display: inline-block;
	padding: 0;
}
#JScat_hor .JSlevel-1 > li.parent:hover:after {
	left: 0px;
	right: 0px;
	top: 90%;
	height: 6px;
	width: 100%;
	display: block;
}
#JScat_hor .JSlevel-1 li a {
	border-bottom: none;
	background-image: none;
}
#JScat_hor .JSlevel-1 li a:hover {
	padding: 7px 5px;
}
#JScat_hor .level-3 li a:hover{
    padding: 0 0 0 9px;
}
#JScat_hor .JSlevel-2 {
	left: 0px;
	top: 100% !important;
 
}
#JScat_hor .JSlevel-2 li {
	display: block;
    text-align: left;
}
#JScat_hor .JSlevel-2 li a {
	background-image: none !important;
}
#JScat_hor .JSlevel-1  li:hover .JSlevel-2 {
	top: 100%;
}
#JScat_hor .parent.dropdown-left .JSlevel-2 {
	left: auto;
	right: 0px;
}
#JScat_hor .level-3 {
	display: block;
	padding: 0;
}

/*- MAIN CONTENT -*/
#main-content {
	background: #fff;
	padding: 0 0 20px;
	border-left: solid 1px #f0f0f0;
	overflow: hidden;
    min-height: 700px;
}

/*- MAIN SLIDER -*/
#JSmain-slider {
	max-height: 450px;
	overflow: hidden;
}
#JSmain-slider img{
	max-height: 450px;
    max-width: 100%;
}
#JSmain-slider .slick-prev:before, #JSmain-slider .slick-next:before {
	content: '  ';
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next {
	height: 50px;
	width: 30px;
	background: #999;
	margin-top: -25px;
	background-repeat: no-repeat;
}
#JSmain-slider .slick-next{
	right: 0;
	background-image: url('../../../images/large-icons.png');
	background-position: -110px center;
}
 
#JSmain-slider .slick-prev{
	left: 0;
	background-image: url('../../../images/large-icons.png');
	background-position: -60px center;
}
 
 

/* About us page */
.about-us-page {
	padding: 0 15px;
	box-sizing: border-box;
}

/*- PRODUCT */
.product-content {
	position: relative;
	padding: 5px 0 10px;
	background: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	text-align: center;
}
.product-content:hover{
	box-shadow: 1px 1px 10px #5480bf;
}
.product-content:before {
	content: ' ';
	width: 0;
	height: 0;
	top: 0;
	display: block;
	position: absolute;  
	border-width: 0 0 25px 25px;
	border-color: transparent transparent #ddd transparent;
	background: #fff;
	z-index: 999;
}
.JSproduct .product-image-wrapper {
	display: block;
	max-width: 100%;
	height: 135px;
	line-height: 112px;
	margin: 20px auto;
	text-align: center;
	background: #fff;
}
.JSproduct .product-image {
	display: inline;
	max-width: 90%;
	height: auto;
    max-height: 140px;
	font-size: 0;
	overflow: hidden;
}
.JSproduct .product-title {
	display: block;
	height: 36px;
	padding: 0 10px;
	overflow: hidden;
	font-size: 13px;
	color: #222222;
    font-weight: 600;
    margin: 5px 0;
    line-height: 1.3;
}
.JSproduct .action-holder {
   position: relative;
   margin: 0 0 10px;
   height: 110px;
}
.action-holder .pricer{
	height: 35px;
    line-height: 1;
    overflow: hidden;
}
.JSproduct .product-price {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #6b6b6b;
}
.JSproduct .product-price span {
	font-size: .8em;
}
.JSproduct .JSadd-to-cart, .JSproduct .not-available {
    color: #fff;
    font-size: .9em;
    display: inline-block;
    margin: 5px auto 0;
    width: 73%;
    border-radius: 3px;
    padding: 5px 0;
}
.btn-container{
    height: 70px;
}
 
.JSproduct .JSadd-to-cart i {
	font-size: 13px;
	margin-right: 5px;
}
 
.JSproduct .not-available {
    opacity: 0.6;
    cursor: text;
}

/*Uporedi btn */
.JSproduct .JScompare {
	width: 73%;
    background-color: #DFDFDF;
    color: #9F9F9F;
    margin: 5px auto;
    font-size: .9em;
    padding: 5px 0;
    border-radius: 3px;
    -webkit-transition: background, color, 0.2s ease-in-out;
    transition: background, color, 0.2s ease-in-out;
}
.JSproduct .JScompare:hover, .JSproduct .JScompare.active {
	background: #5480bf;
	color: #fff;
	opacity: 1;
}
.JSproduct .JScompare i.fa {
	margin-right: 5px;
}

/* end */

/*--- FOOTER ---*/

footer {
	padding: 35px 0;
	color: #fff;
}
footer h4 {
	margin: 0;
	padding: 3px 0;
	color: #fff;
    text-align: center;
}

/*- FOOTER LINKS -*/
.footer-links li a {
	padding: 5px;
	display: inline-block;
    font-size: .8em;
    color: #fff;
}
.footer-links li:last-child a {
	border-bottom: none;
}
.footer-links a:hover {
	opacity: .7;
}

footer .social-icons {
	text-align: center;
    margin: 20px 0 10px;
}
footer .social-icons a {
    margin-right: 15px;
}
footer .social-icons a:last-child {
    margin-right: 0;
}

/*- NEWSLETTER -*/
.newsletter.row {
	margin: 15px 0;
	position: relative;
}
.newsletter input {
	height: 30px;
	line-height: 30px;
}
.newsletter button {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	padding: 0 10px;
	font-size: .9em;
	background: #0055bb;
}
.newsletter button:hover {
	background: #5480bf;
	opacity: .8;
}

/*- SOCIAL ICONS -*/
.preheader-icons .social-icons {
    display: inline-flex;
    display: -webkit-inline-flex;
}
.preheader-icons{
	display: flex;
	align-items: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.login-wrapper{
	display: inline-flex;
    align-items: center;
    display: -webkit-inline-flex;
    -webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	margin: 0 0 0 6px;
}
#b2b-login-icon{
	margin: 0 10px;
}
.social-icons a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	background-image: url('../../../images/social-icons.png');
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
    background-color: #5480bf;
    border-radius: 50%;
}
.social-icons a:hover {
	opacity: .5;
}
.social-icons .facebook {
	background-position: 0 0;
}
.social-icons .twitter {
	background-position: -24px 0;
}
.social-icons .google-plus {
	background-position: -48px 0;
}
.social-icons .skype {
	background-position: -72px 0;
}

/*--- FOOTNOTE ---*/
.footnote {
	text-align: center;
	font-size: .9em;
}
.footnote a {
	color: #fff;
}

/*--- CARDS ---*/
 
.card {
    margin-bottom: 10px;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}
.card img {
     max-width: 100%;
}

/*--- LOGIN FORM ---*/
.login-popup .popup-wrapper, .login-popup .JSpopup-inner {
	width: 300px;
	height: 275px;
}
.login-form .forget-password {
	font-size: .9em;
}
.login-form .forget-password:before {
	display: inline-block;
	content: ' ? ';
	width: 20px;
	height: 20px;
	margin-right: 10px;
	color: #fff;
	text-align: center;
	border-radius: 100%;
	background: #ddd;
}

.login-form {
	padding: 15px 0;
}

/*--- REGISTRATION FORM ---*/
.registration-popup .popup-wrapper, .registration-popup .JSpopup-inner {
	width: 300px;
	height: 75px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.registration-popup-high .popup-wrapper, .registration-popup-high .JSpopup-inner {
	height: 602px;
}
/*.registration-popup h3, .registration-form {
	display: none;
}*/
.registration-form-open-buttons {
	margin-top: 6px;
	text-align: center;
	padding-top: 20px;
}
.registration-form-open-buttons button {
	padding: 9px 16px;
	color: #fff;
	font-size: .9em;
	background: #5480bf;
}
button.company-registration {
	background: #999;
}
.registration-cancel {
	float: left;
	padding: 8px 32px;
	color: #999;
	font-size: .9em;
	background: #f0f0f0;
}

/*--- INFO & CONFIRM POPUP ---*/
.info-confirm-popup {
	display: none;
}
.JSinfo-popup, .confirm-popup {
	top: 0;
	height: 100%;
	background: rgba(255, 255, 255, .8);
}
.JSinfo-popup .popup-wrapper, .JSinfo-popup .JSpopup-inner {
	width: 315px;
}
.confirm-popup .popup-wrapper, .confirm-popup .JSpopup-inner {
	width: 300px;
}
.JSinfo-popup .JSpopup-inner, .confirm-popup .JSpopup-inner {
	background: #999;
}
.confirm-popup .JSpopup-inner {
	text-align: center;
}
.JSinfo-popup .p-info, .confirm-popup p {
	margin: 0;
	color: #fff;
	text-align: center;
}
.yes, .no {
	display: inline-block;
	padding: 0 10px;
	margin: 10px 3px;
	font-size: .9em;
}
.yes, .yes:hover {
	background: #f0f0f0;
	color: #999;
}

/*--- SCROLL TO TOP ---*/
a.JSscroll-top {
	position: fixed;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #fff !important;
	right: -70px;
	bottom: 20px;
	background: #0055bb;
	z-index: 999;
	padding: 9px;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.JSscroll-top.show {
	right: 20px;
}

/*---------- PAGES ----------*/

/*--- PRODUCT LIST ---*/
.slide-me{
	display: none;
}
/*- BREADCRUMBS -*/
.breadcrumbs {
	font-size: 12px;
    border-width: 0;
    font-weight: 600;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    min-height: 40px;
}
.breadcrumbs li {
	font-size: 80%;
}
.breadcrumbs>*:before {
	content: none;
}
.breadcrumbs li:after {
	display: inline-block;
	content: '\f105';
	padding: 0 5px;
	color: #222;
	font-size: 14px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}
.breadcrumbs li:last-child:after {
	display: none;
}
.breadcrumbs h1 {
	font-size: 1.1em;
	margin: 0;
}


/*============================
=            NEWS            =
============================*/

/* this is single post */
.news {
    padding: 10px 5px;
    margin: 20px;
    box-sizing: border-box;
    background: #fff;
	box-shadow: 1px 1px 7px #ddd;
}
.news img{
  	max-width: 100%;
    max-height: 110px;
    padding: 10px 0;
}
.news-title {
    margin: 16px 0;
    padding: 0 20px;
    background: rgba(84, 128, 191, 0.8);
}
/* button */
a.news__more {
	padding: 6px 12px;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background: rgba(62, 86, 121, 0.84);
}
 
/*=====  End of NEWS  ======*/

/*- PRODUCT LIST OPTIONS -*/
.product-number {
    display: inline-block;
}
.JSproduct-list-options {
	padding: 0 8px 0;
	font-size: .9em;
    background-color: #efefef;
}
.JSproduct-list-options .columns {
	padding: 0;
}
ul.pagination li{
	margin: 5px;
}
.pagination-container{
	display: flex;
	justify-content: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
}
.pagination li a, .pagination li button {
	padding: 0;
	text-align: center;
	background: #5480bf;
    color: #000;
}
.pagination li.active a {
	background: #ececec;
}
.per-page.JSselect-field {
    background-position: 20px -375px;
    z-index: 2;
}
.view-buttons {
    display: inline-flex;
    display: -webkit-inline-flex;
    line-height: 0;
}
.view-buttons span {
	display: inline-block;
    width: 28px;
    height: 24px;
    border-radius: 3px;
    margin: 5px;
    background-color: #5480bf;
    background-repeat: no-repeat;
    cursor: pointer;
}
.view-buttons span.active {
	background-color: #81aff2;
}
.grid-view-button {
	background-image: url('../../../images/mini-icons.png');
	background-position: center -101px;
}
.list-view-button {
	background-image: url('../../../images/mini-icons.png');
	background-position: center -125px;
}
.JSselect-field {
	display: inline-flex;
	display: -webkit-inline-flex;
    position: relative;
    margin: 5px;
    padding: 2px 20px 2px 5px;
    background-color: #5480bf;
    color: #fff;
    background-image: url(../../../images/mini-icons.png);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
    border-radius: 3px;
}
.JSselect-field ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	background-color: #81aff2;
}
.JSselect-field li {
	border-bottom: solid 1px #f0f0f0;
}
.JSselect-field li:last-child {
	border-bottom: none;
}
.JSselect-field li:hover {
	background-color: #bbb;
}
.JSselect-field li a {
    color: #fff;
    width: 100%;
    padding: 0px 15px 0px 5px;
    display: block;
    font-size: 13px;
}
.product-list-flex{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.product-list-flex-end{
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}
.currencyANDsort {
    display: inline-block;
}
.sort-products {
	background-position: 120px -375px;
}
.currency {
    background-position: 26px -375px;
}
.slick-dots li button{
	display: none;
}
/*- PRODUCT LIST PRODUCTS -*/
.JSproduct-list .JSproduct {
	float: left;
	width: 23%;
	margin: 10px 1%;
}
.JSproduct-list.list-view .JSproduct {
	width: 98%;
}
.product-on-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.JSproduct-list.list-view .JSproduct .product-price {
    margin: 0;
    display: block;
}
 
.JSproduct-list.list-view .JSproduct .product-details li {
	float: left;
	width: 48%;
	font-size: .85em;
}
.JSproduct-list.list-view .JSproduct .product-details li span {
	font-weight: bold;
}
 
/* Compere */
section.compare-section {
	text-align: center;
}
.show-compered {
	display: inline-block;
    background: #5480bf;
    border-radius: 2px;
    color: #fff;
    padding: 3px 8px;
    cursor: pointer;
    margin: 8px 0;
}
#JScompareTable .JSclearCompare {
	display: inline-block;
	background: #F22613;
	color: #fff;
	border-radius: 2px;
	line-height: 1;
	cursor: pointer;
	line-height: 26px;
	height: 26px;
	padding: 0 7px;
}
.reveal-modal .close-reveal-modal {
	font-size: 20px;
}
#JScompareTable table{
	width: 100%;
}
#JScompareTable table img{
	max-width: 100%;
	max-height: 70px;
}
#JScompareTable tr td:first-child {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

/*--- PRODUCT PREVIEW ---*/
#product-preview {
	padding: 0 0.9375em;
	overflow: hidden;
}

/*- PRODUCT PREVIEW IMAGE -*/
.JSproduct-preview-image {
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
}
.zoomWrapper {
	width: 100% !important;
	height: 350px !important;
	line-height: 350px;
	text-align: center;
	background: #fff;
	overflow: hidden !important;
}
.zoomWrapper span {
	width: 100% !important;
	margin-top: 1px;
}
.zoomWrapper img {
	position: relative !important;
	height: auto !important;
	max-height: 100% !important;
}
.zoomWindow {
	width: 100% !important;
	height: 352px !important;
	margin-top: -1px;
	border: solid 1px #f0f0f0 !important;
}
.zoomContainer {
	height: auto !important;
}
.zoomContainer:nth-child(even) {
	display: none !important;
}
.zoomLens {
	max-width: 100%;
	max-height: 350px;
	border: 1px solid rgb(153, 153, 153) !important;
}
.background-center {
	background-position: center center !important;
}
a.elevatezoom-gallery {
	position: relative;
	display: block;
	float: left;
	width: 24.5%;
	height: auto;
	max-height: 71px;
	line-height: 68px;
	margin-right: 0.66%;
	text-align: center;
	margin-top: 4px;
	background: #fff;
	z-index: 1;
}
a.elevatezoom-gallery:last-child {
	margin-right: 0;
}
a.elevatezoom-gallery img {
	display: inline;
	height: auto;
	max-height: 60px;
	max-width: 90%;
	width: auto;
}
.zoomWrapper, .zoomLens, a.elevatezoom-gallery {
	box-shadow: 0 0 0 1px #f0f0f0;
}

/*- PRODUCT PREVIEW INFO -*/
 
.product-preview-info h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.4em;
}
.product-preview-info ul li {
	display: block;
    font-size: 14px;
}
.product-preview-info ul li a {
	font-style: italic;
    display: inline-block;
    margin: 0 3px;
}
.add-to-cart-area {
    margin-top: 30px;
}

.add-to-cart-area .not-available {
	background-color: rgba(240, 65, 36, 0.29);
    color: #222;
    border: 1px solid #f04124;
    cursor: not-allowed;
}

/* OSOBINE */

.osobina_naziv, .karakteristike_osobine, .osobina_karakteristika {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 1px 0 0;
}
.osobina {
    margin-bottom: 5px;
}
.osobina_naziv {
    min-width: 60px;
    font-weight: 600;
}
.osobina_karakteristika span {
	display: inline-block;
	border: 1px solid #bbb;
    min-width: 30px;
    min-height: 30px;
    padding: 4px;
    color: #fff;
    text-align: center;
	cursor: pointer;
	text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px;
    font-weight: bold;
}
.osobina_karakteristika input {
	position: absolute;
	top: 0;
	visibility: hidden;
}
.osobina_karakteristika input:checked + span {
	box-shadow: 0 0 0 2px #f4a137;
}
.add-to-cart-area .JScart-amount {
    margin-bottom: 5px;
    height: 25px;
	display: inline-block;
}
.input_kolicina {
	display: inline-block;
    min-width: 60px;
}

/* OSOBINE KRAJ */
 
a.add-amount-less, a.add-amount-more, a.JScart-less, a.JScart-more {
	height: 31px;
	width: 20px;
    display: inline-block;
	line-height: 31px;
	color: #fff;
	text-align: center;
	background: #ddd;
}
 
.product-preview-price {
	position: relative;
	margin-top: 20px;
}
.product-preview-price-old {
	display: block;
	font-size: 1.4em;
	line-height: 2em;
	text-decoration: line-through;
	padding: 15px;
}
.product-preview-price-new {
    display: inline-block;
    padding: 0 10px;
    font-size: 25px;
    font-weight: 600;
    border-left: 6px solid #ddd;
    background: #f0f0f0;
    color: #5480BF;
    margin-bottom: 10px;
}
.cart-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs {
	margin-top: 20px;
	padding: 0;
}
.JStab-titles li {
    float: left;
    width: 215px;
    padding: 5px 0;
    text-align: center;
    border-right: solid 2px #ddd;
    background: #f0f0f0;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}
.JStab-titles li:last-child {
	border-right: none;
}
.JStab-titles li.active {
	color: #5480bf;
	background: #ddd;
}
.tab-content {
	display: none;
	padding: 10px;
}
.tab-content p{
    font-size: 14px;
}
.tab-content.active {
	display: block;
}
.features-content ul {
	margin: 20px 0;
}
.features-content ul:before, .features-content ul:after {
	content: ' ';
	display: table;
}
.features-content li {
	padding: 2px 0;
}
.features-list-items li {
	border-top: solid 1px #f0f0f0;
}
.features-list-items li:first-child, .features-list-items li:nth-child(2) {
	border-top: none;
}
.features-list-title {
	color: #5480bf;
}
.features-content li:nth-child(odd) {
	font-weight: bold;
}
.JScomments-content {
	padding: 20px 0;
}
.JScomments-content h3 {
	margin-top: 0;
	margin-bottom: 15px;
}

/*- COMMENTS -*/
 
.JScomments-content textarea {
	height: 130px;
}
.JScomments-content .submit {
	margin-top: 10px;
	padding: 3px 15px;
}
.comment-content {
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	font-size: .9em;
	font-style: italic;
	background: #f0f0f0;
}
.comment-name {
	display: block;
	font-weight: bold;
}
.comment-text {
	margin: 0;
}

.comment-date {
	float: right;
    font-size: 11px;
    position: relative;
    top: -31px;
}

.replies {
	margin: 20px 0 0 50px;
}
.replies .comment-content {
	color: #fff;
	background: #bbb;
}

/*- PRODUCT PREVIEW TAGS -*/
.tags {
	padding: 10px 0;
}
.tags li {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 4px 12px;
	font-size: .8em;
	font-style: italic;
	background: #f0f0f0;
}

/*--- CART ---*/
.JScart-more-icon {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	top: -20px;
	left: -100%;
	margin-left: -20px;
	border-radius: 100%;
	background-color: #5480bf;
	background-image: url('../../../images/mini-icons.png');
	background-position: center -44px;
	background-repeat: no-repeat;
	z-index: 999;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.JScart-more-icon-opened {
	left: 50%;
}
.JScart-image img{
    max-width: 100%;
    max-height: 65px;
    display: block;
    margin: auto;
}
.without-btn {
	display: block;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	background-color: #E0E0E0;
	color: #848484;
	padding: 0 20px;
	max-width: 200px;
	margin: 10px auto;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
	transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
}
.without-btn.active {
	background: #5480bf;
	color: #fff;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.without-btn.active:hover {
	background: #38619C;
}
.without-btn:hover {
	background-color: #656565;
}
.without-btn .fa {
	margin-left: 10px;
	font-size: 20px;
	line-height: 40px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.without-btn.active .fa {
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*- CART ITEMS -*/
.cart-labels {
	background: #bbb;
    margin: 20px 0 0;
}
.cart-labels li {
	padding: 4px 0px;
	color: #fff;
	text-align: center;
	border-right: solid 1px #fff;
	font-size: 15px;
}
.cart-labels li:last-child {
	border-right: none;
}
.JScart-item {
	border-bottom: solid 1px #ddd;
}
.JScart-item li {
	padding: 6px 5px;
	text-align: center;
	overflow: hidden;
    border-right: 1px solid #ddd;
}
.JScart-item div:last-child li:last-child {
	border-right: none;
}

.cart-page .cart-name {
    line-height: normal !important;
}
.cart-page .cart-name a {
    display: block;
    overflow: hidden;
}

.cart div.medium-6 {
	padding: 0;
	display: flex;
	align-items: center;
	display: -webkit-flex;
    -webkit-align-items: center;
}
.cart-image img {
	max-width: 80%;
	height: auto;
	max-height: 50px;
}
.cart-name, .cart-price, .cart-total-price {
	font-size: .9em;
}
.cart-add-amount {
	display: flex;
	justify-content: center;
	display: -webkit-flex;
    -webkit-justify-content: center;
}
a.JScart-less, a.JScart-more {
	height: 20px;
	width: 14px;
	line-height: 20px;
}
input.JScart-amount {
	width: 30px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
    text-align: center;
	padding: 0;
    display: inline-block;
}
.cart-remove .close {
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 14px;
	padding: 0;
	font-size: 13px;
	color: #fff;
	background: #999;
}
.cart-remove .close:hover {
	background: #F02626;
}

/*-- RELATED-PRODUCTS --*/

.JSrelated-products .JSproduct {
	float: left;
	width: 25%;
}

/*- BELOW CART -*/
.cart-summary-wrapper, .cart-remove-all-wrapper {
	padding: 0;
}
.cart-summary {
	padding: 7px 0;
	border-left: solid 3px #bbb;
	background: #f0f0f0;
	border-bottom: 1px solid #ddd;
}
.summary-label{
    width: 135px;
    display: inline-block;
    text-align: left;
    padding: 0 0 0 10px;
}
.summary-amount {
	margin-left: 10px;
    font-size: 1.2em;
}
.cart-remove-all {
	width: 100%;
	padding: 7px 0px;
	border-right: solid 3px #bbb;
	background: #f0f0f0;
	color: #000;
}

/*- CART ACTION BUTTONS -*/
.cart-action-buttons {
	text-align: right;
	margin-top: 30px;
	margin-right: 10px;
}
.cart-action-buttons li {
	display: inline-block;
	margin-left: 10px;
	background-color: #bbb;
}
.cart-action-buttons li button {
	padding: 3px 8px;
	background-color: #bbb;  
}
.cart-action-buttons li a{
    display: inline-block;
    padding: 3px 10px;
    color: #fff;
}
.cart-action-buttons li a:hover {
    opacity: .8;
}
 
/*- SUBMIT ORDER AREA -*/
.JSsubmit-order-area {
	display: none;
}

/* BUY WITHOUT REGISTRATION - FORM */
.row.without-reg-form {
	position: relative;
	margin-top: 50px;
	border-top: solid 1px #f0f0f0;
}
.no-padding{
	padding: 0;
}
.red-dot-error{
    color: red;
    font-size: 12px;
 }
.without-reg-form .expand_div {
	padding: 0;
}
.without-reg-form .forward {
	margin: 15px 0;
    padding: 8px 15px;
}

.JSwithout-reg-none-personal, .JSwithout-reg-personal {
	display: none;
}
.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active {
	display: block;
}

/* PAYMENT METHOD */
.row.payment-method {
	position: relative;
	margin-top: 70px;
	margin-bottom: 30px;
	padding-top: 50px;
	border-top: solid 1px #f0f0f0;
}
.payment-method label {
	padding: 5px 0;
	font-size: .85em;
}
.payment-method textarea {
	height: 130px;
}

/* SUBMIT ORDER BUTTON */
.submit-order-button {
	float: right;
	margin-right: 0.9375em;
	padding: 5px 8px 5px 50px;
	background-image: url('../../../images/mini-icons.png');
	background-position: 13px -248px;
	background-repeat: no-repeat;
}

/* SHOPPING INFORMATION */
.shopping-information table {
	width: 98%;
	margin: 0 auto;
	font-size: .9em;
}
.shopping-information table th {
	padding: 20px 10px 10px;
	text-align: left;
}
.shopping-information table td {
	border: solid 1px #ddd;
	padding: 3px 10px;
}
.shopping-information table .summary {
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
}

/*--- USER PAGE ---*/
.user-info-form {
	margin: 30px 0;
}
.user-info-form input {
	margin-bottom: 10px;
	color: #000;
}
.user-info-form label {
	font-size: .9em;
	font-style: italic;
	color: #999;
}
.user-info-form .submit {
	float: left;
	margin-left: 0.9375em;
	margin-top: 20px;
	padding: 1px 8px;
	font-size: 1em;
}
.user-orders-table {
	width: 100%;
}
/*--- CONTACT PAGE ---*/
#map_canvas {
	height: 330px;
	margin-bottom: 15px;
}
.contact-form label {
	padding: 5px 0;
	font-size: .85em;
}
.contact-form textarea {
	height: 130px;
}
.contact-form .submit {
	margin-top: 10px;
	padding: 3px 15px;
}

/*--- ODMOR ---*/
.odmor {
	margin-bottom: 30px;
	color: #000;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
    font-size: 1em;
    margin: 0 0 5px;
}
.category-name-link {
    font-weight: 600;
    font-size: 1em;
    margin: 0px 0 5px;
	display: block;
}
.category__list {
	display: block;
	font-size: 14px;
}
.category__list__item__link {
	display: block;
	line-height: 1.7;
	color: #5E5E5E !important;
}
.category__link-group__link__text {
	display: block;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
	        flex: 1;
}
.category__list__item__link:hover {
	opacity: .85;
}
 
.JSmenu-icon {
	display: none;
}

/*--------- ALL  CATEGORY SIDEBAR -------------*/
.JScategory-sidebar__list {
	background: #f0f0f0;
	z-index: 801;
	border: 7px double #5480bf;
    width: 210px;
}
.category-sidebar__list--fix {
	position: fixed;
	top: 0px;
    margin: 10px 0;
 }
.category-sidebar__list__item__link {
	display: block;
	padding: 2px 10px;
 	font-weight: 600;
	font-size: 13px;
	-webkit-transition: padding 0.2s ease-in-out;
	transition: padding 0.2s ease-in-out;
}

 
#main-menu li a:hover {
	color: #5480bf;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.info {
	font-size: 12px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px
}
/* OCENE */

.review-star {
	cursor: pointer;
}

#review-number {
	display: none;
}

.fa-star, .fa-star-o {
	color: #f4a137;
}

/* Login/Registration Forms */
 
.form-spacer {
	border-left: 1px solid #bbb;
}
.person-registration, .company-registration {
	padding: 8px 17px;
}
 
.login-form input:first-child {
    margin-bottom: 10px;
}
input[type="password"], input[type=checkbox], input[type=radio] {
    margin: 0;
}
.login-form button, .registration-form-wrapper button {
    padding: 5px 12px;
    margin: 10px 0 0;
}
.btn-forgot-pass {
    padding: 3px 8px;
    margin: 0 0 10px;
}
.registration-form .error, .error-login {
    color: red;
    font-size: 12px;
    position: relative;
    top: 0px;
}
/* Login/Registration Forms END */

/* LOGIN_POPUP */
/*.login_popup {
    position: absolute;
    width: 230px;
    right: 15px;
    top: 25px;
    background-color: #eee;
	visibility: hidden;
	opacity: 0;
    overflow: hidden;
     padding: 5px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-transition: all .2s ease .15s;
    transition: all .2s ease .15s;
}
.login_popup:hover, #login-icon:hover+.login_popup {
	visibility: visible;
    opacity: 1;z-index: 3;
}
.login_popup_hover {
	background-color: #ccc;
}
.login_popup input {
    font-size: 10px;
    height: 20px;
    padding: 0 5px;
}
.login_popup .login-form {
    padding: 0;
}
.login_popup button {
    padding: 2px 6px;
    font-size: 12px;
}
.login_popup .btn-forgot-pass {
    margin-top: 10px;
}*/

/* LOGIN_POPUP END */

/*---------- MEDIAQUERIES ----------*/

/*--- MAX WIDTH 1300px ---*/
@media screen and (max-width:1300px) {
	#JScategories .JSlevel-2 {
		width: 633px;
	}
	#JScategories .JSlevel-2 div > li {
		width: 50%;
		padding: 0 1%;
		font-size: 1em;
	}
	.subcategory-image {
		display: none;
	}
}
 
/*--- MAX WIDTH 1024px ---*/
@media screen and (max-width:1024px) {
		.JSmenu-icon {
	    display: block;
	    position: absolute;
	    font-size: 20px;
	    top: 30px;
    	right: 15px;
	    padding: 0px 9px;
	    color: #5480bf;
   		border: 2px solid;
	}
 
	#JSpreheader {
		display: none;
    	background: #fff;
    	height: 100%;
    	z-index: 99999;
    	position: fixed;
    	padding: 10% 0;
	}
	.menu-close {
		display: block !important;
	}
	.menu-close i {
	    position: absolute;
    	font-size: 30px;
    	color: #5680bf;
    	top: 11px;
    	right: 19px;
    }
    .login_popup {
		display: none;
	}
	.preheader-icons .social-icons{
		margin: 10px 0;
	}
}

/*--- MAX WIDTH 1120px ---*/
@media screen and (max-width:1120px) {
	.single-slide .JSproduct {
		width: 33.3%;
	}
	.JSproduct-list .JSproduct {
		width: 31.3%;
	}
}
 

/*--- MAX WIDTH 860px ---*/
@media screen and (max-width:860px) {
 
	.single-slide .JSproduct {
		width: 50%;
	}
	.JSproduct-list.list-view .image-holder, .JSproduct-list.list-view .description-holder, .JSproduct-list.list-view .action-holder {
		width: 100%;
	}
	.zoomLens, .zoomWindowContainer {
		display: none !important;
	}
	.add-to-cart-area {
		position: relative;
		margin-top: 10px;
	}
	.JScomments-content .comments, .JScomments-content form {
		padding: 0;
	}
 
}

/*--- MIN WIDTH 641px & MAX WIDTH 860px ---*/
@media screen and (min-width:641px)  and  (max-width:860px) {
 
	#JScategories .JSlevel-2 {
		width: 468px;
	}
 
	.JSproduct-list .JSproduct {
		width: 48%;
	}
	.JSproduct-preview-image, .product-preview-info, .JScomments-content .comments, .JScomments-content form, {
		width: 100%;
		padding: 0;
	}
	a.JScart-less, a.JScart-more {
	 	width: 100%;
	}
 
	.contact-info, .contact-form {
		width: 100%;
	}
}

/*--- MIN WIDTH 641px ---*/
@media screen and (min-width:641px) {
	#JScategories .JSlevel-2 {
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}
	 #JScategories .JSlevel-1  li:hover .JSlevel-2 {
		height: auto;
		opacity: 1;
	}
/*	#JScategories .JSlevel-2 li.parent > a, #JScategories .JSlevel-2 li.parent > a:hover {
		background-image: url('../../../images/parent-arrow.png');
		background-position: right center;
		background-repeat: no-repeat;
	}*/
	.generated-features-list {
		border-bottom: solid 1px #bbb;
	}
	.generated-features-list:last-child {
		border-bottom: none;
	}
	.row.below-cart {
		margin-top: 20px;
	}
 
}
 
/*--- MAX WIDTH 640px ---*/
@media screen and (max-width:640px) {
	.info {
		width: 100%;
	}
	#main-content{
		min-height: 300px;
	}
	.preheader-icons{
		justify-content: center;
		-webkit-justify-content: center;
	}
	.cart-remove-all{
        margin: 0 0 15px 0;
	}
	footer{
		text-align: center;
	}
	.konfigurator-grupa {
		max-width: 68px;
    	overflow: hidden;
	}
	.konfigurator select {
		width: 100% !important;
	}
	h2 {
		font-size: 1.2em;
   		padding: 6px 15px;
        margin: 5px 0;
	}
	header.header-fixed, #JScategories .JSlevel-1 li {
		position: relative;
	}
 
	#main-menu {
		text-align: center;
	}
	#main-menu li a {
  		color: rgb(78, 78, 78);
 	}
	#login-icon, #registration-icon {
		font-size: 18px;
        margin: 10px 0;
	}
 
	#JScategories  .JStoggler, .JSsubcategory-toggler {
		display: inline-block;
	}
	#JScategories .JSlevel-1, #JScategories .level-3, .header-cart:hover .JSheader-cart-content, .cart-labels, .JScart-item .cart-price {
		display: none;
	}  
	#JScategories .JSlevel-2 {
		display: none;
		height: auto;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
        opacity: 1;
	}
	#JScategories .JSlevel-2 li {
		width: 100%;
		margin-bottom: 0;
	}
 
	#JScat_hor .JScategories-titile {
		display: block;
	}
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
		top: -46px;
	}
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
		right: 38px;
	}
	.JSproduct-list .JSproduct, .JSproduct-list.list-view .JSproduct {
	    width: 96%;
    	margin: 10px auto;
    	float: none;
	}
 
	.pagination.down {
		float: none;
		margin-right: 0;
		text-align: center;
	}
 
	.zoomWrapper {
		height: 180px !important;
		line-height: 180px;
	}
	.product-preview-info {
		padding: 0;
	}
	.product-preview-info h2, .product-preview-price-old {
		font-size: 1.2em;
	}
	.product-preview-price-new {
		font-size: 1.4em;
	}
	.JStab-title-description {
		box-shadow: inset 0 -1px 0 0 #ddd;
	}
	.generated-features-list.row {
		margin: 30px 0;
	}
    .generated-features-list li:nth-child(2) li:nth-child(even) {
        margin-left: 10px;
        font-weight: bold;
    }
    .generated-features-list li:nth-child(2) li:last-child {
        float: left;
    }
	.features-list-title {
		border-bottom: solid 1px #bbb;
	}
	.features-list-items li:nth-child(2) {
		border-top: solid 1px #f0f0f0;
	}
	.tags li {
		margin-bottom: 5px;
	}
	.JScart-item {
		border: solid 1px #ddd;
		margin: 10px 0.9375em;
	}
	.JScart-item div:first-child {
		border-bottom: solid 1px #ddd;
	}
	.JScart-item div:first-child li:last-child {
		border-right: none;
	}
	.below-cart {
		padding: 0 0.9375em;
	}
 
	.features-content li {
		width: 100%;
	}
	#map_canvas {
		margin-left: 0.9375em;
		margin-right: 0.9375em;
	}
	.registration-popup-high {
		overflow-y: scroll;
	}
	.registration-popup-high .popup-wrapper, .registration-popup-high .JSpopup-inner {
		top: 0;
		margin: 10px 0;
	}
    .JStab-title-description, .tab-title-tehnicaldoc, .JStab-title-comments {
        width: 100% !important;
        border-bottom: solid 1px #ddd;
        border-right: solid 2px #ddd !important;
    }

	/*----- all categori sidebar  -------*/
	.JScategory-sidebar__list {
		position: fixed;
		top: 50%;
		right: 0px;
		margin-right: -70%;
		width: 70%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: margin 0.2s ease-in-out;
		transition: margin 0.2s ease-in-out;
		border: 1px solid #ddd;
	}
	.category-sidebar__list--open {
		margin-right: 0%;
	}
	.category-sidebar__list--open .JScategory-sidebar__list__toggler:before {
		content: "\2192";
	}
	.JScategory-sidebar__list__toggler {
		line-height: 30px;
		text-align: center;
		font-size: 20px;
		width: 35px;
		height: 35px;
		position: absolute;
		top: 50%;	
		left: -35px;
		background: #f0f0f0;
		border-radius: 3px 0px 0px 3px;
		color: #747474;
		font-weight: 700;
		border: 1px solid #747474;
		cursor: pointer;
	}
	.JScategory-sidebar__list__toggler:before {
		content: "\2190";
	}
	.news-title {
	    font-size: 20px;
	    margin: 16px 0;
	    padding: 0 20px;
	    background: rgba(84, 128, 191, 0.8);
	    top: 0;
	    position: relative;
	}
 
}
/*--- MAX WIDTH 640px END ---*/

/* Dodato Tamara */
.fancybox span.JSzoom_03 {
	display: block;
}
.logo-shopmania {
	border: 0;
}
.page-not-avalible {
	padding: 10px;
}
#content {
	width: 100%;
}
.contact-info h1 {
	font-size: 14px;
	display: inline;
}

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) {
	.single-slide .JSproduct {
		width: 100%;
	}
	.slick-list{
		overflow: hidden;
	}
   .scrollable {
	    overflow-y: scroll;
	    height: 400px;
	}
	.form-spacer{
		border: none;
	}
 	.cart-action-buttons li{
        width: 100%;
	    text-align: center;
	    margin: 5px;
 	}
	.logo-area{
		text-align: left;
	}
	.product-list-flex, .product-list-flex-end{
		justify-content: center;
		-webkit-justify-content: center;
	    padding: 0;
	}
	.product-content, .JSproduct-slider .product-content {
		max-width: 96%;
		margin: 0 auto;
	}
	#product-preview .JSproduct-slider .product-content {
		max-width: 96%%;
	}
	.JSproduct-list.list-view .product-content {
		max-width: 96%;
	}
	.JSproduct-list.list-view .JSproduct .product-details li {
		width: 100%;
	}
	.summary-amount {
		font-size: 1em;
	}
	.header-cart a {
		margin-top: 8px;
	}
}
.file-upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.file-upload input.file-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*================================================
=            artikal vezani proizvodi            =
================================================*/
.vezani_artikli .JSproduct .product-image-wrapper{
	margin: auto;
    height: 135px;
    padding: 5px 0;
}
.vezani_artikli .action-holder,
.vezani_artikli .JSproduct .product-price,
.vezani_artikli .JSproduct input[type="number"] {
	margin: 0;
}
.vezani_artikli .vezani_input{
	height: 27px;
    width: 50px;
    text-align: center;
    display: inline-block;
}
.vezani_artikli .image-holder {
	padding: 0;
}
.vezani_artikli .JSproduct .product-title {
	margin-top: 10px;
	padding: 0;
}
.vezani_artikli .JSproduct .product-price {
	margin: 16px 0;
    display: block;
}
.vezani_artikli .JSproduct input[type="number"] {
	height: 28px;
	width: 60px;
}
.vezani_artikli .product-content {
	margin-bottom: 16px;	
}
.vezani_artikli .input-and-button {
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-ms-flex-align: center;
	-webkit-box-align: center;
	        align-items: center;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.vezani_artikli .input-and-button .JSadd-to-cart {
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
	        flex: 1;
	margin: 0;
	margin-left: 8px;
}

/*=====  End of artikal vezani proizvodi  ======*/


#JSbroj_cart {
    background-color: orange;
    top: 21px;
    position: absolute;
    right: 25px;
    border-radius: 5px;
    padding: 1px 7px;
    color: #fff;
    font-weight: bold;
}

.add-to-cart-artikal, .vezani_artikli .JSadd-to-cart-vezani {
	padding: 5px 20px;
}

.new-content {
	padding: 30px 15px;
}

.new-content p, .new-content ul li {
	font-size: 13px;
}
.new-content img{
    max-width: 100%;
    max-height: 350px;
    display: block;
    margin: auto;
}

.contact-info ul li {
	font-size: 13px;
}
 
.person-registration {
	padding: 8px 17px;
}

.company-registration {
	padding: 8px 17px;
}

.registration-form {
	padding: 15px;
}

.fa-user-plus, .fa-sign-in {
    color: #ffa500;
    font-size: 19px;
}
 
.product-sale {
    position: absolute;
    background-color: orange;
    color: #fff;
    font-weight: bold;
    padding: 1px 6px;
    top: 17px;
    left: -6px;
    font-size: 17px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px #737373;
}

.old-price {	
    text-decoration: line-through;
    font-size: 13px;
    color: #a0a0a0;
}

.btn-slider {
	padding: 4px 10px;
    color: #fff;
    border-color: #bbb;
    background-color: #ccc;
    outline: none;
}

.btn-slider:hover {
	background-color: #ccc;
}

.previous, .slider-prev {
	position: absolute;
    top: 155px;
    z-index: 700;
}

.next, .slider-next {
    position: absolute;
    top: 155px;
    z-index: 700;
    right: 0;
}

.JSproduct-list .slider {
	position: relative !important;
}

.menu-close {
	display: none;
}

.tip-list, .sale-list {
	position: relative;
}

.vest-slika {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: auto;
}

.single-news {
    padding: 20px 0;
}

.files-list-item {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    margin-right: 10px;
}

.files-name {
    font-weight: normal;
    margin: 6px;
}

.features-list li {
	font-size: 12px;
	border-bottom: 1px solid #ddd;
    padding: 0;
}

.files-link img {
	width: 60px;
}

 
.konfigurator-grupa {
	max-width: 120px;
    overflow: hidden;
}

.brend-item {
	background: #fff;
    overflow: hidden;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: bold;
    color: #222;
    width: 100%;
    height: 80px;
    margin: 15px 0;
    border-radius: 2px;
    text-align: center;
    letter-spacing: .025em;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-transition: background,color,box-shadow,.4s ease-in-out;
    transition: background,color,box-shadow,.4s ease-in-out;
    box-shadow: 1px 1px 5px #ccc;
}
.brend-item img{
	max-width: 100%;
}
.article-edit-btn {
    background: #fff;
    font-weight: bold;
    font-size: 10px;
    padding: 0 5px;
    border: 1px solid;
    position: absolute;
    right: 0;
    top: 0;
} 
 
#admin-menu {	
    font-size: 12px;
    font-weight: bold;
}

.fl {
	float: left;
}
 
.ms {
	margin: 0 5px;
}

.admin-links a:hover {
	color: #aaa;
}

.user-info-form .error {
	color: red;
    font-size: 12px;
    position: relative;
    top: -11px;
}

.success {
    color: #1fa31f;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -52px;
    left: 142px;
}

.submit-btn-edit {
    border: none;
    background-color: #5480bf;
    margin: 15px;
    padding: 7px 20px;
    color: #fff !important;
}

/*Pop-up banner*/

.popup-banner-background {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: rgba(43, 43, 43, 0.8);
z-index: 16000003;

}

.popup-banner-wrapper {
       left: 50%;
       position: fixed;
       z-index: 99999;
       top: -1000px;
       width: 650px;
       height: 650px;
       -webkit-transition: all 2s ease;
       transition: all 2s ease;
}

.banner-center {
       top: 50%;
}

.popup-banner {
       position: relative;
       top: -50%;
       box-shadow: 0 0 10px 0 #000;
       left: -50%;
       /* height: 650px; */
		width: 613px;
}

.popup-banner #banner-close {
       position: absolute;
       top: 10px;
       right: 10px;
       color: #000;
       cursor: pointer;
       font-size: 24px;
		font-weight: bold;
}


.conf-dd {
	position: relative;
}

.conf-drop-down {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.conf:hover .conf-drop-down {
	display: block !important;
	background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li a {
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0 !important;

}

.dropdown-content li a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
	display: block !important;
	float: none !important;

}

.izmeni-kupca {
    padding: 5px 15px;
    font-size: 12px;
}

.cat-img-1 {
	max-width: 25px;
	max-height: 25px;
    margin: 0 5px 0 0;
}
.cat-img-2 {
	display: block;
	max-width: 75px;
	max-height: 75px;
	margin: 0 auto;
}


/* NEW STYLES TO PUT IN ALL THEMES */



/* END OF NEW STYLES TO PUT IN ALL THEMES */