body {
	background-color: #efefef;
}

#main-slider .slick-prev, #main-slider .slick-next,
.JSproduct .not-available, .JSproduct .JSadd-to-cart, footer,
button.company-registration {
	background-color: #5480bf;
}

.footer-links li:not(:last-child) a, footer h4 {/*border-bottom: solid 1px #eee;*/
	box-shadow: none;
}

.header-cart-icon span, #JScategories .JSlevel-2 > li > a, .breadcrumbs li a,
.product-preview-info li a, .cart-name a, .summary-amount,
.login-form .forget-password, .JSproduct .product-title, .JSheader-cart-content li a,
#logged-user {
	color: #5480bf;
}

p a {
	color: #f1b64f;
}

.logo {
	left: 0px;
	top: 10px;
}

#JScategories .JSlevel-1 > li > a {
	background-color: #ffffff;
	font-size: 1.2em;
	color: #222222;
}

.JSproduct .product-title {
	color: #222222;
	font-size: 1.2em;
}

.JSproduct .product-price {
	font-size: 20px;
	font-weight: bold;
	color: #6b6b6b;
}

.footer-links a {
	color: #fff;
}

.submit, .JSsearch-button, .JSproduct-slider .slick-prev,
.JSproduct-slider .slick-next, .newsletter button, .add-to-cart-area .JSadd-to-cart,
input.submit, .pagination li a, button.person-registration, .JScart-more-icon,
.submit-order-button, a.JSreset-filters-button {
	background-color: #5480bf;
}

/* KONFIGURATOR */

.konfigurator tr {
	margin: 0;
	padding: 0 0px;
}
.konfigurator td {
	margin: 0;
	padding: 0 2px;
}
.konfigurator select {
	width: 470px;
}

.konfigurator .JSKolicina {
	margin-bottom: 0px;
}

.dodaj-konf {
	padding: 15px;
	float: right;
	margin-right: 15px;
}

.ukupno-konf {
	width: 250px;
	float: right;
	margin-left: 15px;

}

#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	font-size: 23px;
	font-weight: bold;
	color: orange;
}

.ukupno-konf p {
	margin-bottom: 0;
}

.ukupno-konf-div {
	background-color: #fff;
	padding: 10px;
}

.JSGrupaAdd, .JSArtDetails {
	cursor: pointer;
	color: #20A1FF;
}

.JSGrupaRemove {
	cursor: pointer;
	color: red;
}

.JSKolicina {
	width: 40px !important;
}

.select-wrapper {
	display: inline;
}

.slick-slider {
	margin-bottom: 10px;
}

.slick-track {
	margin-bottom: 10px;
}


