:root{
	
	--font-color: #342f2f;
	--light-font-color: #666;
	--link-hover: #ff5858;
	--light-gray: #f7f7f7;
	--midle-gray: #a5a5a5;
	--white-color: #fff;

	--background-blue: #0fd6cf;
	--border-color: #dddddd;
}