
/* KONFIGURATOR */
.konfigurator .select-wrapper { max-width: 300px; margin: 5px; display: inline-block; }
.konfigurator .select-wrapper select{ padding: 0 25px 0 10px; }
.konfigurator{ margin: 20px 0; }
.konfigurator thead tr th, .konfigurator tbody tr td{
    vertical-align: middle;
    text-overflow: ellipsis;
}
.konfigurator thead tr th{ text-align: center; }
.konfigurator .JSKolicina {
	margin-bottom: 0px;
	width: 40px !important;
	text-align: center;
    padding: 0;
}
#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	font-size: 20px;
	font-weight: bold;
	color: #f79a87;
}
.ukupno-konf-div { border-bottom: 1px solid #ddd; margin: 0 0 10px; }
.ukupno-konf-div p{ margin: 0; }
.JSGrupaAdd, .JSArtDetails { cursor: pointer; color: #f79a87; margin: 0 0 0 10px; }
.JSGrupaAdd:hover, .JSArtDetails:hover { color: #888; }
.JSGrupaRemove { cursor: pointer; color: red; padding: 0 5px; }
 .configurator .dropdown-menu{ background-color: #30323A; padding: 0; }
/*======== KONFIGURATOR ==========*/
.konf-dropdown{
    position: relative;
    display: inline-block;
}
.konf-dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.konf-dropdown-content li a{
    display: block;
    background-color: #fff;
    padding: 10px !important;
    border-bottom: 1px solid #ddd;
}
.konf-dropdown-content li a:after{ display: none; }
.konf-dropdown:hover .konf-dropdown-content {display: block;}
