
/*---------- GENERAL STYLES ----------*/
body {
    font-family: Armata, sans-serif;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: var(--body_color);
	-webkit-font-smoothing: antialiased;
	background-color: var(--body_bg);
} 
.row{ margin: 0; }
 
.dropdown-menu{ padding: 0; }
.relative{ position: relative; }
.inline-block { display: inline-block; }
.no-padding{ padding: 0; }

.currency-btn{
	background-color: var(--currency_bg);
    color: var(--currency_color);
    padding: 5px;
    margin: 8px 2px;
    line-height: 1; 
}
.currency-list li a{ 
    border: 1px solid #ddd;
    border-top: none;
    padding: 4px 10px;
    background: #f7fbfd;
    white-space: unset;
    font-size: 13px;
}
.currency-list li a:hover{
    background: #ebf5fa;
}
.currency-list{
    width: 100%;
    min-width: unset;
}
.pagination { margin: 5px 0; }
[class*="col-"]{ min-height: 0; }

@media (min-width: 1200px){
    .container {
        max-width: 1300px;
        width: 100%;
    }
}
.pagination li a{ 
    padding: 5px 10px; 
    font-size: 20px; 
    border: none;
    color: #ccc;
}
.pagination>.disabled>a{ color: #ccc;}
.pagination>.active>a, .pagination>.active>a:hover{
    background: var(--pagination_bg_active);
    color: var(--pagination_color_active);
}
.btn.focus, .btn:focus, .btn:hover{ outline: none; }
.facebook-btn-share{ 
    line-height: 1; 
    display: flex; 
    display: -webkit-flex; 
    margin: 15px 0;
}
.soc-network{ margin: 0 2px; }

.nav>li>a:focus, .nav>li>a:hover{ background-color: transparent; }
a:link, a:visited, a:active { text-decoration: none; outline: none; color: var(--a_href_color); }
a:hover{ color: #f79a87; transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; }
ul { list-style-type: none; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; font-family: Armata, sans-serif, Arial; margin: 0; }
h1 { font-size: 1.8em; }
h4 { font-size: 1.2em; }
h5 { font-size: 14px; color: var(--h5_color); }
h6 { font-size: 1em; }

.h2-container{ color: var(--h2_color); }
/*=======================*/
.JSleft-body-link, .JSright-body-link{
   /* border: 3px dashed red; */
    position: absolute;
    left: 0; 
}
.JSright-body-link { 
   /* border: 3px dashed #1aff1a; */
    left: unset;
    right: 0;
}
/*=======================*/
.heading-background{
    display: block;
    margin: 10px 0 15px;
    font-size: 27px;
    padding: 10px 0;
    border-bottom: 1px solid #eaf5fa;
    font-weight: 500;
    background: #f4fafc;
    text-align: center;
}
.breadcrumb li{ font-size: 11px; text-transform: uppercase; }
.breadcrumb{
    margin: 0; 
    background-color: var(--breadcrumb_bg); 
    border-bottom: 1px solid #eaf5fa;
}
button {
    padding: 5px 15px;
    background-color: #000;
    border: none;
	transition: background-color 100ms ease-out;
	-webkit-transition: background-color 100ms ease-out;
	color: var(--btn_color);
}
a.JSreset-filters-button:hover, .news-text .news__more:hover .modal-btns:hover { box-shadow: 2px 1px 2px #999; }
.modal-btns:hover{ color: initial; }
input[type="text"], input[type="password"] {
	width: 100%;
	margin: 0 0 5px 0;
	color: #666666;
	padding: 5px 15px;
    font-size: 13px;
	height: 40px;
    border: 1px solid #ddd;
    background-color: var(--input_bg_color);
}
input[type="text"]:focus, input[type="password"]:focus, button:focus{
	outline: none;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button,
input[type='number'] { 
  -webkit-appearance: none; 
  margin: 0; 
  appearance: textfield;
}
input[type="checkbox"], input[type="radio"]{ margin: 0; }

button.submit { margin: 10px 0; }
 
textarea { resize: none; background-color: var(--input_bg_color); }

select {
    background-color: var(--input_bg_color);
    height: 40px;
    padding: 0 7px;
    color: #747474;
    width: 100%;
    border: 1px solid #ddd;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
label{ color: var(--label_color); font-size: 12px;  }
/*--- POPUP ADD TO CART ---*/
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    /*display: none;*/
}
.first-popup .first-popup-inner { margin: auto;  border: 1px solid #ddd;}
.first-popup .JSclose-me-please{
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px;
    line-height: 1;
    padding: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img {
    max-width: 100%;
    max-height: 380px;
    padding: 2px;
} 
/*======================*/
.popup {
    position: fixed;
    display: none; 
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background: rgba(44, 44, 44, 0.7);
    z-index: 99999;
}
.popup-wrapper {    
    position: relative;
    max-width: 315px;
    width: 100%;
    display: inline-block;
    top: 40%;
    left: 50%; 
    transform: translate(-50%, 0);
} 
.JSinfo-popup .p-info {
    margin: 0;
    color: #474747;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 5px #333;
    font-size: 16px;
}
/*======================*/
.slick-slider img { margin: 0 auto;  }
 
/* BANNER */
.banners a { margin-top: 10px; padding: 0 5px; }

/*============ FILTERS ====================*/
.filter-links{
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: space-between;
    padding: 7px 10px;
    margin: 5px 0;
    background-color: var(--filters_bg);
    border-radius: 3px;
    transition: .2s all;
    box-shadow:  0px 0px 3px #cccccc;
}
.filter-links:hover{
   box-shadow: 0 0 5px #999;
   color: initial;
}
.filter-price{ display: block; margin: 0 0 10px; }
.price-slider span{ background-color: #c3e0ef !important; }
.selected-filters-title{ margin: 10px 0 0; }
.selected-filters li {
	display: inline-block;
	height: 24px;
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.6);
	line-height: 24px;
	padding: 0 10px;
	border-radius: 3px;
	background-color: #eaeef0;
	margin: 5px 0;
}
.filter-box label{
	display: flex;
	display: -webkit-flex;
    background: #f7fbfd;
    padding: 10px;
    margin: 0 5px 5px;
	align-items: center;
	-webkit-align-items: center;
    font-size: .9em;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
}
.filter-box label:hover{ box-shadow: 0 0 2px #ccc; }
.filter-text{ margin: 0 5px; display: block; width: 100%; /*for flexbox*/ }

a.JSreset-filters-button {
    font-size: 13px;
    color: #000;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 3px;
    background: var(--btn_bg);
    background-color: #eaeef0;
    margin: 10px 0;
}

/*--- PREHEADER ---*/
#preheader { background-color: var(--top_menu_bg); }
.preheader-icons a { color: var(--top_menu_color); }
.preheader-icons{ min-height: auto; border: none; }
.top-menu-links li a{
	padding: 8px;
	line-height: 1;
	display: block;
	font-size: 13px;
}
.top-menu-links li a:hover{ color: #F8694A; }
.preheader-icons button{
    margin: 5px;
    padding: 5px;
    border-radius: 0;
    border: 2px solid #999;
}
.preheader-icons button span{ background: #999; }
/*=========================*/
.required-fields{ font-weight: 600;  margin: 10px 0; }
.red-dot-error{ color: red; font-size: 12px; }
/*===========================*/
#main-menu li a {  color: #000;  padding: 5px 0; position: relative; display: inline-block; }
#main-menu li .hdr-links:after, .register-page a:after{
    content: '';
    position: absolute;
    bottom: 4px;
    right: 0;
    height: 2px;
    width: 0;
    background-color: #595959;
    -webkit-transition: .3s;
    transition: .3s;
}
#main-menu li .hdr-links:hover:after, .register-page a:hover:after{
    width: 100%;
    left: 0;
    right: auto;
}
header .chevy-chase{ font-size: 9px; margin: 0 15px;  display: none; }
/*- LOGIN & REGISTRATION ICONS -*/
#logout-button {
    padding: 0px 7px;
    font-size: .9em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    opacity: .7;
}
 #logged-user {
	font-size: .9em;
    opacity: .8;
    padding: 0 5px; 
}
/*=========== HEADER ===========*/
span.select-wrapper{ position: relative; display: block; }
span.select-wrapper::after {
    content: " ";
    border-top: 0.5em solid #808080;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
    position: absolute;
    top: 42%;
    right: 8px;
}
/*===============================*/
.header-dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 160px; 
    z-index: 2;
}
#main-menu .header-dropdown-content li a{
    display: block;
    background-color: #fff;
    padding: 10px 15px;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #ccc;
} 
.header-dropdown:hover .header-dropdown-content{
    display: block;
}
 /*===============================*/
header { background: var(--header_bg); }
header .logo { padding: 20px 0;vertical-align: middle;}
header .logo img { max-height: 75px;  }
header .header-search{ width: 225px;  }
header .JSsearch-button2 {   
	padding: 0px 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
    background: transparent;
    font-size: 16px;
    color: #222; 
}
header .header-search input[type="text"]{
	margin: 0; 
	border-radius: 40px;
    padding: 5px 40px 5px 15px;
}
header .login-btn{
    background: var(--login_btn_bg);
    color: var(--login_btn_color);
    font-size: 20px;
    margin: 0 5px;
    padding: 5px;
}
header .login-btn ~ .JScustom-dropdown-content{
    width: 120px;
    left: unset;
    right: 0;
}
header .login-dropdown li a{ padding: 5px 15px; }
header .login-dropdown .dropdown-menu{
    right: 0;
    left: unset;
    padding: 0;
}
header .header-cart-container{ padding: 5px; }
header .header-cart { font-size: 20px; }
header .div-in-header{
    display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;
}
header .header-cart-container:hover .JSheader-cart-content{ visibility: visible; opacity: 1; }
header .JSbroj_cart {
    top: -10px;
    position: absolute;
    right: -10px;
    background: var(--cart_number_bg);
    padding: 3px 5px;
    font-size: 10px;
}
header .pages-in-header{ vertical-align: middle; max-width: 75%; }
header #JScategories h3 {
    padding: 12px;
    margin: 10px;
    color: #666;
    font-size: 13px; 
    background: #d6eaf5;
    border-radius: 50px;
    width: 135px;
    font-weight: 500;
}
header .JSheader-cart-content {
	background: #fff;
    color: #000;
	position: absolute;
	width: 300px;
	right: 0;
    top: 100%;
	padding: 0 10px;
	box-shadow: 0 0 5px 0 #999;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	transition: .1s ease-in-out;
	-webkit-transition: .1s ease-in-out;
}
 
header .JSheader-cart-content li {
    padding: 5px 0;
    font-size: .9em;
    border-bottom: solid 1px #ddd;
} 
header .header-cart-image-wrapper {
    width: 55px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    overflow: hidden;
    text-align: center;
}
header .header-cart-image-wrapper img { 
	max-width: 95%; 
	max-height: 45px;
    width: auto;
    height: auto;
}
header .JSheader-cart-content li a:nth-child(2) {
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: 70%;
    width: 60%;
}
header .header-cart-amount {
    display: inline-block;
    text-align: center;
    border: solid 1px #ddd;
    min-width: 25px;
    margin: 0 20px 0 15px;
}
header .JSheader-cart-content .close:hover, .cart-remove .close:hover { opacity: 1; }
header .header-cart-summary {
    display: block;
    text-align: right;
    padding: 5px 7px;
    margin: 5px 0 10px;
    background: #f0f0f0;
}
header .header-cart-summary span { margin: 0 0 0 5px; }
/*================*/
.quick-view-wrapper img{
    margin: 20px auto;
    max-height: 370px;
}
.gif-loader { display: block; margin: auto; }
/*======= STICKY HEADER ANIMATION ========*/
.JSsticky_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
    padding: 0 15px;
    animation: smooth_slide .3s;
    background: var(--header_bg);
    box-shadow: 0 1px 4px #a6a6a6;
}
@keyframes smooth_slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}
.JSsticky_header .logo{ padding: 5px 0; }
.JSsticky_header .logo img{ max-height: 50px; }

/* Search sugestions */
ul.JSsearch_list {
	position: absolute;
	left: -15px;
	top: 100%;
	z-index: 999;
	width: 115%;
	background: #fff;
	box-shadow: 1px 1px 10px #b3b3b3;
	max-height: 400px;
	overflow: auto;
	font-size: .8em;
    text-align: left;
}
li.search_list__item:last-child a { border-bottom: none; }
.search_list__item__link {
	border-bottom: 1px solid  #ddd;
    line-height: 1.4;
    margin: 0 0 5px;
    padding: 5px;
    display: block;
    background: #f4fafc;
}
.search_list__item__link__text { display: block; padding: 5px 0; }
.search_list__item__link__cat { color: #808080; display: block; text-align: right; }
/*============ HEADER CART ============*/
 
.JSbroj_wish{ color: #ff0000; }
.JSbroj_wish span{ display: inline-block; font-weight: 600; }

/*=========== PRODUCT LIST ===================*/
.sub_category_item{
	height: 70px;
    padding: 0;
    transition: 0.2s ease-in;
    overflow: hidden;
    position: relative;
    margin: 3px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.sub_category_item:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 5px;
    bottom: 0px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}
.sub_category_item:hover:after{
	border-color: #ff3333;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.sub_category_item img{
    max-height: 55px;
    max-width: 50px;
    width: auto;
    height: auto;
    padding: 5px 0;
    margin: 0 8px;
}
.sub_category_item p{
    margin: 0;
    padding: 0 8px 0 0;
    line-height: 1;
    font-size: 12px;
    word-wrap: break-word;  
}
.group-parent-div a:hover{ color: #595959; }
.group-parent-div{ padding: 10px; }
/*===== CATEGORIES =====*/
.level-1-img-container{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0 5px 0 0;
}
.level-1-img{
    max-width: 25px;
    max-height: 23px;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 1px;
}
.level-2-img{
    width: auto;
    height: auto;
    max-height: 45px;
    max-width: 55px;
    display: inline-block;
}
.level-2-container-for-image{ 
    width: 60px;
    height: 50px; 
    padding: 6px 0 !important; 
}
#JScategories .JSlevel-2 li { position: relative; }
#JScategories .JSlevel-2 {
	position: absolute;
    padding: 0 0 3px 0;
    width: 765px;
    display: none;
    top: 0px;
    left: 100%;
    background: var(--categories_level_2_bg);
    overflow: hidden;
    z-index: 700;
}
#JScategories .JSlevel-2 .lvl-2-cat{
    font-weight: 600;
    padding: 7px 0;
}
#JScategories .JSlevel-1 li a {
    position: relative;
    padding: 5px 13px;
    color: var(--level_1_color);
    background: #fff;
    font-size: 13px;
    border-bottom: 1px solid #f2f2f2;
    min-height: 35px;
    display: block;
    display: flex;
    align-items: center; 
    display: -webkit-flex;
    -webkit-align-items: center; 
}
#JScategories .JSlevel-1 li a:hover { color: #F8694A; }
#JScategories .JSlevel-1 > li { position: relative; }
/*============= Manufacturer =================*/
.manufacturer-categories h3{
    font-size: 1em;
    margin: 20px 5px;
    padding: 5px;
    font-weight: normal;
    border-bottom: 1px solid #e6e6e6;
}
.manufacturer-categories ul li a{
    border-bottom: 1px solid #e6e6e6;
    margin: 3px 0;
    display: block;
    padding: 5px;
}
/*============ CATEGORIES ===================*/
 
#JScategories .JSlevel-1 {
	display: none;  
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: var(--categories_level_1_bg);
    width: 270px;
    border: 1px solid #DADADA;
    z-index: 50;
    line-height: initial; 
}
#JScategories .level-3 li a{ font-weight: normal; }
.JSsubcategory-toggler {
	display: none;
	position: absolute;
	right: 15px;
	top: 0;
	text-align: center;
}
.JSsubcategory-toggler span {
    display: inline-block;
    width: 29px;
    height: 26px;
    line-height: 28px;
    cursor: pointer;
}
#JScategories .JSlevel-2 li a {
   padding: 4px;
   width: 100%;
   color: var(--level_2_color);
   min-height: initial;
}
#JScategories .JSlevel-2 li a:hover { background: none;  }
#JScategories .JSlevel-3 li a{ border: none; }
.JSCategoryLinkExpend{
    padding: 3px 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
}
#JScategories .level-3 { margin: 0; line-height: 1.4;   }

/*- MAIN CONTENT -*/
#main-content { overflow: hidden; min-height: 700px; padding-bottom: 15px; }

#product-page #main-content{ padding: 0 0 30px; }
/*- MAIN SLIDER -*/
#JSmain-slider { 
    max-width: 100%;
	overflow: hidden; 
    margin: 0;
    z-index: 1;
} 
#JSmain-slider img{ width: 100%; max-height: 720px; }
#JSmain-slider .slick-next { right: 0; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
#JSmain-slider .slick-prev { left: 0; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
#JSmain-slider .slick-next, #JSmain-slider .slick-prev{
	height: 50px;
	width: 35px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: rgba(0,0,0,.1);
    margin: 0;
}
#JSmain-slider .sliderText, .banners-right .sliderText{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%); 
    width: 100%;
    max-width: 700px;
    z-index: 1; 
    background: rgba(0,0,0,.5); 
    font-size: 20px;
}
.banners-right .sliderText{
    max-width: calc(100% - 10px);
    margin: 5px;
}
#JSmain-slider .sliderText div > *, .banners-right .sliderText div > *{
    margin: 10px 0;
    text-shadow: 0 0 1px #000;
    color: #fff;
    padding: 5px 50px;
    display: inline-block;
}

#JSmain-slider .slick-next:hover, #JSmain-slider .slick-prev:hover{
     background: rgba(0,0,0,.3);
}
#JSmain-slider .slick-prev:before, #JSmain-slider .slick-next:before{
    position: absolute;
    top: 0;
    font-family: FontAwesome;
    line-height: 50px;
    height: 100%;
    width: 100%;
    opacity: 1;
    font-size: 40px;
}
#JSmain-slider .slick-next:before { content: "\f105"; right: 0; text-shadow: 0 0 1px #000; }
#JSmain-slider .slick-prev:before { content: "\f104"; left: 0; text-shadow: 0 0 1px #000; }
#JSmain-slider .slick-prev:hover:before, #JSmain-slider .slick-next:hover:before{ opacity: .7; }
 
/*BANNERS RIGHT OF THE MAIN SLIDER*/
.banners-right a { margin: 5px; }
.banners-right img { 
	max-height: 350px; 
	margin: 20px auto; 
	width: auto;
 }
 .banners-right img:hover{ opacity: .7; }
/*========= PRODUCT =========*/
.shop-product-card {
    background: var(--product_bg);
    margin: 15px 10%;
}
.shop-product-card .sale-label, .quick-view-wrapper .sale-label{
    border-radius: 3px;
    background: var(--sale_action_price_bg);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 12px;
}
.shop-product-card .product-meta{ padding: 0 5px 15px; background-color: var(--product_bottom_bg); }

.shop-product-card .buy-btn, .shop-product-card .not-available,
.shop-product-card-list .buy-btn, .shop-product-card-list .not-available {
    display: inline-block;
    padding: 12px; 
    color: #404040;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
}
.shop-product-card .not-available{ opacity: 0.8; }

.shop-product-card .wish-list, 
.shop-product-card .quick-view, 
.shop-product-card .compare-me,
.shop-product-card-list .wish-list, 
.shop-product-card-list .quick-view, 
.shop-product-card-list .compare-me
{ 
	padding: 12px 5px;
    background-color: transparent;
    color: #666;
    margin: 0 5px 0 0;
    float: right;
    display: inline-block;
}
.shop-product-card .compare-me.active,
.shop-product-card-list .compare-me.active{
    color: #f79a87;
}
.shop-product-card .add-to-cart-container {
 	opacity: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -50px;
    background-color: #d6eaf5;
    border-radius: 50px;
}
.shop-product-card:hover .add-to-cart-container{ 
	opacity: 1;
	bottom: 0;
}
.shop-product-card .product-name{
	display: block;
    height: 31px;
    overflow: hidden;
    padding: 0 2px;
    margin: 5px 0;
}
.shop-product-card .product-name h2, .shop-product-card-list .product-name, .vezani_artikli .shop-product-card .product-name h2{
	font-weight: 500;
    font-size: 14px;
    color: var(--product_title_color);
    font-family: 'Cerebri Sans',Arial,sans-serif;
}
.shop-product-card .product-price, .shop-product-card-list .product-price{
    display: block;
    font-size: 20px;
    line-height: 1;
    color: var(--product_price_color);
} 
.price-holder{ height: 40px; }

.shop-product-card .product-old-price, .shop-product-card-list .product-old-price{
    text-decoration: line-through;
    color: var(--product_old_price_color);
    font-weight: 700;
}
.shop-product-card .product-image-wrapper, .shop-product-card-list .product-image-wrapper{
    height: 350px;
    display: flex;
    display: -webkit-flex;
    margin: 0 0 5px;
    overflow: hidden;
}
.shop-product-card .product-image-wrapper a, .shop-product-card-list .product-image-wrapper a{ margin: auto; }
.shop-product-card .product-image { max-height: 325px; padding: 0 10px; width: auto; }
.shop-product-card .buy-btn i { font-size: 13px; margin-right: 5px; }
.shop-product-card .buy-btn:hover, .shop-product-card-list .buy-btn:hover { background-color: transparent; }
#product-page .JSproduct { padding: 0;  }
#product-page .shop-product-card  { margin: 15px 3%; }

.JSrelated-products{ overflow: hidden; }

/*=========== PRODUCT ON LIST ==================*/
.shop-product-card-list{
    background-color: var(--product_bg);
    border: 1px solid #ddd;
    border-bottom: 1px solid transparent;
    transition: .2s all;
}
.shop-product-card-list:last-child{ border-bottom: 1px solid #ddd; }
.shop-product-card-list:hover{  border: 1px solid #f79a87; }
.shop-product-card-list .add-to-cart-container{
    background-color: #d6eaf5;
    border-radius: 50px;
    display: inline-block;
    margin: 10px 0;
    min-width: 240px;
}
.shop-product-card-list .product-image-wrapper{ height: 160px; }
.shop-product-card-list .product-image{
    max-width: 90%;
    max-height: 155px;
    width: auto;
    padding: 5px 0;
    margin: auto;
}
.shop-product-card-list .product-name{ 
    border-bottom: 1px solid #ddd;
    display: block;
    height: 23px;
    overflow: hidden;
    margin: 10px 0;
}
.shop-product-card-list .ribbon-sale {
  position: absolute;
  left: -5px; 
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
}
.shop-product-card-list .ribbon-sale span {
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #f79a87;
  box-shadow: 1px 1px 5px #bbb;
  position: absolute;
  top: 19px;
  left: -21px;
}
.shop-product-card-list .ribbon-sale span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #f79a87;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #f79a87;
}
.shop-product-card-list .ribbon-sale span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #f79a87;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #f79a87;
}
 /*=============================*/
 .for-seo{
 	margin: 0;
    font-size: inherit;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
 }
 img{ color: #bbb; font-size: 12px; line-height: 1; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
/* ========= TAGS ============== */
 .product-tags a{
    font-size: 14px;
    margin: 10px 5px;
    padding: 2px 5px;
    display: inline-block;
 }
/*===========================*/
.PDV_price{ 
    font-size: 15px;
    color: #333;
    min-width: 160px;
    display: inline-block;
}
.article-manufacturer-text{ font-style: italic; font-weight: bold; color: #666; }
.article-brand-img img{ max-width: 100%; max-height: 50px; padding: 5px 0; }
.article-heading {
    font-size: 22px;
    color: #222;
    padding: 15px 0;
    margin: 10px 0 0;
}
.artical-brand-text{
    font-style: italic;
    border: 1px solid #ccc;
    padding: 5px;
    font-weight: 600; 
}
/*--- FOOTER ---*/
footer{ background-color: var(--footer_bg); color: #666666; padding: 40px 0 20px; }
footer .footer-box-pages-title{
	 min-height: 30px; 
	 margin: 5px 0; 
	 color: #222;
     text-transform: uppercase;
}
.footer-sections .col-md-3{
    min-height: 170px;
}
.footer-sections .col-md-3:last-of-type{ min-height: auto; } 
footer .mailto{ color: inherit; }
footer .footer-links li a, footer .footer-links p a { 
	color: #666666; 
	display: inline-block;
	margin: 2px 0; 
	position: relative;
}
footer .footer-links li a:hover{ color: #000; }
footer .footer-links li a:after{
    content: '';
    width: 0;
    height: 1px;
    border-bottom: 1px solid #6ea6c4;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: .3s;
    transition: .3s;
}
footer .footer-links li a:hover:after{
	 width: 100%;
}
footer .foot-note div ul li img{
    max-height: 40px;
    max-width: 150px;
    vertical-align: middle;
    display: inline-block;
    margin: 10px 0;
    height: auto;
    width: auto;
}
footer .newsletter-title{
    font-size: 25px;
    margin: 10px 0px;
}
footer .newsletter { margin: 15px 0 25px; position: relative; }
footer .newsletter:after{
	content: "\f003";
    font-family: fontAwesome;
	position: absolute;
    top: 10px;
    left: 5px;
}
footer .newsletter input {
	border: none;
    border-bottom: 1px solid #b3b3b3;
    padding: 5px 25px;
    background: transparent;
}
footer .newsletter button {
	background-color: #d6ebf5; 
	color: #222;
	font-weight: 600;
	position: absolute;
	right: 0;
	top: 5px;
}
footer .newsletter button:hover { opacity: .7; }
footer .logo img { max-height: 150px; }
/*============== SOCIAL ICONS ===========*/
/*#preheader>.social-icons{
    position: fixed;
    right: 0;
    top: 35%;
    transform: translateY(-35%);
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	z-index: 50;
    background: #fff;
    padding: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}*/
.social-icons a {
    display: inline-block;
    font-size: 25px;
    margin: 2px;
    color: #b3b3b3;
    line-height: 1;
}
.social-icons a:hover{ opacity: .6; }
footer .social-icons a { margin: 5px 5px 15px; }

/*--- SCROLL TO TOP ---*/
a.JSscroll-top {
    position: fixed;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    right: -70px;
    bottom: 50px;
    background: rgba(0,0,0,.7);
    z-index: 999;
    padding: 10px 15px;
    border-radius: 10%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
a.JSscroll-top:hover { background: var(--btn_bg); color: var(--btn_color) !important;  }

/* ======= NEWS ========= */
.news {
    padding: 20px 10px;
    margin: 30px 15px;
    background: #fff;
	box-shadow: 0px 0px 5px #ddd;
}
.news img{ max-height: 190px; padding: 10px 0; width: auto; }
.news-text h2 span{ 
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 2px 0;
    margin: 10px 0;
}
.news-text .news__more {
    padding: 5px 15px;
}
/*- PRODUCT LIST OPTIONS -*/
.JSproduct-list-options {
    background-color: var(--product_list_bg); 
    margin: 5px 0 10px; 
    border-bottom: 1px solid #eaf5fa;
}
.view-buttons span {
    color: #bfbfbf;
    vertical-align: middle;
    display: inline-block;
    margin: 5px 0;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 3px;
} 
.view-buttons span.active { color: #999;  border-color: transparent; }
.vidiKao{
    font-size: 13px;
    font-style: normal;
    margin: 0 5px 0 0;
}
.view-buttons span:hover { opacity: .6; }

/*========= COMPARED ARTICLES ==============*/
.show-compered {
    background-color: #eaeef0;
    color: #000;
    padding: 4px 8px;
    margin: 7px 10px;
    font-size: 13px;
    border-radius: 5px;
}
#JScompareTable .JSclearCompare {
    display: inline-block;
    background: #D13E3B;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 5px;
}
.table-responsive{ border: none; }
.compare-table table{ width: 100%; }
.compare-table img{ max-height: 80px; max-width: 100%; }
#JScompareTable tr td:first-child { text-transform: uppercase; font-weight: bold; font-size: 13px; }
#JScompareTable tr td{ border-left: none; border-right: none; }

/*--- PRODUCT PREVIEW ---*/
#product-preview { position: relative; margin: 30px 0 0; }
.rate-me-artical{ margin: 5px 0; }
/*================*/
.zoomWrapper {
	width: 100% !important;
	height: 400px !important;
	line-height: 400px;
	text-align: center;
	background: #fff;
	overflow: hidden !important;
    position: relative;
} 
.zoomContainer:last-of-type, .zoomWindowContainer { display: none !important; }
.zoomWrapper span { width: 100% !important; margin-top: 1px; }
.zoomWrapper img {
	position: relative !important;
	height: auto !important;
	max-height: 100% !important;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
    top: 50%;
    width: auto !important;
    margin: auto;
    padding: 10px 0;
}
.fancybox-overlay-fixed { background: rgba(0, 0, 0, .6); }
.fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../../../images/fancybox/fancybox_sprite.png') !important;
}
a.elevatezoom-gallery {
    position: relative;
    width: 23%;
    height: 90px;
    display: inline-flex;
    display: -webkit-inline-flex;
    background: #fff;
    z-index: 1;
    margin: 15px 0;
    padding: 5px;
    vertical-align: middle;
}
a.elevatezoom-gallery img { 
	display: inline-block; 
	max-height: 75px; 
	max-width: 100%;
    margin: auto;
}
.zoomLens, a.elevatezoom-gallery { box-shadow: 0 0 0 1px #f0f0f0; cursor: pointer;}

/* ======================= */ 
.article-password{
	margin: 6px 0;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    opacity: .9;
    padding: 0 10px;
}
.add-to-cart-artikal {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 600;
    margin: 10px;
    color: var(--add_to_cart_btn_color);
    background-color: var(--add_to_cart_btn_bg);
}
.add-to-cart-artikal:hover, .login-page-padding .login-form-button:hover{
     box-shadow: 0 0 5px #000;
}
.add-to-cart-area{ margin: 15px 0; }

/*- PRODUCT PREVIEW INFO -*/
.product-preview-info ul li a {    
    font-weight: 600;
    color: #666;
    font-size: 13px;
}
.add-to-cart-area .not-available {
	background-color: var(--add_to_cart_btn_bg_not_available);
    cursor: not-allowed;
    margin: 10px 0;
    padding: 10px 30px;
    opacity: .5;
    vertical-align: middle;
}
/* OSOBINE */
.karakteristike_osobine, .osobina_karakteristika { display: inline-block; position: relative; }
.osobina_naziv { min-width: 70px; display: inline-block; }
.osobina_karakteristika span {
    display: inline-block;
    min-width: 45px;
    min-height: 25px;
    padding: 4px;
    color: #fff;
    border: 3px solid #ddd;
    text-align: center;
    cursor: pointer;
    text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px;
}
.osobina_karakteristika input { position: absolute; top: 0px; visibility: hidden; }
.osobina_karakteristika input:checked + span {    
    border: 3px solid #f79a87; 
}
.input_kolicina { display: inline-block; margin: 0 5px; }

/*================*/
a.add-amount-less, a.add-amount-more, a.JScart-less, a.JScart-more {
    display: inline-block;
	height: 31px;
	width: 20px;
	line-height: 31px;
    color: #000;
    text-align: center;
    background: #f4fafc;
}
.product-preview-price { margin: 15px 0; }

.artical-price, .quick-view-price{
    color: var(--discount_price_color); 
    font-size: 18px; 
}
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs { margin-top: 20px; }
.tab-titles{ 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.tab-titles li {
    float: none;
    display: inline-block;
    margin: 0
}
.tab-titles li.active a{
    box-shadow: 0px 3px 0px #666;
}
.tab-titles li a { 
    border: none !important; 
    opacity: .8; 
    color: #000;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 10px;
}
.tab-content {
    padding: 30px 5px;
    min-height: 100px;
}
.tab-content table td{ text-align: left; padding: 4px 5px !important; }
.tab-content table{ width: 100%; }

/*===== COMMENTS ========= */
.comment-content {
    margin: 10px;
    padding: 15px;
    font-size: 13px;
    box-shadow: 0px 0px 10px #ddd;
    position: relative;
}
.comment-content span{ display: block; }
.comment-name { font-weight: bold; }
.comment-date {
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.replies { margin: 0 0 0 20px; }
.replies .comment-content { color: #000; background: #f2f2f2; }

/* ============ INSIDE CART =============== */
.without-btn {
    background-color: #f4fafc;
    color: #000;
    border: 1px solid transparent;
    margin: 15px 0px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
}
.without-btn.active { border: 1px solid #000; }
.without-btn .fa {
	margin-left: 10px;
	font-size: 20px;
	line-height: 35px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.without-btn.active .fa { -webkit-transform: scale(1); transform: scale(1); }

/*- CART ITEMS -*/
.cart-labels { margin-top: 20px; border-bottom: 1px solid #e9e9e9; }
.cart-labels li {
	padding: 7px 8px;
    color: #333;
    text-align: center;
}
.JScart-item {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
    min-height: 80px;
}
.JScart-item li {
    padding: 6px 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}
.JScart-item li > * { margin: auto; }
.JScart-image img {  max-height: 70px; width: auto; }
.cart-name a{ line-height: 1.2; }
a.JScart-less, a.JScart-more, .cart-page .JScart-amount { 
    height: 30px;
    line-height: 30px;
    width: 30px; 
    padding: 0;
    text-align: center;
}
.add-to-cart-area .cart-amount, .add-to-cart-area .wish-list {
    width: 40px;
    text-align: center;
    height: 40px;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #000;
    float: none;
    background: #fff;
    border: 1px solid #ccc;
    -moz-appearance: textfield;
    vertical-align: middle;
}
.cart-remove .close, header .JSheader-cart-content .close  { font-size: 15px; opacity: .4; }

/*- BELOW CART -*/
.cart-summary { 
    padding: 5px 0;
    margin: 15px 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    font-weight: 600;
}
/*- CART ACTION BUTTONS -*/
.cart-action-buttons { margin-top: 30px; }

.cart-btn, .modal-btns-login, .news-text .news__more, header .JSheader-cart-content > div a{
    margin: 15px 5px;    
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    box-shadow: 3px 2px 2px #ccc;
} 
.cart-btn:hover, .modal-btns-login:hover, .news-text .news__more:hover, header .JSheader-cart-content > div a:hover{
     box-shadow: 3px 2px 2px #a6a6a6;
}
/* BUY WITHOUT REGISTRATION - FORM */
.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active { display: block; }

/* SHOPPING INFORMATION */
.shopping-information table { width: 98%; margin: 0 auto; font-size: .9em; }
.shopping-information table th { padding: 20px 10px 10px; }
.shopping-information table td { padding: 3px 10px; text-align: left; }
.shopping-information table .summary { padding-right: 10px; text-align: right; font-weight: bold; }

/*--- USER PAGE ---*/
.user-info-form { margin: 20px 0; }
.user-info-form .submit {
	float: left;
	margin-left: 0.9375em;
	margin-top: 20px;
	padding: 1px 8px;
	font-size: 1em;
}
.user-orders-table { width: 100%; margin: 10px 0; }
.user-orders-table th,td{ border: 1px solid #ddd; padding: 5px 0; text-align: center; }
.user-order-button{ border-radius: 50px; }
/*===================*/
.capcha{
    border: 1px solid #ddd;
    background: #f2f2f2;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
}
.capcha input[type="text"]{
    width: auto;
    display: inline-block;
    margin: 0 5px;
}
.capcha img{ margin: 5px auto; }
/*====================*/
.close-me-btn{    
    opacity: .5;
    font-size: 25px;
}
.bootbox p {    
    font-size: 17px;
    text-align: center;
    margin: 10px 0 0;
}
.bootbox .modal-dialog{ top: 25%; }
.bootbox .modal-dialog .btn{ padding: 5px 30px; border: none; box-shadow: 1px 1px 5px #bbb; border-radius: 0;}
.bootbox .modal-dialog .btn:nth-child(1){
    background-color: #ff4d4d;
    color: #fff;
}
.bootbox .modal-dialog .btn:hover{ box-shadow: 1px 1px 5px #666; }
.modal-footer, .modal-header{ border: none; padding: 15px 10px; }
/*====== CONTACT PAGE ======*/
#map_canvas { height: 330px; margin: 10px 0; }

/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
    margin: 15px 0 0;
    padding: 5px 10px;
    color: #000;
    background-color: #f4fafc;
}
.category-name-link {
	margin: 2px 0;
	display: block;
	border-bottom: 1px solid #ddd;
}
.category__list { display: block; }
.category__list__item__link { display: block; line-height: 1.7; }
.category-name-link, .category-heading, .category__list__item__link { font-size: 14px; } 

/*--------- ALL  CATEGORY SIDEBAR ------------- */
.JScategory-sidebar__list {
    margin: 20px 0; 
    background: #f4fafc; 
    z-index: 801;
}
.category-sidebar__list--fix { position: fixed; top: 15px; width: 270px; }
.category-sidebar__list__item__link {
	display: block;
	padding: 2px 10px;
	font-size: 13px;
}
/* Dodato Tamara */
#content { width: 100%; }

.contact-heading{ margin: 10px 0; border-bottom: 1px solid #ddd; }

.vezani_artikli .linked-articles-input{ 
    margin: 0;
    text-align: center;
    width: 40px;
    padding: 0;
    background: rgba(255,255,255,.5);
}
/* article page admin button*/
.admin-article .supplier{ display: block; }
.admin-article{
    position: absolute;
    top: 25%;
    right: 0;
    background: linear-gradient(#fff,#ddd);
    text-align: center;
    padding: 0 7px;
    margin: 5px;
    z-index: 2;  
    border: 1px solid #ddd;
}
.article-level-edit-btn{
    font-weight: bold;
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 0 5px;
    display: inline-block;
}
/*=========*/
.new-content { padding: 30px 15px; }
.new-content p, .new-content ul li { font-size: 1em; }
.new-content img{ 
	max-width: 100%;
	max-height: 300px;     
	display: inline-block;
	margin: 0 5px; 
}
/* Login/Registration Forms */
.login-page-padding {
    padding: 20px 0;
    min-height: 450px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.login-page-padding div:first-child{
    margin: auto;
}
.welcome-login, .welcome-login span{ 
    font-size: 13px;
    color: #8c8c8c; 
    display: block;
    margin: 5px 0;
}
.login-page-padding .login-form-button{   
    margin: 5px 0;
    padding: 10px;
    width: 100%; 
}
.register-page a{
    display: inline-block;
    font-size: 20px;
    margin: 5px 2%;
    padding: 5px;
    position: relative;
}
.register-page a:hover { color: initial; }
 
.JShidden-msg, .menu-close, #review-number, .JScustom-dropdown-content, 
header .resp-nav-btn, .JSclose-nav, .slick-dots li, #JScategories .JSlevel-4 li,
.JSwithout-reg-none-personal, .JSwithout-reg-personal
{ display: none; }

/*============================*/
#b2b-login-icon { padding: 4px; }

/*======= ACTION SLIDER ==============*/
.btn-slider {
    padding: 1px 5px;
    color: #f79a87;
    background-color: transparent;
    outline: none;
    top: -55px;
    position: absolute;
    font-size: 1.5em;
}
.btn-slider:hover{ opacity: .5; }
.previous, .slider-prev { right: 40px; }
.next, .slider-next { right: 0; }

/* ======== NEWS ======== */
.single-news img { max-height: 200px; }
.single-news { padding: 30px 10px; }
 
/* ADDITIONAL FILES */
.files-list-item {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	display: inline-block;
    margin: 10px;
}
.files-name { font-weight: normal; margin: 6px; }

.features-list li {
	font-size: 12px;
	border-bottom: 1px solid #ddd;
	padding: 2px 10px;
    display: inline-block;
    width: 49%;
}
.features-list li:nth-child(even){ background: #f5f5f5; }
.generated-features-list:nth-child(even){ background: #f5f5f5; }
.generated-features-list > li:nth-child(1), .generated-features-list > li:nth-child(2), .generated-features-list > li ul li{
    display: inline-block;
    padding: 2px 10px;
    line-height: 1.3; 
    vertical-align: middle;
}
.generated-features-list > li:nth-child(1){ width: 30%; }
.generated-features-list > li:nth-child(2){ width: 70%; }
.generated-features-list > li ul li{ border-bottom: 1px solid #ddd; width: 50%; }
.generated-features-list > li ul li:nth-last-child(-n+2){ border-bottom: none; }
.files-link img { max-width: 60px; }
 
/*============ BRENDS ==============*/
.brend-item {
	background: #fff;
	overflow: hidden;
	padding: 5px 15px;
	font-weight: bold;
	color: #222;
	height: 80px;
	margin: 15px 0;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 3px #f2f2f2;
}
.brend-item img{ max-height: 70px; padding: 5px 0; width: auto; }
/*=======================*/
.article-edit-btn {
    font-weight: bold;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #fff;
} 
.no-articles{ padding: 10px; display: block; background: #f4fafc; }

#admin-menu {
    background: #f2f2f2;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 51;
}
#admin-menu div{ font-size: 12px; }
#admin-menu div a i{ 
    color: #f8694a;
    font-size: 14px; 
}
.ms { margin: 0 5px; }
#admin-menu a:hover { color: #aaa; }

.success { margin: 10px 0 0; font-weight: bold; padding: 5px; }

/* ========== OCENE ==========*/
.review-star { cursor: pointer; }
.fa-star, .fa-star-o { color: var(--review_star_color); }
.comment-rating { font-size: 12px; }

/*=====================*/
.bw { background-color: var(--inner_body_bg); }

.karak-row {
	min-height: 25px;
	border-bottom: 1px solid #bbb;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
.karak-row:last-child{
	border-bottom: none;
}
/*---------- MEDIAQUERIES ----------*/
 @media screen and (min-width:991px) {
  	#JScategories .JSlevel-1 li:hover .JSlevel-2 {
		display: block;
		-webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
	    min-height: 105%;
	}
    /*=========== TOOLTIP ====================*/
    .tooltipz { position: relative; }
    .tooltipz[aria-label]:hover:after{
        content: attr(aria-label);
        min-width: 140px;
        background-color: rgba(0,0,0,1);
        color: #fff;
        text-align: center;
        border-radius: 3px;
        padding: 10px 5px;
        position: absolute;
        z-index: 2;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Open Sans', sans-serif;
    }
/*    .tooltipz:hover:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -7px;
        border-width: 7px;
        border-style: solid;
        border-color: #2f2e2e transparent transparent transparent;
    }*/
    #JScategories:hover > .JSlevel-1 { display: block; }

	#JScategories .JSlevel-1 > li:hover { box-shadow: 0px 0px 1px #a6a6a6; z-index: 710; }

	body.modal-open { overflow-y: auto; margin-right: -17px; overflow-x: hidden; }
 }

/*--- MIN WIDTH 641px ---*/
@media screen and (min-width:641px) {
	.generated-features-list:last-child { border-bottom: none; }
	.generated-features-list{
		font-size: 1em;
		padding: 0 10px;
		display: table;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
}
@media screen and (max-width:1024px) {
 	header .JSheader-cart-content{ display: none; }
	.sub_cats_item_brend img{ max-width: 130px; } 
}
@media only screen and (max-width: 991px){
	#responsive-nav {
	    position: fixed;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    max-width: 270px;
	    width: 0%;
	    overflow: hidden;
	    background-color: #f4fafc;
	    -webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	    transform: translateX(-100%);
	    -webkit-transition: 0.5s all;
	    transition: 0.5s all;
	    z-index: 990;
	    overflow-y: scroll;
        padding: 0 0 20px;
        box-shadow: 0 0 10px #666;
	}
	header .resp-nav-btn {
	    display: inline-block;
	    border: 1px solid #f79a87;
	    color: #f79a87;
	    padding: 6px 11px;
        margin: 20px 15px;
	    cursor: pointer;
	    font-size: 17px;
	    line-height: 1;
     }
	 .openMe {
	    width: 100% !important;
	    -webkit-transform: translateX(0%) !important;
	    -ms-transform: translateX(0%) !important;
	    transform: translateX(0%) !important;
	}
	#JScategories .JSlevel-1{ position: relative; display: block;  margin: 0 0 15px; }

 	.JSsubcategory-toggler, header .chevy-chase { display: inline-block; }
 
    header #JScategories h3{ border-radius: 0; margin: 0; width: 100%; }

	#main-menu li a{ padding: 6px 20px; }

     .header-dropdown-content { display: block; position: relative; }
     #main-menu .header-dropdown-content li a{
        background-color: #f4fafc;
        padding: 5px 0 5px 30px;
        box-shadow: none;
     }

	.pages-in-header li, header .category-nav, #JScategories .JSlevel-4 li{ display: block; }
 
	.container { width: auto;  padding: 0; }
 
	.JSclose-nav{
		display: inline-block;
		position: absolute;
		right: 20px;
		top: 10px;
		font-size: 18px;
        opacity: .7;
	}
	#JScategories .JSlevel-2 li,  .shop-product-card-list .add-to-cart-container{ width: 100%; }

    #JScategories .JSlevel-2 {
		position: relative;
		left: 0;
	 	width: 100%;
		padding: 0 0 0 15px;
	}
	.JSCategoryLinkExpend, #main-menu li a:after, .register-page a:after{ display: none; }
 
    .shop-product-card { margin: 15px 0; }
	.shop-product-card .add-to-cart-container{ 
        bottom: 0; 
        opacity: 1; 
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

	#JScategories .JSlevel-1 li a{ margin: 3px 0; }

    header .div-in-header div:nth-child(3){
        text-align: right;
    }
    header .pages-in-header{ display: block; max-width: 100%; }
}

@media only screen and (max-width: 768px){
	/*----- all categori sidebar  -------*/
  .JScategory-sidebar__list {
		position: fixed;
		top: 50%;
		right: 0px;
		margin-right: -80%;
		width: 80%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: margin 0.2s ease-in-out;
		transition: margin 0.2s ease-in-out;
		border: 1px solid #ddd;
	}
 .JScategory-sidebar__list__toggler {
		line-height: 30px;
		text-align: center;
		font-size: 20px;
		width: 35px;
		height: 35px;
		position: absolute;
		top: 50%;	
		transform: translateY(-50%);
		left: -35px;
		background: #f0f0f0;
		border-radius: 3px 0px 0px 3px;
		color: #747474;
		font-weight: 700;
		border: 1px solid #747474;
		cursor: pointer;
	}
	.category-sidebar__list--open { margin-right: 0%;} 
	.category-sidebar__list--open .JScategory-sidebar__list__toggler:before { content: "\2192";} 
	.JScategory-sidebar__list__toggler:before { content: "\2190";} 

	#product-page .JSproduct{ width: 49%;} 
	.top-menu-links li a:after{
	    content: '';
	    position: absolute;
	    height: 100%;
	    width: 96%;
	    bottom: 0;
	    left: 5px;
	    border-bottom: 1px solid #000;
	}
    footer .footer-links li a { margin: 5px 0; } 
    .banners-right a, .banners-right img{ max-height: 65px; margin: 5px auto; }
	 #preheader>.social-icons, .zoomContainer { display: none; }
	 #b2b-login-icon{ padding: 10px 0; }
	 .sm-text-center { text-align: center; }
     .sub_category_item{ height: 90px; }
     .disableZoomer:after{
        content: ''; 
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
     }
     .footer-sections .col-md-3{ min-height: auto; }
}
/*--- MAX WIDTH 640px ---*/
@media only screen and (max-width:640px) {
	#product-page .JSproduct{ width: 100%;	}
 	#main-content{ min-height: 400px; }
	#JScategories .level-4{ display: block;	}
	#JScategories .JSlevel-1, .generated-features-list > li:nth-child(2){ width: 100%; }
    .filters{ padding: 10px; }
 	footer .footer-box-pages-title{ min-height: auto; margin: 15px 0; }
	.karak-row{ height: auto; border: none; }
	.category-sidebar__list__item__link{ padding: 5px 10px; } 
 	.ukupno-konf { width: 186px !important; }
	.konfigurator-grupa { max-width: 68px; overflow: hidden; }
	.konfigurator select { width: 100% !important;}	 
	.generated-features-list { margin: 30px 0;  }
	.product-preview-tabs .generated-features-list .features-list-title { 
        border-top: 1px solid #bbb; 
        border-bottom: 1px solid #bbb; 
        color: #000; 
        font-weight: 600; 
        width: 100%;
    }
	.JScart-item { border-top: solid 1px #ddd; margin: 10px 0; }
}

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) {
	h2, .heading-background { font-size: 18px; }
    footer .newsletter-title{ font-size: 18px; margin: 0; }
    ul.JSsearch_list{ width: 100%;  left: 0; }
    .scrollable { overflow-y: scroll; height: 400px; }
	.article-heading{ font-size: 16px; }
	.zoomWrapper{ height: 180px !important; }
	.tab-titles li a { padding: 15px 5px; font-size: 13px; }
    header .header-search { width: 100%; }
    .add-to-cart-artikal { padding: 10px 15px; } 
    .btn-slider{ top: -50px; }
    .login-page-padding { min-height: auto; }
    .shop-product-card .product-image-wrapper{ height: 250px; }
    .shop-product-card .product-image { max-height: 225px; }
    .cart-btn, .modal-btns, .news-text .news__more { font-size: 12px; padding: 5px; margin: 15px 0; }
    footer .foot-note div ul li img{ max-height: 30px; }
    #start-page .heading-background{ text-align: left; padding: 10px 5px; }
    .without-btn, .cart-summary{ font-size: 12px;  margin: 10px 0; }
    header .logo img { max-height: 60px;  }
    #JSmain-slider .sliderText, .banners-right .sliderText{ font-size: 12px; }
}