body {
	background-color: #fff;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next, 
button.company-registration {
	background-color: #292E32;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next{
    opacity: 0.6;
}
#JSmain-slider .slick-next{
	right: 0;
}
#JSmain-slider .slick-prev{
	left: 0;
}
#JScategories .JSlevel-2 > li > a, .breadcrumbs li a,
.product-preview-info li a, .cart-name a, .summary-amount,
.login-form .forget-password, #logged-user {
	color: #666;
}
p a {
	color: #f1b64f;
}
#JScategories .JSlevel-1 > li > a {
	background-color: #ffffff;
	color: #222222;
}
.JSproduct .product-price {
	font-size: 16px;
	color: #e74c3c;
	font-weight: 600;
}
/* KONFIGURATOR */

.konfigurator tr {
	margin: 0;
	padding: 0 0px;
}
.konfigurator td {
	margin: 0;
	padding: 0 2px;
}
.konfigurator select {
	width: 470px;
    margin: 5px 0;
}
.konfigurator .JSKolicina {
	margin-bottom: 0px;
    text-align: center;
}
.dodaj-konf {
	padding: 3px 10px;
    border-radius: 4px;
	float: right;
	margin-right: 15px;
    background: #3F464D;
}
.ukupno-konf {
	width: 250px;
	float: right;
	margin-left: 15px;
}
#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	font-size: 1.3em;
	font-weight: bold;
	color: #EE301E;
}
.ukupno-konf p {
	margin-bottom: 0;
}
.ukupno-konf-div {
	background-color: #fff;
    border: 1px solid #ddd;
    margin: 3px;
    padding: 10px;
}
.JSGrupaAdd, .JSArtDetails {
	cursor: pointer;
	color: #EE301E;
}
.JSGrupaAdd:hover, .JSArtDetails:hover {
	color: #888;
}
.JSGrupaRemove {
	cursor: pointer;
	color: red;
}
.JSKolicina {
	width: 40px !important;
}
.select-wrapper {
	display: inline;
}
.slick-slider {
    margin-bottom: 10px;
}
.slick-track {
	margin-bottom: 10px;
}
input:autofill, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
    color: #000 !important;
}
.sub_cats_products {	
    margin-bottom: 20px;
    text-align: center;
}
.sub_cats_item {
	background: rgb(239, 239, 239);
	height: 105px;
    padding: 0;
    margin: 0px;
    border: 4px solid white;
    transition: 0.2s ease-in;
}
.sub_cats_item:hover {
	background: rgba(255, 165, 0, 0.61);
	transition: 0.2s ease-in;
}
.sub_cats_item p {
	font-size: 12px;
	color: black;	
}
.sub_cats_item img {
    height: 62%;
    padding-top: 10px;
    margin-bottom: -2px;
}