/* STYLE.CSS v.1.0.0 */

/*---------- GENERAL STYLES ----------*/
body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #292E32;
	background: #292E32; 
	-webkit-font-smoothing: antialiased;
}
.container {
	padding: 0 10px;
}
a{  
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}
a:link, a:visited, a:active { 
	text-decoration: none;
	color: #EE301E;
	outline: none;
}
a:hover{
    color: #EE301E;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, hlog5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', Arial, sans-serif;
}
h1 {
	font-size: 1.8em;
}
h2 {
    margin: 15px 0 0px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
    border-bottom: 1px solid #EE301E;
}
/*==================*/
.capcha > div{
    border: 1px solid #ddd;
    background: #eaf2fc;
    padding: 10px;
    box-shadow: 1px 1px 4px #ddd;
    margin: 25px 0;
}
.capcha > div input[type="text"]{
	width: auto;
	display: inline-block;
	margin: 0 5px;
}
.capcha > div img{
	margin: 5px;
}
/*==================*/
.article-heading {
	padding: 15px 0;
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    color: #292E32;
    background: #fff;
}
.h2-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}
h3 {
	padding: 0px 10px;
	font-size: 1.3em;
	background: #f0f0f0;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/*--- FOUNDATION OVERRIDES ---*/
.medium--0-5,
.small--0-5,
.large--0-5 {
	width: 4.166665;
}
.row {
	max-width: 100%;
}
.row .row {
	margin: 0;
}
/*[class*="column"]+[class*="column"].medium-3:last-child {
	float: left;
}*/
button {
	padding: 2px 4px;
	color: #fff;
  	background-color: #747474;
	outline: none;
}
button:hover {
	background-color: #6C7175;
    color: #1B1E21;
}
button:focus {
	background-color: #6C7175;
    color: #fff;
    opacity: 1;
}
label {
	font-size: 13px;
    padding: 5px 0;
}
 
input[type="text"]:focus{
	background-color: #F3F3F3;
}
input[type="text"]{
	margin: 0;
}
button.submit {
	float: right;
    padding: 8px 18px;
	color: #fff;
	font-size: .9em;
	border: none;
	background: #747474;
}
@media only screen and (-webkit-min-device-pixel-ratio:1) {
	::i-block-chrome, input {
		line-height: 1 !important;
	}
}
textarea {
	resize: none;
	font-size: .9em;
}
textarea:focus {
	background-color: #F3F3F3;
}
select, select:hover, select:focus {
	font-size: .9em;
	outline: none;
	background-color: #fff;
}
.select-wrapper span {
	display: none;
}
@-moz-document url-prefix() {
	.select-wrapper {
		display: block;
		position: relative;
	}
	.select-wrapper span {
	    position: absolute;
		width: 24px;
		height: 94%;
		top: 1px;
		right: 1px;
		background-color: #fff;
		background-image: url('../../../images/mini-icons.png');
		background-position: 0 -269px;
		background-repeat: no-repeat;
		pointer-events: none;
		z-index: 999;
	}
}
/*---------- FEATURES ----------*/

/*--- POPUP ---*/
.popup {
	position: fixed;
	display: block;
	width: 100%;
	height: 0;
	left: 0;
	top: -2000px;
	overflow: hidden;
	background: rgba(0, 0, 0, .85);
	z-index: 9999999999999;
}
.popup-opened {
	top: 0;
	height: 100%;
}
.popup-wrapper {
	left: 50%;
	top: 35%;
	position: relative;
}
.JSpopup-inner {
	left: -50%;
	top: -50%;
	position: relative;
	background: #fff;
}
.popup-close {
    position: absolute;
    right: 8px;
    top: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 25px;
    color: #5A5A5A;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: none;
}
.popup-close:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.popup h3 {
	padding: 3px 10px;
	font-size: 1.2em;
	background: #f0f0f0;
}
.popup .submit, .popup input.submit[type="submit"] {
	font-size: .9em;
}
.popup label {
	font-size: .9em;
	font-style: italic;
}
.popup input, .popup select {
	margin-bottom: 10px;
}
.popup input.submit[type="submit"] {
	padding: 2px 4px;
}
/*--- FANCYBOX ---*/
.fancybox-overlay {
	z-index: 9;
}
.fancybox-overlay-fixed {
	background: rgba(0, 0, 0, .7);
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../../../images/fancybox/fancybox_sprite.png');
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}
/*--- PRODUCT SLIDER ---*/
.JSproduct-slider {
	margin-top: 15px;
    margin-bottom: 0px;
}
.JSproduct{
	position: relative;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
	height: 20px;
	width: 20px;
	top: -47px;
	background: #EE301E;
	background-position: center center;
	background-repeat: no-repeat;
}
.JSproduct-slider .slick-prev:hover, .JSproduct-slider .slick-next:hover {
	background: #EE301E;
	background-repeat: no-repeat;
	opacity: .8;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
	right: 35px;
	left: auto;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -327px;
}
.JSproduct-slider  .slick-next, .JSproduct-slider .slick-next:hover {
	right: 10px;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -352px;
}
.JSproduct-slider .slick-prev:before, .JSproduct-slider .slick-next:before {
	content: '  ';
}
.JSproduct-slider .product-content {
	margin: 6px 10px;	 
}
.single-slide .JSproduct {
	width: 25%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.slick-slider img {
    margin: 0 auto;   
}
/* BANNER */
.banners a {
	display: block;
	margin: 10px 0;
}
.banners a:first-child {
	margin-top: 0px;
}
/*--- FILTERS ---*/
.filters {
	margin: 0;
	padding: 10px;
}
.slide-me{
	display: none;
}
.filters .filter-box {
	padding: 0;
}
.filter-info {
	color: #000;
	font-weight: bold;
	font-size: .9em;
}
.filter-info p {
	font-size: .8em;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #C01112;
}
.selected-filters-wrapper {
	padding: 10px 0;
    text-align: center;
}
.selected-filters li {
	display: inline-block;
	height: 24px;
	font-size: 13px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.6);
	line-height: 24px;
	padding: 0 13px;
	border-radius: 16px;
	background-color: #e4e4e4;
	margin: 5px;
}
.selected-filters li i.fa {
	cursor: pointer;
	float: right;
	font-size: 16px;
	line-height: 24px;
	padding-left: 8px;
	color: rgba(0, 0, 0, 0.6);
}
.JSselect-field {
	position: relative;
}
.filters li {
	list-style-type: none !important;
}
.filters .label-field {
    font-size: 14px;
    color: #3F464D;
    padding: 5px 10px;
    width: 100%;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-transition: background, color, 0.15s ease-in-out;
    transition: background, color, 0.15s ease-in-out;
    background-color: #ECECEC;
    font-weight: 600;
    line-height: 25px;
    margin: 5px 0 0;
    border-bottom: 1px solid #ddd;
}
.label-field__arrow {
	font-size: 20px;
	line-height: 25px;
	transition: color, 0.2s ease-in-out, -webkit-transform;
	-webkit-transition: color, 0.2s ease-in-out, -webkit-transform;
	transition: color, transform, 0.2s ease-in-out;
	transition: color, transform, 0.2s ease-in-out, -webkit-transform;
}
.filters li .JSselect-field {
	text-indent: 10px;
	float: right;
	display: block;
	padding: 0;
	height: 24px;
	width: 200px;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	color: #999;
	background-color: #fff;
	border: solid 1px rgb(169, 169, 169);
	cursor: pointer;
	background-image: url('../../../images/select-arrow.png');
	background-position: 180px center;
	background-repeat: no-repeat;
}
.active-filters {
	font-size: .8em;
	font-style: italic;
}
.filters li .JSmultiselect {
	text-indent: 0;    
	background: #fff;
	box-sizing: border-box;
	-webkit-transition: max-height 0.2s ease-in-out;
	transition: max-height 0.2s ease-in-out;
}
.filters li .JSmultiselect label a {
	cursor: default;
}
.filters .filter-box:before {
	display: none;
}
.m-hidden {
	z-index: -9999;
	display: none;
	top: 50px;
}
.m-shown {
	display: block;
	z-index: 9999;
	top: 25px;
}
.JSmultiselect label {
	padding: 3px 5px;
	font-size: 0.9em;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
    justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.filter-text {
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
	margin: 0px;
}
.JSmultiselect label input {
	margin: 0 5px;
}
.JSmultiselect label input:checked {
	background: #808080;
}
.JSmultiselect label:hover {
	background: #fff;
}
.filter-price {
	position: relative;
	padding: 10px 0;
	color: #fff;
}
.filters .btn-container {
	margin-bottom: 10px;
	text-align: center;
}
a.JSreset-filters-button {
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 2px;
	background: #292E32;;
}
.filter-box.open .label-field {
	color: #EE301E;
}
.filter-box.open .label-field__arrow {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	color: #EE301E;
}
.filter-box p {
	font-size: 12px;
}
/*---------- SECTIONS ----------*/

/*--- MAIN WRAPPER ---*/
.main-wrapper {
    max-width: 1175px;
    margin: 0 auto;
}
/*--- PREHEADER ---*/
#JSpreheader {
	position: relative;
	z-index: 1;
    background-color: #292E32;
    border-bottom: 1px solid #818283;
    line-height: 32px;
}
.preheader-icons a {
    color: #cccccc;
}
/*- MAIN MENU -*/
.JSmain-nav {
    padding: 0;
}
.menu-background {
  	border-top: 1px solid #818283;
}
#main-menu li {
	display: inline-block;
	line-height: 40px;
}
#main-menu li:after {
	display: inline-block;
	padding: 0 7px;
}
#main-menu li:last-child:after {
	display: none;
}
#main-menu li a {
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 0px 6px;
    font-weight: 600;
    border-right: 1px solid #818283;
    position: relative;
}
#main-menu li a:hover {
	color: #EE301E;
}
.choosed_filter {
	color: red;
}
/*- LOGIN & REGISTRATION ICONS -*/
#login-icon, #registration-icon {
	padding: 0px 10px;
	display: inline-block;
}
#login-icon span, #registration-icon span {
	font-size: 13px;
}
#login-icon:hover, #registration-icon:hover  {
	color: #171A1D;
    background-color: #CCCCCC;
}
#login-icon:before {
	background-position: -4px -204px;
}
.logout-wrapper {
    display: inline-block;
}
#logout-button {
    padding: 0px 10px;
    display: inline-block;
    font-size: 13px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#logout-button:hover {
    color: #171A1D;
    background-color: #CCCCCC;
}
.logged-user, #logged-user {
	font-size: 13px;
	display: inline-block;
	color: #cccccc;
}
 #logged-user {
 	color: #EE301E !important;    
 	text-transform: capitalize;
    padding-left: 2px;
 }
/*--- HEADER ---*/
.banners-right div {
	padding: 0;
}

*::-webkit-input-placeholder {
    color: #292E32;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #292E32;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #292E32;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #292E32;
}
header {
	position: relative;
	background: #292E32;
	border-bottom: 2px solid #EE301E;
}
/*- LOGO -*/
.logo {
	display: inline-block;
    margin: 20px 0px;
}
.logo img {
    max-width: 100%;
    max-height: 80px;
}
/*- SEARCH -*/
.JSsearchContent {
	position: relative;
}
.JSsearch-button {
	position: absolute;
	top: 0;
	right: 15px;
	width: 60px;
    height: 100%;
	color: #292E32;
	padding: 0px;
	background-color: #848A90;
	border-left: 1px solid #292E32;
}
.JSsearch-button i {
	font-size: 20px;
}
/* search sugestions */
ul.JSsearch_list {
	padding: 0px 15px;
	position: absolute;
	left: 0px;
	top: 40px;
	z-index: 999;
	width: 100%;
	background: #3D4348;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: border-box;
	max-height: 400px;
	overflow: auto;
}
li.search_list__item {
	font-size: 12px;
}
li.search_list__item:last-child a {
	border-bottom: none;
}
.search_list__item__link {
	display: block;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	border-bottom: 1px solid #f1f1f1;
	line-height: 1.4;
    padding: 8px 0px;
}
.search_list__item__link__text {
	-ms-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
	color: #C3C4C5;
}
.search_list__item__link__cat {
	font-size: 12px;
	width: 130px;
	color: #EF311E;
}
.JSsearchContent-field {
	background-color: #CECECE !important;
	margin: 0px !important;
    border-radius: 4px !important;
}
.JSsearchContent-field:focus {
	background-color: #DCDCDC !important;
}
/*- HEADER CART -*/
.header-cart-icon {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100px;
	font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.header-cart-icon:before {
	content: ' ';
	display: block;
	float: none;
	width: 50px;
	height: 45px;
	margin: 0 auto;
	background-image: url('../../../images/themes/modern/light/korpa.png');
	background-position: 0;
	background-repeat: no-repeat;
}
.header-cart-icon:hover {
	border-radius: 3px;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.JSheader-cart-content {
	background: #fff;
	position: absolute;
	width: 450px;
    right: 0px;
	padding: 0 10px;
	box-shadow: 0 0 1px 0 #999;
	border-radius: 2px;
	visibility: hidden;
    opacity: 0;
	z-index: 101;
	font-size: 1em;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.header-cart:hover .JSheader-cart-content {
	visibility: visible;
	opacity: 1;
}
.JSheader-cart-content li {
	padding: 10px 0;
	border-bottom: solid 1px #C3C1C1;
	display: flex;
    justify-content: space-around;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
}
.JSheader-cart-content li:last-child {
	border-bottom: none;
}
.header-cart-image-wrapper {
	display: inline-block;
	width: 52px;
	height: 52px;
	line-height: 48px;
	text-align: center;
	border: solid 1px #ccc;
	background: #fff;
	overflow: hidden;
}
.JSheader-cart-content li img {
	display: inline;
	max-width: 95%;
	height: auto;
	max-height: 95%;
}
.JSheader-cart-content li a {
	width: 47%;
	padding: 0 5px;
	color: #747474;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.JSheader-cart-content li a:hover {
    color: #EE301E;
}
.header-cart-amount {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
	width: 25px;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	text-align: center;
	border: solid 1px #C3C1C1;
}
.header-cart-summary {
	display: block;
	text-align: right;
	padding: 5px 7px;
	margin: 8px 0;
	background: #f0f0f0;
	font-weight: 600;
}
.header-cart-summary span {
	margin-left: 10px;
}
.header-cart-summary span span {
	margin: 0;
}
.JSheader-cart-content .close {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	width: 15px;
    line-height: 1;
	height: 15px;
	font-size: 13px;
	color: #fff;
	background: #999;
}
.JSheader-cart-content .close:hover {
	background: #F02626;
    color: #fff;
}
.slick-dots li{
	display: inline;
	margin: 4px;
}
/*--- MIDDLE AREA---*/
#sidebar-left {
	padding: 0;
	z-index: 9;
}
#middle-area #sidebar-left {
    z-index: 0;
}
#middle-area #sidebar-left ul.JSlevel-1 {
    overflow: overlay;
    display: block;
	max-height: 1738px;
}
/* category acccent button */

/*- CATEGORIES -*/
i.fa.fa-list-ul, i.fa.fa-plus-square-o{
    margin-right: 5px;
}
#JScategories h3 { 
	font-size: 16px;
	color: #fff;
	background: #292E32;
	margin: 0px !important;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #818283;
    border-right: 1px solid #818283;
}
#JScategories .JStoggler {
    position: absolute;
    right: 20px;
    top: 3px;
    z-index: 90;
    cursor: pointer;
    color: #EE301E;
    font-size: 22px;
    display: none;
}
#JScategories .fa-bars {
    padding: 5px;
    font-size: 22px;
}
#JScategories .JSlevel-1 {
	list-style-type: none;
	padding: 0;
    display: none;
	position: absolute;
    width: 100%;
    background-color: #fff;
    border-top: 2px solid #EE301E;
}
#start-page #JScategories .JSlevel-1 {
    display: block;
}
#JScategories .JSlevel-1 li {
	padding: 0 15px 0px 7px;
	position: relative;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#JScategories .JSlevel-1 > li:hover {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
	z-index: 710;
}
#JScategories .JSlevel-1 li a:hover {	
    border-color: transparent;
    color: #EF311E;
 }
#JScategories .JSlevel-1 > li.parent:hover:after {
	position: absolute;
	content: ' ';
	display: inline-block;
	right: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background: #730B01;
	z-index: 800;
}
.category__link-group {
	-ms-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.category__link-group__link {
	display: block;
	width: 100%;
	-ms-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	display: -ms-flexbox !important;
	display: -webkit-box !important;
	display: flex !important;
}
.category__item__link__span {
	font-weight: normal;
	font-size: 85%;
}
.category__item__link__expend {
	padding: 2.5px;
	cursor: pointer;
	color: #999;
}
#JScategories .JSlevel-1 li a {
	position: relative;
	display: block;
	padding: 5px;
	color: #222222;
	font-size: 13px;
	border-bottom: solid 1px #C0C5C9;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
}
 .fa .fa-th-large .change {
 	padding-right: 15px;
 }
#JScategories .JSlevel-2 {
	position: absolute;
	width: 633px;
	height: 0;
	top: 0px;
	left: 100%;
	background: #fff;
	overflow: hidden;
	z-index: 700;
	opacity: 0;
	margin: 0;
}
#JScategories .JSlevel-1  li:hover .JSlevel-2 {
	top: 0;
	height: auto;
	opacity: 1;
}
.manufacturer-categories ul li a{
	display: block;
    font-size: .9em;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    margin: 5px 0 0;
}
.manufacturer-categories h3{
    border-radius: 10px;
    font-size: 1.1em;
}
.JSsubcategory-toggler {
	display: none;
	position: absolute;
    width: 30px;
    height: 30px;
    right: 40px;
	top: 0;
	text-align: center;
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
#JScategories .JSsubcategory-toggler span {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 26px;
    line-height: 1;
    color: red;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler span {
	color: #000;
}
#JScategories .JSlevel-2 li {
	width: 50%;
	padding: 0 2.5%;
	float: left;
    border-left: 0;
}
#JScategories .JSlevel-2 li a:hover {
	border-bottom: 1px solid #C0C5C9;
}
#JScategories .level-3 {
	display: none;
}
#JScategories .level-3 li a:hover {
	border: none;
}
#JScategories .level-3-open .level-3 {
	display: block;
	padding-top: 10px;
}
#JScategories .level-3 li {
	width: 100%;
	margin: 0;
}
#JScategories .level-3 li a {
	padding: 2px 0;
	border: none;
	background-color: transparent !important;
}
/*----------- CATEGORI HORIZONTAL  -----------*/
#JScat_hor {
    position: relative;
}
#JScat_hor .JScategories-titile {
	display: none;
}
#JScat_hor .JSlevel-1{
	position: static;
	border: none;
	display: block;
	background-color: rgb(41, 46, 50);
	background: linear-gradient(rgb(41, 46, 50),rgb(84, 82, 82),rgb(41, 46, 50));
    font-weight: 600;
}
#JScat_hor .JSlevel-1 li {
	display: inline-block;
	padding: 0;
    border-left: none; 
    position: static;
}
#JScat_hor .JSlevel-1 li a {
	border-bottom: none;
	background-image: none;
	background-color: transparent !important;
    color: #fff !important;
    text-shadow: 1px 1px 5px #000;
}
#JScat_hor .JSlevel-1 > li.parent:hover:after{
	display: none;
}
#JScat_hor .JSlevel-2 {
	left: 0px;
	top: 100%;
	width: 633px;
}
#JScat_hor .JSlevel-2 li {
	display: block;
}
#JScat_hor .level-3 li{
	border: none;
}
#JScat_hor .JSlevel-2 li a:hover{
	border: none;
}
#JScat_hor .JSlevel-2 li a {
	background-image: none !important;
    color: #000 !important;
    text-shadow: none;
}
#JScat_hor .JSlevel-1  li:hover .JSlevel-2 {
	top: 100%;
}
#JScat_hor .parent.dropdown-left .JSlevel-2 {
	left: auto;
	right: 0px;
}
#JScat_hor .level-3 {
	display: block;
}
/*- MAIN CONTENT -*/
#main-content {
	background: #fff;
	padding: 0 0 30px;
	overflow: hidden;
	min-height: 700px;
}
/*- MAIN SLIDER -*/
#JSmain-slider {
	max-height: 450px;
	overflow: hidden;
    margin-top: 5px;
    padding: 0;
}
#JSmain-slider img{
	max-width: 590px;
	max-height: 350px;
    width: 100%;
}
.banners-right img{
    max-height: 114px;
    width: 100%;
}
#JSmain-slider .slick-prev:before, #JSmain-slider .slick-next:before {
	content: '  ';
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next {
	height: 50px;
	width: 30px;
	background: #999;
	margin-top: -25px;
	background-repeat: no-repeat;
}
#JSmain-slider .slick-prev:hover, #JSmain-slider .slick-next:hover {
	background-repeat: no-repeat;
    opacity: 1;
    background-color: #292E32;
    color: #EE301E;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-prev:hover {
	background-image: url('../../../images/large-icons.png');
	background-position: -60px center;
}
#JSmain-slider .slick-next, #JSmain-slider .slick-next:hover {
	background-image: url('../../../images/large-icons.png');
	background-position: -110px center;
}
/*BANNERS RIGHT OF THE MAIN SLIDER*/
.banners-right a {
    display: block;
    margin-bottom: 5px;
}
/* About us page */
.about-us-page {
	padding: 0 15px;
	box-sizing: border-box;
}
/*- PRODUCT */
.product-content {
	position: relative;
	padding: 1px 0 0;   
	background: #fff;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 7px -1px #9799A2;
    text-align: center;
}
 .product-content:hover {
	box-shadow: 0px 0px 12px gray;
}
.product-content:before {
	content: ' ';
	width: 0;
	height: 0;
	top: 0;
	display: block;
	position: absolute;  /*border: solid;*/
	border-width: 0 0 25px 25px;
	border-color: transparent transparent #ddd transparent;
	background: #fff;
	z-index: 999;
}
.product-content .btn-container{
	height: 63px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}
.JSproduct .product-image-wrapper {
	display: block;
	max-width: 90%;
	height: 150px;
	line-height: 130px;
	margin: 20px auto;
	text-align: center;
	background: #fff;
}
.JSproduct .product-image {
	display: inline;
	max-width: 90%;
	height: auto;
	max-height: 100%;
	font-size: 0;
	overflow: hidden;
}
.JSproduct .product-title {
	color: #222222;
	display: block;
	height: 42px;
	padding: 0 10px;
	overflow: hidden;
	font-size: 13px;
    font-weight: bold;
}
.JSproduct .action-holder {
	position: relative;
	margin: 0 0 10px;
}
.JSproduct .product-price span {
	font-size: .8em;
}
.JSproduct .JSadd-to-cart, .JSproduct .not-available {
	position: relative;
    font-size: .9em;
    padding: 3px 10px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}
.JSproduct .not-available{
	 padding: 3px 10px;
}
.JSproduct .JSadd-to-cart i {
	font-size: 20px;
	margin-right: 5px;
}
.JSproduct .JSadd-to-cart:hover {
	background-color: #DDDDDD;
    border-color: #9A9A9A;
    color: #EE301E ;
}
.JSproduct .not-available { 
	cursor: not-allowed;
}
 
.JSproduct button {
    background-color: #fff;
    color: #747474;
    border: 1px solid #bbb;  
}
/*Uporedi btn */
.JSproduct .JScompare {
    margin: 0 0 0 5px;
    padding: 2px 7px;
    border-radius: 2px;
}
.JSproduct .JScompare.active, .JSproduct .JScompare:hover {
     background-color: #DDDDDD !important;
    border-color: #9A9A9A;
    color: #EE301E !important;
}

/* end */

/*--- FOOTER ---*/
footer {
	padding: 30px 0;
	color: #B9B0B0;
	background: #292E32;
	border-top: 3px solid #EE301E
}
footer h4 {
    text-align: center;
    color: #cccccc;
}

/*- FOOTER LINKS -*/
  
.footer-links li a {
    padding: 5px 10px;
    font-size: 13px;
    display: inline-block;
}
.footer-links a:hover  {	
	background-color: #3F464D;
}
i.fa.fa-angle-double-right {
    margin-right: 5px;
}
footer .social-icons a {
    margin: 20px 18px 15px 0;
    box-shadow: 1px 1px 1px 1px #292e32 inset;
    display: inline-block;
}
footer .social-icons a:last-child {
    margin-right: 0;
}
footer .social-icons .facebook {
	background-position: 0 0;
}
footer .social-icons .twitter {
	background-position: -35px 0;
}
footer .social-icons .google-plus {
	background-position: -69px 0;
}
footer .social-icons .skype {
	background-position: -105px 0;
}
footer .social-icons .instagram {
	background-position: -141px 0;
}
/*- NEWSLETTER -*/
.newsletter.row {
	margin: 15px 0;
	position: relative;
}
.newsletter input {
	margin: 0px;
	background-color: #CECECE;
	border-radius: 4px;
}
.newsletter input:focus {
	background-color: #DCDCDC;
}
.newsletter button {
	position: absolute;
	line-height: 37px;
	right: -1px;
	top: 0;
	padding: 0 12px;
	font-size: .9em;
	background: #3F464D;
	color: #EE301E;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.newsletter button:hover {
	background: #3B4046 !important;
}
/*- SOCIAL ICONS -*/
.social-icons a {
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    z-index: 8;
    box-shadow: 5px 5px 8px 0px rgba(4, 6, 9, 0.4);
    border-radius: 4px;
    background-position: center;
    display: block;
    border-radius: 0px;
 	width: 35px;
	height: 35px;
 	background-image: url('../../../images/social-icons2.png');
 	background-size: cover;
}
.social-icons a:hover{
	transform: scale(1.1);
}
#JSpreheader .social-icons { 
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
#JSpreheader .social-icons .facebook {
	background-position: 0 0;
}
#JSpreheader .social-icons .twitter {
	background-position: -35px 0;
}
#JSpreheader .social-icons .google-plus {
	background-position: -69px 0;
}
#JSpreheader .social-icons .skype {
	background-position: -105px 0;
}
#JSpreheader .social-icons .instagram {
	background-position: -141px 0;
}
/*--- FOOTNOTE ---*/
.footnote {
	padding: 3px 10px;
	font-size: .9em;
}
.footnote a {
	color: #747474;
}
/*--- CARDS ---*/
 
.banke-centar a img{
	max-width: 110px;
	background: #fff;
	border-radius: 5px;
}
.banke-centar a  {
    margin: 5px 0;
}
.card img {
    max-height: 55px;
}
/*--- INFO & CONFIRM POPUP ---*/
.info-confirm-popup {
	display: none;
}
.JSinfo-popup, .confirm-popup {
	top: 0;
	height: 100%;
	background: rgba(44, 44, 44, 0.8);
}
.JSinfo-popup .popup-wrapper, .JSinfo-popup .JSpopup-inner {
	width: 315px;
}
.confirm-popup .popup-wrapper, .confirm-popup .JSpopup-inner {
	width: 300px;
}
.JSinfo-popup .JSpopup-inner, .confirm-popup .JSpopup-inner {
	background: rgba(153, 153, 153, 0);
}
.confirm-popup .JSpopup-inner {
	text-align: center;
}
.JSinfo-popup .p-info, .confirm-popup p {
	margin: 0;
    color: #474747;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
}
.yes, .no {
	display: inline-block;
	padding: 0 10px;
	margin: 10px 3px;
	font-size: .9em;
}
.yes, .yes:hover {
	background: #f0f0f0;
	color: #999;
}
/*--- SCROLL TO TOP ---*/
a.JSscroll-top {
	position: fixed;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #292E32 !important;
	right: -70px;
	bottom: 20px;
	background: #fff;
	z-index: 999;
	padding: 9px;
	border-radius: 2px;
    border: 1px solid #292E32;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.JSscroll-top.show {
	right: 20px;
}
a.JSscroll-top:hover {
    background: #B1B5B9;
    color: #292E32 !important;
}
/*---------- PAGES ----------*/

/*--- PRODUCT LIST ---*/

/*- BREADCRUMBS -*/
.breadcrumbs {
    font-size: 12px;
    border-width: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    text-decoration: none;
}
.breadcrumbs li {
    font-size: 80%;
    font-weight: bold;
}
.breadcrumbs>*:before {
	content: none;
}
.breadcrumbs>* a {
	color: #292E32 !important;
    font-weight: bold;
}
.breadcrumbs>* a:hover {
	text-decoration: underline;
}
.breadcrumbs>* {
    color: #292E32;
}
.breadcrumbs li:after {
	display: inline-block;
	content: '\f105';
	padding: 0 5px;
	color: #292E32;
	font-size: 14px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}
.breadcrumbs li:last-child:after {
	display: none;
}
.breadcrumbs h1 {
	font-size: 1.1em;
	margin: 0;
}
/*============================
=            NEWS            =
============================*/

/* this is single post */
.news {
    padding: 20px 0;
    margin: 20px;
    box-sizing: border-box;
    background: #fff;
	box-shadow: 1px 1px 7px #ddd;
}
.news img{
    max-width: 100%;
    max-height: 100px;
}
.news-title {
    margin: 16px 0;
    border-width: 2px;
}
.news-title-list{
    display: block;
    background: linear-gradient(to right,rgb(41, 46, 50),rgb(255, 255, 255));
    padding: 0 10px;
    color: #fff;
}
/* button */
a.news__more {
    display: inline-block;
    color: #fff;
    background: #747474;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: #292E32;
}
a.news__more:hover{
    background-color: #3D4246;
} 
/*=====  End of NEWS  ======*/
/*- PRODUCT LIST OPTIONS -*/
.product-number {
	display: inline-block;
	padding: 2px 8px;
	text-align: center;
}
.JSproduct-list-options {
    padding: 3px 0 0px;
    font-size: .9em;
    background: #fff;
    box-shadow: 1px 1px 10px #ddd;
    margin: 0 0 5px 0;
}
.pagination li {
    border: 1px solid #ddd;
    margin: 5px 0 0;
}
.pagination li a, .pagination li button {
	padding: 0;
	text-align: center;
	background: #EE301E;
	padding: 0px 8px !important;
	color: #000;
}
.pagination li.active a {
    color: #EE301E;
    background-color: #DDDDDD;
}
.pagination li:hover a {
    color: #EE301E;
    background-color: transparent !important;
}
.pagination li a:focus {
    color: #EE301E;
    background-color: #fff !important;
}
.down-pagination li {
	margin-top: 10px;
    margin-bottom: 0px;
}
.per-page.JSselect-field {
    background-position: 23px -276px;
	margin: 7px 0;
    z-index: 3;
}
.view-buttons span {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 29px;
	background-color: #ddd;
	cursor: pointer;
	border-radius: 4px;
	padding: 4px;
}
.view-buttons span.active {
	background-color: #292E32;
    color: #fff;
}
.view-buttons span:hover {
    background-color: #292E32;
    color: #fff;
     transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.fa-th-large, .fa-bars {
    font-size: 16px;
}
.JSselect-field {
	display: inline-block;
	position: relative;
	padding: 2px 23px 2px 8px;
    color: #1a1a1a;
	background-image: url('../../../images/mini-icons.png');
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 2;
    border: 1px solid #ddd;
}
.JSselect-field ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	background-color: #fff;
    outline: 1px solid #ddd;
}
.JSselect-field li {
	border-bottom: solid 1px #ddd;
	text-align: left;
}
.JSselect-field li:last-child {
	border-bottom: none;
}
.JSselect-field li:hover {
	background-color: #EE301E;
}
.JSselect-field li a {
	color: #292E32;
	width: 100%;
	padding: 3px 23px 3px 8px;
	display: block;
	background-color: white;
}
.JSselect-field li:hover a {
    color: #EF311E;
    background-color: #DDDDDD;
}
.currencyANDsort {
    margin-left: 5px;
    display: inline-block;
}
.sort-products {
	background-position: 115px -276px;
    padding: 2px 25px 2px 6px;
}
.currency {
    margin: 0 5px 0 0;
	background-position: 30px -276px;
}
.per-page ul, .currency ul, .sort-products ul {
    font-size: 12px;
}
.JSproduct-list .JSproduct {
	float: left;
	width: 23%;
	margin: 10px 1%;
}
.JSproduct-list.list-view .JSproduct {
	width: 98%;
}
.JSproduct-list.list-view .product-content {
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
	width: 98%;
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.JSproduct-list.list-view .JSproduct .product-title {
    padding: 0;
    display: flex;
	align-items: center;
    justify-content: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	overflow: initial;
}
.JSproduct-list.list-view .JSproduct .product-price {
	float: none;
	display: block;
	left: auto;
	text-align: center;
	font-size: 1.4em;
	line-height: 1;
}
.JSproduct-list.list-view .JSproduct .product-details li {
	float: left;
	width: 48%;
	font-size: .85em;
}
.JSproduct-list.list-view .JSproduct .product-details li span {
	font-weight: bold;
}
/* Compere */
section.compare-section {
	text-align: center;
}
.show-compered {
	display: inline-block;
    background: #292E32;
    border-radius: 2px;
    color: #fff;
    padding: 3px 19px;
    cursor: pointer;
    line-height: 19px;
    margin: 7px 0;
}
.show-compered:hover {
	background: #DDDDDD;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
#JScompareTable .JSclearCompare {
	display: inline-block;
	background-color: #292E32;
	color: #fff;
	border-radius: 2px;
	line-height: 1;
	cursor: pointer;
	line-height: 26px;
	height: 26px;
	padding: 0 7px;
}
#JScompareTable table{
	width: 100%;
}
#JScompareTable table img{
	max-width: 100%;
	max-height: 70px;
}
.reveal-modal .close-reveal-modal {
	font-size: 20px;
	color: #3A3A3A;
}
#JScompareTable tr td:first-child {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}
/*--- PRODUCT PREVIEW ---*/
#product-preview {
	padding: 0 0.9375em;
	overflow: hidden;
}
/*- PRODUCT PREVIEW IMAGE -*/
.JSproduct-preview-image {
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
}
.zoomWrapper {
	width: 100% !important;
	height: 350px !important;
	line-height: 350px;
	text-align: center;
	background: #fff;
	overflow: hidden !important;
}
.zoomWrapper span {
	width: 100% !important;
	margin-top: 1px;
}
 
.zoomWrapper img {
	position: relative !important;
	height: auto !important;
	max-height: 90% !important;
}
.zoomWindow {
	width: 100% !important;
	height: 352px !important;
	margin-top: -1px;
	border: solid 1px #f0f0f0 !important;
}
.zoomContainer {
	height: auto !important;
}
.zoomContainer:nth-child(even) {
	display: none !important;
}
.zoomLens {
	max-width: 100%;
	max-height: 200px;
	border: 1px solid rgb(153, 153, 153) !important;
}
.background-center {
	background-position: center center !important;
}
a.elevatezoom-gallery {
	position: relative;
	display: block;
	float: left;
	width: 24.5%;
	height: auto;
	max-height: 71px;
	line-height: 68px;
	margin-right: 0.66%;
	text-align: center;
	margin-top: 4px;
	background: #fff;
	z-index: 1;
}
a.elevatezoom-gallery:last-child {
	margin-right: 0;
}
a.elevatezoom-gallery img {
	display: inline-block;
	height: auto;
	max-height: 60px;
	max-width: 90%;
	width: auto;
}
.zoomWrapper, .zoomLens, a.elevatezoom-gallery {
	box-shadow: 0 0 0 1px #f0f0f0;
}
/*- PRODUCT PREVIEW INFO -*/
.product-preview-info h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.4em;
}
.product-preview-info ul {
    font-size: 14px;
}
.product-preview-info ul li a {
	font-style: italic;
    font-weight: bold;
    margin: 0 5px;
    display: inline-block;
}
.add-to-cart-area {
    bottom: 0;
    margin-top: 20px;
}
.add-to-cart-area .not-available {
	background-color: rgba(240, 65, 36, 0.29);
    color: #292E32;
    border: 1px solid #f04124;
    cursor: not-allowed;
}
/* OSOBINE */
.osobina_naziv, .karakteristike_osobine, .osobina_karakteristika {
    display: inline-block;
    position: relative;
    padding: 0;
}
.osobina {
    margin: 10px 0;
}
.osobina_naziv {
    min-width: 75px;
    border-bottom: 1px solid #ccc;
}
.osobina_karakteristika span {
	display: inline-block;
	border: 1px solid #bbb;
    min-width: 30px;
    min-height: 30px;
    padding: 4px;
    color: #fff;
    text-align: center;
	cursor: pointer;
	text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px;
    font-weight: bold;
}
.osobina_karakteristika input {
	position: absolute;
	top: 0px;
	visibility: hidden;
}
.osobina_karakteristika input:checked + span {
	box-shadow: 0 0 0 2px #EE301E;
}
.JScart-amount {
	color: #EE301E;
}
.JScart-item{
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}  
.input_kolicina {
	display: inline-block;
}
.no-articles{
 	padding: 10px;
    display: inline-block;
    font-weight: 600;
}
/* OSOBINE KRAJ */
a.add-amount-less, a.add-amount-more, a.JScart-less, a.JScart-more {
	float: left;
	height: 20px;
	width: 20px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background: #999;
}
.product-preview-price {
	position: relative;
}
.product-preview-price-old {
	display: block;
	font-size: 1.4em;
	line-height: 2em;
	text-decoration: line-through;
}
.product-preview-price-new {
    display: inline-block;
    padding: 0 10px;
    font-size: 25px;
    font-weight: 600;
    border-left: 6px solid #EE301E;
    background: #f0f0f0;
    color: #EE301E;
    margin: 20px 0px;
}
.mailto{
 	color: inherit !important;
}
 .for-seo{
 	margin: 0;
    font-size: inherit;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
 }
 img{
    color: #bbb;
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs {
	margin-top: 20px;
	padding: 0;
}
.JStab-titles li {
    float: left;
    width: 210px;
    padding: 5px 0;
    text-align: center;
    border-right: solid 2px #ddd;
    background: #f0f0f0;
    cursor: pointer;
    font-weight: 600;
    font-size: .9em;
    border-bottom: 1px solid #EE301E;
}
.JStab-titles li:last-child {
	border-right: none;
}
.JStab-titles li.active {
	color: #EE301E;
    border-left: 1px solid #EE301E;
    border-top: 1px solid #EE301E;
    border-right: 1px solid #EE301E;
    border-bottom: none;
}
.tab-content {
	display: none;
    border: 1px solid #D0D0D0;
    padding: 5px;
}
.tab-content p{
	font-size: 14px;
    margin: 0;
    line-height: 1.4;
}
.tab-content.active {
	display: block;
}
.features-content ul {
	margin: 20px 0;
}
.features-content ul:before, .features-content ul:after {
	content: ' ';
	display: table;
}
.features-content li {
	padding: 2px 0;
}
.features-list-items li {
	border-top: solid 1px #f0f0f0;
}
.features-list-items li:first-child, .features-list-items li:nth-child(2) {
	border-top: none;
}
.features-list-title {
	color: #292E32;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #F1F1F1;
}
.features-content li:nth-child(odd) {
	font-weight: bold;
}
.JScomments-content {
	padding: 20px 0;
}
.JScomments-content h3 {
	margin-top: 0;
	margin-bottom: 15px;
}
/*- COMMENTS -*/
.JScomments-content textarea {
	height: 130px;
}
.JScomments-content .submit {
	margin-top: 10px;
    padding: 5px 24px;
    background-color: #292E32;
}
.comment-content {
	display: block;
	margin-bottom: 5px;
	padding: 6px 10px 13px;
	font-size: 13px;
	background: #f0f0f0;
}
.comment-name {
	display: block;
	margin-bottom: 0;
	font-weight: bold;
}
.comment-text {
	margin: 0;
	font-size: 13px;
}
.comment-date {
	float: right;
    font-size: 11px;
    position: relative;
    top: -21px;
}
.replies {
	margin: 0px 0 0 50px;
}
.replies .comment-content {
    color: #000;
    background: #d9d9d9;
}
/*- PRODUCT PREVIEW TAGS -*/
.tags {
	padding: 10px 0;
}
.tags li {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 4px 12px;
	font-size: .8em;
	font-style: italic;
	background: #f0f0f0;
}
/*--- CART ---*/
.JScart-more-icon {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	top: -20px;
	left: -100%;
	margin-left: -20px;
	border-radius: 100%;
	background-color: #EE301E;
	background-image: url('../../../images/mini-icons.png');
	background-position: center -44px;
	background-repeat: no-repeat;
	z-index: 999;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.JScart-more-icon-opened {
	left: 50%;
}
.JScart-image img{
    max-width: 100%;
    max-height: 80px;
}
.without-btn {
	display: block;
	height: 42px;
	line-height: 40px;
	border-radius: 3px;
	border: 1px solid #969696;
    color: #292E32;
	padding: 0 20px;
	max-width: 200px;
	margin: 10px auto;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
	transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
}
.without-btn.active {
	color: #EE301E;
    background-color: #DDDDDD;
    border: 1px solid #9A9A9A;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.without-btn:hover {
    color: #EE301E;
    border: 1px solid rgb(109, 109, 109);
}
.without-btn .fa {
	margin-left: 10px;
	font-size: 20px;
	line-height: 40px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.without-btn.active .fa {
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*- CART ITEMS -*/
.cart-labels {
    margin-top: 20px;
    border: 1px solid #e9e9e9;
    font-size: 1em;
}
.cart-labels li {
	padding: 7px 8px;
	text-align: center;
	border-right: solid 1px #e9e9e9;
    font-weight: 600;
}
.cart-labels li:last-child {
	border-right: none;
}
.JScart-item li {
	padding: 6px 5px;
	text-align: center;
	overflow: hidden;
    border-right: 1px solid #e9e9e9;
}
.cart div.medium-6 {
	padding: 0;
}
.cart-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.cart-image img {
	max-width: 80%;
	height: auto;
	max-height: 50px;
}
li.cart-image:first-child {
    border-right: none;
}
.cart-name, .cart-price, .cart-total-price {
	font-size: .9em;
}
.cart-page .cart-name a {
	display: block;
	color: #292E32;
	line-height: 1;
}
.cart-add-amount {
	display: inline-block;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}
a.JScart-less, a.cart-more {
	height: 20px;
    line-height: 20px;
}
a.JScart-less:hover, a.cart-more:hover {
	background-color: #696969;
	transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
input.JScart-amount {
	width: 30px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 0;
	margin: 0px;
    border-radius: 0px;
    background-color: #CECECE;
    float: none;
    text-align: center;
    display: inline-block;
}
input.JScart-amount:focus {
	background-color: #CECECE;
}
.cart-remove .close {
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 14px;
	padding: 0;
	font-size: 13px;
	color: #fff;
	background: #999;
	font-weight: 700;
}
.cart-remove .close:hover {
	background: #F02626;
}
/*-- RELATED-PRODUCTS --*/
.JSrelated-products .JSproduct {
	float: left;
	width: 25%;
}
/*- BELOW CART -*/
.cart-remove-all-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-justify-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
.cart-summary {
	padding: 4px 0;
	text-align: center;
	border-left: 3px solid #bbb;
	background: #f0f0f0;
	border-bottom: 1px solid #bbb;
	padding-left: 0px; 
}
.cart-summary:last-child {
	border-bottom: none;
}
.summary-amount {
	color: #EE301E;
	font-size: 1.2em;
	text-align: left;
}
.cart-remove-all {
    padding: 5px 14px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background-color: #292E32;
}
.cart-remove-all:focus {
	color: #fff;
}
.cart-remove-all:hover {
	color: #FFFFFF;
    background-color: #3D4246;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.summary-label {
	text-align: left;
}
.ukupno span {
	font-weight: 700;
	color: #292E32;
}
/*- CART ACTION BUTTONS -*/
.cart-action-buttons {
	text-align: right;
	margin-top: 30px;
	margin-right: 0.9375em;
}
.cart-action-buttons li {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
}
.cart-action-buttons li button {
	font-size: 14px;
	padding: 3px 10px;
    border-radius: 4px;
    background-color: #292E32;
}
.cart-action-buttons li button:focus {
	color: #fff;
} 
.cart-action-buttons li button:hover {
	color: #FFFFFF;
    background-color: #3D4246;
}
.cart-action-buttons li a{
    display: inline-block;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: #292E32;
}
.cart-action-buttons li a:hover {
	color: #FFFFFF;
    background-color: #3D4246;
}
.JScart-without-button, .cart-login-button {
	background: #747474;
}
.cart-registration-button{
	background: #444;
}
/*- SUBMIT ORDER AREA -*/
.JSsubmit-order-area {
	display: none;
}
/* BUY WITHOUT REGISTRATION - FORM */
.row.without-reg-form {
	position: relative;
	margin-top: 70px;
	border-top: solid 1px #f0f0f0;
}
.JSwithout-reg-none-personal, .JSwithout-reg-personal {
	display: none;
}
.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active {
	display: block;
}
.without-reg-form .expand_div {
	padding: 0;
}
.without-reg-form .forward {
	margin-top: 22px;
	padding: 5px 15px;
    background-color: #292E32;
    border-radius: 4px;
}
.without-reg-form .forward:hover {
	color: #fff;
    background-color: #3D4246;
}
.without-reg-form .forward:active {
	color: #fff;
    background-color: #292E32 !important;
}
.without-reg-form .forward:visited {
	color: #fff;
    background-color: #292E32 !important;
}
.without-reg-form .forward:focus {
	color: #fff;
    background-color: #292E32 !important;
}
.JSsubmit-order-area input {
    margin: 0 0 10px;
}
.JSsubmit-order-area input:focus {
	border-radius: 0px;
    background-color: #F3F3F3;
    border: 1px solid #999999;
}
/* PAYMENT METHOD */
.row.payment-method {
	position: relative;
	margin-top: 70px;
	margin-bottom: 30px;
	padding-top: 50px;
	border-top: solid 1px #f0f0f0;
}
.payment-method label {
	padding: 5px 0;
	font-size: .85em;
}
.payment-method textarea {
	height: 130px;
}
/* SUBMIT ORDER BUTTON */
.submit-order-button {
	float: right;
	margin-right: 0.9375em;
	padding: 5px 8px 5px 50px;
	background-image: url('../../../images/mini-icons.png');
	background-position: 13px -248px;
	background-repeat: no-repeat;
}
/* SHOPPING INFORMATION */
.shopping-information table {
	width: 98%;
	margin: 0 auto;
	font-size: .9em;
}
.shopping-information table th {
	padding: 20px 10px 10px;
	text-align: left;
}
.shopping-information table td {
	border: solid 1px #ddd;
	padding: 3px 10px;
}
.shopping-information table .summary {
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
}
/*--- USER PAGE ---*/
.user-info-form {
	margin: 30px 0;
}
.user-info-form input {
	margin-bottom: 10px;
	color: #000;
	background-color: #E6E6E6;
}
.user-info-form label {
	font-size: .9em;
	font-style: italic;
	color: #292E32;
}
.user-info-form .submit {
	float: left;
	margin-left: 0.9375em;
	margin-top: 20px;
	padding: 1px 8px;
	font-size: 1em;
}
.user-orders-table {
	width: 100%;
}
.user-orders-table tbody {
	border: 1px solid #CCCCCC;
    background-color: #ECECEC;
}
.user-orders-table td {
	background-color: #F1F1F1;
}
.user-orders-table th {
	background-color: #E0E0E0;
	border-bottom: 1px solid #999999;
}
.modal-table tbody {
	border: 1px solid #CCCCCC;
	background-color: #E0E0E0;
}
.cell-1 {
    font-weight: 600;
    border-bottom: 1px solid #999999;
}
.summary {
	background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    font-weight: 600;
}
/*--- CONTACT PAGE ---*/
#map_canvas {
	height: 330px;
	margin-bottom: 15px;
}
.contact-form textarea {
	height: 130px;
}
.contact-form .submit {
	margin-top: 10px;
    padding: 5px 24px;
    background-color: #292E32;
}
/*--- ODMOR ---*/
.odmor {
	margin-bottom: 30px;
	color: #000;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
/*--------- AlL  CATEGORY PAGE -------------*/
.category-listing .columns+.columns:last-child {
    float: left !important;
}
.category-heading {
	margin: 20px 0 0;
	padding: 7px 10px 5px;
}
.category-name-link {
	font-weight: 700;
	font-size: 16px;
	margin: 5px 0 0;
	display: block;
	color: #292E32 !important;
}
.category__list {
	display: block;
}
.category__list__item__link {
	display: block;
	font-size: .9em;
	color: #3C3B3B !important;
}
.category__link-group__link__text {
	display: block;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
}
.category__list__item__link:hover {
	color: #292E32 !important;
}
.category-name-link, .category-heading {
    font-size: 1em;
}
.JSmenu-icon {
	display: none;
}
/*--------- ALL  CATEGORY SIDEBAR -------------*/
.JScategory-sidebar__list {
	margin: 20px 0;
	background: #f0f0f0;
	z-index: 801;
}
.category-sidebar__list--fix {
	position: fixed;
	top:  0;
 }
.category-sidebar__list__item__link {
	display: block;
	padding: 2px 10px;
 	font-weight: 600;
	font-size: 13px;
	color: #666666 !important;
	-webkit-transition: padding 0.2s ease-in-out;
	transition: padding 0.2s ease-in-out;
}
.info {
	font-size: 12px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px
}
/* Dodato Tamara */
.fancybox span.JSzoom_03 {
	display: block;
}
.logo-shopmania {
	border: 0;
}
.page-not-avalible {
	padding: 10px;
}
#content {
	width: 100%;
}
.contact-info h1 {
	font-size: 14px;
	display: inline;
}
.file-upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.file-upload input.file-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*================================================
=            artikal vezani proizvodi            =
================================================*/
.vezani_artikli .action-holder,
.vezani_artikli .JSproduct .product-price,
.vezani_artikli .JSproduct input[type="number"] {
	margin: 0;
} 
.vezani_artikli .JSproduct .product-price {
	margin: 16px 0;
    display: inline-block;
}
 
.vezani_artikli .vezani_input{
	height: 27px;
    width: 50px;
    text-align: center;
    display: inline-block;
}
.vezani_artikli .product-content {
	margin-bottom: 16px;	
}
.vezani_artikli .input-and-button {
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	-webkit-box-align: center;
	 align-items: center;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.vezani_artikli .input-and-button .JSadd-to-cart {
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
	margin: 0;
	margin-left: 8px;
}
/*=====  End of artikal vezani proizvodi  ======*/
.JSbroj_cart {
    background-color: #292E32;
    top: 16px;
    position: absolute;
    right: 26px;
    border-radius: 5px;
    color: #EE301E;
    font-weight: bold;
    font-size: 22px;  
}
.add-to-cart-artikal {
	padding: 5px 28px;
	background-color: #DDDDDD;
    border: 1px solid #8C8C8C;
    color: #4E4E4E;
    transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	margin-top: 20px;
}
.add-to-cart-artikal:hover {
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	background-color: #DDDDDD;
    border-color: #8C8686;
    color: #EE301E;
}
.new-content {
	padding: 30px;
}
.new-content p, .new-content ul li {
	font-size: 13px;
}
.new-content img{
	max-width: 100%;
    max-height: 350px;
    display: block;
    margin: auto;
}
.contact-info ul li {
	font-size: 14px;
}
.cart p {
	padding: 15px;
}
/* Login/Registration Forms */
.registration-form, .login-form {
	padding: 15px 0;
}
.form-spacer {
	border-left: 1px solid #bbb;
}
.person-registration, .company-registration {
	padding: 8px 17px;
}
.registration-form button {
    margin: 15px 0;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}
.registration-form button:hover {
	background-color: #3D4246;
    color: #fff;
}
.login-form input:first-child {
    margin-bottom: 10px;
}
input[type="password"] {
    margin: 0;
}
.login-form button, .registration-form-wrapper button {
    padding: 3px 12px;
    font-size: 13px;
    border-radius: 4px;
    background-color: #292E32;
    margin: 10px 0 0;
}
.btn-forgot-pass {
    padding: 3px 12px;
    font-size: 13px;
    border-radius: 4px;
    background-color: #292E32;
}
.btn-forgot-pass:hover {
	background-color: #3D4246;
    color: #fff;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}
.registration-form .error, .error-login {
    color: red;
    font-size: 12px;
    position: relative;
    top: 0px;
}
.error {
	color: #EF311E;
    font-size: 12px;
}
 
.fa-sign-in {
	position: relative;
    font-size: 15px;
    top: 1px;
    margin-right: 3px;
}
.fa-user-plus {
    position: relative;
    font-size: 15px;
    top: 1px;
    margin-right: 5px;
}
#b2b-login-icon {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: 13px;
    padding: 0px 5px;
}
#b2b-login-icon:hover {
	color: #171A1D;
    background-color: #CCCCCC;
}
.product-sale {
    position: absolute;
    background-color: #292E32;
    color: #EE301E;
    font-weight: bold;
    padding: 3px 11px;
 	top: 12px;
    left: -5px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px gray;
}
.old-price {	
    text-decoration: line-through;
    font-size: 12px;
    color: #292E32;
}
.price-holder{
	height: 25px;
    line-height: 1.2;
}
.btn-slider {
	padding: 2px 10px;
    color: #878C92;
    background-color: #fff;
    outline: none;
    border: 1px solid #878C92;
	top: -28px;
	position: absolute;
}
.btn-slider:focus {
	color: #878C92;
    background-color: transparent;
    border: 1px solid #878C92;
}
.btn-slider:hover {
	background-color: #DDDDDD;
	color: #EE301E;
}
.previous, .slider-prev {
    right: 36px;
}
.next, .slider-next {
    right: 0;
}
.JSproduct-list .slider {
	position: relative !important;
}
.menu-close {
	display: none;
}
.tip-list, .sale-list {
	position: relative;
}
.vest-slika {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 250px;
}
.single-news {
    padding: 20px 5px;
}
.files-list-item {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    margin-right: 10px;
}
.files-name {
    font-weight: normal;
    margin: 6px;
}
.features-list li {
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}
ul.generated-features-list, ul.generated-features-list ul {
	font-size: 13px;
}
.generated-features-list {
	border-top: 1px solid #D0D0D0;
}
.generated-features-list:last-child {
	border-bottom: none;
}
.files-link img {
	width: 60px;
}
.konfigurator {
    margin-top: 30px;
}
.konfigurator-grupa {
	max-width: 120px;
    overflow: hidden;
}
.brend-item {
	background: #fff;
    overflow: hidden;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: bold;
    color: #292E32;
    width: 100%;
    height: 80px;
    margin: 15px 0;
    border-radius: 2px;
    text-align: center;
    letter-spacing: .025em;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-transition: background,color,box-shadow,.4s ease-in-out;
    transition: background,color,box-shadow,.4s ease-in-out;
	box-shadow: 1px 1px 6px #bbb;
}
.brend-item img{
	max-width: 100%;
    max-height: 65px;
    padding: 5px 0;
}
.article-edit-btn {
	font-weight: bold;
	border: 1px solid #bbb;
	font-size: 10px;
	padding: 0 5px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
	color: #292E32 !important;
} 
.title-for-articles{
    display: block;
    background: linear-gradient(to right,rgb(41, 46, 50),rgb(255, 255, 255));
    padding: 0 10px;
    color: #fff;
}
 
#admin-menu {	
    background: #eee;
    font-size: 12px;   
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.ms {
	margin: 0 5px;
}
.admin-links a:hover {
	color: #aaa;
}
.user-info-form .error {
	color: red;
    font-size: 12px;
    position: relative;
    top: -11px;
}
.success {
    color: #1fa31f;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-left: 20px;
    margin-top: 7px;
}
.submit-btn-edit {
    border: none;
    margin: 15px;
    padding: 7px 20px;
    color: #fff !important;
    background-color: #292E32 !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.submit-btn-edit:hover {
	background-color: #40454A !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
/*Pop-up banner*/
.popup-banner-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(43, 43, 43, 0.8);
	z-index: 16000003;
}
.popup-banner-wrapper {
   left: 50%;
   position: fixed;
   z-index: 99999;
   top: -1000px;
   width: 650px;
   height: 650px;
   -webkit-transition: all 2s ease;
   transition: all 2s ease;
}
.banner-center {
   top: 50%;
}
.popup-banner {
   position: relative;
   top: -50%;
   box-shadow: 0 0 10px 0 #000;
   left: -50%;
	width: 613px;
}
.popup-banner #banner-close {
   position: absolute;
   top: 10px;
   right: 10px;
   color: #000;
   cursor: pointer;
   font-size: 24px;
	font-weight: bold;
}
.conf-dd {
	position: relative;
}
.conf-drop-down {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.conf:hover .conf-drop-down {
	display: block !important;
	background-color: #ddd;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #292E32;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    margin: 0;
    border-top: 1px solid #818283;
}
.dropdown-content li a {
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0 !important;
    border-bottom: 1px solid #818283;
    border-left: 1px solid #818283;
}
.dropdown-content li a:hover {
    background-color: #7d7d7d;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li {
	display: block !important;
	float: none !important;
}
.izmeni-kupca {
    padding: 5px 15px;
    font-size: 12px;
}
.cat-img-1 {
	max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
}
.cat-img-2 {
	display: block;
    max-width: 65px;
    max-height: 50px;
	margin: 0 auto;
}
/* OCENE */
.review-star {
	cursor: pointer;
}
#review-number {
	display: none;
}
.fa-star, .fa-star-o {
	color: #EE301E;
}
.comment-rating {
	font-size: 12px;
	margin-bottom: 3px;
}
.bw {
	background: #fff;
}
.karak-row {
	height: 21px;
	border-bottom: 1px solid #D0D0D0;
}
.karak-row:last-child {
	border-bottom: none;
}
.karak-row:nth-child(odd) {
    background-color: #F1F1F1;
}
.generated-features-list {
	margin-top: 1px solid #E8E8E8;
}
.generated-features-list:nth-child(odd) {
	background-color: transparent;
}
.features-list-items {
	padding: 0;
}
.top-menu-links {
    font-size: 13px;
}
.top-menu-links a:hover {
	color: #737679;
	transition: all 0.2s ease-in-out;
}
.top-menu-links a {
	margin-right: 10px;
	font-weight: 600;
	display: inline-block;
}
.view-buttons {
	margin: 7px 0 7px 7px;
	display: inline-block;
}
.registracija-lica {
	display: inline-flex;	
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-inline-flex;	
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
.login-form input:focus {
	background-color: #ECECEC;
}
#comment_name, #JScomment_message {
	background-color: white;
	border-radius: 0px;
	border: 1px solid #CCCCCC !important;
}
.registration-form input, .registration-form select {
	margin: 0px 0 5px;
	border-radius: 4px;
}
.login-i-registration input {
	border-radius: 4px;
}
.login-i-registration button:hover {
	color: #FFFFFF;
    background-color: #3D4246;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.banners-right {
	margin-top: 5px;
}
.radio {
	margin: 0px !important;
}
/*----- FLEX -----*/
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: flex-end;
	-webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.flex-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: flex-start;
	-webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.align-flex-center {
	display: flex;
	align-items: center;
	display: -flex-flex;
	-flex-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.justify-flex-center {
	display: flex;
	justify-content: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #292E32;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #292E32;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #292E32;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
:-moz-placeholder { /* Firefox 18- */
  color: #292E32;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
/*----- END-OF-FLEX -----*/

/*---------- MEDIAQUERIES ----------*/
  
/*--- MIN WIDTH 641px & MAX WIDTH 860px ---*/
@media screen and (min-width:641px)  and  (max-width:860px) {
    #JScategories .JSlevel-2 {
		width: 468px;
	}
	.JSproduct-list .JSproduct {
		width: 48%;
	}
	.JSproduct-preview-image, .product-preview-info, .JScomments-content .comments, .JScomments-content form, {
		width: 100%;
		padding: 0;
	}
 
	.contact-info, .contact-form {
		width: 100%;
	}
}

/*--- MIN WIDTH 641px ---*/
@media screen and (min-width:641px) {
	#JScategories .JSlevel-2 {
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7); 
	}
   .row.below-cart {
		margin-top: 20px;
	} 
}
@media screen and (min-width:1024px) {
	#JScategories:hover > .JSlevel-1 {
		display: block !important;
	}
}
/*--- MAX WIDTH 1300px ---*/
@media screen and (max-width:1300px) {
	#JScategories .JSlevel-2 {
		width: 633px;
	}
	#JScategories .JSlevel-2 div > li {
		width: 50%;
		padding: 0 1%;
		font-size: 1em;
	}
	.subcategory-image {
		display: none;
	}
}
/*--- MAX WIDTH 1120px ---*/
@media screen and (max-width:1120px) {
	.single-slide .JSproduct {
		width: 33.3%;
	}
}
@media screen and (max-width:1024px) {
	#JScat_hor .JSsubcategory-toggler{
		display: block;
	}
 
	#start-page #JScategories .JSlevel-1, #JScategories .JSlevel-1{
		display: none;
	}
	#JScat_hor .JSlevel-1 .JSlevel-2, #JSmain-slider{
		width: 100%;
	}
	#JScategories .JStoggler{
		display: block;
	}
	#JScat_hor .JScategories-titile {
		display: block;
	}
	#JScat_hor .JSlevel-1 li{
		display: block;
		padding: 0 10px;
        position: relative;
	}
	#JScat_hor .JSlevel-2 {
		display: none;
		height: auto;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		opacity: 1;
	}
	#JSpreheader, .JSmain-nav {
		display: none;
    	background: #fff;
		width: 100%;
    	z-index: 99999;
    	position: fixed;
	}
	#JSpreheader {
    	height: 100%;
		top: 0;
	}
 	.JSmenu-icon {
	    display: block;
	    position: absolute;
	    top: 25px;
    	right: 19px;
	    padding: 2px 9px;
	    color: #EE301E;
	    border: 2px solid;
        cursor: pointer;
        z-index: 100;
	}
	.JSmenu-icon .fa-bars {
    	font-size: 20px;
	}
	.menu-close {
		display: block !important;
	}
	.menu-close i {
	    position: absolute;
	    font-size: 38px;
	    color: #EE301E;
	    top: 5px;
	    right: 5px;
	    cursor: pointer;
    }
	.preheader-icons {
		padding: 30px 0 0px;
	}
	#main-menu {
		text-align: center;
	}
	#main-menu > li {
		display: block;
        line-height: 30px;
	}
	#main-menu li a {
	  	background-color: #292E32;
	    border: none;
	}
	.top-menu-links a {
		color: #292E32;
	}
	#main-menu li a:hover {
		color: #EE301E;
	}
	#login-icon, #registration-icon {
	  	color: #292E32;
	}
	#login-icon, #b2b-login-icon {
		border-left: none;
		color: #292E32;
	}
	.login_popup {
		display: none;
	} 
	.dropdown-content {
		position: relative;
		margin-left: 0px;
	}
	.registration-form-wrapper {
		border-left: 1px solid #bbb;
	}
	.banners-right {
		display: none;
	}
	.JSmain-nav {
		top: 140px;
		left: 0;
		bottom: 0;
		max-height: 100%;
		overflow: auto;
	}
}
 
/*--- MAX WIDTH 860px ---*/
@media screen and (max-width:860px) {
	.single-slide .JSproduct {
		width: 50%;
	}
	.JSproduct-list.list-view .image-holder, .JSproduct-list.list-view .description-holder, .JSproduct-list.list-view .action-holder {
		width: 100%;
	}
	.zoomLens, .zoomWindowContainer {
		display: none !important;
	}
	.add-to-cart-area {
		position: relative;
		margin-top: 10px;
	}
	.JScomments-content .comments, .JScomments-content form {
		padding: 0;
	}	
}
 
/*--- MAX WIDTH 640px ---*/
@media screen and (max-width:640px) {
	.info {
		width: 100%;
	}
 	#JScat_hor .JStoggler, .JSsubcategory-toggler {
		display: inline-block;
	}
	footer{
		text-align: center;
	}
	.category__item__link__expend, .JScart-item .cart-price{
		display: none;
	}
	#JScategories .JSlevel-2{
        display: none;
	    height: auto;
	    position: relative;
	    left: 0;
	    top: 0;
	    width: 100%;
	    opacity: 1;
	}
	#start-page #JScategories .JSlevel-1{
		display: none;
	}
	.title-for-articles{
		width: 90%;
	}
	.form-spacer{
		border: none;
	}
	.container{
		padding: 0;
	}
 	.currencyANDsort {
	    margin: 15px 5px;
	}
	.JSproduct-list.list-view .product-content {
    	max-width: 90%;	
	}
	.JSproduct-list.list-view .action-holder {
    	margin: 5px 0;
	}
	.ukupno-konf {
    	width: 186px !important;
	}
	.konfigurator-grupa {
		max-width: 68px;
    	overflow: hidden;
	}
	.konfigurator select {
		width: 100% !important;
	}
 
	#JScategories .JSlevel-1, #JScategories .level-3, .header-cart:hover .JSheader-cart-content, .cart-labels {
		display: none;
	}
	#JScategories .JSlevel-2 li {
		width: 100%;
		margin-bottom: 0;
	}
	.JScategories-titile .fa-list-ul{
		display: none;
	}
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
		top: -46px;
	}
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
		right: 38px;
	}
	.JSproduct-list .JSproduct, .JSproduct-list.list-view .JSproduct {
	    float: none;
	    margin: 10px auto;
	    width: 98%;
	}
	.JSproduct-list.list-view .product-content {
		box-shadow: 0px 0px 20px 1px #ddd;
		margin: 0px auto;
	}
	.slick-list {
		margin: 0;
	}
	.zoomWrapper {
		height: 180px !important;
		line-height: 180px;
	}
	.product-preview-info {
		padding: 0;
	}
	.product-preview-info h2, .product-preview-price-old {
		font-size: 1.2em;
	}
	.product-preview-price-new {
		font-size: 1.4em;
	}

	.JStab-title-description {
		box-shadow: inset 0 -1px 0 0 #ddd;
	}
	.generated-features-list.row {
		margin: 30px 0;
    	text-align: center;
	}
    .generated-features-list li:nth-child(2) li:nth-child(even) {
        font-weight: bold;
    }
    .generated-features-list li:nth-child(2) li:last-child {
        float: left;
    }
	.product-preview-tabs .generated-features-list .features-list-title {
		height: 32px !important;
		line-height: 32px !important;
		border-right: none;
		border-bottom: 1px solid #bbb;
		color: #000;
	}
	.product-preview-tabs .JStab-titles {
		border: 1px solid #EE301E;
	}
	.JStab-titles li.active {
		border-left: none;
		border-bottom: 1px solid #EE301E;
	}
	.features-list-items li:nth-child(2) {
		border-top: solid 1px #f0f0f0;
	}
	.tags li {
		margin-bottom: 5px;
	}
	.JScart-item {
		border: solid 1px #ddd;
		margin: 15px 0.9375em;
	}
	.JScart-item div:first-child {
		border-bottom: solid 1px #ddd;
	}
	.JScart-item div:first-child li:last-child {
		border-right: none;
	}
	.below-cart {
		padding: 0 0.9375em;
	}
	.features-content li {
		width: 100%;
	}
	#map_canvas {
		margin-left: 0.9375em;
		margin-right: 0.9375em;
	}
	.registration-popup-high {
		overflow-y: scroll;
	}
	.registration-popup-high .popup-wrapper, .registration-popup-high .JSpopup-inner {
		top: 0;
		margin: 10px 0;
	}
    .JStab-title-description, .tab-title-tehnicaldoc, .JStab-title-comments {
        width: 100% !important;
        border-bottom: solid 1px #ddd;
        border-right: solid 2px #ddd !important;
    }
	/*----- all categori sidebar  -------*/
 
	.JScategory-sidebar__list {
		position: fixed;
		top: 50%;
		right: 0px;
		margin-right: -70%;
		width: 70%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: margin 0.2s ease-in-out;
		transition: margin 0.2s ease-in-out;
		box-shadow: 1px 1px 5px grey;
	}
	.category-sidebar__list--open {
		margin-right: 0%;
	}
	.category-sidebar__list--open .JScategory-sidebar__list__toggler:before {
		content: "\2192";
	}
	.JScategory-sidebar__list__toggler {
		line-height: 30px;
		text-align: center;
		font-size: 20px;
		width: 35px;
		height: 35px;
		position: absolute;
		top: 50%;	
		left: -35px;
		background: #f0f0f0;
		border-radius: 3px 0px 0px 3px;
		color: #747474;
		font-weight: 700;
		border: 1px solid #747474;
		cursor: pointer;
	}
	.JScategory-sidebar__list__toggler:before {
		content: "\2190";
	}
	.category-sidebar__list--fix {
		min-width: auto;
	}
	.news-title {
	    font-size: 20px;
	    margin: 16px 0;
	    padding: 0 20px;
	    background: rgba(232, 232, 232, 0.47);
	    top: 0;
	    position: relative;
	}
	.banners-right {
		margin: 0px;
	}
	.banners-right img {
 	    max-height: 100%;
	}
	.registration-form-wrapper {
		margin-top: 20px;
		border-top: 1px solid #bbb;
		border-left: 0;
	}
	.cart-remove-all {
		padding: 3px 14px;
	}
	.cart-summary-wrapper {
		margin-top: 15px;
	    padding: 0;
	}
	.cart-summary {
		border-left: none;
	} 
	.position-center {
		display: flex;
		justify-content: center;
		display: -webkit-flex;
		-webkit-justify-content: center;
	}
	li.cart-image:first-child {
		border-right: 1px solid #E9E9E9;
	}
	.summary-amount {
		font-size: 1em;
	}
 
	.JSsearchContent {
		margin: 15px 0px;
	}
 
	.banners-right {
		display: flex;
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    display: -webkit-flex; 
	}
	.banners-right div:last-of-type a {
		margin-top: 10px;
	}
	#JSmain-slider .slick-next {
		right: 0px;
	}		
	#JSmain-slider .slick-prev {
		left: 0px;
	}
	#JSmain-slider {
		margin-top: 0px;
	}
	#JScategories .JSlevel-1 > li.parent:hover:after {
	    display: none;
	}	
 
	.breadcrumbs li {
		margin-bottom: 6px;
	}
	.JSproduct-list-options{
		text-align: center;
	}
	#JScategories h3{
		border: none;
	}
}

/*--- MAX WIDTH 640px END ---*/

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) {
	.single-slide .JSproduct {
		width: 100%;
	}
	#main-content{
		min-height: 300px;
	}
	.article-heading{
		font-size: 1.2em;
	}
	.summary-label{
		padding: 0;
	}
	.scrollable {
	    overflow-y: scroll;
	    height: 400px;
	}
	.product-content, .JSproduct-slider .product-content {
		max-width: 90%;
		margin: 0 auto;
	}
	.JSproduct-list.list-view .product-content {
		max-width: 90%;
	}
	.JSproduct-list.list-view .JSproduct .product-details li {
		width: 100%;
	}
	.header-cart-icon:before {
		margin: 0 auto;
	}
 
	.JSsearch-button {
		width: 18%;
	}
 
	.cart-summary {
		padding-left: 15px
	}
	.cart-action-buttons {
		display: flex;
	    flex-direction: column-reverse;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
	    display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	    -webkit-justify-content: center;
	    -webkit-align-items: center;
	    -webkit-flex-wrap: wrap;
	    margin-right: 0px;
	}
	.cart-action-buttons li button {
		padding: 3px 48px;
	}
	.cart-action-buttons li {
		width: 100%;
		margin: 6px 0px;
	}
	.cart-action-buttons li a {
		width: 100%;
		text-align: center;
	}
	.JSmain-nav {
		top: 50%;
	}
	.top-menu-links a{
		margin: 0px 4px;
	}	
}
 
/*-- MEDIAQUERIES END --*/


