
:root{
	--btn_bg: #b50000;
	--btn_color: #fff;
	--a_href_color: #000; 	        
	--level_1_color: dimgrey;  		
	--product_price_color: #fa5555;	
	--product_title_color: #30323A;	
	--footer_bg: #2c2c2c;		
	--header_bg: #ffffff;		
	--top_menu_bg: #f0f0f0;		
	--menu_bg: #fa5555;		
	--body_color: #222;		
	--body_bg: #fff;
	--top_menu_color: #696969;
	--h2_color: #30323A;
	--login_btn_bg: transparent;
	--login_btn_color: dimgrey;
	--cart_number_bg: #fa5555;
	--categories_title_bg: #e63737;
	--categories_level_1_bg: #fff;
	--categories_level_2_bg: #fff;
	--level_2_color: dimgrey;
	--inner_body_bg: #fff;
	--product_bg: #fff;
	--product_bottom_bg: #fff;
	--review_star_color: #ffd40b;
	--paragraph_color: #fff;
	--h5_color: #696969;
	--input_bg_color: #fff;
	--breadcrumb_bg: #f5f5f5;
	--product_list_bg: #f5f5f5;
	--currency_bg: #fff;
	--currency_color: #333333;
	--filters_bg: #fff;
 	--pagination_bg: #fff;
 	--pagination_bg_active: #fff;
    --pagination_color_active:  #fa5555;
    --article_product_price_color: #D13E3B;
    --discount_price_color: #D13E3B;
    --add_to_cart_btn_bg: #F8694A;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #353535;
    --add_to_cart_btn_bg_not_available: #f79888;
    --btn_hover_bg: #e5e5e5;
    --sale_action_price_bg: #F8694A;
  	--sale_action_bg: #b50000;
  	--product_old_price_color: #8c8c8c;
  	--label_color: #696969;
  	--scroll_top_bg: #fff;
}
.header-search input[type="text"] {
	color: dimgrey;	
    border-color: #fa5555;
    outline: none;
    border-right: none;
}
select {
	color: dimgrey;
	border-color: #fa5555;
	outline: none;
}
.JSseardh-button, .JSsearch-button2 {
	background-color: transparent;
	border: 1px solid #fa5555;
    border-left: none;
    padding: 5px 20px;
}
.JSsearch-button i, .JSsearch-button2 i {
    color: #808080;
}
.header-cart:hover {
    border-color: #fa5555;
    transition: all 0.2s;
}
.login-btn {
    padding: 6px 10px;
    border: 1px solid #ddd;
    font-size: 15px;
}
.login-btn:focus {
    border-color: #fa5555;
}
.cart-me {
    color: #fa5555;
}
.login-dropdown li a {
    font-size: 13px;
    padding: 10px 20px;
    color: dimgrey;
}
.banners-right img {
    min-height: 150px;
}
#JScategories .JSlevel-1 li a:hover {
    color: #fa5555;
}
#JScategories .JSlevel-1 > li:hover { 
    border-left: 2px solid #e63737;
}

.cart-remove .close, .JSheader-cart-content .close {
	width: initial;
    height: initial;
    padding: 3px 6px;
    border: 1px solid #bbb;
    opacity: 1;
    font-size: 14px;
    line-height: initial;
}
.cart-remove .close:hover, .JSheader-cart-content .close:hover {
	font-size: 14px;
	color: initial !important;
	background-color: initial;
	line-height: initial;
	padding: 3px 6px;
    border-color: gray;
}
.heading-background {
    border-bottom: 1px solid #fa5555;
    font-size: 22px;
    padding-bottom: 5px;
    text-transform: initial;
    color: #4e4646;
}
.h2-container h2 .heading-background:after {
    display: none;
}
.btn-slider {
	color: #fa5555;
}
.btn-slider:active{
	border: none;
}  
.for-sale-price {
    background-color: #353535;
}
.JSproduct .shop-product-card .like-it, .shop-product-card-list .like-it, .add-to-cart-area .like-it {
	color: #696969;
}
.JSproduct .shop-product-card .like-it:hover, .shop-product-card-list .like-it:hover, .add-to-cart-area .like-it:hover, .JSproduct .shop-product-card .like-it.active, .shop-product-card-list .like-it.active {
    color: #fa5555;
}
.JSproduct .shop-product-card .article-details:hover {
    background-color: white;
    color: #696969;
    font-size: 16px;
}
footer button:hover {
	background-color: #9a1010 !important;
}
footer a, footer p, footer li {
	line-height: 25px;
}
footer a:hover {
	color: #fa5555 !important;
}
footer p, footer li, .footer-links li a, footer .foot-note a {
	color: #9c9c9c !important;
}
footer h5 {
	color: #afafaf;
    font-weight: normal;
    position: relative;
}
footer .container .row:nth-child(2) {
	border-top: 1px solid #615f5f;
    padding-top: 30px;
}
footer .container .row:nth-child(1) {
	padding: 10px 0px;
}
.footer-logo img {
    max-width: 150px;
    padding-left: 0px;
}
.JSproduct {
	padding: 0px;
}
.shop-product-card {
	box-shadow: 1px 1px 6px 0px #e4e4e4;
}
.shop-product-card:hover {
	box-shadow: 1px 1px 6px 0px #c5c5c5 !important;
}

.buy-btn {
	font-weight: normal !important;
}
.JSproduct .shop-product-card .add-to-cart-container, .shop-product-card-list .add-to-cart-container {
	opacity: 1;
	visibility: visible;
	display: flex;
    flex-direction: row-reverse;
}
#JScategories .JSlevel-1 li a {
    font-weight: normal;
    color: dimgrey;
}
#JScategories .JSlevel-1 li:last-child {
    background-color: #eaeaea;
    text-transform: uppercase;
    box-shadow: none;
}
.JSlevel-2 li {
	background-color: transparent !important;
}
.JSproduct .shop-product-card .buy-btn, .JSproduct .shop-product-card .not-available, .shop-product-card-list .buy-btn, .shop-product-card-list .not-available {
	padding: 9px 15px;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #696969;
}
.JSproduct .shop-product-card .buy-btn, .JSproduct .shop-product-card .not-available, .shop-product-card-list .buy-btn, .shop-product-card-list .not-available {
	padding: 9px 15px;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #696969;
}
.JSproduct .shop-product-card .buy-btn:hover, .shop-product-card-list .buy-btn:hover {
    color: #ffffff;
    background-color: #fa5555 !important;
}
.JSproduct .shop-product-card .product-price, .shop-product-card-list .product-price {
	font-size: 18px;
}
.JSproduct .shop-product-card .product-old-price, .shop-product-card-list .product-old-price {
    font-weight: 600;
}
.fa-star, .fa-star-o {
    font-size: 15px;
}
.JSproduct .shop-product-card .product-name h2, .shop-product-card-list .product-name, .vezani_artikli .shop-product-card .product-name h2 {
	font-weight: 600;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}
.login-form-button {
    background-color: #fa5555;
    padding: 6px 30px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s;
}
.login-form-button:hover {
    background: #e5e5e5;
    color: #666666;
}
.welcome-login {
    font-size: 15px;
    color: #8c8c8c;
    font-weight: normal;
}
.welcome-login span {
    color: #2c2c2c;
    font-size: 22px;
    text-transform: uppercase;  
    margin: 20px 0px;
}
.modal-body {
	padding: 10px 52px 15px 52px;;
}
.modal-body input {
	border-radius: 0px;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	outline: none;
	color: gray; 
}
.modal-body input:focus {
	box-shadow: none;
	border-color: #ccc;
}
.modal-footer {
	padding: 0px 50px 37px 50px;
}
.JSinfo-popup .p-info, .confirm-popup p {
 	border-radius: 0px;
    font-size: 20px;
    color: #fa5555;
}
.dropdown .glyphicon {
	color: #fa5555;
}
.fa-user, .fa-user-plus {
	color: #fa5555;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    font-size: 16px;
}
form input, #the-comments input, form select {
	border-radius: 0px !important;
	border: 1px solid #e5e5e5 !important;
	box-shadow: none !important;
	outline: none !important;
	color: gray !important;
	height: 40px !important;
}
form input:focus, #the-comments input, form select {
	box-shadow: none !important;
	border-color: #ccc !important;
}
form textarea {
	border-radius: 0px !important;
	border: 1px solid #e5e5e5 !important;
	box-shadow: none !important;
	outline: none !important;
	color: gray !important;
}
form textarea:focus,  {
	box-shadow: none !important;
	border-color: #ccc !important;
}
.legal-person-link-button {
    color: #676666 !important;
    background-color: #ffffff;
}
.legal-person-link-button:hover {
    background-color: #fa5555;
    color: #fff !important;
}
.filter-box label {
	background: transparent;
}
a.JSreset-filters-button:hover {
	color: #dcdbdb;
}
.filter-links {
	background: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    color: #2c2c2c;
    text-transform: uppercase;
}
.filter-box .fa-angle-down{
	display: inline-block; 
    width: 1.8571em;
    height: 1.8571em;
    line-height: 1.7572em;
    color: #ccc;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: "FontAwesome";
    text-align: center;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    margin-right: 5px;
}
.filter-text {
    margin: 0 10px;
    font-weight: normal;
}
a.JSreset-filters-button {
	background-color: #f1f1f1;
	color: #696969;
}
a.JSreset-filters-button:hover {
	color: #696969;
}
.category-heading {
    font-weight: bold;
}
.category-name-link {
    font-weight: normal;
}
.JScategory-sidebar__list {
    padding: 10px 5px;
}
a.JSscroll-top {
	border: none;
	padding: 14px;
}
a.JSscroll-top:hover {
	background-color: #fa5555;
}
.resp-nav-btn {
    padding: 8px 13px 6px;
}
.preheader-icons button {
    padding: 10px 8px;
    border-color: #fa5555;
}
.preheader-icons button span {
    background-color: #fa5555;
}
.product-tags div a {
    border-radius: 0px;
    padding: 3px 20px;
    margin: 15px 5px 10px 0px;
    background-color: #fa5555;
}
.product-preview-price-new {
	font-size: 28px;
    color: #fa5555;
}
.discount-price, .mpPrice {
	font-size: 18px;
	color: #fa5555;
}
.add-to-cart-artikal {
    box-shadow: 0px 1px 3px 1px #d4d4d4;
    background-color: #fa5555 !important;
    font-weight: normal;
    text-transform: uppercase;
}
.add-to-cart-artikal:hover {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    box-shadow: 0px 1px 6px 1px #9e9e9e;
}
#the-comments input, #the-comments textarea {
	border-radius: 0px;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	outline: none;
	color: gray;
}
#the-comments input:focus, #the-comments textarea:focus {
	box-shadow: none;
	border-color: #ccc;
}
#the-comments button {
	background-color: #fa5555;
}
#the-comments button:hover {
	background-color: #e5e5e5;
	color: #272222;
}
.cart-remove-all {
    background-color: #fa5555;
}
.cart-remove-all:hover {
    color: #30323a;
    box-shadow: none;
}
.cart-action-buttons button, .no-registration-btn, .close-me-btn, .submit-btn-edit {
	background-color: #fa5555;
}
.cart-action-buttons button:hover, .no-registration-btn:hover, .close-me-btn:hover, .submit-btn-edit:hover, .dont-erase-me {
	color: #30323a !important;
	background-color: #e5e5e5;
}
#JSOrderSubmit {
	background-color: #fa5555;
}
#JSOrderSubmit:hover {
	color: #30323a;
	background-color: #e5e5e5;
}
.without-btn {
	border-radius: 0px;
}
.without-btn.active {
	background-color: #fa5555;
}
.without-btn.active:hover {
	color: #fff;
}
a.JScart-less, a.JScart-more {
    background-color: #b5b5b5;
}
a.JScart-less:hover, a.JScart-more:hover {
    color: #fff;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next {
    background-color: #b3b3b3;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-prev:hover {
    left: 10px;
}
#JSmain-slider .slick-next, #JSmain-slider .slick-next:hover {
    right: 10px;
}
#logout-button {
    font-size: 1em;
    border: 1px solid #ccc;
    padding: 6px 8px;
    color: #696969;
    transition: all 0.2s;
}
#logout-button:hover {
	color: #fa5555;
}
#logged-user {
    font-size: 1em;
    color: #696969;
    border: none;
}
.JSbroj_wish {
    font-size: 17px;
    margin-right: 5px;
}
#JScompareTable .JSclearCompare {
	background-color: #fa5555;
	border-radius: 0px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    border-color: #fa5555;
}
@media screen and (min-width:1024px) {
	#main-menu li a:hover {
    color: #ffffff;
    background-color: #e63737;
	}
	#main-menu li a {
	    text-align: center;
	}
	.show-compered {
    	background-color: #fa5555;
	}
	.show-compered:hover {
    	background-color: #e63737;
	}
	
	.header-cart-container:hover .header-cart {
	    border-color: #fa5555;
	} 
	.JSproduct .shop-product-card .like-it{
		color: #696969;
		position: relative;
		top: 68px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;
	}
	.shop-product-card:hover .like-it{
		top: 0px;
		visibility: visible;
		opacity: 1;
	}	
}


@media screen and (min-width: 640px) {
	.top-menu-links li a {
    	font-size: 14px;
	}
	.top-menu-links li a:hover {
	    background-color: white;
	    color: #fa5555;
	}
	#b2b-login-icon {
	    padding: 5px 10px;
	}
	#b2b-login-icon:hover {
	    background-color: white;
	    color: #fa5555;
	}
	#top-navigation {
		display: flex !important;
		align-items: center;
		flex-wrap: wrap;
		display: -webkit-flex !important;
		-webkit-align-items: center;
		flex-wrap: -webkit-wrap;
	} 
	footer h5:after {
	    display: block;
	    content: '';
	    height: 2px;
	    width: 32px;
	    background-color: #fa5555;
	    margin-top: 5px;
	}
}