:root{
	
  	--background-blue: #fe8c67;
	--link-color: #fe8c67;
	--dark-blue: #f27750;
	--scroll-bar-color: #ffaa8e;
	--notification-color: #fe8c673b;
	--border-color: #dddddd;
	--review-star: #f45236;
	

	--btn_bg: transparent;
	--btn_color: #fff;
	--a_href_color: #3d3d3d;	        
	--level_1_color: #222;  		
	--product_price_color: #29292a;	
	--product_title_color: #29292a;	
	--footer_bg: #fff;		
	--header_bg: #fff;		
	--top_menu_bg: #f4f4f4;		
	--menu_bg: white;		
	--body_color: #222;		
	--body_bg: #fff;
	--top_menu_color: #fff;
	--h2_color: #000;
	--login_btn_bg: transparent;
	--login_btn_color: #4a4a4d;
	--cart_number_bg: var(--background-blue);
	--categories_title_bg: var(--link-color);
	--categories_level_1_bg: #fff;
	--categories_level_2_bg: #fff;
	--level_2_color: #222;
	--inner_body_bg: #fff;
	--product_bg: #fff;
	--product_bottom_bg: #fff;
	--review_star_color: #b9b9b9;
	--paragraph_color: #fff;
	--h5_color: #fff;
	--input_bg_color: #fff;
	--breadcrumb_bg: #f5f5f5;
	--product_list_bg: #f5f5f5;
	--currency_bg: #fff;
	--currency_color: #000;
	--filters_bg: #fff;
 	--pagination_bg: #fff;
 	--pagination_bg_active: #fff;
    --pagination_color_active:  var(--link-color);
    --article_product_price_color: #D13E3B;
    --discount_price_color: #D13E3B;
    --add_to_cart_btn_bg: #F8694A;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: var(--background-blue);
    --add_to_cart_btn_bg_not_available: #f79888;
    --btn_hover_bg: #15afe7;
    --sale_action_price_bg: #F8694A;
  	--sale_action_bg: var(--background-blue);
  	--product_old_price_color: #8f8f93;
  	--label_color: #4a4a4d;
  	--scroll_top_bg: #fff;

	}