/* STYLE.CSS v.1.0.0 */

/*---------- GENERAL STYLES ----------*/

a:link, a:visited, a:hover, a:active {
	color: orange;
}
a.search_list__item__link:hover {
    background-color: rgba(255, 140, 0, 0.2);
}
h2 {
    color: #fff;
    background: orange;
}
.article-heading {
    color: orange;
    background: #fff;
}
.article-edit-btn {
    background: #000;
}
.footnote a{
	color: #fff;
}
button {
	color: #fff;
	border-color: #bbb;
	background-color: orange;
}
button:hover {
    background-color: orange;
    opacity: .8;
}
button.submit {
	background: orange;
}
.footer-links li a{
	color: #fff;
}
.JSselect-field, .JSselect-field ul{
	background-color: orange;
}
a.JSreset-filters-button{
	color: #fff;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next, #JSmain-slider .slick-prev, #JSmain-slider .slick-next, footer, button.company-registration {
	background-color: orange;
}
.JSproduct-slider .slick-prev:hover, .JSproduct-slider .slick-next:hover {
	background: orange;
}

.filter-box.open .label-field {
	color: orange;
}
.filter-box.open .label-field__arrow {
	color: orange;
}

.choosed_filter {
	color: orange;
}

#login-icon:hover, #registration-icon:hover {
	color: darkorange;
}

#logout-button {
	color: #fff;
	background: orange;
}

.JSsearch-button {
	background-color: orange;
}
.JSsearch-button:hover {
	background-color: orange;
}

.header-cart-icon:before {
	background-image: url('../../../../images/themes/simple/light_orange/large-icons.png');

}

.JSheader-cart-content li a {
	color: orange;
}

#JScategories .category-item-accent {
	background: orange;
	color: #fff;
}
#JScategories h3 {
    color: #fff;
    background: orange;
}
.category-sidebar__list{
    border: 7px double orange;
}
#JScategories .JStoggler {
    color: #fff;
}
#JScategories .JSlevel-1 > li.category-item-accent a{
    background: none;
}
 
.JSproduct .JScompare:hover, .JSproduct .JScompare.active {
	background: orange;
}
footer {
    background-color: darkorange !important;
}

.newsletter button {
	background: orange !important;
}
.newsletter button:hover {
	background: orange;
}

.preheader-icons .social-icons a {
	background-color: orange;
}

.social-icons a {
    background-color: transparent;
}
.registration-form-open-buttons button {
	background: orange;
}

a.JSscroll-top {
	background: orange;
}

.breadcrumbs>* {
    color: orange;
}

.breadcrumbs li:after {
	color: orange;
}

.news-title {
    background: orange;
}
a.news__more {
    background: orange;
    color: #fff;
}

.pagination li a, .pagination li button {
	background: orange;
}

.view-buttons span {
	background-color: orange;
}
.view-buttons span.active {
	background-color: orange;
}

.show-compered {
    background: orange;
}

a.add-amount-less, a.add-amount-more, a.JScart-less, a.JScart-more {
	background: darkorange;
    color: #fff;
}

.product-preview-price-new {
    border-left: 6px solid darkorange;
    color: darkorange;
}

.JStab-titles li {
    background: orange;
    color: #fff;
}
.JStab-titles li.active {
    color: #fff;
	background: darkorange;
}

.features-list-title {
	color: orange;
}

.JScart-more-icon {
	background-color: orange;
}
.without-btn.active {
	background: orange;
}
.without-btn.active:hover {
	background: darkorange;
}
.cart-labels {
	background: darkorange;
}
.summary-amount {
	color: orange;
}
.cart-remove-all {
	border-right: solid 3px darkorange;
	background: orange;
	color: #fff;
}
.JScart-without-button, .cart-action-buttons li button, .cart-registration-button, .JScart-without-button:hover, .cart-login-button, .cart-login-button:hover {
	background: orange;
}
 

.JSmenu-icon, #main-menu li a:hover {
	color: orange;
}

/*--- MAX WIDTH 640px ---*/
@media screen and (max-width:640px) {
	.JSmenu-icon {
	    color: orange;
	}
	.menu-close i {
    	color: orange;
    }
	.category-item-accent a {
		background: orange;
		color: #fff;
	}
	.category-sidebar__list__toggler {
		color: orange;
	}
	.news-title {
	    background: orange;
	}
}

#JSbroj_cart {
    background-color: darkorange;
}

.fa-sign-in {
    color: darkorange;
}
.fa-user-plus {
    color: darkorange;
}

.product-sale {
    background-color: darkorange;
}

.success {
    color: #1fa31f;
}

.submit-btn-edit {
    background-color: orange;
}

/* FROM CUSTOM CSS */

#main-slider .slick-prev, #main-slider .slick-next, .cart-action-buttons li,
.JSproduct .not-available, .JSproduct .JSadd-to-cart, footer,
button.company-registration {
	background-color: orange;
}

.header-cart-icon span, #JScategories .JSlevel-2 > li > a, .breadcrumbs li a,
.product-preview-info li a, .cart-name a, .summary-amount,
.login-form .forget-password, .JSproduct .product-title, .JSheader-cart-content li a,
#logged-user {
	color: orange;
}

p a {
	color: orange;
}

.submit, .JSsearch-button, .JSproduct-slider .slick-prev,
.JSproduct-slider .slick-next, .newsletter button, .add-to-cart-area .JSadd-to-cart,
input.submit, .pagination li a, button.person-registration, .JScart-more-icon,
.submit-order-button, a.JSreset-filters-button {
	background-color: orange;
}

#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	color: orange;
}

.JSGrupaAdd, .JSArtDetails {
	color: orange;
}
