body {
	background-color: #fff;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next,
button.company-registration {
	background-color: #666;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next{
    opacity: 0.6;
}
 #JScategories .JSlevel-2 > li > a, 
.product-preview-info li a, .summary-amount,
.login-form .forget-password, .JSproduct .product-title,
#logged-user {
	color: #666;
}
p a {
	color: #f1b64f;
}
.submit, .JSproduct-slider .slick-prev,
.JSproduct-slider .slick-next, 
input.submit, button.person-registration, .JScart-more-icon,
.submit-order-button  {
	background-color: #F79022;
}
/* KONFIGURATOR */
.konfigurator tr {
	margin: 0;
	padding: 0 0px;
}
.konfigurator td {
	margin: 0;
	padding: 0 2px;
}
.konfigurator select {
	width: 300px;
    margin: 10px 0;
}
.konfigurator .JSKolicina {
	margin-bottom: 0px;
    text-align: center;
}
.dodaj-konf {
	padding: 4px 8px;
	float: right;
}
.ukupno-konf {
	width: 250px;
	float: right;
	margin-left: 15px;
}
#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	font-size: 23px;
	font-weight: bold;
	color: orange;
}
.ukupno-konf p {
	margin-bottom: 0;
}
.ukupno-konf-div {
	background-color: #fff;
	padding: 0 10px;
    border-bottom: 1px solid #ddd;
}
.JSGrupaAdd, .JSArtDetails {
	cursor: pointer;
	color: #F79022;
}
.JSGrupaAdd:hover, .JSArtDetails:hover {
	color: #888;
}
.JSGrupaRemove {
	cursor: pointer;
	color: red;
}
.JSKolicina {
	width: 40px !important;
}
 
.slick-slider {
	margin-bottom: 10px;
    overflow: hidden;
}
.slick-track {
    margin-bottom: 10px;
}
input:autofill, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
    color: #000 !important;
}
.sub_cats_products {	 
    margin-bottom: 20px;
    text-align: center;
}
.sub_cats_item {
	background: rgb(239, 239, 239);
	height: 105px;
    padding: 0;
    margin: 0px;
    border: 4px solid white;
    transition: 0.2s ease-in;
}
.sub_cats_item:hover {
	background: rgba(255, 165, 0, 0.61);
	transition: 0.2s ease-in;
}
.sub_cats_item p {
	font-size: 12px;
	color: black;	
}
.sub_cats_item img {
    height: 62%;
    padding-top: 10px;
    margin-bottom: -2px;
}