/* STYLE.CSS v.1.0.0 */

/*---------- GENERAL STYLES ----------*/
body {
    font-family: 'Droid Sans', Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #222;
	background: #fff;
	-webkit-font-smoothing: antialiased;
} 
.container {
	padding: 0 10px;
}
button[disabled], button[disabled]:hover{
	background-color: transparent;
	color: #cc0000;
}
a:link, a:visited, a:active {
	text-decoration: none;
	color: #595959; 
	outline: none;
} 
a:hover{
    color: #f79022;
    transition: all 0.1s ease 0s;
    -webkit-transition: all 0.1s ease 0s;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, hlog5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', Arial, sans-serif;
}
h1 {
	font-size: 1.8em;
}
h2 {
    margin: 15px 0 5px;
    font-size: 16px;
    text-transform: uppercase;
  	color: #fff;
    border-bottom: 3px solid #F79022;
}
/*==================*/
.capcha > div{
    border: 1px solid #ddd;
    background: #f0f0f0;
    padding: 10px;
    box-shadow: 1px 1px 4px #ddd;
    margin: 25px 0;
}
.capcha > div input[type="text"]{
	width: auto;
	display: inline-block;
	margin: 0 5px;
}
.capcha > div img{
	margin: 5px;
}
/*==================*/
.article-heading {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    color: #747474;
    padding: 5px;
    background: linear-gradient(to left, #fff, #f2f2f2);
    border-bottom: 1px solid #ddd;
}
.h2-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}
h3 {
	padding: 2px 10px;
	font-size: 1.3em;
	background: #f0f0f0;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}
/*--- FOUNDATION OVERRIDES ---*/
.medium--0-5,
.small--0-5,
.large--0-5 {
	width: 4.166665;
}
.row {
	max-width: 100%;
}
.row .row {
	margin: 0;
}
button {
	padding: 2px 4px;
	color: #fff;
	border-color: #bbb;
	background-color: #bfbfbf;
	outline: none;
	transition: background-color 100ms ease-out;
	-webkit-transition: background-color 100ms ease-out;
}
button:hover:not(.wish-btn), .without-reg-form .forward:hover {
	background-color: #F79022;
}
button:focus:not(.wish-btn) {
	background-color: #F79022;
	opacity: 1;
}
label {
    margin: 15px 0 0;
}
input, textarea {
	box-shadow: none !important;
}
input[type="text"] {
	margin-bottom: 0;
	color: #999;
	font-size: .9em;
	height: 32px;
	border-color: #bbb;
	border-radius: 3px;
	padding: 5px 10px;
}
button.submit {
	float: right;
    padding: 8px 18px;
	font-size: .9em;
	border: none;
	background: #808080;
}
@media only screen and (-webkit-min-device-pixel-ratio:1) {
	::i-block-chrome, input {
		line-height: 1 !important;
	}
}
textarea {
	resize: none;
	font-size: .9em;
	border-radius: 3px;
	border-color: #bbb;
	overflow: hidden;
}
select, select:hover, select:focus {
	outline: none;
	background-color: #fff;
	height: 33px;
    border-radius: 3px;
    padding: 0 7px;
    color: #747474;
    border-color: #bbb;
}
/*---------- FEATURES ----------*/

/*--- POPUP ---*/
.popup {
	position: fixed;
	display: block;
	width: 100%;
	height: 0;
	left: 0;
	top: -2000px;
	overflow: hidden;
	background: rgba(0, 0, 0, .85);
	z-index: 9999999999999;
}
.popup-opened {
	top: 0;
	height: 100%;
}
.popup-wrapper {
	left: 50%;
	top: 35%;
	position: relative;
}
.JSpopup-inner {
	left: -50%;
	top: -50%;
    position: relative;
	background: #fff;
}
.popup-close {
    position: absolute;
    right: 8px;
    top: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 25px;
    color: #5A5A5A;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: none;
}
.popup-close:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.popup h3 {
	padding: 3px 10px;
	font-size: 1.2em;
	background: #f0f0f0;
}
.popup .submit, .popup input.submit[type="submit"] {
	font-size: .9em;
}
.popup label {
	font-size: .9em;
	font-style: italic;
}
.popup input, .popup select {
	margin-bottom: 10px;
}
.popup input.submit[type="submit"] {
	padding: 2px 4px;
}
/*--- FANCYBOX ---*/
/*.fancybox-overlay {
	z-index: 9;
}*/
.fancybox-overlay-fixed {
	background: rgba(0, 0, 0, .7);
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../../../images/fancybox/fancybox_sprite.png');
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}
/*--- PRODUCT SLIDER ---*/
.JSproduct-slider {
	margin-top: 15px;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
	height: 20px;
	width: 20px;
	top: -47px;
	background: #F79022;
	background-position: center center;
	background-repeat: no-repeat;
}
.JSproduct-slider .slick-prev:hover, .JSproduct-slider .slick-next:hover {
	background: #F79022;
	background-repeat: no-repeat;
	opacity: .8;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
	right: 35px;
	left: auto;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -327px;
}
.JSproduct-slider  .slick-next, .JSproduct-slider .slick-next:hover {
	right: 10px;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -352px;
}
.JSproduct-slider .slick-prev:before, .JSproduct-slider .slick-next:before {
	content: '  ';
}
.JSproduct-slider .product-content {
	margin: 6px 10px;
}
.single-slide .JSproduct {
	width: 25%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.slick-slider img {
    margin: 0 auto; 
}
/* BANNER */
.banners a {
	display: block;
	margin: 10px 0;
}
.banners a:first-child {
	margin-top: 0px;
}
/*--- FILTERS ---*/
.filters {
	margin: 0;
    padding: 5px;
}
.filters .filter-box {
	padding: 0;
    margin: 5px 0;
}
.slide-me{
	display: none;
}
.filter-info {
	color: #000;
	font-weight: bold;
	font-size: .9em;
}
.filter-info p {
	font-size: .8em;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #C01112;
}
.selected-filters-title {
	font-weight: normal;
	font-size: 1.1em;
}
.selected-filters-wrapper {
    padding: 0;
}
.selected-filters li {
	display: inline-block;
	height: 24px;
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.6);
	line-height: 24px;
	padding: 0 10px;
	border-radius: 3px;
	background-color: #f2f2f2;
	margin: 5px 0;
}
.selected-filters li i.fa {
	cursor: pointer;
	float: right;
	font-size: 16px;
	line-height: 24px;
	padding-left: 8px;
	color: rgba(0, 0, 0, 0.3);
}
.label-field {
	font-size: .7em;
	display: block;
	font-weight: bold;
	line-height: 25px;
	color: #8F8F8F;
	background: #F1F1F1;
}
.filters .label-field {
    font-size: 14px;
    background-color: #e6e6e6;
    background: linear-gradient(#e6e6e6, #fff);
    border: 1px solid #808080;
    color: #808080;
    border-radius: 3px;
    padding: 3px 10px;
    width: 100%;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-transition: background, color, 0.15s ease-in-out;
    transition: background, color, 0.15s ease-in-out;
}
.label-field__arrow {
	font-size: 20px;
	line-height: 25px;
	transition: color, 0.2s ease-in-out, -webkit-transform;
	-webkit-transition: color, 0.2s ease-in-out, -webkit-transform;
	transition: color, transform, 0.2s ease-in-out;
	transition: color, transform, 0.2s ease-in-out, -webkit-transform;
	font-weight: 700;
}
.filters li .JSselect-field {
	text-indent: 10px;
	float: right;
	display: block;
	padding: 0;
	height: 24px;
	width: 200px;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	color: #999;
	background-color: #fff;
	border: solid 1px rgb(169, 169, 169);
	cursor: pointer;
	background-image: url('../../../images/select-arrow.png');
	background-position: 180px center;
	background-repeat: no-repeat;
}
.active-filters {
	font-size: .8em;
	font-style: italic;
}
.filters li .JSmultiselect {
	text-indent: 0;    
	background: #fff;
  	box-sizing: border-box;
	-webkit-transition: max-height 0.2s ease-in-out;
	transition: max-height 0.2s ease-in-out;
}
.filters li .JSmultiselect label a {
	cursor: default;
}
.filters .filter-box:before {
	display: none;
}
.JSmultiselect {
	width: 100%;
	background: white;    
	padding: 0 5px;     
}
.m-hidden {
	z-index: -9999;
	display: none;
	top: 50px;
}
.m-shown {
	display: block;
	z-index: 9999;
	top: 25px;
}
.JSmultiselect label {
	display: block;
    padding: 8px 2px 3px;
	font-size: 0.9em;
    margin: 0;
    border-bottom: 1px solid #ddd;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.filter-text {
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
    flex: 1;
	margin: 0px;
}
.JSmultiselect label input {
	vertical-align: text-bottom;
	margin-right: 6px;
    margin-bottom: 0px;
}
.JSmultiselect label input:checked {
	background: #808080;
}
.JSmultiselect label:hover {
	background: #fff;
}
.filter-price {
	position: relative;
	padding: 10px 0;
	color: #fff;
}
.price-holder{
	height: 35px;
}
/* SLAJDER ZA CENU  */
.slider-for-price {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider-for-price:hover {
    opacity: .7;
}
.slider-for-price::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #087DC2;
    cursor: pointer;
}
.slider-for-price::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #087DC2;
    cursor: pointer;
}
.rangeSliderPrice{
	font-size: 16px;
}
.rangeSliderContainer{
	margin: 10px 0 0;
    padding: 10px 0 0;
}
/* SLAJDER ZA CENU END */
a.JSreset-filters-button {
	font-size: 13px;
	color: #fff;
	display: inline-block;
	padding: 4px 15px;
	border-radius: 2px;
	background: #f79022;
    margin: 15px 0;
}
.filter-box.open .label-field {
	background-color: #e6e6e6;
    background: linear-gradient(#fff,#e6e6e6);
}
.JSfilters-content{
	display: none;
	position: absolute;
    z-index: 3;
    width: 100%;
    border: 1px solid #808080;
    border-top: none;
    border-radius: 3px;
}
.filter-box.open .label-field__arrow {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.filter-box p {
	font-size: 12px;
}
/*---------- SECTIONS ----------*/
.sub_cats_item_brend{
    background: #fff;
    padding: 0;
    height: 80px;
    display: flex !important;
	display: -webkit-flex !important;
	align-items: center;
	-webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    margin: 15px 0 0;
}
.sub_cats_item_brend:before{
	content: " ";
	position: absolute;
	width: 90%;
	left: 10px;
	bottom: 0px;
	top: 0;
	right: 0;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
    z-index: 1;
}
.brand-link{
	z-index: 1;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
}
.dragg{
	 position: relative;
	 overflow: hidden;
}
.dragg button{
	display: none !important;
}	
.sub_cats_item_brend img {
    max-width: 160px;
    padding: 8px;
    max-height: 80px !important;
    height: auto !important;
}
/*--- MAIN WRAPPER ---*/

.main-wrapper {
    max-width: 1210px;
    margin: 0 auto;
}
/*--- PREHEADER ---*/
#JSpreheader {
	position: relative;
	z-index: 1;
    background-color: #ddd;
}
.preheader-icons a {
    color: #000;
}
.preheader-icons{
	display: flex;
	padding: 0;
 	align-items: center;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: center;
}
.no-padding{
	padding: 0;
}
.required-fields{
    font-size: 17px;
    margin: 10px 0 0;
}
.required-fields span{
    color: red;
    font-size: 23px;
    display: inline-block;
}
.napomena-cart{
    margin: 0;
    font-size: 12px;
    padding: 5px 0;
    line-height: 1.4;
    color: #747474;
}
.cart-form-no-padding{
	padding: 0 5px;
}
.red-dot{
	color: red;
    font-size: 16px;
    display: inline-block;
    line-height: 0;
}
.red-dot-error{
    color: red;
    font-size: 12px;
 }
/*- MAIN MENU -*/
.JSmain-nav {
    padding: 0;
}
.menu-background {
    position: relative;
    background-color: #747474;
    border-top: 3px solid #F79022;
}
.order-h2{
    background-color: #087DC2;
    padding: 1px 15px 0;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.current-log-user{
    padding: 10px 10px 0;
}
#main-menu li {
	display: inline-block;
	line-height: 45px;
}
#main-menu li:after {
	display: inline-block;
	padding: 0 7px;
}
#main-menu li:last-child:after {
	display: none;
}
#main-menu li:hover {
	background-color: #7d7d7d;
}
#main-menu li a {
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 0px 6px;
}
/*- LOGIN & REGISTRATION ICONS -*/
 #login-icon, #registration-icon {
	display: inline-block;
	position: relative;
}
.logout-wrapper{
	display: inline-block;
}
#login-icon span, #registration-icon span {
	font-size:  13px;
}
#login-icon:hover, #registration-icon:hover {
	color: #f79022;
}
#logout-button {
    padding: 0px 7px;
    display: inline-block;
    font-size: .9em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#logout-button:hover {
    color: #F79022;
}
.logged-user, #logged-user {
	font-size: .9em;
	display: inline-block;
    color: #fff;
}
/*--- HEADER ---*/
.banners-right, .banners-right div {
	padding: 0;
}
header {
	position: relative;
	background: #fff;
}
.div-in-header{
    display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
}
header.header-fixed {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999999;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
	border-bottom: none;
}
.header-fixed {
    height: 60px;
}
.header-fixed .header-cart-icon:before {
	height: 35px;
}
.header-fixed .JSbroj_cart {
	font-weight: 300;
	font-size: 14px;
}
.header-fixed .logo img {
	top: 0;
	height: 40px;
}
.header-fixed .JSsearchContent {
	margin-top: 8px;
}
.free-call-font{
	font-family: 'Architects Daughter', cursive;
	letter-spacing: .6px;
	position: relative;
}
.free-call-font:after{
	position: absolute;
    content: "";
    height: 10%;
    width: 110%;
    border-radius: 40%;
    border: 1px solid transparent;
    background: #7C509C;
    display: inline-block;
    top: 14px;
    left: -5px;
}
.pipes{
    margin: 0 2px;
}
.header-paragraph-description{
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    padding: 0 10px 0 0;
}
.header-centered-text{
	text-align: right;
	padding: 10px 0 0;
}
/*- LOGO -*/
.logo {
	display: inline-block;
	position: relative;
	padding: 20px 0;
}
.logo img {
	max-height: 80px;
	max-width: 100%;
    width: auto;
}
/*- SEARCH -*/
.JSsearchContent-field {
	position: relative;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.JSsearch-button, .JSsearch-button2 {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    padding: 6px 20px;
    background-color: #bfbfbf;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.JSsearchContent2, .JSsearchContent{
    padding: 0;
}
.JSsearchContent2 .search-field, .JSsearchContent .search-field {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.JSsearch-button i, .JSsearch-button2 i {
	font-size: 20px;
    color: #fff;
}
.navbar-flex{
	display: -webkit-flex;
	-webkit-align-items: center;
	display: flex;
	align-items: center;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;  
}
/* search sugestions */
ul.JSsearch_list {
	padding: 15px;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-top: 36px;
	z-index: 999;
	width: 100%;
	background: #fff;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: border-box;
	max-height: 400px;
	overflow: auto;
}
li.search_list__item {
	font-size: 12px;
}
li.search_list__item:last-child a {
	border-bottom: none;
}
.search_list__item__link {
	display: block;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
    justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	border-bottom: 1px solid  #ddd;
    line-height: 1.4;
    padding: 5px 0;
}
.search_list__item__link__text {
	-ms-flex: 1;
	-webkit-box-flex: 1;
    flex: 1;
}
.search_list__item__link__cat {
	font-size: 12px;
	color: #808080;
	width: 115px;
}
/*- HEADER CART -*/
.header-cart {
	position: relative;
	display: inline-block;
}
.header-cart-icon {
	position: relative;
	display: inline-block;
}
.header-cart-icon:before {
	content: ' ';
	display: block;
	float: none;
	width: 55px;
	height: 44px;
	background-size: 80%;
	margin: 0 auto;
	background-image: url('../../../images/themes/modern/light/large-icons.png');
	background-position: 0;
	background-repeat: no-repeat;
	opacity: 1;
}
.JSheader-cart-content {
	background: #fff;
	position: absolute;
	width: 450px;
	right: -5px;
	padding: 0 10px;
	box-shadow: 0 0 10px 0 #999;
	border-radius: 2px;
	visibility: hidden;
	z-index: 9999999;
	opacity: 0;
	text-align: left;
}
.header-cart:hover .JSheader-cart-content {
	visibility: visible;
	opacity: 1;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
}
.JSheader-cart-content li {
	padding: 10px 0;
    font-size: .9em;
	border-bottom: solid 1px #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: space-between;
}
.JSheader-cart-content li:last-child {
	border-bottom: none;
}
.header-cart-image-wrapper {
	display: inline-block;
	width: 52px;
	height: 52px;
	line-height: 48px;
	text-align: center;
	box-shadow: 0 0 10px 0 #999;
	background: #fff;
	overflow: hidden;
}
.JSheader-cart-content li img {
	display: inline;
	max-width: 95%;
	height: auto;
	max-height: 95%;
}
.JSheader-cart-content li a {
	display: inline-block;
	width: 47%;
	padding: 0 5px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.JSheader-cart-content li a:hover {
    color: #F79022;
}
.header-cart-amount {
	display: inline-block;
	width: 25px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	border: solid 1px #ddd;
    border-radius: 2px;
    color: #666;
}
.header-cart-price {
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 85px;
}
.header-cart-summary {
	display: block;
	text-align: right;
	padding: 5px 7px;
	margin: 8px 0;
	background: #f0f0f0;
	color: #000;
}
.header-cart-summary span {
	margin-left: 10px;
}
.header-cart-summary span span {
	margin: 0;
}
.JSheader-cart-content .close {
	width: 16px;
	height: 16px;
	padding: 0;
    line-height: 0;
	border: 2px solid #bbb;
	color: #bbb;
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}
.JSheader-cart-content .close:hover {
    background: #F02626;
    color: #fff !important;  
    font-size: .8em;
}

/*--- MIDDLE AREA---*/
#sidebar-left {
	padding: 0;
}
#middle-area #sidebar-left {
    z-index: 0;
}
/*#middle-area #sidebar-left ul.JSlevel-1 {
    overflow: overlay;
    display: block;
	max-height: 1738px;
}*/
 
/* category acccent button */
.sub_category_item{
	height: 70px;
    padding: 0;
    transition: 0.2s ease-in;
    overflow: hidden;
    position: relative;
    margin: 3px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.sub_category_item:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 5px;
    bottom: 0px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}
.sub_category_item:hover:before{
	border-color: #ff3333;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.sub_category_item img{
	max-width: 60px;
	padding: 0px;
	display: inline-block;
    margin: 0 8px;
}
.sub_category_item p{
    margin: 0;
    padding: 0 8px 0 0;
    line-height: 1;
    font-size: 13px;
    font-weight: 600;
}
.group-parent-div{
	padding: 5px 0 5px 5px;
}
.group-parent-div a:hover{
	color: #595959;
}
.all-category-button{
    font-size: 13px;
    cursor: pointer;
    padding: 0;
}
.all-category-button select{
    position: relative;
    cursor: pointer;
	height: 32px;
	white-space: nowrap; 
	padding: 0px 20px 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	border-right: 0;
	background-position: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
/*- CATEGORIES -*/
 
.manufacturer-categories{
    padding: 5px;
}
.manufacturer-categories ul li a{
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
}
.manufacturer-categories h3{
	background: #ddd;
	border-radius: 10px;
    font-size: 1.1em;
}
#JScategories {
	position: relative;
	z-index: 600;
}
i.fa.fa-list-ul, i.fa.fa-plus-square-o{
    margin-right: 5px;
}
#JScategories h3 {
    margin: 0 !important;
    color: #fff;
    background: #747474;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-right: 2px solid;
    border-left: 2px solid;
}
 
#JScategories .JStoggler {
	width: 35px;
    height: 35px;   
    position: absolute;
    left: 80%;
    top: 8px;
    z-index: 10;
    cursor: pointer;
    color: #F79022;
    font-size: 22px;
    display: none;
}
#JScategories .fa-bars {
    padding: 5px;
    color: #fff;
    font-size: 20px;
}
#JScategories .JSlevel-1 {
	list-style-type: none;
	padding: 0;
	margin: 0;
    display: none;
	position: absolute;
    width: 100%;
    background-color: #fff;
    font-weight: 600;
    border: 1px solid #ddd;
}
#start-page #JScategories .JSlevel-1/*, #product-page #JScategories .JSlevel-1*/ {
    display: block;
}
#JScategories .JSlevel-1 li {
	padding: 0 15px 0 5px;
    position: relative;
}
 
.category__link-group {
	-ms-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
    align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
    justify-content: space-between;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.category__link-group__link {
	 width: 100%;
	-ms-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
    align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
    justify-content: space-between;
	display: -ms-flexbox !important;
	display: -webkit-box !important;
	display: flex !important;
}
.category__item__link__span {
	font-weight: normal;
	font-size: 85%;
}
.category__item__link__expend {
    padding: 0px 7px 0 0;
	cursor: pointer;
	color: #999;
	display: inline-block;
}
.level-2-title{
	border-bottom: 1px solid #e6e6e6 !important;
	padding: 7px 0 2px !important;
}
.level-4-title{
	font-weight: bold !important;  
    opacity: 1 !important;  
}
.display-inline-level-3{
	display: inline-block;
}
.level-2-flexbox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-end;
 }
#JScategories .level-3 li a{
	 font-weight: normal;
}
#JScategories .JSlevel-1 li a {
	position: relative;
	padding: 6px 5px;
	color: #222;
	font-size: 13px;
	display: block;
	border-bottom: solid 1px #f0f0f0;
}
#JScategories .JSlevel-1 li a:hover {
	color: #f79022;
}
#JScategories .JSlevel-2 {
	position: absolute;
	padding: 0 0 3px 0;
  	width: 907px;
	display: none;
	top: 0px;
	left: 100%;
	background: #fff;
	overflow: hidden;
	z-index: 700;
	margin: 0; 
}
.JSsubcategory-toggler {
	display: none;
	position: absolute;
	width: 40px;
	height: 47px;
	right: 15px;
	top: 0;
	text-align: center;
}
.JSsubcategory-toggler span {
    display: inline-block;
    position: relative;  
    width: 29px;
    height: 26px;
    line-height: 24px;
    top: 4px;
    left: -15px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: rgba(167, 167, 167, 0.63);
    font-size: 40px;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler {
	right: 6px;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler span {
	color: #999;
	background: #f0f0f0;
	display: none;
}
#JScategories .JSlevel-2 li {
	width: 50%;
	padding: 0;
	float: left;
	position: relative;
	border: none;
}
#JScategories .JSlevel-2 li a {
   border: none;
}
#JScategories .JSlevel-2 li a:hover {
	background: none; 
}
#JScategories .level-3 {
	margin: 0;
    line-height: 1.4;  
}
.hidden-at-desktop{
	display: none;
}
#JScategories .level-3-open .level-3 {
	display: block;
	padding-top: 10px;
}
#JScategories .level-3 li {
	width: 100%;
	margin: 0;   
}
#JScategories .level-4 {
	margin: 0;
	padding: 0 15px;
	display: none;  /*  new category design */
}
#JScategories .level-3 li a {
	padding: 0 10px;
	display: inline-block; /*  new category design */
}
#JScategories .level-3 li a:hover {
	background: none;	 
}
/*----------- CATEGORI HORIZONTAL  -----------*/
 
#JScat_hor .JScategories-titile {
	display: none;
}
#JScat_hor .JSlevel-1{
	position: relative;
    border-bottom: 1px solid #ddd;
    background-color: #ddd;
    display: block;
}
#JScat_hor .JSlevel-1 li {
	display: inline-block;
	padding: 0;
	position: static;
}
#JScat_hor .JSlevel-1 > li.parent:hover:after {
	left: 0px;
	right: 0px;
	top: 90%;
	height: 6px;
	width: 100%;
	display: block;
}
#JScat_hor .JSlevel-1 li a {
	border-bottom: none;
	background-image: none;
}
#JScat_hor .JSlevel-2 {
	left: 0px;
	top: 100%;
	width: 100% !important;
}
#JScat_hor .JSlevel-2 li {
	display: block;
}
#JScat_hor .JSlevel-2 li a {
	background-image: none !important;
}
#JScat_hor .parent.dropdown-left .JSlevel-2 {
	left: auto;
	right: 0px;
}
#JScat_hor .level-3 {
	display: block;
}
/*- MAIN CONTENT -*/
#main-content {
	background: #fff;
	padding: 0 0 30px;
	overflow: hidden;
    min-height: 700px;
}
/*- MAIN SLIDER -*/
#JSmain-slider {
	max-height: 500px;
	overflow: hidden;
    padding: 0;
    margin: 3px 0 0 0; 
}
#JSmain-slider img{
	width: 100%;
	max-width: 908px;
	height: 100%;
	max-height: 475px;
	margin: 0 auto;
}
#JSmain-slider .slick-prev:before, #JSmain-slider .slick-next:before {
	content: '  ';
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next {
	height: 50px;
    width: 30px;
    background: #999;
    background-repeat: no-repeat;
    border-radius: 5px;
}
#JSmain-slider .slick-prev:hover, #JSmain-slider .slick-next:hover {
	background-repeat: no-repeat;
    opacity: 1;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-prev:hover {
	left: 0;
	background-image: url('../../../images/large-icons.png');
	background-position: -62px center;
}
#JSmain-slider .slick-next, #JSmain-slider .slick-next:hover {
	right: 0;
	background-image: url('../../../images/large-icons.png');
	background-position: -110px center;
}
/*BANNERS RIGHT OF THE MAIN SLIDER*/
.banners-right a {
    display: block;
    padding: 0 2px 0 0;
    margin: 2px 0;
}
 
/*- PRODUCT */
.product-content {
	position: relative;
	padding: 1px 0 0;   
	background: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
}
.product-content:hover{
	box-shadow: 3px 3px 10px grey;
}
.product-content:hover .product-image{
	transform: scale(1.05);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.product-content:before {
	content: ' ';
	width: 0;
	height: 0;
	top: 0;
	display: block;
	position: absolute;  
	border-width: 0 0 25px 25px;
	border-color: transparent transparent #ddd transparent;
	background: #fff;
	z-index: 999;
}
.product-content .btn-container{
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}
 .heading-background{
 	background-color: #808080;
 	padding: 3px 15px 0;
 	display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 280px;
 }
 .heading-background-order{
    background-color: #087DC2;
 	padding: 1px 15px 0;
 	display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
 }
 .heading-background-news{
     width: 100%;
 }
 .for-seo{
 	margin: 0;
    font-size: inherit;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
 }
 img{
    color: #bbb;
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 .login-reg-heading{
 	background-color: #087DC2;
 }
.JSproduct .product-image-wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
	max-width: 90%;
	height: 150px;
	margin: 20px auto;
	background: #fff;
}
.JSproduct .product-image {
	display: inline;
	max-width: 90%;
	height: auto;
	max-height: 100%;
	font-size: 0;
	overflow: hidden;
}
.JSproduct .product-title {
	display: block;
	height: 43px;
	overflow: hidden;
	line-height: 1.3;
    font-size: 16px;
    padding: 0 2px;
}
.JSproduct .action-holder {
	margin: 10px 0 0 0; 
}
.JSproduct-list.list-view .action-holder{
	 text-align: right;
}
.JSproduct .product-price span {
	font-size: .8em;
}
.PDV_price{
	font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans';
    color: #333;
    margin-right: 10px;
}
.PDV{
	font-weight: 600;
	font-style: normal;
}
.wish-btn{
    background: transparent;
    margin: 0 5px;
    padding: 0px 5px;
    color: #cc0000;
    font-size: 1.4em;
    cursor: pointer;
}
.wish-btn:hover, .wish-btn:focus {
    background-color: transparent;
    color: red;
}
.wish-list-remove{
    padding: 4px 7px;
    margin: 0 0 0 5px;
    border-radius: 5px;
}
.JSproduct .JSadd-to-cart, .JSproduct .not-available, .vezani_artikli .JSadd-to-cart-vezani, .vezani_artikli .not-available {
	position: relative;
    font-size: .9em;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    padding: 5px 15px;
    background: linear-gradient(#fff,#e6e6e6);
    color: #595959;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    cursor: pointer;
    white-space: nowrap;
    margin: 2px 0;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}
.product-akcija-div-centered{
	display: flex;
	justify-content: center;
	align-items: center;  
	 display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	min-height: 75px;
}
.JSproduct .JSadd-to-cart i {
	font-size: 13px;
	margin-right: 5px;
}
.JSproduct .JSadd-to-cart:hover {
	border-color: #f69f09;
	color:#f79022;
}
.JSproduct .not-available {
    opacity: 0.6;
	border-color: #bbb;
}
.JSproduct .not-available:hover{
	cursor: not-allowed;
}
 .article-manufacturer-text{
 	font-style: italic;
    font-weight: bold;
    color: #666;
}
 .article-brand-img img{
    max-width: 100%;
    max-height: 70px;
}
.artical-brand-text{
    font-size: 1rem;
    display: inline-block;
    text-align: center;
  	font-weight: bold;  
}
#product-page .hide-at-1024{
	display: block;
    text-align: center;
    position: absolute;
}
#start-page .hide-at-1024{
	display: block;
    text-align: center;
    position: absolute;
}
.hide-at-1024{
  	display: none;
}
.slick-dots li{
	display: none;
}
/*Uporedi btn */
.JSproduct .JScompare {
	-webkit-transition: background, color, 0.2s ease-in-out;
    transition: background, color, 0.1s ease-in-out;
    padding: 3px 7px;
    margin-left: 5px;
    background: linear-gradient(#e6e6e6, #fff);
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    color: #595959;
    cursor: pointer;
}
.JSproduct .JScompare.active, .JSproduct .JScompare:hover {
    border-color: #f69f09;
    color: #cc0000;
}
/* end */

/*--- FOOTER ---*/
.footer-box-pages-title{
	text-transform: uppercase;
    font-weight: 600;
    line-height: 1.1;
    height: 30px;
}
.footer-angle-right{
	margin: 0 5px 0 0;
}
.footer-box-pages li a{
    font-size: 13px;
    display: inline-block;
    margin: 6px 0;
}
.footer-box-pages li a:hover{
	color: #f79022;
}
.mailto{
	margin: 0 !important;
	color: inherit !important;
}
.footer-shop-description{
    font-size: 13px;
}
.footer-background{
	background-color: #ddd;
    padding: 30px 0;
    border-top: 2px solid #F79022;
}
.footer-soc-icons{
	padding: 0 0 10px;
    text-align: center;
}
.footer-banks{
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    padding: 2rem 0 1rem;
}
.footer-banks-ul{
	display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
}
.work-time{
	display: block;
    padding: 5px 0;
    font-size: 13px;
}
.call-centar{
	margin: 0;
    text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	display: -webkit-inline-flex;
	-webkit-align-items: center;
	display: -moz-inline-flex;
	-moz-align-items: center;
}

/*- FOOTER LINKS -*/
.footer-links li a {
    font-size: 13px;
}
i.fa.fa-angle-double-right {
    margin-right: 5px;
}
 .banks-footer{
 	padding: 0;
 }
 .banks-footer img{
    max-width: 120px;
    width: 100%;
    max-height: 30px;
    height: 100%;
 }
 .banks-footer a{
 	display: inline-block;
 	margin: 0 5px;
 }
footer .social-icons a {
    display: inline-block;
    margin-right: 15px;
    border-radius: 100%;
}
/*- NEWSLETTER -*/
.newsletter.row {
	margin: 15px 0;
	position: relative;
}
.newsletter button {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	padding: 0 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.newsletter button:hover {
	background: #F79022 !important;
    opacity: 1 !important;
}
/*- FIXED NAVBAR -*/
#JSreplace{
    background-color: #ddd;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    border-bottom: 3px solid #F79022;
}
.fixedNavbar-logo{
	text-align: center;
}
.fixedNavbar-logo img{
	max-height: 50px;
    padding: 5px;
}
/*- FIXED NAVBAR END -*/
/*- SOCIAL ICONS -*/
#JSpreheader .social-icons {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
}
#JSpreheader .social-icons .facebook {
	background-position: 0 0;
}
#JSpreheader .social-icons .twitter {
    background-position: -30px 0;
    top: 290px;
}
#JSpreheader .social-icons .google-plus {
	background-position: -60px 0;
    top: 320px;
}
#JSpreheader .social-icons .skype {
    background-position: -90px 0;
    top: 350px;
}
#JSpreheader .social-icons .instagram {
    background-position: -120px 0;
    top: 380px;
}
#JSpreheader .social-icons a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
}
.social-icons a {
    display: block;
    width: 30px;
    height: 30px;
	background-image: url('../../../images/social-icons2.png');
	background-repeat: no-repeat;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
    z-index: 2;
    background-size: cover;
}
.social-icons .facebook {
	background-position: 0 0;
}
.social-icons .twitter {
	background-position: -30px 0;
}
.social-icons .google-plus {
	background-position: -60px 0;
}
.social-icons .skype {
	background-position: -90px 0;
}
.social-icons .instagram {
	background-position: -120px 0;
}
/*--- FOOTNOTE ---*/
.footnote {
	padding: 10px 0;
	font-size: .9em;
	text-align: center;
}
/*--- CARDS ---*/
 .cards-container{
	display: flex;
	justify-content: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	display: -moz-flex;
	-moz-justify-content: center;
 }

/*--- INFO & CONFIRM POPUP ---*/
.info-confirm-popup {
	display: none;
}
.JSinfo-popup, .confirm-popup {
	top: 0;
	height: 100%;
	background: rgba(44, 44, 44, 0.8);
}
.JSinfo-popup .popup-wrapper, .JSinfo-popup .JSpopup-inner {
	width: 315px;
}
.confirm-popup .popup-wrapper, .confirm-popup .JSpopup-inner {
	width: 300px;
}
.JSinfo-popup .JSpopup-inner, .confirm-popup .JSpopup-inner {
	background: rgba(153, 153, 153, 0);
}
.confirm-popup .JSpopup-inner {
	text-align: center;
}
.JSinfo-popup .p-info, .confirm-popup p {
	margin: 0;
    color: #474747;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
}
.yes, .no {
	display: inline-block;
	padding: 0 10px;
	margin: 10px 3px;
	font-size: .9em;
}
.yes, .yes:hover {
	background: #f0f0f0;
	color: #999;
}
/*--- SCROLL TO TOP ---*/
a.JSscroll-top {
	position: fixed;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #747474 !important;
	right: -70px;
	bottom: 20px;
	background: #fff;
	z-index: 999;
	padding: 11px;
    border-radius: 50%;
    border: 1px solid #747474;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a.JSscroll-top.show {
	right: 20px;
}
a.JSscroll-top:hover {
    background: #F79022;
    color: #fff !important;
    border: #F79022;
}

/*---------- PAGES ----------*/

/*--- PRODUCT LIST ---*/

/*- BREADCRUMBS -*/
.breadcrumbs {
	font-size: 12px;
	line-height: 1.2em;
    border-width: 0;
	display: flex;
	align-items: center;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: center;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    padding: 5px 5px 0;
	background-color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.breadcrumbs li {
	display: inline-block;
	font-size: 90%;
    text-transform: capitalize;
}
.breadcrumbs>*:before {
	content: none;
}
.breadcrumbs>* {
    color: #cc0000;
}
.breadcrumbs li:after {
	display: inline-block;
	content: '\f105';
	padding: 0 5px;
	color: #222;
	font-size: 14px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}
.breadcrumbs li:last-child:after {
	display: none;
}
.breadcrumbs h1 {
	font-size: 1.1em;
	margin: 0;
}
.breadcrumbs li a:hover {
	color: #cc0000;
    text-decoration: none;
}
 
/*============================
=            NEWS            =
============================*/

/* this is single post */
.news {
    margin: 30px 10px;
    background: #fff;
	box-shadow: 1px 1px 7px #ddd;
}
.news img{
    max-width: 100%;
    max-height: 130px;
    display: block;
    margin: 20px auto;
}
.news-title {
    margin: 16px 0;
    border-width: 2px;
}
/* button */
a.news__more {
	padding: 5px 12px;
	margin: 10px 0;
    display: inline-block;
    font-size: 13px;
    color: #fff;
    background: #747474;
}
a.news__more:hover{
    background: #F79022;
} 
/*=====  End of NEWS  ======*/

/*- PRODUCT LIST OPTIONS -*/
 
.JSproduct-list-options {
	font-size: .9em;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}
.pagination {
    display: inline-block !important;
    padding: 5px 0;
}
.pagination-products-list{
    text-align: center;
}
.pagination li a, .pagination li button { 
	font-weight: 700 !important;
    border: 1px solid #ddd;
}
.pagination li.active a {
    color: #F79022;
}
.pagination li:hover a {
    color: #000;
    background-color: transparent !important;
}
.per-page.JSselect-field {
    background-position: 23px -276px;
    z-index: 3;
    background-color: transparent;
	width: 50px;
}
.view-buttons span {
	display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    width: 25px;
    height: 20px;
    cursor: pointer;
    color: #f79022;
}
.view-buttons span.active {
	color: #000;
}
.view-buttons{
    display: -webkit-inline-flex;
    display: inline-flex;
    align-items: center;
    -webkit-align-items: center;
    margin: 0 10px;
}
.vidiKao{
	font-size: 11px;
    font-weight: bold;
    font-style: normal;
    margin: 0 5px 0 0;
}
.view-buttons span:hover {
   transform: scale(1.2);
   -webkit-transform: scale(1.2);
}
.fa-th-large, .fa-bars {
    font-size: 18px;
}
.list-view-icon{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.JSselect-field {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: -moz-inline-flex;
	display: inline-flex;
	align-items: center;
	-webkit-align-items: center;
	position: relative;
	margin-left: 8px;
	padding: 3px 10px;
    color: #1a1a1a;
	background-image: url('../../../images/mini-icons.png');
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 4;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.JSselect-field ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	background-color: #fff;
    outline: 1px solid #ddd;
}
.JSselect-field li {
	border-bottom: solid 1px #ddd;
	padding: 0 0 0 10px;
    text-align: left;
}
.JSselect-field li:last-child {
	border-bottom: none;
}
.JSselect-field li:hover {
	background-color: #ccc;
}
.JSselect-field li a {
	color: #747474;
	display: block;
}
.JSselect-field li:hover a {
    color: #fff;
}
.sort-products {
	width: 150px;
	background-position: 122px -275px;
    margin: 5px 0;
}
.currency {
    width: 55px;
    background-position: 27px -275px;
    margin: 0 7px 0 0;
    z-index: 2;
}
.per-page ul, .currency ul, .sort-products ul {
    font-size: 12px;
}
/*- PRODUCT LIST PRODUCTS -*/
.JSproduct-list .JSproduct, .user-page .JSproduct{ 
	float: left;
	/*width: 30%;*/
	width: 270px;
    margin: 10px .8%;
}
.JSproduct-list.list-view .JSproduct {
	width: 100%;
}
.JSproduct-list.list-view .product-content {
	border-bottom: 1px solid #ddd;
    box-shadow: none;
	width: 98%;
}
.btn-container-on-list{
	justify-content: flex-start !important;
	-webkit-justify-content: flex-start !important;
	display: inline-flex !important;
	display: -webkit-inline-flex !important; 
}
.JSproduct-list.list-view .JSproduct .product-title {
    padding: 0;
	display: flex;
	align-items: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	height: auto;
	text-align: left;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
 
.JSproduct .product-price {
    font-size: 24px;
    color: #cc0000;
}
.text-align-left{
	text-align: left;
	padding-bottom: 10px;
    font-size: 13px;
    line-height: 1.4;
}
.descr-title{
	font-weight: 600;
}
.JSproduct-list.list-view .JSproduct .product-details li {
	float: left;
	width: 48%;
	font-size: .85em;
}
.JSproduct-list.list-view .JSproduct .product-details li span {
	font-weight: bold;
}

/* Compere */
section.compare-section {
	text-align: center;
}
.show-compered {
	display: -webkit-inline-flex;
    display: inline-flex;
    background-color: #808080;
    border-radius: 2px;
    color: #fff;
    width: 130px;
    padding: 3px 0;
    cursor: pointer;
    margin: 5px 10px;
    text-align: center;
}
.show-compered span{
	margin: 0 auto;
}	 
.flexed-div{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.show-compered:hover {
	background: #595959;
}
#JScompareTable .JSclearCompare {
	display: inline-block;
	background: #D13E3B;
	color: #fff;
	border-radius: 2px;
	line-height: 1;
	cursor: pointer;
	line-height: 26px;
	height: 26px;
	padding: 0 7px;
}
#JScompareTable table{
	width: 100%;
}
#JScompareTable table img{
	max-width: 100%;
	max-height: 70px;
}
.JSdescription-content table{
	width: 100%;
}
.JSdescription-content table td{
	width: 30%;
}
.reveal-modal .close-reveal-modal {
	font-size: 20px;
}
#JScompareTable tr td:first-child {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}
/*--- PRODUCT PREVIEW ---*/
#product-preview {
    margin: 5px 0;
	padding: 0 0.9375em;
	overflow: hidden;
}
/*- PRODUCT PREVIEW IMAGE -*/
.JSproduct-preview-image {
   padding: 0;
}
.zoomWrapper {
	width: 100% !important;
	height: 350px !important;
	line-height: 350px;
	text-align: center;
	background: #fff;
	overflow: hidden !important;
}
.zoomWrapper span {
	width: 100% !important;
	margin-top: 1px;
}
.zoomWrapper img {
	position: relative !important;
	height: auto !important;
	max-height: 90% !important;
}
.zoomWindow {
	width: 100% !important;
	height: 352px !important;
	margin-top: -1px;
	border: solid 1px #f0f0f0 !important;
}
.zoomContainer {
	height: auto !important;
}
.zoomContainer:nth-child(even) {
	display: none !important;
}
.zoomLens {
	max-width: 100%;
	max-height: 350px;
	border: 1px solid rgb(153, 153, 153) !important;
}
.background-center {
	background-position: center center !important;
}
a.elevatezoom-gallery {
	position: relative;
	display: block;
	float: left;
	width: 24.5%;
	height: auto;
	max-height: 71px;
	line-height: 68px;
	margin-right: 0.66%;
	text-align: center;
	margin-top: 4px;
	background: #fff;
	z-index: 1;
	border: 1px solid #ddd;
}
a.elevatezoom-gallery:last-child {
	margin-right: 0;
}
a.elevatezoom-gallery img {
	display: inline;
	height: auto;
	max-height: 60px;
	max-width: 90%;
	width: auto;
}
.zoomLens, a.elevatezoom-gallery {
	box-shadow: 0 0 0 1px #f0f0f0;
}
.article-form{
	display: inline-block;
	padding: 0;
}  
.article-password{
	margin: 6px 0;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    opacity: .9;
    padding: 0 10px;
}
.add-to-cart-area{
	display: flex;
	align-items: center;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: center;
    margin: 0 0 30px;
}
.nivogrupe li{
	padding: 0;
    font-size: 13px;
    line-height: 1.4;
}
/*- PRODUCT PREVIEW INFO -*/
.product-preview-info {
    margin-bottom: 20px;
}
.product-preview-info h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.4em;
}
.product-preview-info ul {
    font-size: 14px;
}
.product-preview-info ul li a {
    font-weight: bold;
    margin: 0 5px;
    display: inline-block;
}
.add-to-cart-area .not-available {
	background-color: rgba(240, 65, 36, 0.29);
    color: #222;
    border: 1px solid #f04124;
    cursor: not-allowed;
    padding: 2px 10px;
    border-radius: 3px;
    margin: 15px 0;
}
/* OSOBINE */
.osobina_naziv, .karakteristike_osobine, .osobina_karakteristika {
    display: inline-block;
    position: relative;
    padding: 0;
}
.karakteristike_osobine label{
	margin: 0;
}
.osobina {
  	margin: 12px 0;
    padding: 5px;
    box-shadow: 1px 1px 5px #ddd;
}
.osobina_naziv {
    min-width: 60px;
}
.osobina_karakteristika span {
	display: inline-block;
	border: 1px solid #bbb;
    min-width: 30px;
    min-height: 30px;
    padding: 4px;
    color: #fff;
    text-align: center;
	cursor: pointer;
	text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px;
    font-weight: bold;
}
.osobina_karakteristika input {
	position: absolute;
	top: -20px;
	visibility: hidden;
}
.osobina_karakteristika input:checked + span {
	box-shadow: 0 0 0 2px #F79022;
}
.add-to-cart-area .JScart-amount {
    height: 25px;
	display: inline-block;
	border-radius: 3px;
	color: #000;  
}
.input_kolicina {
	display: inline-block;
    min-width: 60px;
}
/* OSOBINE KRAJ */
a.add-amount-less, a.add-amount-more, a.JScart-less, a.JScart-more {
    display: inline-block;
	height: 31px;
	width: 20px;
	line-height: 31px;
	color: #fff;
	text-align: center;
	background: #ddd;
}
.product-preview-price {
	position: relative;
	margin: 10px 0;
}
.discount-price{
	font-style: normal;
    color: #D13E3B;
    font-size: 18px;
}
.product-preview-price-old {
	display: block;
	font-size: 1.4em;
	text-decoration: line-through;
	padding: 0 15px;
}
.product-preview-price-new {
    display: block;
    color: #D13E3B;
    font-size: 2em;
}
.MP-price{
    display: block;
    font-size: 16px;
    color: #666;
    padding: 0 20px 0 0;
}
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs {
	margin-top: 20px;
	padding: 0;
}
.JStab-titles li {
    float: left;
    width: 200px;
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
    border-right: solid 2px #fff;
    background-color: #808080;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
}
.JStab-titles li:last-child {
	border-right: none;
}
.JStab-titles li.active {
	border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: none;
}
.tab-content {
	display: none;
    border: 1px solid #ddd;
    padding: 10px;
}
.tab-content.active {
	display: block;
}
.product-description-paragraph{
	font-size: 14px;
}
.features-content ul {
	margin: 20px 0;
}
.features-content ul:before, .features-content ul:after {
	content: ' ';
	display: table;
}
.features-content li {
	padding: 2px 0;
}
.features-list-items li:first-child, .features-list-items li:nth-child(2) {
	border-top: none;	 
}
.features-list-title {
	color: #646464;
    font-weight: bold;
}
.features-content li:nth-child(odd) {
	font-weight: bold;
}
.JScomments-content {
	padding: 20px 0;
}
.JScomments-content h3 {
	margin-top: 0;
	margin-bottom: 15px;
}
/*- COMMENTS -*/
 
.JScomments-content textarea {
	height: 130px;
}
.JScomments-content .submit {
	margin-top: 10px;
	padding: 3px 20px;
 	border-radius: 2px;
}
.comment-content {
	display: block;
	margin-bottom: 5px;
	padding: 6px 10px;
	font-size: 13px;
    box-shadow: 0px 0px 10px #ddd;
}
.comment-name {
	display: block;
	margin-bottom: 0;
	font-weight: bold;
}
.comment-text {
	margin: 0;
	font-size: 13px;
}
.comment-date {
	float: right;
    font-size: 11px;
    position: relative;
    top: -21px;
}
.replies {
	margin: 0 0 0 20px;
}
.replies .comment-content {
    color: #000;
    background: #e6e6e6;
}
/*- PRODUCT PREVIEW TAGS -*/
.tags {
	padding: 10px 0;
}
.tags li {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 4px 12px;
	font-size: .8em;
	font-style: italic;
	background: #f0f0f0;
}
/*--- CART ---*/
.JScart-more-icon {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	top: -20px;
	left: -100%;
	margin-left: -20px;
	border-radius: 100%;
	background-color: #F79022;
	background-image: url('../../../images/mini-icons.png');
	background-position: center -44px;
	background-repeat: no-repeat;
	z-index: 999;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.JScart-more-icon-opened {
	left: 50%;
}
.without-btn {
	display: block;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
    background-color: #E0E0E0;
    color: #808080;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	-webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
	transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
}
.right-leg-face{
    margin: 20px 0 20px 8px;
    width: 48.2%;
}
.left-fiz-face{
    width:	48.3%;
    margin: 20px 3px 20px 15px;
}
.without-btn.active {
	background: #F79022;
	color: #fff;
}
.without-btn:hover {
    background: #fff;
    color: #F79022;
    border: 1px solid #F79022;
}
.without-btn .fa {
	margin-left: 10px;
	font-size: 20px;
	line-height: 40px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.without-btn.active .fa {
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*- CART ITEMS -*/
.cart-labels {
    margin-top: 20px;
    border: 1px solid #e9e9e9;
}
.cart-labels li {
	padding: 7px 8px;
	color: #747474;
	text-align: center;
	border-right: solid 1px #e9e9e9;
}
.cart-labels li:last-child {
	border-right: none;
}
.JScart-item {
	border-left: solid 1px #e9e9e9;
    border-right: solid 1px #e9e9e9;
}
.JScart-item li {
	padding: 6px 5px;
	text-align: center;
	overflow: hidden;
    border-bottom: solid 1px #e9e9e9;
    border-right: solid 1px #e9e9e9;
    min-height: 65px;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.JScart-item div:last-child li:last-child {
	border-right: none;
}
.flex-me{
	display: flex;
	justify-content: center;
    align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}
.cart div.medium-6 {
	padding: 0;
    display: flex;
     display: -webkit-flex;
}
.JScart-image img {
    max-width: 100%;
	height: auto;
	max-height: 50px;
}
li.JScart-image:first-child {
    border-right: none;
}
.cart-name, .cart-price, .cart-total-price {
	font-size: .9em;
}
 
.cart-page{
	padding: 0 10px;
}
.cart-add-amount {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
}
a.JScart-less, a.JScart-more {
	height: 20px;
	line-height: 20px;
}
input.JScart-amount {
	width: 25px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
    border-radius: 0;
	padding: 0;
}
.cart-remove .close {
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	padding: 0;
	font-size: 13px;
	color: #fff;
	background: #999;
}
.cart-remove .close:hover {
	background: #F02626;
}
/*-- RELATED-PRODUCTS --*/
.JSrelated-products .JSproduct {
	float: left;
	width: 25%;
}
/*- BELOW CART -*/
.cart-summary-wrapper, .cart-remove-all-wrapper {
	padding: 0;
}
.cart-summary {
	padding: 7px 0 7px 5px;
	text-align: left;
	border-left: solid 3px #bbb;
    border-bottom: 1px solid #bbb;
	background: #f0f0f0;
}
.summary-label{
    display: inline-block;
    width: 45%;
}
.summary-amount {
	margin-left: 10px;
	font-size: 1.2em;
}
.cart-remove-all {
	width: 100%;
	padding: 5px 0px;
	font-size: 15px;
    background: #808080;
    border-radius: 3px;
}
/*- CART ACTION BUTTONS -*/
.cart-action-buttons {
	text-align: right;
	margin-top: 30px;	 
}
.cart-action-buttons li {
	display: inline-block;
	margin-left: 10px;
}
.cart-action-buttons li button {
	padding: 4px 8px;
}
.cart-action-buttons li a{
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
}
.cart-action-buttons li a:hover {
    background-color: #F79022;
}
.JScart-without-button, .cart-login-button {
    background: #808080;
	font-size: 15px;
	border-radius: 3px;
}
.cart-registration-button{
	background-color: #087DC2;
	font-size: 15px;
}
/* BUY WITHOUT REGISTRATION - FORM */
.row.without-reg-form {
	position: relative;
	margin-top: 70px;
	border-top: solid 1px #f0f0f0;
}
.JSwithout-reg-none-personal, .JSwithout-reg-personal {
	display: none;
}
.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active {
	display: block;
}
.without-reg-form .expand_div {
	padding: 0;
}
.without-reg-form .forward {
    margin: 0 0 15px 0;
    padding: 6px 100px;
    font-size: 16px;
    border-radius: 3px;   
    background-color: #808080;
}
.padding-zero{
	padding: 0;
}
/* PAYMENT METHOD */
.row.payment-method {
	position: relative;
	margin-top: 70px;
	margin-bottom: 30px;
	padding-top: 50px;
	border-top: solid 1px #f0f0f0;
}
.payment-method label {
	padding: 5px 0;
	font-size: .85em;
}
.payment-method textarea {
	height: 130px;
}
/* SUBMIT ORDER BUTTON */
.submit-order-button {
	float: right;
	margin-right: 0.9375em;
	padding: 5px 8px 5px 50px;
	background-image: url('../../../images/mini-icons.png');
	background-position: 13px -248px;
	background-repeat: no-repeat;
}
/* SHOPPING INFORMATION */
.shopping-information table {
	width: 98%;
	margin: 0 auto;
	font-size: .9em;
}
.shopping-information table th {
	padding: 20px 10px 10px;
	text-align: left;
}
.shopping-information table td {
	border: solid 1px #ddd;
	padding: 3px 10px;
}
.shopping-information table .summary {
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
}
/*--- USER PAGE ---*/
.user-info-form {
	margin: 30px 0;
}
.user-info-form input {
	margin-bottom: 10px;
	color: #000;
}
.user-info-form label {
	font-size: .9em;
	font-style: italic;
	color: #999;
}
.user-info-form .submit {
	float: left;
	margin-left: 0.9375em;
	margin-top: 20px;
	padding: 1px 8px;
	font-size: 1em;
}
.user-orders-table {
	width: 100%;
}
/*--- CONTACT PAGE ---*/
#map_canvas {
	height: 330px;
	margin-bottom: 15px;
}
.contact-form textarea {
	height: 130px;
}
.contact-form .submit {
	margin-top: 10px;
    padding: 3px 30px;
    border-radius: 2px;
}
/*--- ODMOR ---*/
.odmor {
	margin-bottom: 30px;
	color: #000;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
/*--------- AlL  CATEGORY PAGE -------------*/
.category-listing .columns+.columns:last-child {
    float: left !important;
}
.category-heading {
	margin: 20px 0 0;
	padding: 4px 10px;
    border-radius: 2px;
    color: #595959;
    background-color: #f0f0f0;
}
.category-name-link {
	font-weight: 700;
	font-size: 16px;
	margin: 5px 0;
	display: block;
	border-bottom: 1px solid #ddd;
}
.category__list {
	display: block;
}
.category__list__item__link {
	display: block;
	line-height: 1.7;
}
.category__link-group__link__text {
	display: block;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
	padding: 0 10px;
}
.category__list__item__link:hover {
	opacity: .85;
}
.category__list__item__link__span {
	color: #595959;
}
.category-name-link, .category-heading, .category__list__item__link {
    font-size: 13px;
}
.JSmenu-icon {
	display: none;
}
/*--------- ALL  CATEGORY SIDEBAR -------------*/
.JScategory-sidebar__list {
	margin: 20px 0;
	background: #f0f0f0;
	z-index: 801;
}
.category-sidebar__list--fix {
	position: fixed;
	top:  40px;
    width: 270px;
 }
.category-sidebar__list__item__link {
	display: block;
	padding: 2px 10px;
 	font-weight: 600;
	font-size: 13px;
}
#main-menu li a:hover {
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.info {
	font-size: 13px;
    margin: 0 auto 15px;
    padding: 0 20px;
}
/* Dodato Tamara */
.fancybox span.JSzoom_03 {
	display: block;
}
.logo-shopmania {
	border: 0;
}
.page-not-avalible {
	padding: 10px;
}
#content {
	width: 100%;
}
.contact-info h1 {
	font-size: 14px;
	display: inline;
}
.file-upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.file-upload input.file-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*================================================
=            artikal vezani proizvodi            =
================================================*/
.vezani_artikli .JSJSproduct .product-image-wrapper{
	margin: 0 !important;
    height: 135px;
    padding: 5px 0;
} 
.vezani_artikli .vezani_input{
	height: 27px;
    width: 50px;
    text-align: center;
    display: inline-block;
}
.vezani_artikli .description-holder {
	float: left !important;
}
.vezani_artikli .JSadd-to-cart-vezani, .vezani_artikli .not-available{
	display: inline-block;
}
.vezani_artikli .JSproduct input[type="number"] {
	height: 28px;
	width: 60px;
}
.vezani_artikli .product-content {
	margin-bottom: 16px;	
}
.vezani_artikli .input-and-button {
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
    justify-content: space-between;
	-ms-flex-align: center;
	-webkit-box-align: center;
    align-items: center;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}
.vezani_artikli .input-and-button .JSadd-to-cart {
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-box-flex: 1;
     flex: 1;
	margin: 0;
	margin-left: 8px;
}
/*=====  End of artikal vezani proizvodi  ======*/
.JSbroj_cart {
    top: 20px;
    position: absolute;
    right: -6px;
    border-radius: 5px;
    padding: 1px 8px;
    color: #f79022;
    font-weight: bold;
    font-size: 16px;
}
.JSbroj_cart:after{
	content: ")";
	position: absolute;
	top: 0;
    right: 0;
}
.JSbroj_cart:before{
	content: "(";
	position: absolute;
	top: 0;
    left: 0;
}
.artikal-image-description-container{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.add-to-cart-artikal {
	padding: 5px 15px;
	margin: 20px 5px;
    background-color: #f79022;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5), 0 0 1px 1px rgba(255,255,255,0.8), 0 0 0 6px rgba(0,0,0,0.06), 0 0 0 3px rgba(0,0,0,0.1);
}
.twitter-artical{
    display: inline-block;
    background-color: #00aced;
    border-radius: 4px;
    color: #fff;
    padding: 0px 5px;
}
.twitter-artical a{
	color: #fff;
    font-size: 11px;
    font-weight: 600;
}
.add-to-cart-artikal:hover{
	background-color: #f69f09;
    border-color: #f69f09;
    transform: translate(1px, 1px);
    -webkit-transform: translate(1px, 1px);
}
.article-after-desc-image{
	margin: 25px 0 0;
	text-align: right;
}
.supplier{
    display: block;
}
.admin-article{
    position: absolute;
    top: 15px;
    right: 0;
    background: linear-gradient(#fff,#ddd);
    text-align: center;
    padding: 0 7px;
    margin: 5px;
    z-index: 1;  
}
.article-level-edit-btn{
	font-weight: bold;
    text-align: center;
    max-width: 150px;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 11px;
    padding: 0 5px;
    display: inline-block;
}
.mpPrice{
    font-size: 22px;
}
.new-content {
	padding: 30px 15px;
}
.new-content p, .new-content ul li {
	font-size: 1em;
}
.new-content img{
    max-width: 100%;
    max-height: 350px;
    display: block;
    margin: auto;
}
.contact-info ul li {
	font-size: 14px;
}
.cart p {
	padding: 30px;
}
/* Login/Registration Forms */
.login-page-padding{
	padding: 30px 0;
	min-height: 600px;
  	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
	position: relative;
	background: -webkit-linear-gradient(#f0f0f0, #fff);
	background: linear-gradient(#f0f0f0, #fff);
}
.legal-person-h3{
    background: none;
    color: #666666;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.5em;
}
.legal-person-paragraph{
	color: #666;
    font-size: 13px;
    line-height: 1.3;
    min-height: 75px;
}
.legal-person-link-button{
    display: inline-block;
    background-color: #808080;
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 3px;
}
.legal-person-link-button:hover{
	background-color: #f79022;
}
.login-page-padding img{
  	height: 150px;
    box-shadow: 1px 1px 20px grey;
    border-radius: 3px;
    margin: 15px 0;
}
.login-page-padding:before{
    content: "";
    display: inline-block;
    border-top: 1px solid #ddd;
    width: 90%;
    top: 80px;
    position: absolute;
}
.login-page-padding:after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 35%;
    border-top: 1px solid #ddd;
    width: 30%;
    transform: rotate(90deg);
}
.login-page-image{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
.login-input-row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	padding: 5px 0;
}
.reg-page-padding{
	padding: 30px 0;
    align-items: center; 
	-webkit-align-items: center;
	flex-wrap: wrap;
	display: flex;
    min-height: 600px;
	justify-content: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
	background: -webkit-linear-gradient(#f0f0f0, #fff);
	background: linear-gradient(#f0f0f0, #fff);
}
.welcome-login{
	text-align: center;
    font-size: 13px;
    color: #8c8c8c;
    line-height: 1.4;
}
.welcome-login span{
    font-size: 15px;
    margin: 5px 0;
    display: block;
    color: #595959;
}
.modal-login-text-align-right{
	text-align: right;
}
.login-form-button{
    padding: 3px 25px;
    border-radius: 3px;
    margin: 7px 0 0;
    background: #808080;
}
.fiz-lice-page-span{
	color: #666;
    font-size: 13px;
    line-height: 1.3;
    margin: 10px 0;
    display: inline-block;
}
.whats-registration{
    font-size: 16px;
    font-weight: 600;
    opacity: .8;
    display: inline-block;
    margin: 10px 0;
}
.fiz-lice-container{
	 padding: 0px 30px;
	font-family: Sans-serif;
}
.registracija-fizickog-lica{
	 font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    opacity: .8;
    font-family: Sans-serif;
    background: none;
}
.registration-form, .login-form {
	padding: 15px 0;
}
.form-spacer {
	border-left: 1px solid #bbb;
}
.person-registration, .company-registration {
	padding: 8px 17px;
}
input[type="password"] {
    margin: 0;
    height: 32px;
    border-radius: 3px;
}
.login-form button,  {
    padding: 4px 25px;
    margin: 10px 0 0;
    border-radius: 3px;
}
.btn-forgot-pass {
    padding: 0;
    background: #fff;
    color: #087DC2;
}
.btn-forgot-pass:hover{
	background-color: #fff;
	color: #087DC2;
}
.registration-form .error, .error-login {
    color: red;
    font-size: 12px;
    position: relative;
    top: 0px;
}
.gear{
	font-size: 18px;
    position: relative;
    top: 1px;
    left: 2px;
}    
.login_popup_hover {
	background-color: #ccc;
}
.login_popup input {
    font-size: 10px;
    height: 20px;
    padding: 0 5px;
}
.login_popup .login-form {
    padding: 0;
}
.login_popup button {
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
}
.login_popup .btn-forgot-pass {
    margin-top: 4px;
    font-size: 11px;
    padding: 4px 6px;
}  
/* LOGIN_POPUP END */
.fa-sign-in {
	position: relative;
    font-size: 15px;
 }
.fa-user-plus {
    position: relative;
    font-size: 15px;
 }
#b2b-login-icon {
	display: inline-block;
    padding: 0 5px 0 0;
}
#b2b-login-icon:hover {
	color: #f79022;
}
/* FIXED NAVBAR */
.filler{
	width: 100%;
}
.navbar-fixed {
	position: fixed;
	top: 2000px;
	z-index: 20;
}
/* FIXED NAVBAR END */
.product-sale {
    position: absolute;
    background: #cc0000;
    color: #fff;
    border: 2px solid #087dc2;
    font-weight: bold;
    padding: 3px 11px;
    top: 17px;
    z-index: 1;
    left: -4px;
    font-size: 15px;
    border-radius: 2px;
    box-shadow: -1px 2px 10px grey;
} 
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.product-content:hover .shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}
.old-price {	
    text-decoration: line-through;
    font-size: 12px;
    color: #808080;
}
/* DETALJNIJE DUGME */
/*.product-title-details{
    display: flex;
    display: -webkit-flex;
    background-color: #e6e6e6;
    background: linear-gradient(#e6e6e6, #fff);
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid #b3b3b3;
    cursor: pointer;
    padding: 5px 12px;
    font-size: .9em;
    margin: 0 5px 0 0;
    font-family: 'Open Sans', sans-serif;
}
.product-title-details:hover{
	border-color: #f69f09;
    transform: translate(1px, 1px);
    -webkit-transform: translate(1px, 1px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}*/
.btn-slider {
	padding: 2px 10px;
    color: #fff;
    background-color: #808080;
    outline: none;
    border-radius: 2px;
    top: -35px;
    position: absolute;
}
.previous, .slider-prev {
	  right: 35px;
}
.next, .slider-next {
     right: 0;
}
.JSproduct-list .slider {
	position: relative !important;
}
.menu-close {
	display: none;
}
.tip-list, .sale-list {
	position: relative;
}
.vest-slika {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}
.single-news {
    padding: 20px 0;
}
.files-list-item {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    margin: 10px;
}
.files-name {
    font-weight: normal;
    margin: 6px;
}
.features-list li {
	font-size: 12px;
	border-bottom: 1px solid #ddd;
	padding: 2px 0;
}
ul.generated-features-list:nth-child(even){
    background: #f5f5f5;
    font-family: 'Open Sans', Trebuchet;
}
.files-link img {
	width: 60px;
}
.konfigurator {
    margin-top: 30px;
}
.konfigurator-grupa {
	max-width: 130px;
    overflow: hidden;
}
.brend-item {
	background: #fff;
    overflow: hidden;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: bold;
    color: #222;
    width: 100%;
    height: 80px;
    margin: 15px 0;
    border-radius: 2px;
    text-align: center;
    letter-spacing: .025em;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-transition: background,color,box-shadow,.4s ease-in-out;
    transition: background,color,box-shadow,.4s ease-in-out;
	box-shadow: 1px 1px 6px #bbb;
}
.brend-item img{
	max-width: 100%;
	max-height: 80px;
	padding: 10px 0;
}
.article-edit-btn {
    font-weight: bold;
    text-align: center;
    max-width: 150px;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #fff;
} 
.no-articles{
 	padding: 10px;
    display: inline-block;
}
#admin-menu {	
    background: #eee;
    width: 100%;
    position: relative;
    padding-left: 10px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
}
.admin-links a:hover {
	color: #aaa;
}
.user-info-form .error {
	color: red;
    font-size: 12px;
    position: relative;
    top: -11px;
}
.success {
    color: #1fa31f;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -52px;
    left: 142px;
}
.submit-btn-edit {
    border: none;
    background-color: #F79022;
    margin: 15px;
    padding: 7px 20px;
    color: #fff !important;
}
/*Pop-up banner*/
.popup-banner-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(43, 43, 43, 0.8);
	z-index: 16000003;
}
.popup-banner-wrapper {
	left: 50%;
	position: fixed;
	z-index: 99999;
	top: -1000px;
	width: 650px;
	height: 650px;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}
.banner-center {
    top: 50%;
}
.popup-banner {
   position: relative;
   top: -50%;
   box-shadow: 0 0 10px 0 #000;
   left: -50%;
   /* height: 650px; */
	width: 613px;
}
.popup-banner #banner-close {
   position: absolute;
   top: 10px;
   right: 10px;
   color: #000;
   cursor: pointer;
   font-size: 24px;
   font-weight: bold;
}
.conf-dd {
	position: relative;
}
.conf-drop-down {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.conf:hover .conf-drop-down {
	display: block !important;
	background-color: #ddd;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #747474;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin-left: -60px;
}
.dropdown-content li a {
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0 !important;
}
.dropdown-content li a:hover {
    background-color: #7d7d7d;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li {
	display: block !important;
	float: none !important;
}
.izmeni-kupca {
    padding: 5px 15px;
    font-size: 12px;
}
.cat-img-1 {
	max-width: 25px;
    max-height: 25px;
    margin-right: 10px;
}
.cat-img-2 {
	display: block;
    max-width: 60px;
    margin: 0 auto;
    max-height: 40px;
}
.image-level-2-parent{
	height: 65px;
}
/* OCENE */

.review-star {
	cursor: pointer;
}
#review-number {
	display: none;
}
.fa-star, .fa-star-o {
	color: #D13E3B;
}
.comment-rating {
	font-size: 12px;
}
.bw {
	background: #fff;
}
.karak-row {
	min-height: 25px;
	border-bottom: 1px solid #bbb;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
.karak-row:last-child{
	border-bottom: none;
}
.features-list-items {
	padding: 0;
}
.top-menu-links {
	font-size: 13px;
}
.top-menu-links li{
	display: inline-block;
}
.top-menu-links a {
    padding: 5px;
    display: inline-block;
    position: relative;
}
.top-menu-links a:hover{
	color: #f79022;
}
/*---------- MEDIAQUERIES ----------*/
/*-- MIN WIDTH 1175 --*/
@media screen and (min-width:1175px){
    .slick-slider img {
		height: 427px;		 
    }
	.banners-right img {
	    max-height: 180px;
		width: 100%;
	}
} 

/*---  MIN WIDTH 861px ---*/
@media screen and (min-width:1024px) {
    #JScategories:hover > .JSlevel-1 {
		display: block !important;
	}
	#JScategories .JSlevel-1 > li:hover {
		box-shadow: inset 3px 0px 0px 0px #F79022, 1px 1px 2px #ddd;
		z-index: 710;
	}
	#JScat_hor .JSlevel-1 li:hover .JSlevel-2 {
	    display: block;
		top: 100%;
	}
	#JScategories .JSlevel-1 li:hover .JSlevel-2 {
		display: block;
	}
	.level1-link:hover:after {
	    position: absolute;
	    content: ' ';
	    display: inline-block;
	    right: -19px;
	    top: 0;
	    width: 18px;
	    height: 102%;
	    z-index: 800;
	    background-color: #fff;
	}
}

/*--- MIN WIDTH 641px & MAX WIDTH 860px ---*/
@media screen and (min-width:641px)  and  (max-width:860px) { 
	#JScategories .JSlevel-2 {
		width: 468px;
	} 
	.JSproduct-list .JSproduct {
		width: 48%;
	}
	.JSproduct-preview-image, .product-preview-info, .JScomments-content .comments, .JScomments-content form  {
		width: 100%;
		padding: 0;
	}
	.contact-info, .contact-form {
		width: 100%;
	}
}
/*--- MIN WIDTH 641px ---*/
@media screen and (min-width:641px) {
	#JScategories .JSlevel-2 {
		box-shadow: 0 1px 1px #ddd, 0 1px 1px #ddd;
	    border: 1px solid #ddd;
	}
	.generated-features-list {
		border-bottom: solid 1px #bbb;
	}
	.generated-features-list:last-child {
		border-bottom: none;
	}
	ul.generated-features-list{
		font-size: 14px;
	}
	.row.below-cart {
		margin-top: 20px;
	}
}

/*--- MAX WIDTH 1300px ---*/
@media screen and (max-width:1300px) {
	#JScategories .JSlevel-2 {
		width: 760px;
	}
}

/*--- MAX WIDTH 1120px ---*/
@media screen and (max-width:1120px) {
	.single-slide .JSproduct {
		width: 33.3%;
	}
}

@media screen and (max-width:1024px) {
	.main-wrapper {
		padding: 0;
	}
   #JScategories .JSlevel-2 {
	    visibility: visible;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		opacity: 1;
		padding: 0 0 0 15px;
	}
 	#JScategories .JSlevel-2 li {
		width: 100%;	 
	}
   .header-cart:hover .JSheader-cart-content{
		display: none;
	}
 	#JScat_hor .JScategories-titile {
		display: block;
		text-align: left;
	}
	#JScat_hor .JSlevel-1 li{
		display: block;
		position: relative;
	}
    #JScat_hor .JStoggler, .JSsubcategory-toggler {
		display: inline-block;
	}
	#JSmain-slider, .banners-right{
		width: 100%;
	}
	.sub_cats_item_brend img{
        max-width: 130px;
	}
	.JSmain-nav{
		border-top: none;
	}
	#JScategories .JSlevel-1 {
		display: none;
		width: 100%;
	} 
 
	#JSpreheader, .JSmain-nav {
		display: none;
    	background: #fff;
		width: 100%;
    	z-index: 999;
    	position: fixed;
	}
	#JSpreheader {
    	height: 100%;
		top: 0;
	}
	#start-page #JScategories .JSlevel-1,  #product-page #JScategories .JSlevel-1 {  
    	display: none;
	}
    #JScat_hor .JSlevel-1{
		width: 100% !important;
	}
	#start-page .hide-at-1024{
		display: none;
	}
	#product-page .hide-at-1024{
		display: none;
	}
	.JSmenu-icon {
	    display: block;
	    position: absolute;
	    font-size: 19px;
	    top: 24%;
	    right: 15px;
	    padding: 0px 9px;
	    color: #F79022;
	    border: 1px solid;
        cursor: pointer;
        border-radius: 5%;
        z-index: 601;
	}
	.JSmenu-icon .fa-bars {
    	 font-size: 20px;
	}
	.menu-close {
		display: block !important;
	}
	.menu-close i {
	    position: absolute;
    	font-size: 45px;
	    color: #F79022;
	    top: 5px;
    	right: 19px;
        cursor: pointer;
    }
    .no-padding {
	    padding: 0 10px;
	 }
	.preheader-icons {
		text-align: center;
	    padding: 40px 0 3px;
        background-color: #ddd;
	}	 
	#main-menu {
		text-align: center;
	}
	#JScategories h3{
		border-right: none;
		border-left: none;
	}
	#main-menu > li { 
		display: block;
	} 
	#main-menu li a {
		color: rgb(78, 78, 78);
		line-height: 35px; 
	}
	#main-menu li a:hover {
		color: #F79022;
	}
	.login_popup {
		 display: none;
	}
	header.header-fixed {
		position: relative;
	}
	.JSmain-nav {
		margin-top: 15px;
	    padding-bottom: 40px;
		top: 155px;
		left: 0;
		bottom: 0;
		max-height: 100%;
		overflow: auto;
		box-shadow: 0 0 10px #ddd;
	}
	.dropdown-content {
		position: relative;
		margin-left: 0px;
	}
}
 
/*--- MAX WIDTH 860px ---*/
@media screen and (max-width:860px) {
	.single-slide .JSproduct {
		width: 50%;
	}	 
	.zoomLens, .zoomWindowContainer {
		display: none !important;
	}
	.JScomments-content .comments, .JScomments-content form {
		padding: 0;
	}
}

/*--- MAX WIDTH 640px ---*/
@media screen and (max-width:640px) {
	.info {
		width: 100%;
	} 
	.footer-links li a {
	    margin: 5px 0;
	    display: inline-block;
	}
 	#JScat_hor .JSlevel-2 div > li{
 		width: 100%;
 	}
	#JScat_hor .JSlevel-1 li{
		display: block;
		position: relative;
	}
	.all-category-button select{
		border-right: 1px solid #bbb;
	}
	.login-page-padding{
		text-align: center;
	}
	.hidden-at-desktop{
		display: block;
	}
	.article-form{
	   padding: 5px 10px;
	}
	.flex-on-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-webkit-justify-content: flex-end;
	}
	#JScategories .level-4{
		display: block;
	}
	.hidden-at-640{
		display: none;
	} 
	.hide-on-640{
		display: none;
	}
	.no-padding-at-640{
		padding: 0;
	}
	.legal-person-paragraph{
		min-height: auto;
	}
	.left-fiz-face, .right-leg-face{
		width: 44%;
	}
	.login-page-padding:after{
		visibility: hidden;
	}
	.login-page-padding:before{
		visibility: hidden;
	}
	.group-parent-div{
		padding: 10px;
	}
	.sub_category_item{
		text-align: center;
		height: 90px;
	}
	.sub_category_item img{
		margin: 0 auto;
	}
	#JSmain-slider img{
		height: auto;
	}
	.selected-filters-wrapper{
		text-align: center;
		margin: 10px 0 5px;
	}
	.filters .btn-container{
		text-align: center;
	}
 	 .grupe_proizvoda{
 	 	width: 100%;
 	}
	.padding-zero{
	    padding: 3px 0 0;
	} 
	#JScategories .JSlevel-1{
		width: 100%;
	} 
 	.filters{
 		padding: 10px;
 	}
 	.navbar-flex{
 		justify-content: center;
 		-webkit-justify-content: center;
 	}
 	.all-category-button{
 		margin: 10px 0;
 	}
 	.header-paragraph-description{
	    font-size: 12px;
	} 
 	.banks-footer a img{
		margin: 5px 0;
 	}
 	.header-centered-text{
 		text-align: center;
 	} 
 	.footer-background{
 		text-align: center;
 	}
 	.footer-box-pages-title{
 		height: auto;
 		margin: 15px 0;
 	}
 	.footer-angle-right, .JScart-item .cart-price{
 		display: none;
 	}	 
	.cards-container{
		display: block;
   		text-align: center;
	}
	.JSproduct-list.list-view .JSproduct .product-title{
	    margin: 10px 0 0px;
	} 
	.karak-row{
		height: auto;
		border: none;
	}
	.category-sidebar__list__item__link{
		padding: 5px 10px;
	} 
 
	.JSproduct-list-options .columns {
		padding: 5px 8px;
		text-align: center;
		justify-content: center;
		text-align: center;
		-webkit-justify-content: center;
	}	 
 	.JSproduct-list.list-view .product-content {
		width: 100%;
	} 
	.show-compered {
	    width: 100%;
	    padding: 7px 0;
	    margin: 10px 0 0;
	 }
 	.ukupno-konf {
    	width: 186px !important;
	}
	.konfigurator-grupa {
		max-width: 68px;
    	overflow: hidden;
	}
	.konfigurator select {
		width: 100% !important;
	}	 
 
	#JScategories .JStoggler, .JSsubcategory-toggler {
		display: inline-block;
	}
	#JScategories .JSlevel-1, .cart-labels {
		display: none;
	}
	.JScategories-titile .fa-list-ul{
		display: none;
	}
 
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
		top: -46px;
	}
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
		right: 38px;
	}
	.JSproduct-list .JSproduct, .JSproduct-list.list-view .JSproduct {
		width: 96%;
		margin: 10px auto;
		float: none;
	} 
	.slick-list {
		margin: 0;
	}
	#JSmain-slider .slick-prev {
		left: 0;
	}
	.zoomWrapper {
		height: 180px !important;
		line-height: 180px;
	}
	.product-preview-info {
		padding: 0;
	    margin: 0;
	}
	.product-preview-info h2, .product-preview-price-old {
		font-size: 1.2em;
	}
	.product-preview-price-new {
		font-size: 1.6em;
	}
	.product-preview-info .article-edit-btn {
		font-size: 12px;
	}
	.generated-features-list.row {
		margin: 30px 0;  
	}
    .generated-features-list li:nth-child(2) li:nth-child(even) {
        font-weight: bold;
    }
    .generated-features-list li:nth-child(2) li:last-child {
        float: left;
    }
	.product-preview-tabs .generated-features-list .features-list-title {
		height: 32px !important;
		line-height: 32px !important;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		color: #000;
	}
	.JStab-titles li.active {
		border-left: none;
		border-bottom: 1px solid #fff;
	}
	.features-list-items li:nth-child(2) {
		border-top: solid 1px #f0f0f0;
	}
	.tags li {
		margin-bottom: 5px;
	}
	.JScart-item {
		border-top: solid 1px #ddd;
  	 	margin: 10px 0;
	}
	.JScart-item div:first-child li:last-child {
		border-right: none;	 
	}
	.cart-summary-wrapper{
	 	margin: 10px 0;
	}
	.cart-summary{
		background: #fff;
		border-left: 0;
	    padding: 5px 0;
	}
	.features-content li {
		width: 100%;
	}
	#map_canvas {
		margin-left: 0.9375em;
		margin-right: 0.9375em;
	}
	.footer-links {
		margin-bottom: 20px;
	}
	.registration-popup-high {
		overflow-y: scroll;
	}
	.registration-popup-high .popup-wrapper, .registration-popup-high .JSpopup-inner {
		top: 0;
		margin: 10px 0;
	}
    .JStab-title-description, .JStab-title-tehnicaldoc, .JStab-title-comments {
        width: 100% !important;
        border-bottom: solid 1px #ddd;
        border-right: solid 2px #ddd !important;
    }
	/*----- all categori sidebar  -------*/
	.JScategory-sidebar__list {
		position: fixed;
		top: 50%;
		right: 0px;
		margin-right: -80%;
		width: 80%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: margin 0.2s ease-in-out;
		transition: margin 0.2s ease-in-out;
		border: 1px solid #ddd;
	}
	.category-sidebar__list--open {
		margin-right: 0%;
	}
	.category-sidebar__list--open .JScategory-sidebar__list__toggler:before {
		content: "\2192";
	}
	.JScategory-sidebar__list__toggler {
		line-height: 30px;
		text-align: center;
		font-size: 20px;
		width: 35px;
		height: 35px;
		position: absolute;
		top: 50%;	
		left: -35px;
		background: #f0f0f0;
		border-radius: 3px 0px 0px 3px;
		color: #747474;
		font-weight: 700;
		border: 1px solid #747474;
		cursor: pointer;
	}
	.JScategory-sidebar__list__toggler:before {
		content: "\2190";
	}
	.banners-right img {
		width: 100%;
		height: auto;
	    margin: 0 0 10px;
        padding: 0 10px;
	}
}

/*--- MAX WIDTH 640px END ---*/

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) {
	.single-slide .JSproduct {
		width: 100%;
	}
	label{
		margin: 0;
	}
	.JSproduct .product-price{
		font-size: 18px;
	}
	.scrollable {
	    overflow-y: scroll;
	    height: 400px;
	}
	#main-content{
	    min-height: 400px;
	}
	.article-heading{
		font-size: 16px;
	}
	.without-btn .fa{
		display: none;
	}
	.fixedNavbar-logo img{
		height: 40px;
	}
	.JSproduct-list.list-view .JSproduct .product-title {
    	line-height: 1.2;
    	font-size: 13px;
	}
 	.JSmenu-icon {
		top: 35%;
	}
	.price-holder-list-480{
		position: absolute;
		right: 0;
		bottom: 0;
		background: #fff;
	}
 
 	.list-product-on-480{
 	    margin: 0 auto !important;
 	} 
	.product-image-wrapper-list-view{
	    margin: 0 auto !important;
	    height: 95px !important;
	    overflow: hidden;
		display: -webkit-flex !important;
		-webkit-justify-content: center;
		-webkit-align-items: center;
		padding: 5px;
		display: flex !important;
		justify-content: center;
		align-items: center;   
	}
	.btn-slider{
		outline: 5px solid #fff;
		top: -34px;
	    padding: 3px 10px;    
	    border-radius: 3px;
	}
 	.JSproduct-list.list-view .action-holder{
 		display: none;
 	}
	.JSfilters-content{
		position: relative;
	}
	 .without-reg-form .forward{
	 	padding: 5px 15px;
	 }
	.heading-background{
	    padding: 3px 15px 0;
	    min-width: 100%;
	}
  	.text-align-left{
  		display: none;
  	}
  	.hide-on-mobile{
  		display: none;
  	}
	 .grupe_proizvoda li a{
		padding: 6px 10px 0;
	}
	.padding-left-login{
		padding: 0;
	}
	.category-sidebar__list__item__link{
		padding: 1px 11px;
	}
	#login-icon, #registration-icon{
		padding: 5px 0;
	}
	.footnote{
		padding: 10px;
	}
	.product-content, .JSproduct-slider .product-content {
		max-width: 96%;
		margin: 0 auto;
	} 
	.JSproduct-list.list-view .product-content {
		max-width: 100%;
	}
	.JSproduct-list.list-view .JSproduct .product-details li {
		width: 100%;
	}
	.summary-amount {
		font-size: 1em;
	}
 	#JScategories .level-3{
 		padding: 0 10px; 
 	}
}
 

/*-- MEDIAQUERIES END --*/