/*---------- GENERAL STYLES ----------*/

a:link, a:visited, a:hover, a:active {
	color: #2fa3f0;
}
a.search_list__item__link:hover {
    background-color: rgba(24, 130, 217, 0.2);
}
a{
    color: #2fa3f0;
}
h2 {
    background: #2fa3f0;
}
.article-heading {
    color: #2fa3f0;
    background: #151515;
    padding: 10px;
}
.bw{
	background-color: #2d2d2d;
}
.category-sidebar__list{
	border: 7px double #2fa3f0;
}
.JScategory-sidebar__list{
	border-color: #5480bf;
	background-color: #2d2d2d;
}
.fa-star, .fa-star-o{
 	color: #2fa3f0;
}
.review, a.JSreset-filters-button{
	color: #fff;
}
.osobina_karakteristika span {
	border: 1px solid #222;
}
/*--- FOUNDATION OVERRIDES ---*/

button {
	background-color: #2fa3f0;

}
button:hover {
	background-color: #2fa3f0;
}
label {
	color: #fff;
}
input:not([type]):focus, input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
    background: #2d2d2d;
    border-color: #2fa3f0;
}
input[type="text"], input[type="password"] {
	color: #ababab;
    background-color: #2d2d2d;
    border-color: #2fa3f0;
}
input[type="text"]:focus {
    background: #2d2d2d;
    border-color: #2fa3f0;
}
button.submit {
	background: #2fa3f0;
}
textarea {
    background-color: #2d2d2d;
    border-color: #2fa3f0;
    color: #ababab;
}
select, select:hover, select:focus {
    border-color: #2fa3f0 !important;
    color: #fff;
}
@-moz-document url-prefix() {
	.select-wrapper span {
		background-color: #fff;
	}
}

table{
    background: #2d2d2d;
}
table thead, table tbody, table tfoot {
    background: #2d2d2d;
    background-color: #2d2d2d;
    border: 1px solid #151515;
    color: #fff;
}
table thead tr th, table thead tr td, table tr th, table tr td {
    color: #fff;
}
table tbody tr:nth-child(even) {
    background-color: #252525;
}
select, select:hover, select:focus {
    background-color: #2d2d2d;
}
select {
    border-color: #252525;
}

/*---------- FEATURES ----------*/

/*--- PRODUCT SLIDER ---*/
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
	background: #2fa3f0;
}
.JSproduct-slider .slick-prev:hover, .JSproduct-slider .slick-next:hover {
	background: #2fa3f0;
}

/*--- FILTERS ---*/

.selected-filters-wrapper {
	color: #fff;
    background: transparent;
}
.filters .label-field:hover {
	background: #151515;
}
.filters li .JSmultiselect {
	background: #2d2d2d;
}
.filters .label-field {
    color: #2fa3f0;
}
.JSmultiselect label:hover {
	background: #151515;
}
.filter-box.open .label-field {
	color: #2fa3f0;
}
.filter-box.open .label-field__arrow {
	color: #2fa3f0;
}
.choosed_filter{
    color: #fff;
}

/*---------- SECTIONS ----------*/
/*--- MAIN WRAPPER ---*/

#main-wrapper {
    background: #2d2d2d;
}

/*- MAIN MENU -*/

#main-menu li a {
    color: #ababab;
}
/*- LOGIN & REGISTRATION ICONS -*/

#login-icon, #registration-icon {
	color: #b3b3b3;
}
#login-icon:hover, #registration-icon:hover {
	color: #2fa3f0;
}
#logout-button {
	color: #fff;
	background: #2fa3f0;
	box-shadow: 1px 1px 5px #1b1b1b;
}
.logged-user, #logged-user {
    color: #ababab;
}

.login_popup{
	background-color: #2d2d2d;
}
.login_popup:hover, #login-icon:hover+.login_popup {
    border: 1px solid #151515;
}
.form-spacer {
    border-left: 1px solid #151515;
}

/*--- HEADER ---*/
header {
	border-bottom: solid 1px #060606;
	background: #151515;
}

/*- SEARCH -*/
.JSsearch-button {
	background-color: #2fa3f0;
}

.JSsearch-button:hover {
	background-color: #2fa3f0;
}

/* search sugestions */
ul.JSsearch_list {
	background: #2d2d2d;
}
.search_list__item__link {
	border-bottom: 1px solid #1882d9;
}
.search_list__item__link__cat {
	color: #808080;
}

/*- HEADER CART -*/

.header-cart-icon:before {
        background-image: url(../../../../images/themes/simple/dark_blue/large-icons.png);
}
.JSheader-cart-content {
	background: #151515;
    color: #fff;
}
.JSheader-cart-content li {
	border-bottom: solid 1px #2fa3f0;
}
.JSheader-cart-content li a {
	color: #2fa3f0;
}
.header-cart-summary {
	background: #2fa3f0;
}
.JSheader-cart-content .close {
	color: #000;
}

/*--- MIDDLE AREA---*/

/* category acccent button */
#JScategories .category-item-accent {
	background: #151515;
}
#JScategories .JSlevel-1 > li.category-item-accent a {
	background: #151515;
}

/*- CATEGORIES -*/
#JScategories {
	background: #2d2d2d;
}
#JScategories h3 {
    color: #2fa3f0;
    background: #151515;
}
#JScategories .JStoggler {
    color: #2fa3f0;
}
#JScategories .JSlevel-1 > li.parent:hover:after {
    background-color: transparent;
}
.category__item__link__expend {
	color: #1882d9;
}
#JScategories .JSlevel-1 li a {
	color: #2fa3f0;
	border-bottom: solid 1px #121212;
}
#JScategories .JSlevel-2 {
	background: #2d2d2d;
}
.JSsubcategory-toggler span {
    color: #2d2d2d;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler span {
	color: #1882d9;
	background: #2d2d2d;
}
#JScategories .JSlevel-2 li a {
	color: #2fa3f0;
}
#JScategories .level-3 li a {
	color: #2fa3f0;
}

/*----------- CATEGORI HORIZONTAL  -----------*/

/*- MAIN CONTENT -*/
#main-content {
	background: #2d2d2d;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    border-left: none;
}

/*- MAIN SLIDER -*/

 
/* About us page */
.about-us-page {
    color: #fff;
}

/*Uporedi btn */
.JSproduct .JScompare:hover, .JSproduct .JScompare.active {
	background: #2fa3f0;
}

/*--- FOOTER ---*/

footer {
    background-color: #151515 !important;
}
footer h4 {
	color: #2fa3f0;
}

/*- FOOTER LINKS -*/
.footer-links li a {
	color: #2fa3f0;
}

/*- NEWSLETTER -*/
.newsletter button {
	background: #2fa3f0 !important;
}
.newsletter button:hover {
	background: #2fa3f0;
}

 

/*--- REGISTRATION FORM ---*/
.registration-form-open-buttons button {
	background: #2fa3f0;
}

/*--- SCROLL TO TOP ---*/
a.JSscroll-top {
	background: #2fa3f0;
}

/*- BREADCRUMBS -*/
.breadcrumbs>* {
    color: #2fa3f0;
}
.breadcrumbs {
	background-color: #2d2d2d;
}
.breadcrumbs li:after {
	color: #1882d9;
}


/*-- NEWS --*/

.news-section {
    color: #fff;
}
.news {
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
	background-color: transparent;
}
.news-title {
    background: #2fa3f0;
}
/* button */
a.news__more {
    background: #2fa3f0;
    color: #fff;
}

/*- PRODUCT LIST OPTIONS -*/
.product-number {
    color: #fff;
    background-color: transparent;
}
.JSproduct-list-options {
	background: #2fa3f0;
}
.pagination li a, .pagination li button {
	background: #2fa3f0;
	color: #fff !important;
}
.pagination li.active a {
	background: #1882d9;
}
ul.pagination li:hover a, ul.pagination li a:focus, ul.pagination li:hover button, ul.pagination li button:focus {
    background: #1882d9;
}
.view-buttons span {
	background-color: #2fa3f0;
}
.view-buttons span.active {
	background-color: #1882d9;
}
.JSselect-field {
    color: #fff;
    background-color: #1882d9;
}
.JSselect-field ul {
	background-color: #1882d9;
}
.JSselect-field li:hover {
	background-color: #2fa3f0;
}

/* Compere */
.show-compered {
    background: #1882d9;
}
.reveal-modal {
	background-color: #151515;
}

/*- PRODUCT PREVIEW INFO -*/
.product-preview-info {
    color: #fff;
}
a.add-amount-less, a.add-amount-more, a.JScart-less, a.JScart-more {
	background: #272727;
}
.product-preview-price-new {
    border-left: 6px solid #151515;
    background: #272727;
    color: #2fa3f0;
}

/*- PRODUCT PREVIEW TABS */
.JStab-titles li {
    border-right: solid 2px #fff;
    background: #272727;
    color: #fff;
}
.JStab-titles li.active {
	color: #fff;
	background: #2fa3f0;
}
.features-list-items li {
	border-top: solid 1px #272727;
}
.features-list-title {
	color: #2fa3f0;
}
.JSdescription-content{
    color: #fff;
}

/*--- CART ---*/
.JScart-more-icon {
	background-color: #2fa3f0;
}
.without-btn.active {
	background: #2fa3f0;
}
.without-btn.active:hover {
	background: #1882d9;
}
/*- CART ITEMS -*/
.cart-page{
    color: #fff;
}
.cart-labels {
	background: #272727;
}
.JScart-item {
	border-bottom: solid 1px #2fa3f0;
}
.cart-remove .close {
	color: #000;
}
/*- BELOW CART -*/
.cart-summary {
	border-left: solid 3px #1882d9;
	background: #272727;
}
.cart-summary .summary-amount {
    color: #fff;
}
.summary-amount {
	color: #2fa3f0;
}
.cart-remove-all {
	border-right: solid 3px #1882d9;
    background: #2fa3f0;
    color: #fff;
}

/*- CART ACTION BUTTONS -*/
.JScart-without-button, .cart-action-buttons li button, .cart-registration-button, .JScart-without-button:hover, .cart-login-button, .cart-login-button:hover {
	background: #2fa3f0;
}
.no-articles{
	color: #fff;
}

/*--- USER PAGE ---*/
.user-info-form input {
	color: #fff;
    background-color: #2d2d2d;
    border-color: #2fa3f0;
}

/*--- CONTACT PAGE ---*/
.contact-info {
    color: #fff;
}
.contact-info h3, .contact-form h3 {
    background: #2fa3f0;
    color: #fff;
}

/*--------- AlL  CATEGORY PAGE -------------*/
.category-name-link {
    color: #ddd !important;
}
.category__list__item__link {
	color: #888 !important;
}
.category__list__item__link__span {
	color: #ccc;
}
/*--------- ALL  CATEGORY SIDEBAR -------------*/
#category-sidebar a {
    color: #ddd;
}
.category-sidebar__list {
	background: #151515;
}
#main-menu li a:hover {
	color: #2fa3f0;
}
#main-menu li a:active{
    color: #2fa3f0;
}

/*--- MIN WIDTH 641px ---*/
@media screen and (min-width:641px) {
	.generated-features-list {
		border-bottom: solid 1px #272727;
	}
}

/*--- MAX WIDTH 640px ---*/
@media screen and (max-width:640px) {
	#main-menu li a {
		color: #fff;
	}
	.JSmenu-icon {
	    color: #2fa3f0;
	}
	#JSpreheader {
    	background: #2d2d2d;
	}
	.menu-close i {
    	color: #2fa3f0;
    }
    .JStab-title-description, .tab-title-tehnicaldoc, .JStab-title-comments {
        border-right: solid 2px #2d2d2d !important;
    }

	/*----- all categori sidebar  -------*/
	.category-item-accent a {
		background: #1882d9;
	}
	.category-sidebar__list__toggler {
		background: #f0f0f0;
		color: #1882d9;
	}
}

#JSbroj_cart {
    background-color: #1882d9;
}

.fa-sign-in {
    color: #2fa3f0;
}
.fa-user-plus {
    color: #2fa3f0;
}

.product-sale {
    background-color: #1882d9;
}
.btn-slider {
    color: #2fa3f0;
    background-color: #151515;
}
.single-news {
    color: #fff;
}

#admin-menu {	
    background: #151515;
    color: #fff;
}
.submit-btn-edit {
    background-color: #2fa3f0 !important;
}

.dropdown-content {
    background-color: #2d2d2d;
}
.dropdown-content li a:hover {
    background-color: transparent;
}

/* FROM CUSTOM CSS */
body {
	background-color: #2d2d2d;
    background: #2d2d2d;
}
.JSproduct .not-available, .JSproduct .JSadd-to-cart,
button.company-registration {
	background-color: #2fa3f0;
}
.header-cart-icon span, #JScategories .JSlevel-2 > li > a, .breadcrumbs li a,
.product-preview-info li a, .cart-name a, .summary-amount,
.login-form .forget-password, .JSproduct .product-title, .JSheader-cart-content li a,
#logged-user, .choosed_filter {
	color: #2fa3f0;
}
.submit, .JSsearch-button, .JSproduct-slider .slick-prev, .cart-action-buttons li,
.JSproduct-slider .slick-next, .newsletter button, .add-to-cart-area .JSadd-to-cart,
input.submit, .pagination li a, button.person-registration, .JScart-more-icon,
.submit-order-button, a.JSreset-filters-button {
	background-color: #2fa3f0;
}
/* KONFIGURATOR */
.konfigurator .JSKolicina {
    border-color: #252525;
}
#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	color: #2fa3f0;
}
.ukupno-konf-div {
	color: #fff;
    background-color: transparent;
}
.JSGrupaAdd, .JSArtDetails {
	color: #2fa3f0;
}

/* END FROM CUSTOM CSS */