
#JSmain-slider .slick-prev, #JSmain-slider .slick-next{
	background-color: #666;
}

/* KONFIGURATOR */
.konfigurator select {
	width: 470px;
}
.konfigurator .JSKolicina {
	margin-bottom: 0px;
	width: 40px !important;
	text-align: center;
}
.dodaj-konf {
    color: var(--btn_color);
}
#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	font-size: 23px;
	font-weight: bold;
	color: #F8694A;
}
.ukupno-konf-div {
    border-bottom: 1px solid #ddd;
    margin: 0 0 5px 0;
}
.JSGrupaAdd, .JSArtDetails {
	cursor: pointer;
	color: var(--background-blue);
    margin: 0 0 0 10px;
}
.JSGrupaAdd:hover, .JSArtDetails:hover {
	color: #888;
}
.JSGrupaRemove {
	cursor: pointer;
	color: red;
}
/*.slick-slider {
	margin-bottom: 10px;
    overflow: hidden;
    outline: none;
}*/
/*input:autofill, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
    color: #000 !important;
}*/
.sub_cats_products {	 
    margin-bottom: 20px;
    text-align: center;
}
.sub_cats_item {
	background: rgb(239, 239, 239);
	height: 105px;
    padding: 0;
    margin: 0px;
    border: 4px solid white;
    transition: 0.2s ease-in;
}
.sub_cats_item:hover {
	background: rgba(255, 165, 0, 0.61);
	transition: 0.2s ease-in;
}
.sub_cats_item p {
	font-size: 12px;
	color: black;	
}
.sub_cats_item img {
    height: 62%;
    padding-top: 10px;
    margin-bottom: -2px;
}

.breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 0px;
}

.breadcrumb>li+li:before {
    color: var(--body_color);
}
.slick-list {
    overflow: visible;
}

@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.swal-button--confirm {
  display: none;
}
.swal-text {
    font-size: 22px;
    font-weight: 500;
}
.swal-remove-no, .swal-remove-no:hover, .swal-remove-no:active,
.swal-wish-yes, .swal-wish-yes:hover, .swal-wish-yes:active {
    background-color: var(--background-blue);
    box-shadow: none;
}
.swal-remove-yes, .swal-remove-yes:focus, .swal-remove-yes:hover, .swal-remove-yes:active,
.swal-wish-no, .swal-wish-no:focus, .swal-wish-no:hover, .swal-wish-no:active {
    background-color: #ededed;
    color: #0a436c;
    box-shadow: none;
}