

/* Header */
header {
    padding: 15px 0px; 
    background-color: #383838;
    z-index: 1;
    position: relative;
}
.transp + header { 
    background-color: transparent;
}
/*.animate-header {
    background-color: #383838 !important;
    padding: 10px 0px !important;
}*/

header .site-navigation {
	display: inline-block;
    max-width: 800px; 
    vertical-align: middle;
}
header .site-navigation li {
	display: inline-block;
}
header .dropdown-nav {
	display: inline-block;
}
header .site-navigation li a, header .dropdown-nav a {
	display: block;
    padding: 0 15px;
    letter-spacing: 1px;
    -webkit-transition: all .1s;
    transition: all .1s;
    line-height: 35px;
    font-size: 18px;
    font-weight: 600;
    color: #fff; 
}
 
#start-page #fixed_header .site-navigation li a, #start-page #fixed_header .dropdown-nav > a,
#start-page #fixed_header .header-cart .desc, #start-page #fixed_header .header-cart .cart-icon, 
header#fixed_header.animate-header .site-navigation li a,
header#fixed_header.animate-header .header-cart .desc, header#fixed_header.animate-header .header-cart .cart-icon,
header#fixed_header.animate-header .dropdown-nav > a {
    color: var(--white-color);
}

#fixed_header .JSbroj_cart {
    background-color: #464a4b;
    color: white;
}
#fixed_header .dropdown-nav li a, {
    color: initial !important;
}
header .dropdown-nav > a {
	padding-right: 0px;
}
header .dropdown-nav > a:after {
    content: '';
    position: absolute;
    width: 130%;
    height: 24px;
    top: 80%;
    left: 0px;
    z-index: 10;
}
header .logo {
	display: block;
    font-size: 20px;
    font-weight: bold;
    color: var(--link-hover) !important;
}
header .logo img {
	max-height: 60px;
}
header .row {
	display: flex;
	align-items: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	display: -moz-flex;
	-moz-align-items: center;
}
header .dropdown-nav li {
	display: block;
}
header .dropdown-nav {
	position: relative;
}

header .dropdown-ul li a {
	padding: 0px 20px 0px 0px !important;
    color: var(--font-color) !important;
}
header .site-navigation .exit {
    display: none;
}
#admin-menu {
    padding: 8px 0px;
    background-color: #f9f7fa;
    position: sticky;
    top: 0;
    z-index: 9;
}
#admin-menu i{ 
    color: var(--link-hover);
    font-size: 14px; 
}
.JSfixed-header { 
    position: sticky;
    top: 0;
    width: 100%;   
    z-index: 9;
    transition: .2s ease-in-out;
}
/*#admin-menu.admin-menu-active {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 22; 
}*/
#admin-menu span {
    padding: 0 5px 0 0;
    font-family: 'Rajdhani', sans-serif;
}
#admin-menu span:last-child {
    padding-right: 0px;
}
/* Cart capcha */
.capcha{
    background: #f9f9f9;
    padding: 25px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    margin-top: 30px;
}
.capcha input[type="text"]{
    width: auto;
    display: inline-block;
    height: 34px;
    box-shadow: none;
}
.capcha input[type="text"]:focus, .capcha input[type="text"]:link, .capcha input[type="text"]:visited {
    border-color: var(--link-hover);
}
.capcha img { 
    height: 40px;
    margin-bottom: 25px;
}
.capcha span { 
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
}


#navigationToggle {
	display: none;
}
.JSheader-cart-content {
	display: none;
}
.header-cart {
	display: inline-block;
    position: relative;
    margin-left: 30px;
    padding-left: 20px;
}
#fixed_header .cart-icon {
    color: #fff;
}
.header-cart:hover .JSheader-cart-content {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 100%;
    width: 335px;
    z-index: 9;
    background-color: #f9f7fa;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
.header-cart:before {
    position: absolute;
    top: 7px;
    left: 0;
    bottom: 7px;
    content: "";
    display: block;
    width: 1px;
    background-color: rgb(255, 255, 255);
}
#fixed_header .header-cart:before {
    background-color: rgb(175, 175, 175);
}
.JSslider-container{ position: relative; }
.header-cart .desc {
	line-height: 3.42857;
    font-weight: 600;
    padding: 0px 0px 0px 6px;
    display: inline-block;
    margin-right: 8px;
    letter-spacing: 1px;
    -webkit-transition: all .2s;
    transition: all .1s;
    color: #fff;
}
.header-cart .cart-icon {
	font-size: 20px;
    position: relative;
}
.JSbroj_cart {
    position: absolute;
    top: 8px;
    right: -2px;
    display: block;
    width: 17px;
    height: 15px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 11px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.header-cart-image-wrapper a {
    display: inline-block;
}
.header-cart-image-wrapper a img {
    max-width: 50px;
}
.JSheader-cart-content li {
    padding: 20px;
    border-bottom: solid 1px #ddd;
    display: flex;
    align-items: flex-start;
    display: -moz-flex;
    -moz-align-items: flex-start;
    position: relative;
}
.JSheader-cart-content .toCart-div {
    text-align: center;
}
.JSheader-cart-content .toCart-div > a {
    display: inline-block;
    padding: 12px 15px;
}
.JSheader-cart-content .toCart-div > a > i {
    margin-left: 5px;
    font-size: 13px;
}
.header-cart-image-wrapper {
    max-width: 75px;
    height: 75px;
    float: left;
    margin: 0 15px 0 0;
    border: 1px solid var(--border-color);
    width: 100%;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: -moz-flex;
    -moz-justify-content: center;
    -moz-align-items: center;
    -moz-flex-wrap: wrap;
    background-color: white;
}
.header-cart-content .name {
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
}
.header-cart-content .exit {
    position: absolute;
    right: 14px;
    top: 23px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.header-cart-content {
    text-align: left;
}
.header-cart-content .header-cart-amount, .header-cart-content .header-cart-price, .header-cart-content .multiplication-icon {
    font-family: 'Open Sans', sans-serif;
}
.header-cart-content .multiplication-icon {
    display: inline-block;
    margin: 0px 15px;
}
.header-cart-content .header-cart-price span {
    font-family: 'Open Sans', sans-serif;
}
/*- Mail slider -*/
.AllSliderLink:hover {
    color: var(--font-color);
} 
#JSmain-slider {
    margin: 0px;
    box-shadow: 0px 3px 10px 2px #bbb;
}
.slider-link {
    display: inline-block;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    font-weight: 600;
    background-color: #ffffff;
    font-size: 1.2em;
}

.JSmain-slider {
    min-height: 92vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #98989878; 
    position: relative;
}
  #JSmain-slider .slick-next:before, .JSproduct-list .next:before {
    content: "\f054";
    font-family: fontAwesome;
}
#JSmain-slider .slick-prev:before, .JSproduct-list .previous:before {
    content: "\f053";
    font-family: fontAwesome;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next {
    height: 80%;
    width: 30px;
    background-repeat: no-repeat;
    border-radius: 5px;
    top: 53%;
    transform: translateY(-50%);
    z-index: 2;
}
#JSmain-slider .slick-prev:hover, #JSmain-slider .slick-next:hover {
    background-repeat: no-repeat;
    opacity: 1;
    background-color: #b3b3b373;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-prev:hover {
    left: 15px;  
}
#JSmain-slider .slick-next, #JSmain-slider .slick-next:hover {
    right: 15px;  
}

.slider-desc-div {
    z-index: 1;
    max-width: 40%;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider-desc-div .main-desc {
    font-size: 4em;
    margin-bottom: 20px;
    background-color: rgba(242, 242, 242, .9);
    padding: 10px 60px;
}
.slider-desc-div .short-desc {
    font-size: 1.2em;
    padding: 10px 40px;
    background-color: rgba(242, 242, 242, .9);
    margin-bottom: 34px;
}
.JSslider-container .scroll-down-div {
    position: absolute;
    bottom: 8%;
    z-index: 10;
    width: 100%;
}
.JSslider-container .scroll-down {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-justify-content: center;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
.JSScrolDown {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    display: -webkit-inline-flex;
    -webkit-align-items: flex-start;
    -webkit-justify-content: center;
    height: 70px;
    width: 150px;
}
/* End of slider */

/* Action section */
.action-heading {
    font-size: 5rem;
    line-height: 1.35;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.action-heading a {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    font-weight: 700;
}
.custom-action-div {
    padding-top: 50px;
}
.action-type-div {
    padding-bottom: 40px;
}
 
/* End of Action section */

/*- PRODUCT */
.JSproduct-list {
    position: relative;
}
.JSproduct-list .previous, .JSproduct-list .next{
    border: none;
    padding: 15px;
    border-radius: 50px;
    background: #fff;
    position: absolute;
    right: 5px;
    top: -30px;
} 
.JSproduct-list .previous{ right: 40px; }
.shop-product-card {
	position: relative;
    border: 3px solid #f2f2f2;
    -webkit-transition: border .25s ease-in-out,box-shadow .25s ease-in-out,background-color .25s ease-in-out;
    transition: border .25s ease-in-out,box-shadow .25s ease-in-out,background-color .25s ease-in-out;
}
.shop-product-card:hover {
    border-color: #d4d4d4;
}
.JSproduct .shop-product-card .sale-label {
    background: #222;
    position: absolute;
    left: 0px;
    top: 14px;
    padding: 8px 21px 8px;
    line-height: 1.2;
    color: white;
    display: inline-block;
    font-weight: 600;
    z-index: 1;
    letter-spacing: 1px;
}

.JSproduct .product-image-wrapper {
	display: block;
	background-color: #f9f7fa;
	position: relative;
	overflow: hidden;
    display: flex;
    height: 345px;
}
.JSproduct-list .JSproduct {
    margin: 15px 0;
}
 

.JSproduct .product-image-wrapper:after {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    background: rgba(76, 76, 76, 0.07);
    z-index: 2;
}
.JSproduct .product-image-wrapper img {
    width: auto;
    display: block;
    max-height: 350;
    margin: auto;
    max-width: 90%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.JSproduct .product-image-wrapper .second-product-image {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.JSproduct .product-image-div {
	position: relative;
	overflow: hidden;
}
.JSproduct .product-image-div:hover  .product-image-wrapper:after {
	opacity: 1;
    filter: alpha(opacity=1);
}
.JSproduct .product-image-div:hover > .button-div {
	bottom: 10px;
}
#product-page .JSproduct{
    width: 32%;
}
.JSproduct .shop-product-card .product-name {
    height: 32px;
    overflow: hidden;
    display: inline-block;
    margin: 5px 0px 0px; 
    padding: 0px 5px;
}

.JSproduct .shop-product-card .product-name h2 {
    line-height: 34px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.product-name-div {
	text-align: center;
	padding: 0px 0px 15px;
}
.product-name-div .product-price {
    line-height: 1.52941;
    font-weight: 700;
    letter-spacing: .025em;
    font-size: 20px;
    display: block;
    color: #9e9d9d;
    font-family: 'Rajdhani', sans-serif;
}
.product-name-div .product-price > span {
    text-transform: uppercase;
    line-height: 1.52941;
    letter-spacing: -1px;
    margin-left: -1px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}
.product-name-div .product-old-price {
	font-family: 'Open Sans', sans-serif;
	text-decoration: line-through;
}

.JSproduct .button-div {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -45px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    z-index: 2;
}
.JSproduct .buy-btn, .JSproduct .not-available {
    display: inline-block;
    background-color: #fff;
    line-height: 30px;
    background: #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
    color: var(--light-font-color);
    cursor: pointer;
    margin-bottom: 0px; 
    box-shadow: 1px 1px 5px #ccc;
}
.JSproduct .buy-btn:hover, .JSproduct .not-available:hover {
	color: var(--link-hover);
}
.JSproduct .article-compare, .JSproduct .wish-div {
	display: inline-block;
    background-color: #fff;
    line-height: 30px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 1px 1px 5px #ccc;
}

.JSproduct .article-compare i, .JSproduct .wish-div i {
	line-height: 40px;
	color: var(--light-font-color);
	width: 100%;
}
.JSproduct .article-compare i:hover, .JSproduct .wish-div i:hover, .JSproduct .article-compare.active i {
	color: var(--link-hover);
}
.action-type-section .action-more-btn, .custom-action-div .action-more-btn {
	display: inline-block;
    border: 1px solid #f3f3f3;
    padding: 10px 38px 10px 45px;
    box-shadow: 0 8px 25px 0 rgba(0,0,0,.07);
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--font-color);
    -webkit-transition: color .3s,background-color .3s,border-color .3s,box-shadow .3s;
    transition: color .3s,background-color .3s,border-color .3s,box-shadow .3s;
}
.action-type-section .action-more-btn:hover {
	box-shadow: 0 4px 15px rgba(0,0,0,.14);
}
.action-type-section .action-more-btn i {
	margin-left: 15px;
	color: #c2c2c2;
}

.action-type-section .JSproduct, .all-articles .JSproduct {
    width: 25%;
    display: inline-block;
    margin-right: 0%;
    padding: 0px 15px;
    margin-bottom: 0px;
}
.action-type-section .JSproduct:last-child,.all-articles .JSproduct:last-child {
	margin-right: 0px;
}
.action-type-section .ajax-content {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
}
.filters #JScompareArticles {
    display: inline-block;
    margin-top: 12px; 
}
.selected-filters-wrapper {
    margin-top: 30px;
}
.all-articles .JSproduct {
    margin-bottom: 60px;
}
.all-articles-contnet {
    padding-top: 45px;
}
.article-details-page #description-tab iframe {
    max-width: 100%;
    margin: 20px 0px;
}
/*- NEWSLETTER -*/
.newsletter {
    padding: 50px 0px;
    background-color: var(--light-gray);
    margin-top: 75px;
}
.newsletter h5 {
	font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 25px;
}
.newsletter p {
	font-size: 14px;
    line-height: 32px;
    font-weight: 500;
    color: #000000;
    margin-top: 10px;
}
.newsletter-form {
    max-width: 600px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
   	border: 1px solid #e3e3e3;
   	border-radius: 3px;
}
.newsletter-form input:focus    {
	border: 1px solid var(--link-hover)
}
.newsletter-form input {
    height: 56px;
    padding-left: 26px;
	padding-right: 150px;
	border: none;
	box-shadow: none;
	font-size: 16px;
	border: 1px solid transparent;
}
.newsletter-form input:focus {
    box-shadow: none;
}
.newsletter-form button {
    position: absolute;
    right: 0px;
    color: #fff;
    text-transform: uppercase;
    top: 0;
    height: 100%;
    font-weight: 500;
    border: 0px;
    background-color: var(--link-hover);
    display: inline-block;
    padding: 0px 24px;
}

.newsletter-form button:hover {
    background-color: #5cbef3;
}
/*--- Footer ---*/
footer .min-height-div iframe {
    max-width: 100%;
}

.after-footer .banks div ul li img{
    max-height: 40px;
    max-width: 150px;
    margin: 10px 0;
    width: auto;
    height: auto;
}
footer {
	background-color: var(--footer_bg); 
}
footer a {
    font-family: 'Open Sans', sans-serif;
}
footer .logo {
    display: block;
    padding-bottom: 24px;
    padding-top: 5px;
}
footer .logo img {
    max-height: 60px;
    height: 100%;
}

.footer-title {
    font-size: 20px;
    padding-bottom: 24px;
    padding-top: 5px;
    font-weight: 600;
    color: #333;
}
.footer-title:after {
    content: '';
    display: block;
    width: 35px;
    height: 1px;  
    background: var(--categories_title_bg);
    margin-top: 12px;
}
footer li, footer p, .footer-content a {
	transition: all 0.1s;
}

footer .footer-desc-div p{
    line-height: 28px;
    font-size: 0.9em;
}
footer .footer-content {
	padding: 75px 0px;
	background-color: #dadada;

}
footer .below-footer {
	padding: 30px 0px;
	background-color: #3d3d3d;
}
footer .below-footer, footer .below-footer a,  footer .below-footer p {
    font-size: 15px;
    color: #bbb;
    font-weight: normal;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    font-family: 'Open Sans', sans-serif;
}
footer .below-footer a:hover {
	color: #a7a7a7;
}
footer .contact-div span {
	display: block;
	margin-bottom: 12px;
    font-size: 0.9em;
}
footer .contact-div span:last-child {
	margin-bottom: 0px;
}
footer a.mailto {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 12px;
    font-weight: 600;
}
footer a.mailto:hover {
    color: var(--link-hover);
}
footer .contact-div span i {
	margin-right: 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    color: #3d3d3d;
}
.footer-links li a {
	display: inline-block;
	margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}
.footer-links li:last-child  a {
	margin-bottom: 0px;
}
footer .social-icons .footer-title {
	padding-bottom: 0px;
}
footer .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    padding: 0px;
    width: 37px;
    height: 37px;
    border: 1px solid gray;
}
footer .social-icons i {
	font-size: 18px;
    color: #3d3d3d;
}
footer .social-icons a:hover {
	background: var(--categories_title_bg);
	border-color: var(--link-hover);
}
footer .social-icons a:hover i {
	color: var(--link-hover);
}

/* Cart content */
.cart-page{
    padding: 40px 0px;
    min-height: 580px;
}
/*.cart-page .title, .login-page .title {
    padding-bottom: 70px;
}*/
.empty-cart .orange-btn i {
    margin-left: 12px;
}
/*.cart-page .orange-btn {
    padding: 14px 1.8em 14px 2.4em;
}*/
.empty-cart {
    text-align: center;
}
.empty-cart .desc {
    font-weight: 400;
    line-height: 36px;
    font-size: 18px;
    color: var(--light-font-color);
}
.empty-cart .btn-div {
    padding-top: 50px;
}
.empty-cart .title {
    padding-bottom: 70px;
}
.cart-page .cart-div {
    float: initial;
    margin: 0px auto;
}
.cart-labels {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.66667;
    letter-spacing: .1em;
    color: rgba(0,0,0,.4);
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 14px;
}
.cart-labels .cart-product, .JScart-item .JScart-image {
    width: 49%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.cart-labels .cart-price, .cart-labels .cart-quantity, .cart-labels .cart-sum, .JScart-item .cart-price, .JScart-item .cart-add-amount, .JScart-item .cart-total-price {
    width: 20%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
}
.cart-labels .cart-delete, .JScart-item .cart-remove {
    width: 7%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
}
.cart-labels .cart-delete, .JScart-item .cart-remove a {
    color: var(--midle-gray);
}
.cart-labels .cart-delete, .JScart-item .cart-remove a:hover {
    color: var(--font-color);
}
.red-dot-error {
    color: red;
    font-size: 12px;
}
.JScart-item {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,.12);
    padding: 15px 10px;
    margin: 0 0 10px;
    position: relative;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    min-height: 114px;
}
.JScart-item .JScart-image img {
    display: inline-block;
    max-width: 65px;
}
.JScart-item .JScart-image a {
    margin-left: 30px;
    color: var(--font-color);
    position: relative;
    max-width: 290px;
}
.JScart-item .JScart-image a:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    height: 1px;
    background-color: var(--font-color);
}

.JScart-item .cart-add-amount input {
    width: 45px;
    margin: 0px 8px;
    padding: 8px 0px;
    text-align: center;
}
.JScart-item .JScart-less {
    color: var(--midle-gray);
}
.JScart-item .cart-price {
    line-height: 1.46667;
    letter-spacing: .025em;
    color: var(--midle-gray);
}
.JScart-item .cart-price span, .JScart-item .cart-total-price span {
    margin-left: 5px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.JScart-item .cart-total-price span {
    font-weight: 700;
}
.JScart-item .cart-total-price {
    color: #342f2f;
    line-height: 1.46667;
    font-weight: 700;
    letter-spacing: .025em;
}

/* Amount section */
.amount-section .amount-div {
    padding: 22px 24px;
    text-align: right;
    border-bottom: 1px solid lightgray;
}
.amount-section .amount-div .description {
    color: rgba(0,0,0,.4);
    line-height: 2.5;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-family: 'Open Sans', sans-serif;
}
.amount-section .amount-div .value {
    font-weight: 700;
    letter-spacing: .025em;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    max-width: 200px;
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    margin-right: 30px;
    line-height: 32px;
}
.amount-section .amount-div .value span {
    font-weight: 800;
}
.without-registration-btn {
    display: flex;
    justify-content: flex-end;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    padding: 30px 0;
}
/*.without-registration-btn .orange-btn {
    padding: 10px 15px;
}*/
.without-registration select, .without-reg-form input {
    height: 50px;
}
.without-registration textarea {
    height: 180px;
}
.JSwithout-reg-none-personal, .JSwithout-reg-personal {
    display: none;
}
.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active {
    display: block;
}
/* Type of buyer  */
.type-of-buyer-div {
    display: flex;
    display: -moz-flex;
}

.type-of-buyer {
    border: 1px solid var(--border-color);
    font-size: 1em;
    line-height: 46px;
    font-weight: 500;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    color: var(--body_color);
    text-transform: uppercase;
    -webkit-transition: color .3s ease-in-out , background-color .3s ease-in-out , border-color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out , background-color .3s ease-in-out , border-color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out , background-color .3s ease-in-out , border-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out , background-color .3s ease-in-out , border-color .3s ease-in-out;
    transition: color .3s ease-in-out , background-color .3s ease-in-out , border-color .3s ease-in-out;
    margin-right: 30px;
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
.type-of-buyer.active {
    color: var(--link-hover);
    border: 1px solid var(--link-hover);
}
.type-of-buyer:hover {
    background: #fff;
    color: var(--link-hover);
    border: 1px solid var(--link-hover);
}
.type-of-buyer .fa {
    font-size: 18px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    position: absolute;
    top: 11px;
    margin-left: 12px;
}
.type-of-buyer.active .fa {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.without-registration {
    padding-top: 50px;
}
.without-registration .orange-btn {
    padding: 10px 2em;
}

/* Brands-page */
.brands-page {
    padding: 40px 0px;
    min-height: 580px;
}
.brend-item {
    overflow: hidden;
    font-weight: bold;
    height: 80px;
    margin: 15px 0;
    padding: 5px 15px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-align-items: center;
    -moz-justify-content: center;
}
.brend-item img{
    padding: 5px 0;
    max-width: 100px;
    max-height: 80px;
}
/* Products page */
.products-page {
    padding: 30px 0px 30px;
    min-height: 580px;
}
.category-title {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 24px;
}
 
.products-page .product-desc {
    font-size: 22px;
}
/* Product category */
.manufacturer-categories ul li a {
    display: inline-block;
    padding: 0 0 15px;
}
.manufacturer-categories ul li a:hover {
    font-weight: 500;
    color: var(--link-hover);
}

/* Product list option */
.JSproduct-list-options {
    font-weight: 500;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 40px;
}
.JSproduct-list-options .currency-btn {
    border: 0px solid lightgray;
    box-shadow: none;
    padding: 2px 14px;
    margin: 0px 3px;
    background-color: transparent;
    font-size: 1.1em;
    font-weight: 600;
}
.dropdown-menu>li>a {
    font-weight: 600;
}
.currency-list {
    min-width: 100%;
    font-size: 1em;
}
.JSproduct-list-options .number-of-prdocut {
    font-size: 1.2em;
    float: left;
    font-weight: 600;
}
.JSproduct-list-options .list-option-div {
    float: right;
}

/* Pagination */
.pagination {
     margin: 0px;
}

.pagination li a {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #fff;
    color: var(--midle-gray);
    cursor: pointer !important;
}
.pagination>.active>a, .pagination>.active>a:hover{
    background: #fff;
    color: var(--link-hover);

}
.pagination>.active > a {
    border-color: var(--link-hover);
    font-weight: 500;
}
.pagination>.active > a:hover,.pagination>.active > a:active, .pagination>.active > a:focus {
    border-color: var(--link-hover);
}

.pagination-div {
    text-align: center;
}
.pagination-div.top {
    margin-bottom: 25px;
}

/*- PRODUCT PREVIEW IMAGE -*/
.zoomWrapper {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    position: relative;
}
.zoomWrapper img {
    max-height: 700px;
    max-width: 100%;
}
.zoomWindowContainer, .zoomContainer {
    display: none !important;
}
.zoomLens {
    background-color: transparent !important;
    border: none !important;
}

a.elevatezoom-gallery {
    max-width: 108px;
    width: 100%;
    height: 108px;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 1;
    border: 1px solid #eaeaea;
    overflow: hidden;
    margin-bottom: 12px;
}
a.elevatezoom-gallery img {
    max-height: 100%;
    max-width: 100%;
}
#gallery_01 {
    width: 108px;
    float: left;
}
#gallery_01 .active {
    border-color: var(--link-hover);
}
.big-galery-img {
    float: right;
    width: -webkit-calc(100% - 120px);
    width: -moz-calc(100% - 120px);
    width: calc(100% - 120px);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
/*- Product -*/
.article-heading {
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 800;
}
.PDV {
    font-weight: 600;
    font-style: normal;
}
 .article-manufacturer-text{
    font-style: italic;
    font-weight: bold;
    color: #666;
}
.article-brand-img img {
    max-width: 100%;
    max-height: 100%;
}
.article-brand-img {
    width: 70px;
    height: 40px;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.mpPrice, .mpPrice span, .discount-price span {
    font-weight: 500;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: .025em;
    text-transform: uppercase;
}
.curent-price, .curent-price span, .discount-price, .discount-price span {
    color: var(--font-color);
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: .025em;
} 
.share-div {
    display: flex;
    display: -webkit-flex;
}
.osobina_naziv, .share-div  span, .product-group span, .PDV_price, 
.product-available-amount, .artical-brand-text  {
    font-size: 18px;
    color: var(--light-font-color);
    margin-right: 10px;
    line-height: 30px;
}

.product-available-amount span, .product-available-amount a {
    margin-left: 10px; 
    display: inline-block;
    font-weight: 500;
    color: var(--light-font-color);
    display: inline-block;
}
.product-group  a {
    font-weight: 500;
    color: #666 !important;
    display: inline-block;
}
.product-group  a:hover, .artical-brand-text:hover {
    color: var(--link-hover) !important;
}
.product-preview-price {
    padding: 50px 0px 50px;
}
.add-to-cart-area .orange-btn {
    padding: 12px 2em;
    margin: 0px;
}
.add-to-cart-area .cart-amount {
    line-height: 30px;
    font-size: 1.4em;
    width: 68px;
    padding: 0px 0px 0px 16px;
    margin-right: 20px;
    text-align: center;
}
.add-to-cart-area .button-container {
    display: flex;
    display: -webkit-flex;
}
/* Article-details-page */
.article-details-page{
    padding: 80px 0px 80px;
    min-height: 580px;
} 
.article-details-page #description-tab {
    font-size: 18px;
}
.features-list {
    font-size: 0.9em;
}
.error-amount {
    padding-top: 30px;
    color: #e55539;
    font-weight: 500;
}

/* Login - page */
.login-page{
    padding: 60px 0 80px;
}
.login-page label, .registration-page label, .logged-user-page label, .cart-page label, #the-comments label, #loginModal label {
    display: block;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 6px;
    font-size: 1.1em;
    display: inline-block;
}

.logged-user-page input, .cart-page select, .cart-page textarea, .without-reg-form input, #the-comments input, #the-comments textarea{
    width: 100%;
}
.login-page form {
    max-width: 500px;
    margin: 0px auto;
}
.login-page input, .registration-page input {
    line-height: 50px;
    padding: 8px 22px;
    width: 100%;
}
.login-page .login-form .frm-control {
    margin-bottom: 30px;
}
.login-page .orange-btn, .registration-page .orange-btn  {
    margin-top: 14px;
    font-size: 16px;
    padding: 10px 2em;
}

.login-page .forgot_pass {
    padding: 20px 0;
    text-align: right;
}
.login-page .forgot_pass button {
    color: var(--font-color);
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.login-page .error-message {
    color: red;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    padding-top: 12px;
}
/* End of Login - page */

/* Registration - page */
.registration-page {
    padding: 30px 0px 80px;
}
.registration-page form {
    max-width: 800px;
    margin: 0px auto;
}
.registration-page span {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    color: var(--light-font-color);
    font-weight: 500;
    letter-spacing: .030em;
}
.registration-page .login-title span:after {
    width: 0px;
    position: absolute;
    content: '';
    height: 1px;
    background-color: #29292a;
    left: -2px;
    top: 100%;
    transition: all 0.3s;
}
.registration-page .login-title span:hover:after {
    width: 105%;
}
.registration-page span.active-user:after {
    width: 105%;
}
.registration-page .frm-control-div, .logged-user-page .frm-control-div, .cart-page .frm-control-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    display: -moz-flex;
    -moz-flex-wrap: wrap;
    -moz-align-items: center;
    -moz-justify-content: space-between;
}
.registration-page .frm-control, .logged-user-page .frm-control, .cart-page .frm-control {
    width: 48%;
    margin-bottom: 20px;
}

.success-div {
    padding: 26px 25px;
    margin: 60px 0px 0px;
    background-color: #f9f9f9;
    color: #29292a;
    border: 1px solid #ffffff;
    border-radius: 0px;
    color: var(--background-blue);
}
.registration-page .company-user-content {
    display: none;
}

.intesa-page {
    min-height: 580px;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: -moz-flex;
    -moz-align-items: center;
    padding: 60px 0px;
}
.intesa-page .intesa-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 40px;
}
.intesa-page .orange-btn {
    padding: 10px 1.6em 10px 2em;
    cursor: pointer;
}
.intesa-page .orange-btn > i {
    margin-left: 12px;
}
.intesa-page table {
    margin: 0px auto 35px;
    max-width: 500px;
    width: 100%;
}
.intesa-page table:last-of-type {
    margin-bottom: 0px !important;
}
.intesa-page table th {
    padding-bottom: 5px;
}
.intesa-page table .desc-td {
    width: 40%;
}
.intesa-page .agree-div {
    padding: 35px 0px;
}
.intesa-page .agree-div #JSConditions {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 4px 3px;
    cursor: pointer;
}
.intesa-page .agree-div a {
    text-decoration: underline;
}
/* Loged-user-content */
.loged-user-content input {
    line-height: 50px;
}
.loged-user-content .orange-btn {
    padding: 10px 2em;
}

/* Not found page */
.not-found-page {
    padding: 30px 0px 60px;
    min-height: 580px;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: -moz-flex;
    -moz-align-items: center;

}
.not-found-page .title {
    padding-top: 0px;
}
.not-found-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* Contact-page */
.contact-page {
    padding: 30px 0px 80px;
}
.contact-form label {
    display: block;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 6px;
}
.contact-form input {
    width: 95%;
    line-height: 30px;
}
.contact-form textarea {
    width: 97%;
    min-height: 200px;
}

.contact-form .textarea-div {
    padding-top: 24px;
    margin: 0px;
}
.contact-form .orange-btn {
    margin-top: 20px;
    padding: 10px 2em;
    font-size: 1em;
}
.contact-info .more-info-div {
    padding: 8px 0px;
    color: var(--light-font-color);
}
.contact-info .more-info-div:first-of-type{
    padding-top: 0px;
}
.contact-info .more-info-div span {
    line-height: 22px;
    padding: 0px;
}
.contact-info .call-center span {
    font-size: 16px;
}
.contact-info .more-info-div span:last-child {
    font-weight: 500;
}
.contact-info {
    padding-bottom: 30px;
}
.contact-info:last-child {
    padding-bottom: 0px;
}
.contact-heading {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    color: var(--font-color);
    margin: 15px 0 10px;
}
.contact-page .mailto {
    color: var(--light-font-color);
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
}
.contact-page .mailto:hover {
    color: var(--link-hover);
}
/* News page */
.news-page {
    padding: 30px 0px 80px;
    min-height: 580px;
}
.news-page .blog-flex {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}
.single-news-on-page {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    display: -moz-flex;
    -moz-align-items: flex-start;
    -moz-justify-content: flex-start;
    -moz-flex-direction: column;
    width: 30%;
    margin-right: 4.6%;
    padding-top: 60px;
}
.single-news-on-page:nth-of-type(3n+0) {
    margin-right: 0px;
}

.single-news-on-page .image-div {
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.single-news-on-page .image-div:hover {
    transform: scale(1.02);
}
.single-news-on-page .image-div img  {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    width: 100%;
}
.single-news-on-page .image-div:hover img {
    transform: scale(1.05);

}
.single-news-on-page .title-new {
    font-size: 1.05em;
    line-height: 1.1;
    font-weight: 600;
    display: block;
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    margin: 5px 0px;
    overflow: hidden;
}
.single-news-on-page .title:hover {
    color: var(--background-blue);
}
.single-news-on-page .short-description {
    line-height: 24px;
    color: #4a4a4d;
    padding: 10px 0px;
    min-height: 116px;
    font-weight: 500;
}
.more-news-div {
    text-align: right;
}
.single-news-on-page .more-news-div a {
    color: var(--link-hover);
    font-weight: 600;
    line-height: 22px;
    transition: all 0.1s;
    -moz-transition: all 0.1s;
}
.single-news-on-page .more-news-div a:hover {
    color: var(--font-color);
}
.single-news-on-page .more-news-div a i {
    margin-left: 5px;
}
/* End of News page */

/* Single news page */
.single-news-section {
    padding: 30px 0px 80px;
}
.single-news-section .page-heading {
    margin-bottom: 40px;
}

.single-news-section .single-news {
    max-width: 1025px;
    margin: 0px auto;
}
.single-news-section .single-news p {
    margin-bottom: 24px;
    font-size: 0.9em;
    font-weight: 500;
}
.single-news-section .single-news-img {
    border-radius: 12px;
    margin-bottom: 35px;
    cursor: pointer;
    width: 100%;
}
.single-news-section .single-news .create-news-date {
    margin-bottom: 24px;
    text-align: right;
}
.single-news .create-news-date .all-news {
    float: left;
    color: #8f8f93;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.single-news .create-news-date .all-news i {
    margin-right: 10px;
    font-size: 12px;
}
.single-news .create-news-date .all-news:hover {
    color: var(--link-hover)
}
.share-news-div {
    padding-top: 35px;
}

.share-news-div h3 {
    display: block;
    font-size: 1.4em;
    line-height: 26px;
    margin-bottom: 12px;
}
.share-news-div a {
    line-height: 22px;
    margin-right: 3px;
    color: #8f8f93;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}
.next-prev-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0px 30px;
    font-size: 1.1em;
    line-height: 24px;
    font-weight: 500;
    flex-wrap: wrap;
}

.next-prev-news i {
    color: #8f8f93;
}

.next-prev-news .prev-div a {
    padding-left: 15px;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
}
.next-prev-news .prev-div:hover > * {
    color: var(--link-hover);
}
.next-prev-news .next-div:hover > *{
    color: var(--link-hover)
}

.next-prev-news .next-div a {
    padding-right: 15px;
}

/* More post */
.more-post-div {
    padding: 40px 0px 20px;
    
    float: initial;
    margin: 0px auto;
    max-width: 1060px;
}
.more-post-div .more-post-heading {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 35px;
}
.more-post-div .more-post-title {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin-top: 5px;
}
.more-post-div .more-post-content .more-post-link {
    overflow: hidden;
    display: block;
    border-radius: 10px;
    transition: -webkit-all 0.2s;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.more-post-content {
    position: relative;
}

.more-post-div .more-post-heading {
    padding: 0px 15px;
}

/* End of single news on home page */
.section-news {
    padding: 50px 0px 45px;
}

.section-news .single-news {
    margin: 0px 18px;
}
.section-news .multiple-items-news {
    padding-top: 12px;
}
.section-news .image-div {
    display: block;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 15px;
    overflow: hidden;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.section-news .image-div:hover {
    transform: scale(1.02);
}
.section-news .image-div img {
    display: block;
    width: 100%;
    max-height: 250px;
}
.section-news .image-div:hover img {
    transform: scale(1.04);
    transition: all 0.2s;
}
.section-news .news-title {
    margin: 5px 0px 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #29292a;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.create-news-date {
    color: #8f8f93;
    font-size: 0.8em;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
.section-news .slick-next, .section-news .slick-prev, .action-type-section .action-btn, .single-news-slider .slick-next, .single-news-slider .slick-prev {
    display: inline-block;
    position: absolute;
    top: 42%;
    z-index: 4;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.07);
    background-color: #fff !important;
    padding: 0px;
    border-radius: 50%;
}
.action-type-section .action-btn {
    top: 37%;
}
.section-news .slick-next:hover, .section-news .slick-prev:hover, .action-type-section .action-btn:hover, .single-news-slider .slick-next:hover, .single-news-slider .slick-prev:hover {
    background-color: #f9f9f9 !important;
}
.section-news .slick-next, .action-type-section .btn-next, .single-news-slider .slick-next {
    right: -10px;
}
.section-news .slick-prev, .action-type-section .btn-prev, .single-news-slider .slick-prev  {
    left: -10px;
}
.section-news .slick-prev:before, .single-news-slider .slick-prev:before, .action-type-section .btn-prev:after, .single-news-slider .slick-prev:before {
    content: '';
    border: solid var(--link-hover);
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    top: 18px;
    left: 20px;
    position: absolute;
}
.section-news .slick-next:before, .single-news-slider .slick-next:before, .action-type-section .btn-next:after, .single-news-slider .slick-next:before {
    content: '';
    border: solid var(--link-hover);
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    top: 18px;
    left: 17px;
    position: absolute;
}

.action-type-section .action-btn:hover {
    background-color: #f9f9f9;
}
/* Title */
.title {
    font-size: 3em;
    font-weight: 800;
    padding: 30px 0px 30px;
    text-align: center;
}

/* Wish page */
.wish-page {
    padding: 30px 0px 80px;
    min-height: 580px;
}
.wish-page .shop-product-card {
    margin-top: 40px;
}
.wish-page .JSukloni {
    display: inline-block;
    background-color: #fff;
    line-height: 30px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    color: var(--light-font-color);
}
.wish-page .JSukloni:hover {
    color: var(--link-hover);
}
.wish-page .JSproduct {
    width: 23%;
    display: inline-block;
    margin-right: 2%;
}
.wish-page .JSproduct:nth-child(4n) {
    margin-right: 0px;
}

/* Login modal */
#loginModal input {
    width: 100%;
    line-height: 40px;
}
#loginModal .modal-content {
    padding-bottom: 5px;
}

#loginModal .frm-control {
    padding: 0px 15px;
    margin-bottom: 20px;
}
#loginModal .modal-heading {
    text-align: center;
}
#loginModal .modal-heading div:first-child {
    font-size: 32px;
    font-weight: 500;
    color: var(--body_color);
    margin-bottom: 8px;
}
#loginModal .modal-heading div:last-child {
    color: var(--body_color);
    font-size: 18px;
}
#loginModal .button-div {
    padding: 0px 15px;
}
/*#loginModal .button-div button, #loginModal .button-div a {
    padding: 5px 10px;
}*/
/* IMPORTANT IMPORTANT*/
/*#loginModal .button-div a{
    display: inline-block;
    background-color: var(--link-hover);
    color: #fff;
    line-height: 1.8;
    padding: 7px 1.5em ;
    margin: 5px 3px;
    border: 1px solid var(--link-hover);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}*/
#loginModal .error {
    padding: 0px 18px 0px;
}

/* Related and bound article */ 
.related-section .JSproduct, .bound-section .JSproduct {
    padding: 0px 15px;
}
.related-section .slick-track, .bound-section .slick-track {
    padding-bottom: 10px;
}
.related-section .slick-slider, .bound-section .slick-slider {
    margin-bottom: 0px;
}
.related-section, .bound-section {
    padding: 60px 0px 0px;
}
.related-section .section-heading, .bound-section .section-heading {
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    font-size: 34px;
}
/* JS product Slider */
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
    top: -40px;
}
.JSproduct-slider .slick-prev {
    left: initial;
    right: 45px;
}
.JSproduct-slider .slick-next {
    right: 15px;
}
.JSproduct-slider .slick-next:before, .JSproduct-slider .slick-next:before {
    content: '';
    border: solid var(--link-hover);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}
.JSproduct-slider .slick-prev:before, .JSproduct-slider .slick-prev:before  {
    content: '';
    border: solid var(--link-hover);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}

/*--- Contact page ---*/
#bounce_map_canvas {
    height: 400px;
    margin: 80px 0 25px;
}
/*-- All categories --*/
.all-categories {
    padding: 30px 0px 80px;
}
.all-categories .title {
    padding-bottom: 45px;
}
.category-heading {
    margin: 20px 0 0;
    padding: 12px 15px;
    color: #4a4a4d;
    background-color: #f4f4f4;
}
.category-name-link {
    font-weight: 600;
    margin: 14px 0px 10px;
    display: block;
}
.category__list {
    display: block;
}
.category__list__item__link {
    display: block;
    line-height: 1.7;
    margin: 5px 0px;
    display: inline-block;
    font-weight: 500;
}

.category-name-link, .category-heading, .category__list__item__link {
    font-size: 1em;
}

/* COMPARED ARTICLES */
.show-compered {
    background-color: #30323A;
    color: #fff;
    padding: 2px 10px;
    margin: 7px 10px;
}
.show-compered:focus{
    color: #fff;
}
.show-compered:hover {
    background: #595959;
    color: #fff;
}
.flexed-div{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
#JScompareTable .JSclearCompare {
    display: inline-block;
    background-color: #e6e6e6;
    color: var(--font-color);
    line-height: 1;
    cursor: pointer;
    padding: 10px 18px;
    font-size: 0.8em;
}

.table-responsive {
    border: none;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
.compare-table table {
    width: 100%;
    font-size: 1.1em;
}
.compare-table table img {
    max-width: 100%;
    max-height: 50px;
}
#JScompareTable tr td:first-child {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
#JScompareTable tr td {
    border-left: none;
    border-right: none;
    font-size: 0.8em;
}

/* Article properties */
.osobine {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: -moz-flex;
    -moz-flex-wrap: wrap;
    padding-bottom: 70px;
}
.osobina {
    margin: 0px 30px 16px 0px;
    display: inline-block;
}
.osobina_naziv {
    line-height: 25px;
}
.osobina:last-child {
    margin-bottom: 0px;
}
.karakteristike_osobine, .osobina_karakteristika {
    display: inline-block;
    position: relative;
    margin: 0px;
    color: #000;
}
.osobina_karakteristika input {
    position: absolute;
    top: 0px;
    visibility: hidden;
}
.osobina_karakteristika span {
    min-width: 45px;
    height: 35px;
    cursor: pointer;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e6e6e6;
    font-size: 14px; 
    color: #fff;
    text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px;
    padding: 0 5px;
}

.osobina_karakteristika input:checked + span {
    border: 3px solid #777;
}

/*.osobina_karakteristika input:checked + span:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #4d95ec;
    transform: translateX(-50%);
}*/

/*--- POPUP ADD TO CART ---*/
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    /*display: none;*/
}
.first-popup .first-popup-inner { margin: auto;  border: 1px solid #ddd;}
.first-popup .JSclose-me-please{
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px;
    line-height: 1;
    padding: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img {
    max-width: 100%;
    max-height: 380px;
    padding: 2px;
} 
/*======================*/
.popup {
	position: fixed;
	display: block;
	width: 100%;
	height: 0;
	left: 0;
	top: -2000px;
	overflow: hidden;
	background: rgba(0, 0, 0, .85);
	z-index: 9999999999999;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.popup-opened {
	top: 0;
	height: 100%;
}
.popup-wrapper {
	left: 50%;
	top: 35%;
	position: relative;
}
.JSpopup-inner {
	left: -50%;
	top: -50%;
    position: relative; 
	background: #fff;
}
/*--- INFO & CONFIRM POPUP ---*/
.info-confirm-popup {
    display: none;
}
.JSinfo-popup, .confirm-popup {
    top: 0;
    height: 100%;
    background: rgba(44, 44, 44, 0.8);
}
.JSinfo-popup .popup-wrapper, .JSinfo-popup .JSpopup-inner {
    width: 315px;
}
.confirm-popup .popup-wrapper, .confirm-popup .JSpopup-inner {
    width: 300px;
}
.JSinfo-popup .JSpopup-inner, .confirm-popup .JSpopup-inner {
    background: rgba(153, 153, 153, 0);
}
.confirm-popup .JSpopup-inner {
    text-align: center;
}
.JSinfo-popup .p-info, .confirm-popup p {
    margin: 0;
    color: #474747;
    text-align: center;
    background: white;
    padding: 30px;
    font-size: 16px;
}
/* Baners */
.banners .banners-bg {
    margin: 25px 0 0;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #989898;
}
.baners-desc-div {
    height: 100%;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.banners .main-desc {
    font-size: 3em;
    margin-bottom: 30px;
    background-color: #f9f7fa99;
    padding: 10px 60px;
    display: inline-block;
}
.banners .short-desc {
    font-size: 1.2em;
    padding: 10px 40px;
    background-color: #f9f7fa99;
    margin-bottom: 30px;
    display: inline-block;
}
.banners .baner-link {
    display: inline-block;
    border: 2px solid #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff !important;
    letter-spacing: 1px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.banners .baner-link:hover {
    border-color: var(--link-hover);
    color: var(--link-hover) !important;
}
.JSBannerLink:hover {
    color: var(--font-color);
}
/* filters */
.filters {
    font-size: 16px;
}
.JSreset-filters-button {
    font-weight: 600;
}
.filter-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    background-color: var(--filters_bg);
    padding: 10px 12px;
    margin: 0px 0px 12px;
}
.filter-links i {
    font-size: 16px;
}
.filter-price{
    display: block;
    margin: 0 0 20px;
    font-size: 16px;
}
.filter-price-div {
	padding: 30px 12px 0px;
}
.selected-filters-title {
    font-weight: 600;
    display: inline-block;
    margin-right: 7px;
}
.JSfilters-slide-toggle-content{
	display: none;
}
.selected-filters {
	display: inline-block;
}
.selected-filters li {
    display: inline-block;
    height: 28px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 28px;
    padding: 0px 14px 0px 18px;
    border-radius: 3px;
    background-color: #f2f2f2;
    margin-right: 8px;
}
.selected-filters .JSfilter-close {
	margin-left: 5px;
}
.filter-box {
	margin-bottom: 12px;
}
.filter-box label{
    display: flex;
    display: -webkit-flex;
    padding: 11px 12px;
    align-items: center;
    -webkit-align-items: center;
    line-height: 1;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}
.filter-box label:hover{
    background-color: #f3f3f3;
}
.filter-text {
	width: 100%;
    padding: 0px 11px;
}
/*- SEARCH -*/
.JSsearch-button, .JSsearch-button2 {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    padding: 0px 28px;
    border-left: 1px solid lightgrey;
    background-color: var(--background-blue);
    border-radius: 0 24px 24px 0;
}
 button.JSsearch-button:hover i, button.JSsearch-button2:hover i{
	color: #fff;
}
.JSsearch-button i, .JSsearch-button2 i {
	font-size: 22px;
}
/* Search sugestions */
ul.JSsearch_list {
    position: absolute;
    left: 0px;
    top: 103%;
    z-index: 999;
    width: 100%;
    background: #f4f4f4;
    max-height: 400px;
    overflow: auto;
    font-size: 0.8em;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid #dadada;
}
li.search_list__item:last-child a {
	border-bottom: none;
}
.search_list__item__link {
    border-bottom: 1px solid #dadada;
    padding: 10px 10px;
    display: block;
    line-height: 22px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}
.search_list__item__link__text {
    display: inline-block;
    width: 75%;
    font-weight: 500;
}
.search_list__item__link__cat {
    width: 25%;
    display: inline-block;
    font-weight: 500;
    padding-left: 30px;
}
/*- HEADER CART -*/

/* New content */
.new-content {
	padding: 80px 0px;
    min-height: 650px;
}
.new-content p, .new-content ul li {
	font-size: 1em;
}
.new-content img{
	max-width: 100%;
    max-height: 300px;
    display: block;
}

/* article page admin button*/
.article-level-edit-btn{
    font-weight: bold;
    border: 1px solid #c1c1c1;
    font-size: 14px;
    padding: 6px 14px;
    display: inline-block;
    background-color: white;
}
/* Konfigurator */
.konfigurator {
    margin-top: 30px;
    border: 1px solid #ddd;
    font-weight: 500;
}
.konfigurator tr td{
	vertical-align: initial !important;
}
.konfigurator-grupa {
	max-width: 120px;
    overflow: hidden;
}
/* Shopping information */
.shopping-information {
    padding: 30px 0px;
}
.shopping-information .title {
    padding-bottom: 70px;
}
.shopping-information table {
    margin-bottom: 40px;
    max-width: 650px;
    width: 100%;
    margin: 0px auto 40px;
}
.shopping-information table tbody {
    margin-bottom: 20px;
}
.shopping-information table td {
    width: 50%;
    white-space: nowrap;
    padding: 14px 50px;
}
.shopping-information table th {
    padding-bottom: 6px;
    font-size: 18px;
}
.shopping-information .last-order-table td {
    width: 25%;
}
.shopping-information .shiping-cost td {
    text-align: right;
    font-weight: bold;
}
.shopping-information .shiping-cost td span, .shopping-information .total, .shopping-information .total span {
    font-weight: bold;
}
#JSForgotPassword {
    cursor: pointer;
}




@media (max-width: 1400px) {
    .JSproduct .product-image-wrapper {
       height: 350px;
    }
    .JSproduct .product-image-wrapper img {
        max-height: 350px;
    }
    .JSmain-slider .main-desc {
        font-size: 3em;
    }
    .JSmain-slider .short-desc {
        font-size: 1em;
    }
}



@media (min-width: 1200px) {
	.container {
	    width: 1440px;
	    padding-left: 20px;
	    padding-right: 20px;
	    max-width: 100%;
	}
    .action-type-section {
        padding-top: 50px;
    }
}

@media (max-width: 1200px) {
	.action-type-section .JSproduct {
		width: 35%;
    }
    .all-articles .JSproduct {
        width: 33%;
    }
    footer .social-icons a {
        margin-top: 8px;
    }
    #product-page .JSproduct {
        width: 47.7%;
        margin-right: 2%;
    }
    .products-page .JSproduct-list .JSproduct:nth-child(2n) {
        margin-right: 0px;
    }
    
    .wish-page .JSproduct {
        width: 30.9%;
        margin-right: 3%;
    }
    .wish-page .JSproduct:nth-child(4n) {
        margin-right: 3%;
    }
    .wish-page .JSproduct:nth-child(3n) {
        margin-right: 0;
    }
    .section-news .single-news {
        margin: 0px 18px;
    }
    .section-news .slick-next, .section-news .slick-prev, .action-type-section .btn-next, .action-type-section .btn-prev, .single-news-slider .slick-next, .single-news-slider .slick-prev {
        width: 40px;
        height: 40px;
    }
    .section-news .slick-next:before, .single-news-slider .slick-next:before, .action-type-section .btn-next:after, .single-news-slider .slick-next:before {
        padding: 4px;
        top: 15px;
        left: 12px;
    }
    .section-news .slick-prev:before, .single-news-slider .slick-prev:before, .action-type-section .btn-prev:after, .single-news-slider .slick-prev:before {
        padding: 4px;
        top: 15px;
        left: 16px;
    }
    .section-news .slick-next, .action-type-section .btn-next, .single-news-slider .slick-next {
        right: -5px;
    }
    .section-news .slick-prev, .action-type-section .btn-prev, .single-news-slider .slick-prev {
        left: -3px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .single-news-on-page .image-div {
        height: 180px;
    }

}

@media screen and (max-width: 1024px) and (min-width: 640px) {
    .single-news-on-page {
        width: 47.4%;
    }
}
 
@media (min-width: 1024px) {
    header .dropdown-ul li a {
        white-space: nowrap;
        padding: 0px 25px !important;
        line-height: 2;
        margin-bottom: 10px;
    }
    header .dropdown-ul li:last-child a {
        margin-bottom: 0px;
    }
    header .dropdown-ul {
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translateX(50%);
        z-index: 5;
        min-width: 100%;
        box-shadow: 0 8px 25px rgba(0,0,0,.3);
        background-color: #fff;
        display: none;
        text-align: center;
        padding: 17px 0px;
    } 
    header .dropdown-nav .dropdown_div a {
        padding: 0px;
        display: inline-block;
    }
    header .dropdown-nav .dropdown_div .JSDropdown-scroll {
        margin-left: 8px;
        color: #fff;
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
        font-size: 13px;
        position: relative;
        top: -2px;
    }
    body.modal-open {
        overflow-y: auto;
        margin-right: -17px;
        overflow-x: hidden;
    }
    #JScompareTable .JSclearCompare:hover {
        background-color: #cecece;
    }
    header#fixed_header > a:hover,
    header#fixed_header .header-cart > a:hover .desc,
    header#fixed_header .dropdown-nav > a:hover,
    header#fixed_header .site-navigation li a:hover {
        color: var(--link-hover) !important;
    }

    
}

@media (min-width: 991px) {
    .contact-info:last-child {
        padding-left: 50px;
    }
}

@media (min-width: 768px) {
    footer .min-height-div:first-child > p {
        max-width: 82%;
    }
}

/*---------- MEDIAQUERIES ----------*/

@media screen and (max-width:1024px) {
    header .dropdown-nav .dropdown_div .JSDropdown-scroll {
        position: absolute;
        right: -20px;
        top: -3px;
        font-size: 13px;
        width: 50px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
    }
    header .site-navigation li a, header .dropdown-nav a {
        padding: 0px !important;
        position: relative;
        width: 180px;
        color: var(--body-color) !important;
        font-size: 14px;
    }
    header .dropdown-nav .dropdown-ul {
        display: none;
        padding-left: 20px;
    }
    header .dropdown-ul li a {
        width: 160px !important;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    header .dropdown-ul li:last-child a {
        margin-bottom: 0px;
    }
    .JSDropdown-scroll-rotate {
        transform: rotate(180deg);
    }
    .slider-desc-div .main-desc {
        font-size: 2.2em;
        padding: 10px 20px;
    }
    #JSmain-slider .slick-prev:hover, #JSmain-slider .slick-next:hover {
        background-color: transparent;
    }
    .JSproduct .product-image-wrapper .second-product-image {
        display: none;
    }
    .related-section .section-heading, .bound-section .section-heading {
        margin-bottom: 8px;
    }
    .contact-form input, .contact-form textarea {
        width: 100%;
    }
    .contact-form .textarea-div {
        padding-top: 0px;
    }
    .contact-form .frm-control {
        margin-top: 32px;
    }
    .header-cart:hover .JSheader-cart-content {
        display: none;
    }
     .title {
        font-size: 3em;
    }
    .JSproduct:hover {
        box-shadow: none;
    }
    .JSproduct .product-image-wrapper:after {
        display: none;
    }
    .header-cart .desc {
        display: none;
    } 
    .JSproduct .article-compare i, .JSproduct .wish-div i {
        font-size: 13px;
    }
    .JSproduct .product-image-wrapper img {
        max-width: 80%;
    }
    #JSmain-slider .slick-prev, #JSmain-slider .slick-next {
        top: 52%;
    }

    .JSproduct .product-image-div > .button-div {
        bottom: 10px;
    }

    .contact-form {
        padding-bottom: 40px;
    }

    .newsletter-form {
        margin: 30px 0px 0px;
    }
    .newsletter-form button {
        padding: 0px 20px;
        font-size: 12px;
    }
    .newsletter-form input {
        padding-left: 15px;
        padding-right: 115px;
    }
    .action-heading {
        font-size: 2.8em;
    }
	.body-overlay {
	    position: fixed;
	    background-color: #7d7d7d8c;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    z-index: 5;
	    display: none;
        left: 0;
	}

	/* Side navigation */
	body {
		position: relative;
		transition: all 0.4s;
		right: 0px;
	}
	#navigationToggle {
		display: inline-block;
		margin-left: 20px;
		cursor: pointer;
        font-size: 2em;
        padding: 0 10px;
        color: #fff;
	}
    .header-cart .cart-icon {
        font-size: 2em;
    }
	header .site-navigation li {
	    display: block;
	    text-align: left;
	}
	header .site-navigation {
		position: fixed;
	    z-index: 10;
	    height: 100%;
	    right: -300px;
        width: 260px;
	    top: 0;
	    background-color: #fff;
	    transition: all 0.4s;
	    padding: 50px 20px;
        overflow-y: auto;
        overflow-x: hidden;
	}
	header .site-navigation .exit {
        position: absolute;
        right: 14px;
        top: 8px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
	}
	.header-cart:before {
		display: none;
	}
    .JSproduct-preview-image {
        overflow: hidden;
        margin-bottom: 40px;
    }
    .single-news-on-page:nth-of-type(2n+0) {
        margin-right: 0px !important;
    }
    .single-news-on-page:nth-of-type(3n+0) {
        margin-right: 4.6%;
    }
    .single-news-on-page .image-div {
        height: 200px;
    }
    .products-page-content {
        min-height: 500px;
    }
    .JSproduct-list-options {
        padding-top: 40px;
    }
    .animate-header #navigationToggle, #start-page #fixed_header #navigationToggle {
        color: #fff;
    }
    header#fixed_header.animate-header .site-navigation li a {
        color: var(--font-color);
    }
}  

@media screen and (max-width:800px) {
	.action-type-section .JSproduct {
	    width: 50%;
	}
    .all-articles .JSproduct {
        width: 50%;
    }
    .wish-page .JSproduct {
        width: 47%;
        margin-right: 5% !important;
    }
    .wish-page .JSproduct:nth-child(2n) {
        margin-right: 0 !important;
    }
    a.elevatezoom-gallery {
        margin-bottom: 15px;
    }
}
@media screen and (max-width:550px) {
	.action-type-section .JSproduct {
	    width: 100%;
	}
    .wish-page .JSproduct {
        width: 95%;
        display: block;
        margin: 0px auto !important;
    }
    .wish-page .JSproduct:nth-child(2n) {
        margin: 0px auto !important;
    }
}


@media (min-width: 768px) {
    footer .footer-desc-div.first > p {
        max-width: 82%;
    }
    footer .min-height-div {
        min-height: 270px;
    }
    footer .min-height-div:last-child {
        min-height: auto;
    }
}

@media only screen and (max-width: 768px){

    .banners .main-desc {
        font-size: 2.2em;
    }
    .banners .short-desc {
        font-size: 1.2em;
    }
    .banners .center-block:last-child a {
        margin: 0px;
    }
    .contact-info {
        margin: 0px;
    }
    .contact-info .contact-info-div {
        margin-bottom: 30px;
    } 
    .contact-info .contact-info-div:last-child {
        margin-bottom: 0px;
    } 
    #bounce_map_canvas {
        margin-top: 50px;
    }
    .banners a {
        margin-bottom: 33px;
    }

	.footer-content [class*="col-"] {
		margin-bottom: 35px;
	}
	footer .footer-content {
	    padding: 35px 0px 14px;
	}
	.footer-title {
		padding-bottom: 8px;
	}

    /* Cart content */    
	.cart-labels, .JScart-item .cart-price {
		display: none;
	}
    .JScart-item .JScart-image {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }
    .JScart-item .cart-add-amount {
        width: 60%;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        padding: 5px 0px 0px 120px;
    }
    .JScart-item .cart-total-price {
        width: 40%;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
    }
    .JScart-item .cart-remove {
        position: absolute;
        right: 15px;
        top: 26px;
        background-color: white;
    }
    .JScart-item {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
    }
    .JScart-item .JScart-image img {
        max-width: 50px;
    }
    .add-to-cart-area .cart-amount {
        padding: 0px;
    }
    .sm-text-center { text-align: center; }
    .disableZoomer:after{
        content: ''; 
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
     }
}
@media only screen and (max-width:680px) {
	.single-news-on-page {
		margin-right: 0px !important;
		width: 100%;
	}
    .action-heading {
        font-size: 2.5em;
    }
}

/*--- MAX WIDTH 640px ---*/
@media only screen and (max-width:640px) {
    header .logo img {
        max-width: 135px;
    }
    .slider-desc-div .short-desc {
        padding: 10px 20px;
    }
    #product-page .JSproduct{
        width: 99%;
    }
    .JSmain-slider {
        min-height: 30vh;
    }
    .capcha {
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .JSproduct-preview-image {
        display: flex;
        flex-direction: column-reverse;
        display: -webkit-flex;
        -webkit-flex-direction: column-reverse;
        display: -moz-flex;
        -moz-flex-direction: column-reverse;
        margin-bottom: 0;
    }
    #gallery_01 {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    a.elevatezoom-gallery {
        max-width: 60px;
        height: 60px;
        margin: 0px 15px 15px 0px;
    }
    .big-galery-img {
        width: 100%;
        margin-bottom: 20px;
    }
    .article-heading {
        font-size: 26px;
    }
    .amount-section .amount-div .value {
        margin-right: 0px;
        padding-right: 0px;
        text-align: right;
    }
    .amount-section .amount-div > div {
        display: flex;
        justify-content: space-between;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
    }
    .without-registration-btn .orange-btn, #loginModal .button-div button, #loginModal .button-div a {
        padding: 8px 5px;
    }
    .new-content, .intesa-page, .not-found-page, .wish-page, .news-page {
        min-height: 400px;
    }
    .registration-page .frm-control, .logged-user-page .frm-control, .cart-page .frm-control {
        width: 100%;
    }
    .header-cart {
        margin-left: 0px;
        padding-left: 0px;
    }
    .empty-cart .desc {
        font-size: 16px;
    }
    .manufacturer-categories ul li a, .all-articles a, .JSproduct-list-options .number-of-prdocut {
        font-size: 15px;
    }
    .title {
        font-size: 2em;
    }
    .category-title {
        font-size: 20px;
        font-weight: 700;
    }
    .registration-page span {
        font-size: 16px;
    }
    .login-page .orange-btn, .registration-page .orange-btn {
        font-size: 14px;
    }
    .login-page input, .registration-page input, .loged-user-content input{
        line-height: 38px;
    }
    .all-categories .title {
        padding-bottom: 35px;
    }
    .zoomWrapper {
        height: 300px;
        align-items: center;
        -webkit-align-items: center;
    }
    .zoomWrapper img {
        max-height: 100%;
    }

}  /*-- End of max-width 640 --*/

@media screen and (max-width: 550px) {
    .all-articles .JSproduct {
        width: 98%;
        margin: 0px auto 60px;
    }
    .banners .banners-bg{
        height: 200px;
        background-size: contain;
        background-attachment: unset;
    }
}

/*--- Max width 480px ---*/
@media screen and (max-width: 479px) {
	h2 {
		font-size: 1.4em;
	}
    .article-details-page{ padding: 0 0 30px; }
    .after-footer .banks div ul li img { max-height: 30px; }
    .related-section .section-heading, .bound-section .section-heading {
        font-size: 1.8em;
        margin-bottom: 12px;
    }
 
    .JSproduct .product-image-wrapper img {
        max-height: 280px;
    }

    .action-heading {
        font-size: 2em;
        margin-bottom: 0px;
    }
 
    .slider-desc-div .short-desc, .slider-desc-div .main-desc,  .banners .main-desc, .banners .short-desc, .JSmain-slider .slider-link  {
        font-size: 12px;
        margin: 5px;
        padding: 5px;
    }
 
}

@media only screen and (max-width: 420px) {
    .JScart-item .cart-add-amount {
        width: 45%;
        padding-left: 35px;
    }
    .JScart-item .cart-total-price {
        width: 55%;
    }
    .amount-section .amount-div {
        padding: 22px 0px;
    }
    .amount-section .amount-div .value {
        max-width: fit-content;
        font-size: 1.1em;
        padding-left: 0px;
    }
    .JScart-item .JScart-image a {
        margin-left: 12px;
    }
    .JSproduct-list-options .number-of-prdocut {
        float: initial;
    }
    .JSproduct-list-options .list-option-div {
        float: left;
        padding-top: 20px;
    }
    .JSproduct-list-options .currency-btn {
        margin: 0px 5px 0px 0px;
    }
    #JSmain-slider .slick-prev, #JSmain-slider .slick-next {
        top: 56%;
    }
 
    .JSproduct .shop-product-card .product-name {
        margin: 0px;
    }
    .JSproduct .buy-btn, .JSproduct .not-available {
        padding: 5px 15px;
    }
}   
@media only screen and (max-width: 370px) {
    .JSproduct-list-options .list-option-div > div:last-child {
        margin-top: 12px;
    }
    .JScart-item .cart-add-amount {
        width: 45%;
        padding-left: 15px;
    }
}